Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

0.126.0
  package.json
Due: prettier --write

feat: add entrypoint wrapper for Postgres initialization and database creation
  .build/postgres/entrypoint-wrapper.sh
  .build/postgres/init-multiple-databases.sh
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

add support as admin, and platform admin use cases to docs
  specs/014-guest-contributions-privileges/data-model.md
  specs/014-guest-contributions-privileges/plan.md
  specs/014-guest-contributions-privileges/quickstart.md
  specs/014-guest-contributions-privileges/research.md
  specs/014-guest-contributions-privileges/spec.md
Due: prettier --write

fix failing test
  src/domain/template/template/template.resolver.mutations.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Reverts hallucination in file-service definition.
  quickstart-services.yml
Due: none

Reverts hallucination in file-service definition also for quickstart-services-ai.yaml
  quickstart-services-ai.yml
Due: none

feat: add entrypoint wrapper for Postgres initialization and database creation (#5588)
  .build/postgres/entrypoint-wrapper.sh
  .build/postgres/init-multiple-databases.sh
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

pr fixes
  .github/copilot-instructions.md
  specs/001-memo-collection-contribution/IMPLEMENTATION_LOG.md
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: removed usage of Profiling in CalloutContributionResolverFields
  src/domain/collaboration/callout-contribution/callout.contribution.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Memo contributions (#5576)
  specs/001-memo-collection-contribution/IMPLEMENTATION_LOG.md
  specs/001-memo-collection-contribution/README.md
  specs/001-memo-collection-contribution/checklists/requirements.md
  specs/001-memo-collection-contribution/contracts/memo-contribution.graphql.md
  specs/001-memo-collection-contribution/data-model.md
  specs/001-memo-collection-contribution/plan.md
  specs/001-memo-collection-contribution/quickstart.md
  specs/001-memo-collection-contribution/research.md
  specs/001-memo-collection-contribution/spec.md
  specs/001-memo-collection-contribution/tasks.md
  src/common/enums/url.type.ts
  src/domain/collaboration/callout-contribution/callout.contribution.interface.ts
  src/domain/collaboration/callout-contribution/callout.contribution.module.ts
  src/domain/collaboration/callout-contribution/callout.contribution.move.service.ts
  src/domain/collaboration/callout-contribution/callout.contribution.resolver.fields.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.authorization.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.ts
  src/domain/collaboration/callout-transfer/callout.transfer.service.ts
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/domain/collaboration/callout/callout.service.ts
  src/migrations/1760357366405-NotificationEntityTracking.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/api/url-resolver/dto/url.resolver.query.callouts.set.result.ts
  src/services/api/url-resolver/url.resolver.service.ts
  src/services/infrastructure/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

fix platformRolesAccess requested as a relation
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds ratelimiting configurations
  .build/synapse/homeserver.yaml
Due: none

just some cleanup, no changes
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: add ESLint configuration and update dependencies
  eslint.config.mts
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update @typescript-eslint/parser version in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: Replaced compat.extends() with native ESLint 9 flat config imports.
  eslint.config.mts
Due: none

fix: remove unnecessary type assertion for eslintPluginPrettierRecommended
  eslint.config.mts
Due: none

fix: update package.json and pnpm-lock.yaml to use exact versions for dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Memo responses as an activity
  docs/how-to-add-activity.md
  schema.graphql
  src/common/enums/activity.event.type.ts
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/services/adapters/activity-adapter/activity.adapter.module.ts
  src/services/adapters/activity-adapter/activity.adapter.ts
  src/services/adapters/activity-adapter/dto/activity.dto.input.callout.memo.created.ts
  src/services/api/activity-log/activity.log.builder.interface.ts
  src/services/api/activity-log/activity.log.builder.service.ts
  src/services/api/activity-log/activity.log.module.ts
  src/services/api/activity-log/activity.log.service.ts
  src/services/api/activity-log/dto/activity.log.dto.entry.callout.memo.created.ts
  src/services/api/activity-log/dto/activity.log.entry.interface.ts
  src/services/external/elasticsearch/contribution-reporter/contribution.reporter.service.ts
  src/services/external/elasticsearch/events/callout/callout.memo.created.ts
  src/services/external/elasticsearch/types/contribution.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fix
  docs/how-to-add-activity.md
Due: prettier --write

remove unnecessary import
  src/domain/access/role-set/role.set.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: update authentication ID handling and improve error logging
  .github/copilot-instructions.md
  specs/014-kratos-authentication-id-linking/tasks.md
  src/core/authentication.agent.info/agent.info.service.ts
  src/platform-admin/domain/user/authentication-id-backfill/authentication-id-backfill.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: refactor user authentication link service and introduce types for better clarity
  src/domain/community/user/user.authentication.link.service.ts
  src/domain/community/user/user.authentication.link.types.ts
  src/domain/community/user/user.service.ts
  test/unit/core/authentication.agent.info/agent.info.service.spec.ts
  test/unit/domain/community/user/user.authentication.link.service.spec.ts
  test/unit/domain/community/user/user.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: simplify authentication ID handling in user DTO and service
  src/domain/community/user/dto/user.dto.create.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

moved user auth link to its own folder
  src/core/authentication.agent.info/agent.info.module.ts
  src/core/authentication.agent.info/agent.info.service.ts
  src/domain/community/user-authentication-link/user.authentication.link.module.ts
  src/domain/community/user-authentication-link/user.authentication.link.service.ts
  src/domain/community/user-authentication-link/user.authentication.link.types.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.service.ts
  test/unit/core/authentication.agent.info/agent.info.service.spec.ts
  test/unit/domain/community/user/user.authentication.link.service.spec.ts
  test/unit/domain/community/user/user.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

address rabbit catch
  src/domain/communication/conversation/conversation.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addressing comment
  src/domain/communication/conversation/conversation.entity.ts
  src/domain/communication/conversation/conversation.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updating the schema definition, though this does include also some notifications updates
  schema.graphql
Due: none

chore: update schema baseline (#5597)
  schema-baseline.graphql
Due: none

refactor: deleted EMPTY and OLD dto files
  src/platform/in-app-notification/dto/organization/notification.in.app.organization.mentioned.payload.ts
  src/platform/in-app-notification/dto/organization/notification.in.app.organization.message.recipient.payload.ts
  src/platform/in-app-notification/dto/organization/notification.in.app.organization.message.sender.payload.ts
  src/platform/in-app-notification/dto/platform/notification.in.app.platform.forum.discussion.comment.payload.ts
  src/platform/in-app-notification/dto/platform/notification.in.app.platform.forum.discussion.created.payload.ts
  src/platform/in-app-notification/dto/platform/notification.in.app.platform.global.role.change.payload.ts
  src/platform/in-app-notification/dto/platform/notification.in.app.platform.space.created.payload.ts
  src/platform/in-app-notification/dto/platform/notification.in.app.platform.user.profile.created.admin.payload.ts
  src/platform/in-app-notification/dto/platform/notification.in.app.platform.user.profile.created.payload.ts
  src/platform/in-app-notification/dto/platform/notification.in.app.platform.user.profile.removed.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.collaboration.post.comment.created.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.collaboration.post.created.admin.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.collaboration.post.created.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.collaboration.whiteboard.created.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.communication.message.recipient.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.communication.message.sender.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.communication.update.admin.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.communication.update.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.community.application.admin.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.community.application.applicant.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.community.invitation.user.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.community.invitation.user.platform.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.community.invitation.vc.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.community.new.member.admin.payload.ts
  src/platform/in-app-notification/dto/space/notification.in.app.space.community.new.member.payload.ts
  src/platform/in-app-notification/dto/user/notification.in.app.user.comment.reply.payload.ts
  src/platform/in-app-notification/dto/user/notification.in.app.user.mentioned.payload.ts
  src/platform/in-app-notification/dto/user/notification.in.app.user.message.recipient.payload.ts
  src/platform/in-app-notification/dto/user/notification.in.app.user.message.sender.payload.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: add in-app notification payload exports
  src/platform/in-app-notification-payload/dto/organization/index.ts
  src/platform/in-app-notification-payload/dto/platform/index.ts
  src/platform/in-app-notification-payload/dto/space/index.ts
  src/platform/in-app-notification-payload/dto/user/index.ts
  src/platform/in-app-notification-payload/dto/virtual-contributor/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: [wip][broken] enhance in-app notification service with typed payload handling
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: update constitution to version 2.0.0 with revised observability and testing principles
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  .specify/templates/tasks-template.md
Due: prettier --write

feat: update constitution to version 2.0.0 with revised observability and testing principles (#5600)
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  .specify/templates/tasks-template.md
Due: prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
