Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Enables subspace ordering within a space (#5757)
  schema.graphql
  src/domain/space/space/dto/space.dto.update.subspaces.sort.order.ts
  src/domain/space/space/index.ts
  src/domain/space/space/sort.spaces.by.activity.spec.ts
  src/domain/space/space/space.entity.ts
  src/domain/space/space/space.interface.ts
  src/domain/space/space/space.resolver.mutations.ts
  src/domain/space/space/space.service.spec.ts
  src/domain/space/space/space.service.ts
  src/migrations/1768479624225-AddSortOrderToSpace.ts
  src/services/api/roles/roles.service.spec.ts
  test/data/space.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

bump engines, minor formatting
  quickstart-services-ai.yml
  src/domain/communication/room-mentions/room.mentions.service.ts
  src/domain/communication/virtual.contributor.message/virtual.contributor.message.service.ts
  src/services/event-handlers/internal/message-inbox/vc.invocation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Expert guidance improvements (#5763)
  .scripts/backups/restore_latest_backup_set.sh
  quickstart-services-ai.yml
  src/domain/communication/room-mentions/room.mentions.service.ts
  src/domain/communication/virtual.contributor.message/virtual.contributor.message.service.ts
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
  src/services/event-handlers/internal/message-inbox/vc.invocation.service.ts
  src/services/room-integration/room.controller.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline (#5761)
  schema-baseline.graphql
Due: none

Version bump
  package.json
Due: prettier --write

refactor: remove askVcQuestion mutation and unify VC invocation flow
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  schema.graphql
  src/common/enums/logging.context.ts
  src/domain/communication/conversation/conversation.module.ts
  src/domain/communication/conversation/conversation.resolver.mutations.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.ask.question.input.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.ask.question.result.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.relevance.update.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.reset.input.ts
  src/domain/communication/messaging/messaging.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
  src/services/event-handlers/internal/message-inbox/vc.invocation.service.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.reporter.module.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.reporter.service.spec.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.reporter.service.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.usage.document.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.usage.ts
  src/services/external/elasticsearch/guidance-reporter/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: enhance room creation logic with pessimistic locking and error handling
  src/domain/communication/conversation/conversation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat(contributor): add synthetic contributor for system actor IDs
  src/common/constants/system.actor.ids.ts
  src/domain/community/contributor/unknown.contributor.ts
  src/services/infrastructure/contributor-lookup/contributor.lookup.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor(communication): remove timestamp normalization and enforce Unix milliseconds format
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor(conversation): update import paths to use domain structure
  src/domain/communication/conversation/conversation.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: simplify room type checks with helper functions for better readability
  src/domain/communication/room/room.service.authorization.ts
  src/domain/communication/room/room.service.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.131.0
  package.json
Due: prettier --write

Worktree skill and command
  .claude/commands/worktree.md
  .claude/skills/worktree.md
Due: prettier --write

missing commit
  schema.graphql
  src/services/api/search/dto/results/search.result.dto.ts
  src/services/api/search/extract/search.extract.service.ts
  src/services/api/search/result/search.result.service.ts
  src/services/api/search/search.category.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Uses case-insensitive LIKE for filtering
  src/core/filtering/filter.fn.ts
  src/core/filtering/filter.fn.where.expression.ts
  src/core/filtering/filters/organizationFilter.ts
  src/core/filtering/filters/userFilter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Worktree skill and command (#5768)
  .claude/commands/worktree.md
  .claude/skills/worktree.md
Due: prettier --write

feat(database): add PgBouncer compatibility configuration
  alkemio.yml
  src/app.module.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fix
  src/domain/community/user-settings/dto/user.settings.home.space.dto.create.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat(database): add PgBouncer compatibility configuration (#5770)
  alkemio.yml
  src/app.module.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improves LIKE queries to prevent SQL injection
  .scripts/overmind/Procfile.dev
  src/core/filtering/filters/organizationFilter.ts
  src/core/filtering/filters/userFilter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds validation loop documentation
  .claude/skills/validation-loop.md
Due: prettier --write

Bumps package version to 0.131.3
  package.json
Due: prettier --write

Consolidate conversations (#5765)
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  schema.graphql
  src/common/constants/system.actor.ids.ts
  src/common/enums/logging.context.ts
  src/domain/communication/conversation/conversation.module.ts
  src/domain/communication/conversation/conversation.resolver.mutations.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.ask.question.input.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.ask.question.result.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.relevance.update.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.reset.input.ts
  src/domain/communication/messaging/messaging.service.ts
  src/domain/communication/room/room.service.authorization.ts
  src/domain/communication/room/room.service.ts
  src/domain/community/contributor/unknown.contributor.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
  src/services/event-handlers/internal/message-inbox/vc.invocation.service.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.reporter.module.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.reporter.service.spec.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.reporter.service.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.usage.document.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.usage.ts
  src/services/external/elasticsearch/guidance-reporter/index.ts
  src/services/infrastructure/contributor-lookup/contributor.lookup.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Uses case-insensitive LIKE for filtering (#5769)
  .claude/skills/validation-loop.md
  .scripts/overmind/Procfile.dev
  package.json
  src/core/filtering/filter.fn.ts
  src/core/filtering/filter.fn.where.expression.ts
  src/core/filtering/filters/organizationFilter.ts
  src/core/filtering/filters/userFilter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cleanup spec: no unit tests & other details
  specs/026-template-content-options/plan.md
  specs/026-template-content-options/quickstart.md
  specs/026-template-content-options/tasks.md
Due: prettier --write

branch names for worktree are mathed literally not like regex patterns (., *, + chars);
  .claude/commands/worktree.md
Due: prettier --write

pipe all 3 processes (ts, test, app) to the log file; use absolute path
  .scripts/overmind/Procfile.dev
Due: none

linux & mac OS syntax supported for sed invocation
  .scripts/backups/restore_latest_backup_set.sh
Due: none

Update quickstart-services-ai.yml
  quickstart-services-ai.yml
Due: none

spec & schema comments wording
  schema.graphql
  specs/026-template-content-options/contracts/graphql-schema.graphql
  specs/026-template-content-options/quickstart.md
  specs/026-template-content-options/spec.md
  specs/026-template-content-options/tasks.md
  src/domain/template/template-applier/template.applier.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat(room): add validation for room deletion and message handling
  src/domain/collaboration/post/post.service.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/communication/room/room.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
