Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

this is a test commit
  docs/authorization-forest.md
Due: prettier --write

chore: bump matrix adapter version to v0.8.4-mapping8
  .gitignore
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

feat(room): add validation for room deletion and message handling (#5774)
  src/domain/collaboration/post/post.service.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/communication/room/room.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: bump matrix adapter version to v0.8.4-mapping8 (#5775)
  .gitignore
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

fix: align room selection with synapse-migrator to preserve Matrix aliases
  package.json
  pnpm-lock.yaml
  src/migrations/1764897584127-conversationArchitectureRefactor.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: align room selection with synapse-migrator to preserve Matrix aliases (#5776)
  package.json
  pnpm-lock.yaml
  src/migrations/1764897584127-conversationArchitectureRefactor.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

skip activity trackinf for VCs - for more info check the comments
  src/domain/communication/room/room.service.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.131.4
  package.json
Due: prettier --write

version sync
  package.json
Due: prettier --write

branch names for worktree are mathed literally not like regex patterns (., *, + chars)
  .claude/commands/worktree.md
Due: prettier --write

pipe all 3 processes (ts, test, app) to the log file; use absolute path
  .scripts/overmind/Procfile.dev
Due: none

linux & mac OS syntax supported for sed invocation
  .scripts/backups/restore_latest_backup_set.sh
Due: none

Subspace: Extend the options when editing innovation flows (#5762)
  .claude/settings.local.json
  schema.graphql
  specs/026-template-content-options/checklists/requirements.md
  specs/026-template-content-options/contracts/graphql-schema.graphql
  specs/026-template-content-options/data-model.md
  specs/026-template-content-options/plan.md
  specs/026-template-content-options/quickstart.md
  specs/026-template-content-options/research.md
  specs/026-template-content-options/spec.md
  specs/026-template-content-options/tasks.md
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/domain/template/template-applier/dto/template.applier.dto.update.collaboration.ts
  src/domain/template/template-applier/template.applier.module.ts
  src/domain/template/template-applier/template.applier.resolver.mutations.ts
  src/domain/template/template-applier/template.applier.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

fix: improve transaction handling for conversation room creation
  src/domain/communication/conversation/conversation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat(conversation): implement migration for orphaned conversations to create associated rooms
  src/domain/communication/conversation/conversation.service.ts
  src/platform-admin/domain/communication/admin.communication.module.ts
  src/platform-admin/domain/communication/admin.communication.resolver.mutations.ts
  src/platform-admin/domain/communication/admin.communication.service.ts
  src/platform-admin/domain/communication/dto/admin.communication.dto.migrate.rooms.result.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update src/platform-admin/domain/communication/admin.communication.resolver.mutations.ts
  src/platform-admin/domain/communication/admin.communication.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Grants platform admin privilege for communication
  src/platform-admin/domain/communication/admin.communication.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor(conversation): streamline room creation logic for orphaned conversations
  src/domain/communication/conversation/conversation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Bumps version to 0.131.7
  package.json
Due: prettier --write

feat(conversation): implement migration for orphaned conversations to… (#5781)
  package.json
  src/domain/communication/conversation/conversation.service.ts
  src/platform-admin/domain/communication/admin.communication.module.ts
  src/platform-admin/domain/communication/admin.communication.resolver.mutations.ts
  src/platform-admin/domain/communication/admin.communication.service.ts
  src/platform-admin/domain/communication/dto/admin.communication.dto.migrate.rooms.result.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Home space pin settings (#5758)
  schema.graphql
  src/domain/community/user-settings/dto/user.settings.dto.create.ts
  src/domain/community/user-settings/dto/user.settings.dto.update.ts
  src/domain/community/user-settings/dto/user.settings.home.space.dto.create.ts
  src/domain/community/user-settings/dto/user.settings.home.space.dto.update.ts
  src/domain/community/user-settings/user.settings.entity.ts
  src/domain/community/user-settings/user.settings.home.space.interface.ts
  src/domain/community/user-settings/user.settings.home.space.validation.service.ts
  src/domain/community/user-settings/user.settings.interface.ts
  src/domain/community/user-settings/user.settings.module.ts
  src/domain/community/user-settings/user.settings.service.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.resolver.spec.ts
  src/domain/community/user/user.service.ts
  src/migrations/1768490929721-AddHomeSpaceToUserSettings.ts
  test/data/user.settings.mock.ts
  test/mocks/user.settings.home.space.validation.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat(conversation): enhance migration for USER_VC conversations with wellKnownVirtualContributor handling
  src/migrations/1764897584127-conversationArchitectureRefactor.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Increments package version
  package.json
Due: prettier --write

feat(conversation): enhance migration for USER_VC conversations with … (#5782)
  package.json
  src/migrations/1764897584127-conversationArchitectureRefactor.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix callouts without published date (#5737)
  schema-baseline.graphql
  schema-lite.graphql
  schema.graphql
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/callout/callout.service.ts
  src/migrations/1767787991109-calloutPublishedDate.ts
  src/services/api/conversion/dto/convert.dto.space.l1.to.space.l2.input.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline (#5784)
  schema-baseline.graphql
Due: none

Refactors tests for vitest compatibility
  src/core/authentication/authentication.service.spec.ts
  src/domain/communication/room/room.service.mentions.from.text.spec.ts
  src/services/infrastructure/naming/generate.name.id.spec.ts
  test/integration/platform-admin/admin-user-account-delete.spec.ts
  test/mocks/user.settings.home.space.validation.service.mock.ts
  tsconfig.json
  vitest.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Configures Vitest and migrates from Jest
  specs/027-vitest-migration/contracts/default.mocker.factory.ts.template
  specs/027-vitest-migration/contracts/vitest.config.ts.template
  specs/027-vitest-migration/research.md
Due: prettier --write

Filter out callouts from Knowledge Bases
  src/services/api/search/result/search.result.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: remove MySQL references from codebase
  .build/traefik/http.yml
  .build/traefik/traefik.yml
  .scripts/migrations/README-postgres-migration.md
  .scripts/migrations/README.md
  .scripts/migrations/db/reference_schema.sql
  .scripts/migrations/test.sql
  docs/DataManagement.md
  docs/graphql-typeorm-usage.md
Due: prettier --write

chore: remove MySQL references from codebase (#5787)
  .build/traefik/http.yml
  .build/traefik/traefik.yml
  .scripts/migrations/README-postgres-migration.md
  .scripts/migrations/README.md
  .scripts/migrations/db/reference_schema.sql
  .scripts/migrations/test.sql
  docs/DataManagement.md
  docs/graphql-typeorm-usage.md
Due: prettier --write

Search memos and whiteboards (#5759)
  schema.graphql
  src/services/api/search/dto/results/index.ts
  src/services/api/search/dto/results/search.result.dto.ts
  src/services/api/search/dto/results/search.result.interface.ts
  src/services/api/search/dto/results/search.result.memo.ts
  src/services/api/search/dto/results/search.result.whiteboard.ts
  src/services/api/search/extract/search.extract.service.ts
  src/services/api/search/result/search.result.service.ts
  src/services/api/search/search.category.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: correct JSON function usage in conversation architecture refactor
  src/migrations/1764897584127-conversationArchitectureRefactor.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: correct JSON function usage in conversation architecture refactor (#5789)
  src/migrations/1764897584127-conversationArchitectureRefactor.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.131.9
  package.json
Due: prettier --write

remove clode blocking start:dev
  vitest.config.ts
Due: none

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
