Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

test: Enhance unit tests for AuthRemoteEvaluationService circuit breaker functionality
  src/services/external/auth-remote-evaluation/auth.remote.evaluation.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: Add NATS messaging configuration and enhance auth evaluation service setup
  alkemio.yml
  specs/017-auth-circuit-breaker/contracts/auth.remote.evaluation.types.ts
  src/core/authorization/authorization.service.ts
  src/domain/space/space/space.resolver.mutations.ts
  src/services/external/auth-remote-evaluation/auth.remote.evaluation.module.ts
  src/services/external/auth-remote-evaluation/types/auth.evaluation.response.ts
  src/services/external/auth-remote-evaluation/types/index.ts
  src/services/util/measure.latency.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: Update circuit breaker configuration docs
  docs/circuit-breaker-guide.md
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

properly compute `isGuessAccessEnabled` in guest-access WB service
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

bump WB collab service verison
  quickstart-services-ai.yml
  quickstart-services.yml
Due: none

0.127.3
  package.json
Due: prettier --write

Fixes data migration and filtering issues
  .scripts/migrations/postgres-convergence/export_alkemio_mysql_to_csv.sh
  .scripts/migrations/postgres-convergence/import_csv_to_postgres_alkemio.sh
  src/common/constants/default.space.constants.ts
  src/common/utils/compression.util.ts
  src/core/filtering/filters/organizationFilter.ts
  src/core/filtering/filters/userFilter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improves handling of compressed data during migration
  .scripts/migrations/postgres-convergence/export_alkemio_mysql_to_csv.sh
  src/common/utils/compression.util.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixes parameter handling for array types
  src/domain/community/organization/organization.service.ts
  src/domain/community/user/user.service.ts
  src/domain/community/virtual-contributor-lookup/virtual.contributor.lookup.service.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removes debug logging from decompression utility
  src/common/utils/compression.util.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Ensures UTF-8 encoding for MySQL exports
  .scripts/migrations/postgres-convergence/export_alkemio_mysql_to_csv.sh
  .scripts/migrations/postgres-convergence/export_kratos_mysql_to_csv.sh
  .scripts/migrations/postgres-convergence/import_csv_to_postgres_alkemio.sh
Due: none

Validates UUIDs before user lookup
  src/domain/community/user-lookup/user.lookup.service.ts
  src/domain/community/virtual-contributor-lookup/virtual.contributor.lookup.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Normalizes collaboration ID and resource ID casing
  src/platform/activity/activity.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixes space creation for PostgreSQL compatibility
  src/domain/space/account/account.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Migrates migration scripts to use PostgreSQL
  .scripts/migrations/.env.sample
  .scripts/migrations/README.md
  .scripts/migrations/create_snapshot.sh
  .scripts/migrations/create_snapshot_documents.sh
  .scripts/migrations/create_synapse_snapshot.sh
  .scripts/migrations/export_to_csv.sh
  .scripts/migrations/import_from_csv.sh
  .scripts/migrations/restore_snapshot.sh
  .scripts/migrations/restore_snapshot_documents.sh
  .scripts/migrations/restore_synapse_snapshot.sh
Due: prettier --write

Configures multiple postgres servers
  .vscode/mcp.json
Due: prettier --write

removed more ssi infr
  package.json
  src/common/constants/providers.ts
  src/core/microservices/microservices.module.ts
  src/migrations/1764337568772-removeSsi.ts
  src/schema-bootstrap/stubs/microservices.stub.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ci passing
  .github/copilot-instructions.md
  quickstart-services-kratos-debug.yml
  quickstart-wallet-manager.yml
  src/common/enums/alkemio.error.status.ts
  src/common/enums/logging.context.ts
  src/common/enums/platform.feature.flag.name.ts
  src/domain/profile-documents/profile.documents.service.spec.ts
  src/domain/space/space/space.service.spec.ts
  src/platform/configuration/config/config.service.ts
  src/types/alkemio.config.ts
  test/data/agent.mock.ts
  test/data/agentInfo.mock.ts
  test/data/organization.mock.ts
  test/data/space.mock.ts
  test/data/user.mock.ts
  test/data/virtual-contributor.mock.ts
  test/mocks/agent.service.mock.ts
  test/mocks/app.service.mock.ts
  test/mocks/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: pass spaceSettings to contribution authorization on callout mutation
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/services/infrastructure/entity-resolver/room.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Seeds initial platform data
  src/migrations/1764237534489-seed.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds script to reset the Postgres database
  package.json
  scripts/db/reset-postgres.sh
Due: prettier --write

remove test mode for direct messages
  alkemio.yml
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip
  specs/018-url-resolver-parent-access/checklists/requirements.md
  specs/018-url-resolver-parent-access/contracts/url-resolver.graphql
  specs/018-url-resolver-parent-access/data-model.md
  specs/018-url-resolver-parent-access/plan.md
  specs/018-url-resolver-parent-access/quickstart.md
  specs/018-url-resolver-parent-access/research.md
  specs/018-url-resolver-parent-access/spec.md
  src/services/api/url-resolver/dto/url.resolver.query.closest.ancestor.ts
  src/services/api/url-resolver/dto/url.resolver.query.results.ts
  src/services/api/url-resolver/dto/url.resolver.result.state.ts
  src/services/api/url-resolver/dto/url.resolver.result.ts
  src/services/api/url-resolver/url.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Merge pull request #5672 from alkem-io/removeConversationTestMode
  alkemio.yml
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

fix: pass spaceSettings to contribution authorization on callout mutation (#5670)
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/services/infrastructure/entity-resolver/room.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline (#5675)
  schema-baseline.graphql
Due: none

0.128.0
  package.json
Due: prettier --write

Enhances error handling for communication failures
  src/common/exceptions/matrix.entity.not.found.exception.ts
  src/domain/community/community-communication/community.communication.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removes SSI verified credentials
  src/core/authentication/authentication.service.spec.ts
  test/unit/domain/common/whiteboard/whiteboard.guest-access.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline (#5677)
  schema-baseline.graphql
Due: none

Removes SSI and guest contribution settings
  docs/credential-based-authorization.md
  src/migrations/1761926109272-addSettingAllowGuestContributions.ts
  src/migrations/1764337568772-removeSsi.ts
  src/migrations/1764590884532-baseline.ts
  src/migrations/1764590884533-seed.ts
  src/migrations/utils/preferences/add-preference-set.ts
  src/migrations/utils/storage/storage-bucket-utils.ts
  test/unit/domain/common/whiteboard/whiteboard.guest-access.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: handle dataAccessMode, interactionModes, bodyOfKnowledgeType and bodyOfKnowledgeDescription in updateVirtualContributor
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: improve conversation deletion logic and handle nullable room state
  src/domain/communication/conversation/conversation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

return uploaded documents' IDs
  schema.graphql
  src/domain/storage/storage-bucket/dto/storage.bucket.dto.upload.file.result.ts
  src/domain/storage/storage-bucket/storage.bucket.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
