Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Major version bump
  package-lock.json
  package.json
Due: prettier --write

Fix deleted VC
  src/domain/communication/message/message.interface.ts
  src/domain/communication/room/room.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add ingest sapce mutation under account
  .env.docker
  quickstart-services.yml
  src/domain/space/account/account.resolver.mutations.ts
  src/domain/space/space/dto/space.dto.ingest.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix deleted VC (#4021)
  src/domain/communication/message/message.interface.ts
  src/domain/communication/room/room.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

Аdd ingest sapce mutation under account (#4022)
  .env.docker
  package-lock.json
  package.json
  quickstart-services.yml
  src/domain/space/account/account.resolver.mutations.ts
  src/domain/space/space/dto/space.dto.ingest.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

compose v2
  package.json
  quickstart-services-ai.yml
Due: prettier --write

Fix empty engine field
  package-lock.json
  package.json
  src/migrations/1716199897459-updateVirtualPersona.ts
  src/migrations/1717415839475-fixVirtualPersonaEngine.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Remove migration breaking data
  src/migrations/1717415839475-fixVirtualPersonaEngine.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix empty engine field (#4026)
  package-lock.json
  package.json
  src/migrations/1716199897459-updateVirtualPersona.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

contribution events updated
  src/domain/community/community/community.service.events.ts
  src/domain/space/space/space.resolver.mutations.ts
  src/services/external/elasticsearch/contribution-reporter/contribution.reporter.service.ts
  src/services/external/elasticsearch/types/contribution.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

use space-ingest ingest image
  quickstart-services.yml
Due: none

bump space ingest verions
  quickstart-services.yml
Due: none

whiteboard event renamed
  src/services/external/elasticsearch/types/contribution.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

whiteboard event renamed
  src/services/external/elasticsearch/contribution-reporter/contribution.reporter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Use space-ingest ingest image (#4030)
  quickstart-services.yml
Due: none

Auto stash before merge of "develop" and "origin/develop"
  .build/synapse/homeserver.yaml
  .env.docker
  quickstart-services.yml
  src/domain/communication/room/room.service.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Auto stash before merge of "develop" and "origin/develop"
  quickstart-services.yml
Due: none

Auto stash before merge of "develop" and "origin/develop"
  src/domain/communication/room/room.service.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix lookup
  src/domain/communication/room/room.service.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix version
  package-lock.json
  package.json
Due: prettier --write

Fix lookup (#4032)
  package-lock.json
  package.json
  src/domain/communication/room/room.service.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add VC to root space when created on account
  src/domain/community/community/community.service.ts
  src/domain/space/account/account.resolver.mutations.ts
  src/domain/space/space/space.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial code for allowing users to are hosts to create VCs
  src/common/enums/authorization.privilege.ts
  src/domain/space/account/account.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip
  .env.docker
  quickstart-services.yml
Due: none

Fix plans, t&cs and support links in config
  alkemio.yml
Due: none

file storage config (#4043)
  .env.docker
  quickstart-services.yml
Due: none

added additional logic around allowing user hosts to create VC
  src/domain/space/account/account.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix type check
  src/domain/space/account/account.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix retrieving of host to use or fail method
  src/domain/space/account/account.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial code for allowing users to are hosts to create VCs (#4038)
  src/common/enums/authorization.privilege.ts
  src/domain/space/account/account.service.authorization.ts
  src/domain/space/account/account.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

file-service through oathkeeper
  .build/ory/oathkeeper/access-rules.yml
  .build/traefik/http.yml
  quickstart-services.yml
  src/common/utils/get.session.ts
  src/core/authentication/authentication.service.ts
  src/services/file-integration/file.integration.service.ts
  src/services/file-integration/inputs/file.info.input.data.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ensure that feature flag to enable interaction with VCs is enabled for user hosted spaces; to be replaced later with proper licensing setup
  src/domain/license/feature-flag/dto/feature.flag.dto.update.ts
  src/domain/license/feature-flag/feature.flag.service.ts
  src/domain/license/license/dto/license.dto.create.ts
  src/domain/license/license/license.service.ts
  src/domain/space/account/account.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix adding of VC as member of root space when created
  src/domain/space/account/account.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip to move VPs under platform, and to have an explicitly specified default virtual persona for the platform
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/platform/platfrom/platform.entity.ts
  src/platform/platfrom/platform.interface.ts
  src/platform/platfrom/platform.resolver.fields.ts
  src/platform/platfrom/platform.service.ts
  src/platform/virtual-persona/virtual.persona.resolver.queries.ts
  src/platform/virtual-persona/virtual.persona.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

VC mgmmt now picks up space auth; tidied up code for creating host cred
  src/domain/space/account/account.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow org hosts to delete account
  src/domain/space/account/account.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix plans, t&cs and support links in config (#4041)
  alkemio.yml
Due: none

add VC to root space when created on account (#4035)
  src/domain/community/community/community.service.ts
  src/domain/space/account/account.resolver.mutations.ts
  src/domain/space/account/account.service.authorization.ts
  src/domain/space/space/space.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
