Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: add ts-ignore directive in vitest configuration
  vitest.config.ts
Due: none

chore: update schema baseline
  schema-baseline.graphql
Due: none

chore: update schema baseline (#5793)
  schema-baseline.graphql
Due: none

plan + tasks
  specs/001-error-codes/checklists/requirements.md
  specs/001-error-codes/contracts/error-extensions.graphql
  specs/001-error-codes/data-model.md
  specs/001-error-codes/plan.md
  specs/001-error-codes/quickstart.md
  specs/001-error-codes/research.md
  specs/001-error-codes/spec.md
  specs/001-error-codes/tasks.md
Due: prettier --write

add numeric codes and string messages for errors in responses
  docs/error-codes.md
  specs/001-error-codes/tasks.md
  src/common/enums/error.category.ts
  src/common/enums/index.ts
  src/common/exceptions/base.exception.spec.ts
  src/common/exceptions/base.exception.ts
  src/common/exceptions/error.code.registry.spec.ts
  src/common/exceptions/error.code.registry.ts
  src/common/exceptions/http/base.http.exception.ts
  src/core/error-handling/http.exception.filter.ts
  src/core/error-handling/rest.error.response.ts
  test/integration/error-handling/error-extensions.spec.ts
  test/integration/identity-resolve/identity-resolve.controller.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline (#5795)
  schema-baseline.graphql
Due: none

Cleans up orphaned conversation rooms
  src/migrations/1769181627991-cleanupOrphanedConversationRooms.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

adapted migration
  src/migrations/1763839565637-mediaGallery.ts
  src/migrations/1768490929999-mediaGallery.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

innovation hubs under /hub
  src/common/enums/url.path.base.ts
  src/services/api/url-resolver/url.resolver.service.ts
  src/services/api/url-resolver/url.resolver.utils.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fix
  src/services/api/url-resolver/url.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

revert a few unrelated changes
  .claude/commands/worktree.md
  specs/027-vitest-migration/tasks.md
  src/services/infrastructure/contributor-lookup/contributor.lookup.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

revert a few unrelated changes that are conflicting
  .claude/commands/worktree.md
  .claude/skills/validation-loop.md
  .claude/skills/worktree.md
  docs/DataManagement.md
  specs/027-vitest-migration/data-model.md
  specs/027-vitest-migration/plan.md
  specs/027-vitest-migration/quickstart.md
  specs/027-vitest-migration/research.md
  specs/027-vitest-migration/spec.md
  specs/027-vitest-migration/tasks.md
Due: prettier --write

revert a few unrelated changes that are conflicting 2
  .claude/commands/worktree.md
  .claude/skills/validation-loop.md
  CLAUDE.md
  docs/DataManagement.md
  specs/027-vitest-migration/tasks.md
Due: prettier --write

memo parse table if exists to and from yjs
  package.json
  pnpm-lock.yaml
  src/domain/common/memo/conversion/markdown.to.yjs.v2.state.ts
  src/domain/common/memo/conversion/yjs.state.to.markdown.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix cross-cell contamination when checking for data - check for each cell separately
  src/domain/common/memo/conversion/markdown.to.yjs.v2.state.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Worktree skill fixes
  .claude/commands/worktree.md
Due: prettier --write

add docs on memo conversion
  docs/Memo-Conversion.md
Due: prettier --write

fixes
  src/domain/collaboration/callout-framing/callout.framing.interface.ts
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/collaboration/callout-framing/dto/callout.framing.dto.create.ts
  src/domain/collaboration/callout-framing/dto/callout.framing.dto.update.ts
  src/domain/common/media-gallery/media.gallery.service.ts
  src/domain/common/visual/dto/visual.dto.create.ts
  src/domain/common/visual/dto/visual.dto.update.ts
  src/domain/common/visual/visual.resolver.mutations.ts
  src/domain/common/visual/visual.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix regex matching html tags
  src/domain/common/memo/conversion/markdown.to.yjs.v2.state.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip
  src/core/validation/handlers/base/base.handler.ts
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/common/media-gallery/dto/index.ts
  src/domain/common/media-gallery/dto/media.gallery.dto.create.ts
  src/domain/common/media-gallery/media.gallery.service.ts
  src/domain/common/visual/dto/visual.dto.create.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix
  src/domain/common/memo/conversion/markdown.to.yjs.v2.state.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

BUG: Creating a table in a new memo is saved with broken layout (#5801)
  docs/Memo-Conversion.md
  package.json
  pnpm-lock.yaml
  src/domain/common/memo/conversion/markdown.to.yjs.v2.state.ts
  src/domain/common/memo/conversion/yjs.state.to.markdown.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Cleans up orphaned conversation rooms (#5797)
  src/migrations/1769181627991-cleanupOrphanedConversationRooms.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.132.0
  package.json
Due: prettier --write

lint fixes
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/virtual.contributor.message/virtual.contributor.message.service.ts
  src/domain/space/space/space.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: updated compose
  quickstart-services.yml
Due: none

expert graph improvements
  quickstart-services-ai.yml
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
Due: prettier --write

restore visual name
  src/domain/common/media-gallery/media.gallery.service.ts
  src/domain/common/visual/dto/visual.dto.create.ts
  src/domain/common/visual/visual.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: add ContributorByAgentIdLoaderCreator for efficient contributor lookups
  .claude/settings.local.json
  src/core/dataloader/creators/loader.creators/contributor.by.agent.id.loader.creator.ts
  src/core/dataloader/creators/loader.creators/index.ts
  src/domain/communication/message.reaction/message.reaction.resolver.fields.ts
  src/domain/communication/message/message.resolver.fields.ts
  src/domain/communication/messaging/messaging.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

change numeric codes of categories
  src/common/enums/error.category.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update service images and configs for local development
  .build/synapse/homeserver.yaml
  .claude/settings.local.json
  .gitignore
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: prettier --write

keep error codes in a separate "registry" to be mapped by base exception classes
  src/common/exceptions/base.exception.spec.ts
  src/common/exceptions/base.exception.ts
  src/common/exceptions/error.code.registry.spec.ts
  src/common/exceptions/error.code.registry.ts
  src/common/exceptions/error.status.metadata.ts
  src/common/exceptions/http/base.http.exception.ts
  src/core/error-handling/rest.error.response.ts
  test/integration/identity-resolve/identity-resolve.controller.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: remove commented-out registration shared secret from homeserver.yaml
  .build/synapse/homeserver.yaml
Due: none

feat: implement ConversationMembershipsLoaderCreator for optimized membership lookups
  .claude/settings.local.json
  src/core/dataloader/creators/loader.creators/conversation/conversation.memberships.loader.creator.ts
  src/core/dataloader/creators/loader.creators/index.ts
  src/domain/common/profile/profile.resolver.fields.ts
  src/domain/communication/conversation/conversation.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

some more naming
  src/common/exceptions/user/user.identity.deletion.exception.ts
  src/common/exceptions/user/user.identity.not.found.exception.ts
  src/common/exceptions/user/user.registered.exception.ts
  src/services/external/wingback/exceptions/wingback.exception.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
