Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP
  .env.bckp
  package-lock.json
  package.json
  src/services/ipfs/image.png
  src/services/ipfs/ipfs.module.ts
  src/services/ipfs/ipfs.resolver.spec.ts
  src/services/ipfs/ipfs.resolver.ts
  src/services/ipfs/ipfs.service.spec.ts
  src/services/ipfs/ipfs.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP #2
  src/app.module.ts
  src/services/ipfs/ipfs.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add .coveralls.yml file
  .coveralls.yml
Due: none

Add document: Update user password secret for Travis CI
  docs/QA.md
Due: prettier --write

WIP
  package-lock.json
  package.json
  src/services/ipfs/ipfs.resolver.ts
  src/services/ipfs/ipfs.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed having the challenge context eager loaded
  src/domain/challenge/challenge/challenge.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Recreate initial db migration file
  src/migrations/1616231921557-init.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added cascading deletes, both in ORM layer + programmatically
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/opportunity/opportunity.entity.ts
  src/domain/challenge/opportunity/opportunity.interface.ts
  src/domain/challenge/opportunity/opportunity.module.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/common/nvp/nvp.module.ts
  src/domain/common/nvp/nvp.service.ts
  src/domain/common/reference/reference.resolver.ts
  src/domain/common/reference/reference.service.ts
  src/domain/common/tagset/tagset.service.ts
  src/domain/community/application/application.module.ts
  src/domain/community/application/application.service.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/organisation/organisation.entity.ts
  src/domain/community/organisation/organisation.service.ts
  src/domain/community/profile/profile.entity.ts
  src/domain/community/profile/profile.service.ts
  src/domain/community/user-group/user-group.entity.ts
  src/domain/community/user-group/user-group.service.ts
  src/domain/community/user/user.entity.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed bug in setting name of created organisations; allowed setting of organisational host explicitly on update of the ecoverse; added sample updateEcoverse mutation
  graphql-samples/mutations/update/update-ecoverse
  src/domain/challenge/ecoverse/ecoverse.dto.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated organisation(id) query to take a string instead of a number so can look up by name, needed for populator
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/community/organisation/organisation.resolver.fields.ts
  src/domain/community/organisation/organisation.resolver.queries.ts
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated init migration according to latest changes
  src/migrations/1615996769329-init.ts
  src/migrations/1616284873566-init.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates to challenges tests
  test/functional/integration/challenge/challenge.request.params.ts
  test/functional/integration/challenge/create-challenge.it-spec.ts
  test/functional/integration/challenge/flows-challenge.it-spec.ts
  test/functional/integration/challenge/other-entities-to-challenge.it-spec.ts
  test/functional/integration/challenge/query-challenge-data.it-spec.ts
  test/functional/integration/opportunity/opportunity.it-spec.ts
  test/functional/integration/opportunity/opportunity.request.params.ts
Due: none

Updates to opportunity tests
  test/functional/integration/opportunity/opportunity.it-spec.ts
  test/functional/integration/opportunity/opportunity.request.params.ts
Due: none

converted several mutations to use strings instead of numbers for IDs; refined the onDelete cascading; renamed createOpportunityOnChallenge to createOpportunity
  graphql-samples/mutations/create/create-opportunity
  graphql-samples/mutations/create/create-opportunity-on-challenge
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/opportunity/opportunity.dto.create.ts
  src/domain/challenge/opportunity/opportunity.entity.ts
  src/domain/community/application/application.entity.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/organisation/organisation.entity.ts
  src/domain/community/user-group/user-group.entity.ts
  src/domain/community/user/user.entity.ts
  src/domain/context/actor-group/actor-group.entity.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

made community lazy loaded as was otherwise killing the db performance
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.entity.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/challenge/opportunity/opportunity.entity.ts
  src/domain/challenge/opportunity/opportunity.resolver.fields.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/community/profile/profile.entity.ts
  src/domain/community/user-group/user-group.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates to challenge and opportunity tests
  test/functional/integration/challenge/challenge.request.params.ts
  test/functional/integration/challenge/flows-challenge.it-spec.ts
  test/functional/integration/challenge/query-challenge-data.it-spec.ts
  test/functional/integration/opportunity/opportunity.it-spec.ts
  test/functional/integration/opportunity/opportunity.request.params.ts
Due: none

Updates to actorGroup tests
  test/functional/integration/actor-groups/actor-groups.it-spec.ts
  test/functional/integration/actor-groups/actor-groups.request.params.ts
Due: none

Updates to actor tests
  test/functional/integration/actor/actor.it-spec.ts
  test/functional/integration/actor/actor.request.params.ts
Due: none

Updates to "aspect" tests
  test/functional/integration/aspect/aspect-on-opportunity.it-spec.ts
  test/functional/integration/aspect/aspect-on-project.it-spec.ts
  test/functional/integration/aspect/aspect.request.params.ts
Due: none

Updates to "relations" tests
  test/functional/integration/relations/relations.it-spec.ts
  test/functional/integration/relations/relations.request.params.ts
Due: none

Updates to "context" tests
  test/functional/integration/context/context.it-spec.ts
  test/functional/integration/context/context.request.params.ts
Due: none

renamed to generic InvalidStateTransitionException
  src/common/enums/cherrytwist.error.status.ts
  src/common/exceptions/index.ts
  src/common/exceptions/invalid.state.tranistion.exception.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Remove hardcoded schema name
  src/migrations/1616284873566-init.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

moved a lot of queries to be fields under the Ecoverse type; adjusted onDelete behaviour around community as per feedback
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.resolver.queries.ts
  src/domain/challenge/ecoverse/ecoverse.entity.ts
  src/domain/challenge/ecoverse/ecoverse.module.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/opportunity/opportunity.module.ts
  src/domain/challenge/opportunity/opportunity.resolver.mutations.ts
  src/domain/challenge/opportunity/opportunity.resolver.spec.ts
  src/domain/collaboration/project/project.module.ts
  src/domain/collaboration/project/project.resolver.mutations.ts
  src/domain/collaboration/project/project.resolver.spec.ts
  src/domain/community/application/application.module.ts
  src/domain/community/application/application.resolver.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/user-group/user-group.module.ts
  src/domain/community/user-group/user-group.resolver.queries.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated version to 0.10 series
  package.json
Due: prettier --write

added textID to organisation
  src/core/validation/constraints/unique.text.id.ts
  src/domain/community/organisation/organisation.dto.create.ts
  src/domain/community/organisation/organisation.entity.ts
  src/domain/community/organisation/organisation.interface.ts
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

adjusted organisation() query to use textID instead of name
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed creation of default host org on bootstrap
  src/domain/challenge/ecoverse/ecoverse.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

made name / textID mandatory on create DTOs
  src/domain/challenge/challenge/challenge.dto.create.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update init migraiton
  src/migrations/1616487529785-init.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates to group tests
  test/functional/integration/community/community.request.params.ts
  test/functional/integration/group/group.request.params.ts
  test/functional/integration/group/groups.it-spec.ts
  test/functional/integration/opportunity/opportunity.request.params.ts
  test/functional/integration/search/search.it-spec.ts
Due: none

fix isUniqIsUniqueTextId
  package-lock.json
  src/core/validation/constraints/unique.text.id.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Simple Auth --> Demo Auth
  .env.demo.auth.provider.default
  .env.docker
  .env.simple.auth.provider.default
  docker-compose.yml
  docs/Configuration.md
  docs/Developing.md
  docs/Running.md
  graphql-samples/queries/config/auth-providers
  graphql-samples/queries/config/full-config
  src/app.module.ts
  src/common/enums/authentication.providers.ts
  src/config/demo.auth.provider.config.ts
  src/config/index.ts
  src/config/simple.auth.provider.config.ts
  src/core/authentication/authentication.module.ts
  src/core/authentication/jwt.strategy.ts
  src/core/authorization/graphql.guard.ts
  src/services/configuration/config/authentication/providers/authentication.provider.config.entity.ts
  src/services/configuration/config/authentication/providers/demo-auth/demo-auth.provider.config.entity.ts
  src/services/configuration/config/authentication/providers/demo-auth/demo-auth.provider.config.interface.ts
  src/services/configuration/config/authentication/providers/demo-auth/index.ts
  src/services/configuration/config/authentication/providers/index.ts
  src/services/configuration/config/authentication/providers/simple-auth/index.ts
  src/services/configuration/config/authentication/providers/simple-auth/simple-auth.provider.config.entity.ts
  src/services/configuration/config/config.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated docker-compose --> using cherrytwist/demo-auth
  docker-compose.yml
Due: none

Updates to "challenge" tests
  src/services/data-management/test-data.service.ts
  test/functional/integration/challenge/challenge.request.params.ts
  test/functional/integration/challenge/create-challenge.it-spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Additional updates to "challenge" tests
  test/functional/integration/challenge/flows-challenge.it-spec.ts
  test/functional/integration/challenge/query-challenge-data.it-spec.ts
  test/functional/integration/group/group.request.params.ts
  test/functional/integration/group/groups.it-spec.ts
  test/functional/integration/opportunity/opportunity.request.params.ts
  test/functional/integration/organisation/organisation.request.params.ts
  test/functional/integration/search/search.it-spec.ts
Due: none

Added metadata to all tables
  src/domain/agent/did/did.entity.ts
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/ecoverse/ecoverse.entity.ts
  src/domain/challenge/opportunity/opportunity.entity.ts
  src/domain/collaboration/agreement/agreement.entity.ts
  src/domain/collaboration/project/project.entity.ts
  src/domain/collaboration/relation/relation.entity.ts
  src/domain/common/nvp/nvp.entity.ts
  src/domain/common/reference/reference.entity.ts
  src/domain/common/tagset/tagset.entity.ts
  src/domain/community/application/application.entity.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/organisation/organisation.entity.ts
  src/domain/community/profile/profile.entity.ts
  src/domain/community/user-group/user-group.entity.ts
  src/domain/community/user/user.entity.ts
  src/domain/community/user/user.interface.ts
  src/domain/community/user/user.service.ts
  src/domain/context/actor-group/actor-group.entity.ts
  src/domain/context/actor/actor.entity.ts
  src/domain/context/aspect/aspect.entity.ts
  src/domain/context/context/context.entity.ts
  src/migrations/1616509795423-init.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates to "opportunity" tests
  test/functional/integration/opportunity/opportunity.it-spec.ts
Due: none

Updates to "actor-group" tests
  test/functional/integration/actor-groups/actor-groups.it-spec.ts
  test/functional/integration/actor-groups/actor-groups.request.params.ts
Due: none

Updates to "actor" tests
  test/functional/integration/actor/actor.it-spec.ts
  test/functional/integration/actor/actor.request.params.ts
Due: none

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
