Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

fix some links
  alkemio.yml
Due: none

Simplifies encryption service stub
  src/schema-bootstrap/module.schema-bootstrap.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Ensures consistent stub return values
  src/schema-bootstrap/module.schema-bootstrap.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refines deprecation decision tree diagram
  specs/002-schema-contract-diffing/diagrams/DeprecationDecisionTree.png
  specs/002-schema-contract-diffing/diagrams/deprecation-decision-tree.puml
Due: none

Removes unnecessary type assertions
  src/tools/schema/diff-schema.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Validates review record structure on load
  src/schema-contract/governance/reviews.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Normalizes approval phrase matching to uppercase
  src/schema-contract/governance/reviews.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Whiteboard preview settings WiP
  src/common/enums/whiteboard.preview.mode.ts
  src/domain/common/whiteboard/whiteboard.entity.ts
  src/domain/common/whiteboard/whiteboard.interface.ts
  src/domain/common/whiteboard/whiteboard.preview.settings.interface.ts
  src/migrations/1760960016267-WhiteboardsPreviewSettings.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removes duplicate SHA256 function
  test/schema-contract/coverage/load-baseline.spec.ts
Due: none

Update test/schema/bootstrap-parity.spec.ts
  test/schema/bootstrap-parity.spec.ts
Due: none

Refactors schema override evaluation for clarity
  src/tools/schema/README-override.md
  src/tools/schema/diff-schema.ts
  src/tools/schema/override.ts
  test/schema/bootstrap-parity.spec.ts
  test/schema/override-sync.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removes obsolete comment
  src/schema-bootstrap/module.schema-bootstrap.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Handles non-string scalar meta types
  src/tools/schema/diff-schema.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds error fallback mechanism for schema diff tool
  .github/workflows/scripts/schema-gate.ts
  scripts/schema/schema-gate.ts
  specs/002-schema-contract-diffing/contracts/change-report.schema.json
  src/schema-contract/classify/build-report.ts
  src/schema-contract/model/change-report.ts
  src/tools/schema/types.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update scripts/schema/diff-schema.ts
  scripts/schema/diff-schema.ts
Due: none

address comments
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/services/ai-server/ai-persona/ai.persona.resolver.fields.ts
  src/services/ai-server/ai-persona/ai.persona.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix fallbacks
  alkemio.yml
Due: none

filtering on mark all as read
  src/platform/in-app-notification/in.app.notification.resolver.mutations.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix the coutner of in-apps to present all read notifications
  src/services/api/me/me.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates shebang for ts-node execution
  src/tools/schema/validate-artifacts.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Considers premature removals for override.
  src/tools/schema/diff-schema.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactors: Uses shared sha256 utility
  src/schema-contract/snapshot/load-baseline.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactors enum lifecycle tests for clarity
  test/schema-contract/diff/enum-lifecycle.spec.ts
Due: none

Update src/schema-contract/classify/build-report.ts
  src/schema-contract/classify/build-report.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Strips inline comments from CODEOWNERS file
  src/tools/schema/override.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improves override sync tests for stability
  test/schema/override-sync.spec.ts
Due: none

Update src/tools/schema/diff-schema.ts
  src/tools/schema/diff-schema.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Migrates schema contract workflow to pnpm
  .github/workflows/schema-contract.yml
Due: none

Uses Corepack to manage pnpm version
  .github/workflows/schema-contract.yml
Due: none

Bootstraps pnpm for caching in schema contract workflow
  .github/workflows/schema-contract.yml
Due: none

Simplifies schema baseline initialization
  .github/workflows/schema-contract.yml
Due: none

remove duplication
  src/services/ai-server/ai-persona/ai.persona.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update error logging
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

apply VC fixes from develop; bump patch version
  package-lock.json
  package.json
  quickstart-services-ai.yml
  src/domain/community/virtual-contributor/dto/prompt-graph-definition/prompt.graph.definition.node.dto.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/platform-admin/domain/authorization/admin.authorization.module.ts
  src/platform-admin/domain/authorization/admin.authorization.resolver.mutations.ts
  src/services/ai-server/ai-persona/ai.persona.resolver.fields.ts
  src/services/ai-server/ai-persona/ai.persona.service.ts
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
  src/services/ai-server/prompt-graph/dto/prompt.graph.node.dto.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

apply VC fixes from develop; (#5508)
  package-lock.json
  package.json
  quickstart-services-ai.yml
  src/domain/community/virtual-contributor/dto/prompt-graph-definition/prompt.graph.definition.node.dto.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/platform-admin/domain/authorization/admin.authorization.module.ts
  src/platform-admin/domain/authorization/admin.authorization.resolver.mutations.ts
  src/services/ai-server/ai-persona/ai.persona.resolver.fields.ts
  src/services/ai-server/ai-persona/ai.persona.service.ts
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
  src/services/ai-server/prompt-graph/dto/prompt.graph.node.dto.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fix
  src/services/api/me/me.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Normalizes whitespace in generated schema
  scripts/schema/generate-schema.snapshot.ts
Due: none

Updates schema contract diffing spec
  specs/002-schema-contract-diffing/spec.md
Due: prettier --write

Extends schema contract diffing functionality
  specs/002-schema-contract-diffing/coverage-fr-mapping.md
  specs/002-schema-contract-diffing/plan.md
  specs/002-schema-contract-diffing/quickstart.md
  specs/002-schema-contract-diffing/tasks.md
Due: prettier --write

Updates schema contract diffing data model
  specs/002-schema-contract-diffing/data-model.md
Due: prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
