Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

Adds notification email blacklist feature
  specs/001-notification-email-blacklist/contracts/notification-email-blacklist.graphql
  specs/001-notification-email-blacklist/data-model.md
  specs/001-notification-email-blacklist/plan.md
  specs/001-notification-email-blacklist/quickstart.md
  specs/001-notification-email-blacklist/research.md
  specs/001-notification-email-blacklist/spec.md
  specs/001-notification-email-blacklist/tasks.md
Due: prettier --write

Updates notification email blacklist task numbers
  specs/001-notification-email-blacklist/tasks.md
Due: prettier --write

Renames notification email blacklist specs
  specs/015-notification-email-blacklist/checklists/requirements.md
  specs/015-notification-email-blacklist/contracts/notification-email-blacklist.graphql
  specs/015-notification-email-blacklist/data-model.md
  specs/015-notification-email-blacklist/plan.md
  specs/015-notification-email-blacklist/quickstart.md
  specs/015-notification-email-blacklist/research.md
  specs/015-notification-email-blacklist/spec.md
  specs/015-notification-email-blacklist/tasks.md
Due: prettier --write

Fixes incorrect branch references in specs
  specs/015-notification-email-blacklist/plan.md
  specs/015-notification-email-blacklist/spec.md
  specs/015-notification-email-blacklist/tasks.md
Due: prettier --write

Renames specification directory
  specs/016-notification-email-blacklist/checklists/requirements.md
  specs/016-notification-email-blacklist/contracts/notification-email-blacklist.graphql
  specs/016-notification-email-blacklist/data-model.md
  specs/016-notification-email-blacklist/plan.md
  specs/016-notification-email-blacklist/quickstart.md
  specs/016-notification-email-blacklist/research.md
  specs/016-notification-email-blacklist/spec.md
  specs/016-notification-email-blacklist/tasks.md
Due: prettier --write

fix: update ESLint configuration and lint scripts to suppress warnings for ignored files
  eslint.config.js
  package.json
Due: prettier --write

fix: update ESLint ignore patterns for configuration and migration files
  eslint.config.js
Due: none

Updates branch name in specs
  specs/016-notification-email-blacklist/plan.md
  specs/016-notification-email-blacklist/spec.md
  specs/016-notification-email-blacklist/tasks.md
Due: prettier --write

refactor: added ESLint missing packages (#5602)
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

Created a review-router action (#5606)
  .github/workflows/PR_REVIEW_METRICS.md
  .github/workflows/review-router.yml
  review_metrics.py
Due: prettier --write

chore: update schema baseline (#5623)
  schema-baseline.graphql
Due: none

Adds Alkemio PR prompt (#5605)
  .github/prompts/alkemio.pr.prompt.md
Due: prettier --write

guestContributionsAllowed is just a resolver field
  src/domain/common/whiteboard/whiteboard.interface.ts
  src/domain/common/whiteboard/whiteboard.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: change default APM log level from trace to warn
  src/apm/apm.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cleanup
  .github/copilot-instructions.md
Due: prettier --write

feat: enhance PR metrics computation by including PR description
  .github/workflows/review-router.yml
  review_metrics.py
Due: none

feat: add review label state determination and update logic in review-router
  .github/workflows/review-router.yml
Due: none

do not send notifications to yourself
  src/services/adapters/notification-adapter/notification.platform.adapter.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-adapter/notification.user.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: remove session synchronization module and related configurations
  .env.docker
  .github/copilot-instructions.md
  .vscode/settings.json
  alkemio.yml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  specs/017-drop-session-sync/checklists/requirements.md
  specs/017-drop-session-sync/contracts/README.md
  specs/017-drop-session-sync/data-model.md
  specs/017-drop-session-sync/plan.md
  specs/017-drop-session-sync/quickstart.md
  specs/017-drop-session-sync/research.md
  specs/017-drop-session-sync/spec.md
  specs/017-drop-session-sync/tasks.md
  src/app.module.ts
  src/services/infrastructure/synapse/synapse-admin.service.ts
  src/services/infrastructure/synapse/synapse.module.ts
  src/services/session-sync/kratos-session.repository.ts
  src/services/session-sync/session-sync.module.ts
  src/services/session-sync/session-sync.service.spec.ts
  src/services/session-sync/session-sync.service.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: remove session synchronization module and related configurations (#5630)
  .env.docker
  .github/copilot-instructions.md
  .vscode/settings.json
  alkemio.yml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  specs/017-drop-session-sync/checklists/requirements.md
  specs/017-drop-session-sync/contracts/README.md
  specs/017-drop-session-sync/data-model.md
  specs/017-drop-session-sync/plan.md
  specs/017-drop-session-sync/quickstart.md
  specs/017-drop-session-sync/research.md
  specs/017-drop-session-sync/spec.md
  specs/017-drop-session-sync/tasks.md
  src/app.module.ts
  src/services/infrastructure/synapse/synapse-admin.service.ts
  src/services/infrastructure/synapse/synapse.module.ts
  src/services/session-sync/kratos-session.repository.ts
  src/services/session-sync/session-sync.module.ts
  src/services/session-sync/session-sync.service.spec.ts
  src/services/session-sync/session-sync.service.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: change default APM log level from trace to warn (#5625)
  src/apm/apm.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix missing field in interface
  src/domain/common/whiteboard/whiteboard.entity.ts
  src/domain/common/whiteboard/whiteboard.interface.ts
  src/domain/common/whiteboard/whiteboard.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fix
  src/services/adapters/notification-adapter/notification.platform.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cleanup
  src/services/whiteboard-integration/whiteboard.integration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

016: Reapply email blacklist changes on new branch
  docs/Notifications.md
  schema.graphql
  specs/016-notification-email-blacklist/checklists/requirements.md
  specs/016-notification-email-blacklist/contracts/notification-email-blacklist.graphql
  specs/016-notification-email-blacklist/data-model.md
  specs/016-notification-email-blacklist/plan.md
  specs/016-notification-email-blacklist/quickstart.md
  specs/016-notification-email-blacklist/research.md
  specs/016-notification-email-blacklist/spec.md
  specs/016-notification-email-blacklist/tasks.md
  src/migrations/1744650765522-platformRoles.ts
  src/migrations/1750169600000-fixBaseline.ts
  src/platform/platform-settings/dto/notification-email-blacklist.input.ts
  src/platform/platform-settings/dto/platform.settings.integration.dto.update.ts
  src/platform/platform-settings/index.ts
  src/platform/platform-settings/platform.settings.integrations.interface.ts
  src/platform/platform-settings/platform.settings.service.ts
  src/platform/platform/platform.resolver.mutations.ts
  src/platform/platform/platform.service.ts
  test/schema/bootstrap-parity.spec.ts
  test/schema/override-sync.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Blacklist (#5632)
  .github/prompts/alkemio.pr.prompt.md
  .github/workflows/PR_REVIEW_METRICS.md
  .github/workflows/review-router.yml
  docs/Notifications.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  review_metrics.py
  schema-baseline.graphql
  schema.graphql
  specs/016-notification-email-blacklist/plan.md
  specs/016-notification-email-blacklist/quickstart.md
  specs/016-notification-email-blacklist/spec.md
  src/apm/apm.ts
  src/migrations/1744650765522-platformRoles.ts
  src/migrations/1750169600000-fixBaseline.ts
  src/platform/platform-settings/dto/notification-email-blacklist.input.ts
  src/platform/platform-settings/dto/platform.settings.integration.dto.update.ts
  src/platform/platform-settings/index.ts
  src/platform/platform-settings/platform.settings.integrations.interface.ts
  src/platform/platform-settings/platform.settings.service.ts
  src/platform/platform/platform.resolver.mutations.ts
  src/platform/platform/platform.service.ts
  src/tools/schema/print-schema.ts
  test/schema/bootstrap-parity.spec.ts
  test/schema/override-sync.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates notifications image version
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

Updates branch name in spec and plan
  specs/016-notification-email-blacklist/plan.md
  specs/016-notification-email-blacklist/spec.md
Due: prettier --write

Do not send notifications to yourself (#5627)
  src/services/adapters/notification-adapter/notification.platform.adapter.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-adapter/notification.user.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

docs: update copilot instructions with coding standards and logging guidelines
  .github/copilot-instructions.md
Due: prettier --write

cleanup verbose error handling
  .specify/memory/constitution.md
  schema.graphql
  specs/001-toggle-whiteboard-guest/contracts/updateWhiteboardGuestAccess.graphql
  src/domain/common/whiteboard/dto/whiteboard.dto.guest-access.toggle.ts
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
  src/domain/common/whiteboard/whiteboard.resolver.mutations.ts
  test/unit/domain/common/whiteboard/whiteboard.resolver.mutations.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds blacklist service tests
  specs/016-notification-email-blacklist/tasks.md
  src/platform/platform-settings/platform.settings.service.blacklist.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improves email blacklist validation and handling
  src/platform/platform-settings/platform.settings.service.blacklist.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

016 notification email blacklist (#5633)
  docs/Notifications.md
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  schema.graphql
  specs/016-notification-email-blacklist/checklists/requirements.md
  specs/016-notification-email-blacklist/contracts/notification-email-blacklist.graphql
  specs/016-notification-email-blacklist/data-model.md
  specs/016-notification-email-blacklist/plan.md
  specs/016-notification-email-blacklist/quickstart.md
  specs/016-notification-email-blacklist/research.md
  specs/016-notification-email-blacklist/spec.md
  specs/016-notification-email-blacklist/tasks.md
  src/migrations/1744650765522-platformRoles.ts
  src/migrations/1750169600000-fixBaseline.ts
  src/platform/platform-settings/dto/notification-email-blacklist.input.ts
  src/platform/platform-settings/dto/platform.settings.integration.dto.update.ts
  src/platform/platform-settings/index.ts
  src/platform/platform-settings/platform.settings.integrations.interface.ts
  src/platform/platform-settings/platform.settings.service.blacklist.spec.ts
  src/platform/platform-settings/platform.settings.service.ts
  src/platform/platform/platform.resolver.mutations.ts
  src/platform/platform/platform.service.ts
  test/schema/bootstrap-parity.spec.ts
  test/schema/override-sync.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
