Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

activity published after the entity has been authorized
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/hub/hub.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed unnecessary awaits
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/domain/collaboration/collaboration/collaboration.resolver.mutations.ts
  src/domain/communication/comments/comments.resolver.mutations.ts
  src/domain/communication/updates/updates.resolver.mutations.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

deletion now removes collaboration
  src/domain/challenge/base-challenge/base.challenge.service.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated card template creation in callout to avoid duplicate entry being left over; cascade deletion of card template
  src/domain/collaboration/callout/callout.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add in check for id when deleting canvas template
  graphql-samples/mutations/delete/delete-canvas-template
Due: none

updated card template creation to not modify the incoming DTO
  src/domain/collaboration/callout/callout.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed deletion of visual assocated with a template
  src/domain/template/template-base/template.base.service.ts
  src/domain/template/template-info/template.info.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed removal of admin credentials for communities
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

splitting steps in the workflow
  .github/workflows/build-deploy-k8s-dev-azure.yml
  manifests/26-server-migration.yaml
Due: none

yaml fix
  .github/workflows/build-deploy-k8s-dev-azure.yml
Due: none

Fixed malformed data
  .github/workflows/build-deploy-k8s-dev-aws.yml
Due: none

added runs on
  .github/workflows/build-deploy-k8s-dev-azure.yml
Due: none

fix
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

needs
  .github/workflows/build-deploy-k8s-dev-azure.yml
Due: none

continue-on-error: true
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

delete job
  .github/workflows/build-deploy-k8s-dev-azure.yml
Due: none

final tweaks
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

final tweaks for test
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

update run strategy
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

Added migrate step in the workflows (#2359)
  .github/workflows/build-deploy-k8s-dev-aws.yml
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .github/workflows/build-deploy-k8s-test-aws.yml
  .github/workflows/build-deploy-k8s-test-azure.yml
  Dockerfile
  manifests/26-server-migration.yaml
Due: none

deletion now removes collaboration (#2364)
  graphql-samples/mutations/delete/delete-canvas-template
  src/domain/challenge/base-challenge/base.challenge.service.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/domain/community/community/community.service.ts
  src/domain/template/template-base/template.base.service.ts
  src/domain/template/template-info/template.info.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Major version bump
  package-lock.json
  package.json
Due: prettier --write

Major version bump (#2366)
  package-lock.json
  package.json
Due: prettier --write

Bumped version
  package-lock.json
  package.json
Due: prettier --write

Major bump, changes are backward-incompatible
  package-lock.json
  package.json
Due: prettier --write

Add messageCount resolver field
  src/domain/communication/comments/comments.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

strong typing for all notification payloads via notification builder
  src/domain/community/community/community.resolver.mutations.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.community.new.member.ts
  src/services/adapters/notification-adapter/notification.adapter.ts
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Skipping Registration Success screen for OIDC registrations
  .build/ory/kratos/email-password/kratos.yml
Due: none

updated to use new event names for notifications (#2354)
  package-lock.json
  package.json
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.community.new.member.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.user.registered.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.user.removed.ts
  src/services/adapters/notification-adapter/notification.adapter.ts
  src/services/adapters/notification-adapter/notification.payload.builder.ts
  src/services/api/registration/registration.resolver.mutations.ts
  test/mocks/notification.payload.builder.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added user preferences for additional notifications
  package-lock.json
  package.json
  src/common/enums/user.preference.type.ts
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/migrations/1670680683667-notifications.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.canvas.created.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.discussion.comment.ts
  src/services/adapters/notification-adapter/notification.adapter.module.ts
  src/services/adapters/notification-adapter/notification.adapter.ts
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Efficiently getting Matrix Room messages count (WIP)
  src/domain/communication/comments/comments.resolver.fields.ts
  src/domain/communication/comments/comments.service.ts
  src/domain/communication/room/room.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add commentsCount field to comments
  src/domain/communication/comments/comments.entity.ts
  src/domain/communication/comments/comments.interface.ts
  src/domain/communication/comments/comments.resolver.fields.ts
  src/domain/communication/comments/comments.service.ts
  src/domain/communication/room/room.service.ts
  src/migrations/1670843453066-commentsCount.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixing test pipeline
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

Fixing test pipeline (#2375)
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

Added az login before migrate step
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

Fixed context
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

Fix pipeline (#2376)
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
