Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Migration-fix
  src/migrations/1648469585965-challengeOrgPrefs.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Version bump
  package-lock.json
  package.json
Due: prettier --write

fixed the check for the org preference
  src/domain/community/user/user.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

reviewer suggestions
  src/common/enums/alkemio.error.status.ts
  src/common/exceptions/index.ts
  src/common/exceptions/user/index.ts
  src/common/exceptions/user/user.not.verified.exception.ts
  src/common/index.ts
  src/common/utils/email.util.ts
  src/common/utils/index.ts
  src/domain/community/user/user.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

version bump
  package-lock.json
  package.json
Due: prettier --write

new registration service to handle logic related to new users being assigned to org based on preferences + status
  package-lock.json
  package.json
  src/app.module.ts
  src/domain/community/organization/organization.service.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/services/domain/registration/registration.module.ts
  src/services/domain/registration/registration.resolver.mutations.ts
  src/services/domain/registration/registration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Altered wallet-manager config to support did generation method
  .env.docker
  quickstart-services.yml
Due: none

Altered potentially dangerous forEach in bootstrap
  src/core/bootstrap/bootstrap.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

mailslurper smtp config
  .build/traefik/http.yml
  .build/traefik/traefik.yml
  quickstart-services.yml
Due: none

Doesn't work...
  .build/mailslurper/config.json
  quickstart-services.yml
Due: prettier --write

Fixed wallet - manager config
  .env.docker
  quickstart-services.yml
Due: none

Fixed mailslurper
  .build/mailslurper/config.json
  .build/traefik/http.yml
  quickstart-services.yml
Due: prettier --write

Aspect typeDescription / defaultDescription
  graphql-samples/mutations/create/create-aspect-on-context
  src/domain/context/aspect/aspect.entity.ts
  src/domain/context/aspect/aspect.interface.ts
  src/domain/context/aspect/aspect.service.ts
  src/domain/context/aspect/dto/aspect.dto.create.ts
  src/domain/context/aspect/dto/aspect.dto.update.ts
  src/migrations/1649321093803-aspect-type-description.ts
  src/services/platform/configuration/config/template/hub.aspect.template.entity.ts
  src/services/platform/configuration/templates/ux-template.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated aspect templates
  src/domain/challenge/hub/dto/hub.dto.template.aspect.ts
  src/domain/challenge/hub/dto/hub.dto.update.template.aspect.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Addressing PR feedback
  src/domain/context/aspect/aspect.entity.ts
  src/domain/context/aspect/aspect.interface.ts
  src/domain/context/aspect/aspect.service.ts
  src/domain/context/aspect/dto/aspect.dto.create.ts
  src/domain/context/aspect/dto/aspect.dto.update.ts
  src/migrations/1649321093803-aspect-type-description.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed PR feedback
  graphql-samples/mutations/create/create-aspect-on-context
  src/domain/challenge/hub/dto/hub.dto.template.aspect.ts
  src/domain/context/aspect/aspect.entity.ts
  src/domain/context/aspect/aspect.interface.ts
  src/domain/context/aspect/aspect.service.ts
  src/migrations/1649321093803-aspect-type-description.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Resolve PR comments
  src/domain/context/aspect/dto/aspect.dto.create.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Aspects DTO fix
  src/domain/context/aspect/dto/aspect.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added validation to aspect template updates
  src/core/validation/handlers/base/base.handler.ts
  src/domain/challenge/hub/dto/hub.dto.update.template.aspect.ts
  src/domain/challenge/hub/hub.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed typo in other aspect template text
  src/services/platform/configuration/templates/ux-template.json
Due: prettier --write

updated type descriptions
  src/services/platform/configuration/templates/ux-template.json
Due: prettier --write

AWS --> Azure
  .github/workflows/build-deploy-k8s-dev-aws.yml
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

Az login fix
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

Fixed ACR login server in manifest
  manifests/25-server-deployment-dev.yaml
Due: none

Option to limit/shuffle Aspects when querying Context
  src/domain/context/context/context.resolver.fields.ts
  src/domain/context/context/context.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added validation for aspect type to have a minimum length of 3
  graphql-samples/mutations/update/update-ecoverse
  graphql-samples/mutations/update/update-ecoverse-template
  graphql-samples/mutations/update/update-hub-template
  src/core/validation/handlers/base/base.handler.ts
  src/domain/challenge/hub/dto/hub.dto.update.template.aspect.ts
  src/domain/challenge/hub/dto/hub.dto.update.template.ts
  src/domain/challenge/hub/dto/hub.dto.update.ts
  src/domain/challenge/hub/hub.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added todo to remove manual validation:
  src/domain/challenge/hub/hub.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

aspectsCount field on Context
  src/domain/context/aspect/aspect.service.ts
  src/domain/context/context/context.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Activity field has Aspects count
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/hub/hub.module.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/collaboration/opportunity/opportunity.module.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/domain/context/aspect/aspect.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated authorization on aspects so that creator cannot delete all comments; added option for message sender to be able to delete their own comment
  src/domain/communication/comments/comments.resolver.mutations.ts
  src/domain/communication/comments/comments.service.authorization.ts
  src/domain/context/aspect/aspect.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

version bump; added sorting to opportunities; added sorting to returned aspects
  package-lock.json
  package.json
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/context/context/context.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

introduced new migration utils for preferences
  src/migrations/utils/preferences/add-preference-definitions.ts
  src/migrations/utils/preferences/add-preference-set.ts
  src/migrations/utils/preferences/add-preferences.ts
  src/migrations/utils/preferences/index.ts
  src/migrations/utils/preferences/remove-preferences.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

migration for new community member notification preferences
  src/migrations/1650373194222-newCommunityMemberPreferences.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated defaults for new user creation preferences for notifications; added user preference types + defaults for pending preferences
  src/common/enums/user.preference.type.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated sorting of aspects + opportunties to ignore case
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/context/context/context.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed bug in add-preference util
  src/migrations/utils/preferences/add-preferences.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

changed description of one definition
  src/migrations/1650373194222-newCommunityMemberPreferences.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

new event
  src/common/enums/event.type.ts
  src/common/enums/user.preference.type.ts
  src/core/microservices/notifications.payload.builder.ts
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
