Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

updated credentials to accept invitations to include host creds when org
  src/domain/community/invitation/invitation.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated credentials to accept invitations to include host creds when org (#4204)
  src/domain/community/invitation/invitation.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix #4194
  src/domain/storage/storage-bucket/storage.bucket.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Sent notification to license managers when a new space is created
  package.json
  src/domain/community/community/community.service.events.ts
  src/domain/space/account/account.module.ts
  src/domain/space/account/account.resolver.fields.ts
  src/domain/space/account/account.resolver.mutations.ts
  src/domain/space/account/account.service.ts
  src/services/adapters/notification-adapter/notification.adapter.module.ts
  src/services/adapters/notification-adapter/notification.adapter.ts
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Clear comment
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

userRegPatch2
  src/domain/community/user/user.resolver.fields.ts
  src/services/api/registration/registration.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update lib version
  package.json
Due: prettier --write

version update
  package-lock.json
  package.json
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

patch that was applied to master also for develop
  src/services/api/registration/registration.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pdated start services for latest synapse + matrix adapter
  quickstart-services.yml
Due: none

Remove unneded space
  src/domain/space/account/account.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Clear casting
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated to work with new matrix adapter api
  .build/synapse/homeserver.yaml
  package-lock.json
  package.json
  src/platform/admin/communication/admin.communication.resolver.mutations.ts
  src/platform/admin/communication/admin.communication.service.ts
  src/platform/admin/communication/dto/admin.communication.dto.update.room.state.ts
  src/platform/admin/communication/dto/admin.communication.dto.update.rooms.joinrule.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tidied up homeserver
  .build/synapse/homeserver.yaml
Due: none

updated package versions
  package-lock.json
  quickstart-services.yml
Due: prettier --write

service version update
  quickstart-services.yml
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

remove type on community (#4197)
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.interface.ts
  src/domain/community/community/community.service.events.ts
  src/domain/community/community/community.service.ts
  src/domain/community/community/dto/community.dto.create.ts
  src/domain/space/space/space.service.ts
  src/migrations/1719859107990-communityType.ts
  src/services/adapters/activity-adapter/activity.adapter.ts
  src/services/adapters/notification-adapter/notification.payload.builder.ts
  src/services/api/activity-log/activity.log.builder.service.ts
  src/services/api/activity-log/dto/activity.log.dto.entry.member.joined.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Matrix adapter api (#4209)
  .build/synapse/homeserver.yaml
  package-lock.json
  package.json
  quickstart-services.yml
  src/platform/admin/communication/admin.communication.resolver.mutations.ts
  src/platform/admin/communication/admin.communication.service.ts
  src/platform/admin/communication/dto/admin.communication.dto.update.room.state.ts
  src/platform/admin/communication/dto/admin.communication.dto.update.rooms.joinrule.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated matrix adapter lib version which was somehow lost
  package-lock.json
  package.json
Due: prettier --write

Search: fixes and improvements (#4196)
  src/common/enums/search.result.type.ts
  src/platform/admin/search/admin.search.ingest.resolver.mutations.ts
  src/services/api/search/dto/search.result.entry.interface.ts
  src/services/api/search/v1/search.result.builder.interface.ts
  src/services/api/search/v1/search.result.builder.service.ts
  src/services/api/search/v2/extract/search.extract.service.ts
  src/services/api/search/v2/ingest/search.ingest.service.ts
  src/services/api/search/v2/result/search.result.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

simplification
  src/domain/storage/storage-bucket/storage.bucket.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix storage query (#4205)
  src/domain/storage/storage-bucket/storage.bucket.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

version bump
  package-lock.json
  package.json
Due: prettier --write

version bump (#4212)
  package-lock.json
  package.json
Due: prettier --write

fix community event; fix payloads to matrix adapter
  src/domain/community/community/community.service.events.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

BugFix Cannot create license plan
  src/platform/license-plan/license.plan.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

version bump
  package.json
Due: prettier --write

updated to latest matrix adapter version
  quickstart-services.yml
Due: none

moved mentions to a separate service
  src/domain/communication/room/room.module.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/domain/communication/room/room.service.mentions.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

moved mentions detection function into new mentions service, moved tests also
  src/domain/communication/messaging/get.mentions.from.text.ts
  src/domain/communication/room/room.service.mentions.from.text.spec.ts
  src/domain/communication/room/room.service.mentions.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial setup for detecting + responding to replies
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/domain/communication/room/room.service.mentions.ts
  src/domain/communication/room/room.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added in retrieval of threaded messages
  src/domain/communication/room/room.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added logic to request a reply from the VC when detected that there is a follow up question
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.mentions.ts
  src/domain/communication/room/room.service.ts
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added placeholder method / comment
  src/services/ai-server/ai-server/ai.server.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added placeholder method / comment
  src/domain/communication/room/room.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

improved validation exception handling
  src/common/enums/alkemio.error.status.ts
  src/common/exceptions/validation.exception.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

split out platform roles management into a separate module to keep that logic separate
  src/app.module.ts
  src/platform/platfrom.role/dto/platform.dto.assign.role.user.ts
  src/platform/platfrom.role/dto/platform.dto.remove.role.user.ts
  src/platform/platfrom.role/dto/platform.invitation.dto.global.role.ts
  src/platform/platfrom.role/platform.role.module.ts
  src/platform/platfrom.role/platform.role.resolver.fields.ts
  src/platform/platfrom.role/platform.role.resolver.mutations.ts
  src/platform/platfrom.role/platform.role.service.ts
  src/platform/platfrom/platform.module.ts
  src/platform/platfrom/platform.resolver.fields.ts
  src/platform/platfrom/platform.resolver.mutations.ts
  src/platform/platfrom/platform.service.ts
  src/services/api/registration/registration.module.ts
  src/services/api/registration/registration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cleanup
  src/common/exceptions/user.input.error.ts
  src/core/error-handling/graphql.exception.filter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

improved validation exception handling (#4224)
  src/common/enums/alkemio.error.status.ts
  src/common/exceptions/user.input.error.ts
  src/common/exceptions/validation.exception.ts
  src/core/error-handling/graphql.exception.filter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

additional logging / error handling
  src/core/authorization/authorization.rule.agent.privilege.ts
  src/domain/collaboration/callout/callout.service.ts
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
