Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates schema contract diffing spec
  specs/002-schema-contract-diffing/spec.md
Due: prettier --write

Adds schema contract refinements
  specs/002-schema-contract-diffing/tasks.md
Due: prettier --write

Streamlines production start and adds AMQP library
  Dockerfile
  package.json
  pnpm-lock.yaml
  specs/011-clarify-override-semantics/spec.md
Due: prettier --write

Refactors Dockerfile for multi-stage build
  Dockerfile
Due: none

Uses pnpm for task execution
  package.json
Due: prettier --write

remove unused provider from admin.authorization.resolver.mutations.ts
  src/platform-admin/domain/authorization/admin.authorization.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.123.2
  package-lock.json
  package.json
Due: prettier --write

Adds ts-node for runtime migrations
  Dockerfile
  package.json
  src/config/typeorm.cli.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Revert "Adds ts-node for runtime migrations"
  Dockerfile
  package.json
  src/config/typeorm.cli.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds ts-node and tsconfig-paths dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Simplifies Dockerfile to single-stage build
  Dockerfile
Due: none

fix: Fallbacks for some URLs are outdated (#5505)
  alkemio.yml
Due: none

Update whiteboard preview settings
  src/domain/common/whiteboard/dto/whiteboard.dto.update.ts
  src/domain/common/whiteboard/dto/whiteboard.preview.settings.dto.update.ts
  src/domain/common/whiteboard/types.ts
  src/domain/common/whiteboard/whiteboard.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates matrix adapter lib
  pnpm-lock.yaml
Due: none

avatar visual on inno pack profile
  src/library/innovation-pack/innovation.pack.service.ts
  src/migrations/1761125765749-InnovationPacksAvatar.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates matrix-adapter image to v0.7.0
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

Bumps version to 0.124.0
  package.json
Due: prettier --write

Added WhiteboardBanner visual type
  src/common/enums/visual.type.ts
  src/domain/common/profile/profile.service.ts
  src/domain/common/visual/visual.constraints.ts
  src/domain/common/visual/visual.service.ts
  src/domain/common/whiteboard/whiteboard.service.ts
  src/migrations/1760960016268-WhiteboardBannerVisuals.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Merge pull request #5482 from alkem-io/directMessages2
  alkemio.yml
  package.json
  pnpm-lock.yaml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/communication/communication.service.ts
  src/domain/communication/communication/dto/communication.dto.send.direct.message.user.result.ts
  src/domain/communication/communication/dto/communication.dto.send.direct.message.user.ts
  src/domain/communication/communication/dto/communication.dto.send.message.users.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/communication/room/room.service.ts
  src/domain/community/user/dto/index.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.service.ts
  src/platform-admin/domain/communication/admin.communication.service.ts
  src/platform/forum/forum.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/adapters/communication-adapter/dto/communication.dto.add.reaction.ts
  src/services/adapters/communication-adapter/dto/communication.dto.remove.reaction.ts
  src/services/api/chat-guidance/chat.guidance.service.ts
  src/types/alkemio.config.ts
  test/mocks/user.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add FindOptionsWhere to notification filter
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

[In-app] filtering (#5506)
  src/platform/in-app-notification/in.app.notification.resolver.mutations.ts
  src/platform/in-app-notification/in.app.notification.service.ts
  src/services/api/me/me.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

migration pr fixes
  src/migrations/1761125765749-InnovationPacksAvatar.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Avatar visual on innovation pack profile (#5510)
  src/library/innovation-pack/innovation.pack.service.ts
  src/migrations/1761125765749-InnovationPacksAvatar.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix
  src/domain/common/whiteboard/whiteboard.entity.ts
  src/domain/common/whiteboard/whiteboard.service.ts
  src/migrations/1760960016267-WhiteboardsPreviewSettings.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

application decline notifications
  src/common/enums/notification.event.ts
  src/domain/access/role-set/role.set.resolver.mutations.membership.ts
  src/domain/community/user-settings/dto/user.settings.notification.user.membership.dto.create.ts
  src/domain/community/user-settings/dto/user.settings.notification.user.membership.dto.update.ts
  src/domain/community/user-settings/user.settings.notification.user.membership.interface.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.application.declined.ts
  src/services/adapters/notification-adapter/dto/user/notification.dto.input.user.space.community.application.declined.ts
  src/services/adapters/notification-adapter/notification.user.adapter.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
  test/mocks/notification.external.adapter.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Application decline notifications (#5514)
  src/common/enums/notification.event.ts
  src/domain/access/role-set/role.set.resolver.mutations.membership.ts
  src/domain/community/user-settings/dto/user.settings.notification.user.membership.dto.create.ts
  src/domain/community/user-settings/dto/user.settings.notification.user.membership.dto.update.ts
  src/domain/community/user-settings/user.settings.notification.user.membership.interface.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.application.declined.ts
  src/services/adapters/notification-adapter/dto/user/notification.dto.input.user.space.community.application.declined.ts
  src/services/adapters/notification-adapter/notification.user.adapter.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
  test/mocks/notification.external.adapter.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

vc invite declined notification
  docs/Notifications.md
  src/common/enums/notification.event.ts
  src/domain/access/role-set/role.set.resolver.mutations.membership.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.community.invitation.vc.declined.ts
  src/services/adapters/notification-adapter/notification.virtual.contributor.adapter.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
  test/mocks/notification.external.adapter.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

better minimum visual dimensions
  src/domain/common/visual/visual.constraints.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

address comments
  src/migrations/1760960016267-WhiteboardsPreviewSettings.ts
  src/migrations/1760960016268-WhiteboardBannerVisuals.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enhances Copilot instructions for Spec Kit usage
  .github/copilot-instructions.md
Due: prettier --write

add UPDATE privilege to GS if the spase settings allows it
  src/domain/collaboration/collaboration/collaboration.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed service call for getContributorType and moved it to util
  src/domain/access/invitation/invitation.service.authorization.ts
  src/domain/access/invitation/invitation.service.ts
  src/domain/community/contributor/contributor.service.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/api/activity-log/activity.log.builder.service.ts
  src/services/infrastructure/contributor-lookup/contributor.lookup.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: update InAppNotificationPayloadSpaceCommunityApplicationDeclined to extend InAppNotificationPayloadSpaceBase
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.application.declined.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: move InAppNotificationCoreEntityIds type to a separate file
  src/platform/in-app-notification/in.app.notification.core.entity.ids.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: clarify contribution retrieval logic in room resolver
  src/services/infrastructure/entity-resolver/room.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

move the vc invite declined notification logic to space admin
  docs/Notifications.md
  src/common/enums/notification.event.ts
  src/domain/access/role-set/role.set.resolver.mutations.membership.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-adapter/notification.virtual.contributor.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fixes
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-adapter/notification.virtual.contributor.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

address comments
  src/domain/common/whiteboard/dto/whiteboard.preview.settings.coordinates.dto.update.ts
  src/domain/common/whiteboard/dto/whiteboard.preview.settings.dto.update.ts
  src/migrations/1760960016268-WhiteboardBannerVisuals.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

address coderabbit comment
  src/domain/common/whiteboard/dto/whiteboard.preview.settings.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Notification - VC invite declined (#5515)
  docs/Notifications.md
  src/common/enums/notification.event.ts
  src/domain/access/role-set/role.set.resolver.mutations.membership.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.community.invitation.vc.declined.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
  test/mocks/notification.external.adapter.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
