Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

template creation
  src/domain/community/community-guidelines/community.guidelines.service.ts
  src/domain/community/community-guidelines/dto/community.guidelines.dto.create.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.interface.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.module.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.service.ts
  src/domain/template/community-guidelines-template/dto/community.guidelines.template.dto.create.ts
  src/domain/template/template-base/dto/template.base.dto.create.ts
  src/domain/template/templates-set/templates.set.resolver.mutations.ts
  src/domain/template/templates-set/templates.set.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

two files reverted
  .build/synapse/homeserver.yaml
  .env.docker
Due: none

homeserver original state
  .build/synapse/homeserver.yaml
Due: none

quickstart-services original state
  quickstart-services.yml
Due: none

finishing touches
  graphql-samples/mutations/create/create-community-guidelines-template
  src/services/api/lookup/lookup.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

assign / remove subspace-admin role (#3915)
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/common/enums/account.role.ts
  src/common/enums/authorization.credential.ts
  src/common/enums/community.role.implicit.ts
  src/common/enums/credential.role.ts
  src/common/enums/index.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/community/community-policy/community.policy.service.ts
  src/domain/community/community/community.lifecycle.application.options.provider.ts
  src/domain/community/community/community.lifecycle.invitation.options.provider.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.authorization.ts
  src/domain/community/community/community.service.ts
  src/domain/space/account/account.resolver.mutations.ts
  src/domain/space/account/account.service.ts
  src/domain/space/space.defaults/space.defaults.service.ts
  src/domain/space/space/space.service.spec.ts
  src/domain/space/space/space.service.ts
  src/domain/storage/storage-aggregator/storage.aggregator.service.ts
  src/migrations/1715661558908-subspaceAdmin.ts
  src/platform/activity/create.latest.activity.per.space.spec.ts
  src/services/api/conversion/conversion.service.ts
  src/services/api/roles/roles.resolver.fields.ts
  src/services/api/roles/roles.service.spec.ts
  src/services/api/roles/roles.service.ts
  src/services/api/roles/util/get.space.roles.for.contributor.entity.data.ts
  src/services/api/roles/util/get.space.roles.for.contributor.query.result.ts
  src/services/api/roles/util/group.credentials.by.entity.ts
  src/services/api/roles/util/map.space.credentials.to.roles.ts
  src/services/api/search/search.result.builder.service.ts
  src/services/infrastructure/url-generator/url.generator.service.ts
  test/data/roles-user.json
  test/data/subspace.json
  test/data/subsubspace.json
  test/utils/test-data.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

configure space ingest trough qicickstart-services
  .env.docker
  .gitignore
  quickstart-services-ai-debug.yml
  quickstart-services.yml
Due: none

move EventBusModule under infrastructure
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/services/infrastructure/event-bus/commands/index.ts
  src/services/infrastructure/event-bus/commands/ingest.space.command.ts
  src/services/infrastructure/event-bus/event.bus.module.ts
  src/services/infrastructure/event-bus/publisher.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Admin URLs for Spaces become :spaceUrl/settings
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

proper routes
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Graphql sample for authorizationPolicyResetOnAccount
  graphql-samples/mutations/authorization/reset-authorization-on-account
Due: none

Graphql sample for authorizationPolicyResetOnAccount (#3921)
  graphql-samples/mutations/authorization/reset-authorization-on-account
Due: none

Space query to only lookup top level spaces (#3897)
  src/domain/space/space/space.resolver.queries.ts
  src/domain/space/space/space.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Admin URLs for Spaces become :spaceUrl/settings (#3920)
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Test fixes
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixes
  Dockerfile
  package-lock.json
Due: prettier --write

Initial setup for event bus (#3886)
  .env.docker
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  quickstart-services-ai-debug.yml
  quickstart-services.yml
  src/common/constants/providers.ts
  src/common/enums/messaging.queue.ts
  src/core/microservices/microservices.module.ts
  src/core/microservices/virtual.contributor.engine.community.manager.service.factory.ts
  src/core/microservices/virtual.contributor.engine.expert.service.factory.ts
  src/core/microservices/virtual.contributor.engine.guidance.service.factory.ts
  src/domain/communication/room/room.interface.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/community/virtual-persona/virtual.persona.resolver.queries.ts
  src/domain/community/virtual-persona/virtual.persona.service.ts
  src/services/adapters/chat-guidance-adapter/guidance.engine.adapter.ts
  src/services/adapters/virtual-persona-engine-adapter/dto/virtual.persona.engine.adapter.dto.question.input.ts
  src/services/adapters/virtual-persona-engine-adapter/virtual.persona.engine.adapter.ts
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
  src/services/infrastructure/event-bus/commands/index.ts
  src/services/infrastructure/event-bus/commands/ingest.space.command.ts
  src/services/infrastructure/event-bus/event.bus.module.ts
  src/services/infrastructure/event-bus/publisher.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Major version bump
  package-lock.json
  package.json
Due: prettier --write

volta config
  package.json
Due: prettier --write

removed old migration
  package.json
  src/migrations/1715339702424-communityGuidelinesTemplate.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix Virtual Persona Engines --> Virtual Contributor Engines
  src/common/enums/virtual.persona.engine.ts
  src/domain/community/virtual-persona/dto/virtual.persona.dto.create.ts
  src/domain/community/virtual-persona/dto/virtual.persona.dto.update.ts
  src/domain/community/virtual-persona/virtual.persona.entity.ts
  src/domain/community/virtual-persona/virtual.persona.interface.ts
  src/domain/community/virtual-persona/virtual.persona.service.ts
  src/migrations/1715780931509-fixPersonaEngines.ts
  src/services/adapters/virtual-persona-engine-adapter/dto/virtual.persona.engine.adapter.dto.base.ts
  src/services/adapters/virtual-persona-engine-adapter/virtual.persona.engine.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added field resolver for cgt
  src/domain/template/community-guidelines-template/community.guidelines.template.module.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.resolver.fields.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Extended mySpaces to have a flag to show only myCreatedSpaces
  src/domain/space/space/space.service.ts
  src/services/api/activity-log/activity.log.service.ts
  src/services/api/me/me.module.ts
  src/services/api/me/me.resolver.fields.ts
  src/services/api/me/me.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Remove auth check on space lookup
  src/services/api/lookup/lookup.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Extended mySpaces to have a flag to show only myCreatedSpaces (#3925)
  src/domain/space/space/space.service.ts
  src/services/api/activity-log/activity.log.service.ts
  src/services/api/me/me.module.ts
  src/services/api/me/me.resolver.fields.ts
  src/services/api/me/me.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial pass at subspace invitations; not tested
  src/common/enums/alkemio.error.status.ts
  src/common/exceptions/community.invitation.exception.ts
  src/core/validation/handlers/base/base.handler.ts
  src/domain/community/community/community.lifecycle.invitation.options.provider.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/community/community/dto/community.dto.invite.existing.user.ts
  src/domain/community/community/dto/community.dto.invite.external.user.ts
  src/domain/community/invitation.external/dto/invitation.external.dto.create.ts
  src/domain/community/invitation.external/invitation.external.entity.ts
  src/domain/community/invitation.external/invitation.external.interface.ts
  src/domain/community/invitation/dto/invitation.dto.create.ts
  src/domain/community/invitation/invitation.entity.ts
  src/domain/community/invitation/invitation.interface.ts
  src/domain/space/space/space.service.ts
  src/services/api/registration/registration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

check for user being a member before assigning roles in subspace
  src/domain/space/space/space.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added migration
  src/migrations/1715874015062-subspaceInvitations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

check for user being a member before assigning roles in subspace (#3929)
  src/domain/space/space/space.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Remove auth check on space lookup (#3927)
  src/services/api/lookup/lookup.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

volta config (#3923)
  package.json
Due: prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

add ability to generate nameID avoiding reserved names
  src/domain/collaboration/collaboration/collaboration.service.ts
  src/services/infrastructure/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

moved more nameID generation to use the suffix only when needed
  src/core/bootstrap/bootstrap.service.ts
  src/domain/collaboration/callout-contribution/callout.contribution.move.module.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.ts
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/communication/communication/communication.module.ts
  src/domain/communication/communication/communication.service.ts
  src/domain/communication/communication/dto/communication.dto.create.discussion.ts
  src/domain/communication/discussion/discussion.module.ts
  src/domain/communication/discussion/discussion.service.ts
  src/domain/community/user/user.service.ts
  src/domain/space/account/account.module.ts
  src/domain/space/account/account.service.ts
  src/domain/space/space/space.service.ts
  src/services/infrastructure/naming/naming.module.ts
  src/services/infrastructure/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial pass at removing suffixs by default on nameID generation
  src/domain/innovation-hub/innovation.hub.service.ts
  src/domain/space/space/space.service.ts
  src/domain/timeline/calendar/calendar.service.ts
  src/library/library/library.service.ts
  src/services/api/conversion/conversion.module.ts
  src/services/api/conversion/conversion.service.ts
  src/services/infrastructure/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addressing assignment / removal of subspace admin implicit role
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow implicit roles to be accessible on the community
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix Virtual Persona Engines --> Virtual Contributor Engines (#3924)
  src/common/enums/virtual.persona.engine.ts
  src/domain/community/virtual-persona/dto/virtual.persona.dto.create.ts
  src/domain/community/virtual-persona/dto/virtual.persona.dto.update.ts
  src/domain/community/virtual-persona/virtual.persona.entity.ts
  src/domain/community/virtual-persona/virtual.persona.interface.ts
  src/domain/community/virtual-persona/virtual.persona.service.ts
  src/migrations/1715780931509-fixPersonaEngines.ts
  src/services/adapters/virtual-persona-engine-adapter/dto/virtual.persona.engine.adapter.dto.base.ts
  src/services/adapters/virtual-persona-engine-adapter/virtual.persona.engine.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addressing assignment / removal of subspace admin implicit role (#3935)
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Migrate schema
  src/domain/innovation-hub/innovation.hub.entity.ts
  src/migrations/1715936821326-accountInnovationHub.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
