Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Server 0.14.3
  package.json
Due: prettier --write

Fix user communication registration - drop initial bootstrap - check commid and assign if missing on every user entry point
  src/core/bootstrap/bootstrap.service.ts
  src/domain/community/user/user.service.ts
  src/services/platform/communication/communication.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix email validation - revert to using sender for communication message instead of senderID
  src/domain/community/user/user.resolver.subscriptions.ts
  src/domain/community/user/user.service.ts
  src/services/platform/communication/communication.dto.message.result.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Capitalize all id fields - remove obsolete authentication configuration in communications
  src/domain/community/community/community.service.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-user/matrix.user.adapter.service.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added missing code for searching project by nameID
  src/domain/collaboration/project/project.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

used correct logic to fetch project by nameID scope
  alkemio.yml
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/collaboration/project/project.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

profiling decorator correctly shows timings after execution
  src/common/decorators/profiling.decorator.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

comms-fixes-2
  src/domain/common/communication/communication.dto.event.message.received.ts
  src/domain/common/communication/communication.dto.message.result.ts
  src/domain/common/communication/communication.dto.room.result.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
  src/domain/community/community/dto/community.dto.room.result.ts
  src/domain/community/user/dto/user.dto.communication.message.received.ts
  src/domain/community/user/dto/user.dto.communication.message.send.ts
  src/domain/community/user/dto/user.dto.communication.room.direct.result.ts
  src/domain/community/user/dto/user.dto.communication.room.invitation.received.ts
  src/domain/community/user/index.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.resolver.subscriptions.ts
  src/domain/community/user/user.service.ts
  src/services/platform/communication/communication.dto.message.result.ts
  src/services/platform/communication/communication.module.ts
  src/services/platform/communication/communication.room.dto.direct.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/communication/dto/communication.dto.message.delete.community.ts
  src/services/platform/communication/dto/communication.dto.message.edit.community.ts
  src/services/platform/communication/dto/communication.dto.message.result.ts
  src/services/platform/communication/dto/communication.dto.message.send.community.ts
  src/services/platform/communication/dto/communication.dto.message.send.user.ts
  src/services/platform/communication/dto/communication.dto.room.invitation.received.ts
  src/services/platform/communication/index.ts
  src/services/platform/matrix/adapter-message/matrix.message.adapter.module.ts
  src/services/platform/matrix/adapter-message/matrix.message.adapter.service.ts
  src/services/platform/matrix/agent/matrix.agent.module.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/agent/matrix.agent.ts
  src/services/platform/matrix/events/matrix.event.adapter.room.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

reverted back api field for sender
  src/domain/common/communication/communication.dto.message.result.ts
  src/domain/community/user/user.resolver.subscriptions.ts
  src/domain/community/user/user.service.ts
  src/services/platform/communication/dto/communication.dto.message.result.ts
  src/services/platform/matrix/adapter-message/matrix.message.adapter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed comms flag
  alkemio.yml
Due: none

added an organization template
  src/services/platform/configuration/config/template/organization.template.entity.ts
  src/services/platform/configuration/config/template/organization.template.interface.ts
  src/services/platform/configuration/config/template/template.entity.ts
  src/services/platform/configuration/config/template/template.interface.ts
  src/services/platform/configuration/templates/ux-template.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added migration for rename of 'skills' to 'capabilities' in organization tagsets
  src/migrations/1634294782266-organization-tagset-rename.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

address feedback re name in payload of receiving event
  src/domain/common/communication/communication.dto.event.message.received.ts
  src/domain/community/user/user.resolver.subscriptions.ts
  src/services/platform/matrix/adapter-message/matrix.message.adapter.service.ts
  src/services/platform/matrix/events/matrix.event.adapter.room.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix matrix registration process - fail gracefully if error occurs
  src/domain/community/user/user.service.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

reworked event filtering to make explicit what is happening
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-message/matrix.message.adapter.service.ts
  src/services/platform/matrix/events/matrix.event.adapter.room.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

additional logic for event handling
  src/services/platform/matrix/adapter-message/matrix.message.adapter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

additional logging; removed filtering of message based on their id
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-message/matrix.message.adapter.service.ts
  src/services/platform/matrix/agent/matrix.agent.ts
  src/services/platform/matrix/events/matrix.event.adapter.room.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

messages / code clean up
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-message/matrix.message.adapter.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.adapter.service.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/events/matrix.event.adapter.room.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

properly set the return value from the user subscriptioni resolver
  src/domain/community/user/user.resolver.subscriptions.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

minor renaming re timeline events
  src/services/platform/communication/communication.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed return type for subscription resolving
  src/domain/community/user/user.resolver.subscriptions.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addressed logged error message
  src/domain/community/user/user.service.ts
  src/services/platform/communication/communication.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated rc thresholds for synapse
  .build/synapse/homeserver.yaml
Due: none

udpate community display name when hub / challenge / opportunity display name changes
  src/domain/challenge/base-challenge/base.challenge.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated checks for loading hub / challenge / opportunity based on UUID / nameID to be lenght safe
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated logic around retrieving a particular application authorization
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added notification service to docker compose
  quickstart-services.yml
Due: none

updated docker ci badge to point to develop
  README.md
Due: prettier --write

removed redundant test deployment manifest
  .github/workflows/build-deploy-k8s-test-azure.yml
  manifests/26-server-deployment-test.yaml
Due: none

updated network diagram
  docs/diagrams/alkemio-services-networking.drawio
  docs/images/alkemio-services-networking.png
Due: none

added smtp and rabbitmq host vars into env.docker
  .env.docker
Due: none

Altered restart policy
  quickstart-services.yml
Due: none

Version fix
  quickstart-services.yml
Due: none

Version bump
  package-lock.json
  package.json
Due: prettier --write

add check that message length should not be empty; update ignore filter to pass over messages with no body
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-message/matrix.message.adapter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactored user group membership to not have O(n2) for user group parent lookups
  src/services/domain/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Load all matrix events for a room
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.adapter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cascade delete to communication; fix credential delete
  src/domain/challenge/base-challenge/base.challenge.service.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
