Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: require first and last name in Kratos identity schema for registration (closes #8414)
  .build/ory/kratos/identity.schema.json
Due: prettier --write

Updated gitignore
  .gitignore
Due: none

post comment to point to proper contribution
  docs/notification-entity-fk-mapping.ods
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/migrations/1760357366405-NotificationEntityTracking.ts
  src/platform/in-app-notification-payload/field-resolvers/organization/in.app.notification.payload.organization.message.direct.resolver.fields.ts
  src/platform/in-app-notification/in.app.notification.entity.ts
  src/platform/in-app-notification/in.app.notification.service.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/infrastructure/entity-resolver/room.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

latest mapping table
  docs/notification-entity-fk-mapping.ods
Due: none

fix mark as read updates archived state
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix mark as read updates archived state (#5501)
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

version bump
  package-lock.json
  package.json
Due: prettier --write

cascade delete when contributor is deleted
  docs/notification-entity-fk-mapping.ods
  src/domain/access/role-set/role.set.service.events.ts
  src/domain/community/contributor/get.contributor.type.ts
  src/migrations/1760357366405-NotificationEntityTracking.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.contributor.ts
  src/platform/in-app-notification/in.app.notification.entity.ts
  src/platform/in-app-notification/in.app.notification.service.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.community.new.member.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-adapter/notification.user.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds whitespace validation to name fields
  .build/ory/kratos/identity.schema.json
Due: prettier --write

Fix: Require first and last name in Kratos registration flow (#5500)
  .build/ory/kratos/identity.schema.json
  .gitignore
Due: prettier --write

adjustments to entity
  src/platform/in-app-notification/in.app.notification.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

synced FKs
  src/migrations/1760357366405-NotificationEntityTracking.ts
  src/platform/in-app-notification/in.app.notification.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

dropped some helper files
  docs/notification-entity-fk-mapping.csv
  docs/notification-entity-fk-mapping.md
Due: prettier --write

dropped more helper files
  docs/notifications-entity-tracking-implementation.md
  docs/notifications-entity-tracking.md
Due: prettier --write

advanced prompt graph config
  src/domain/community/virtual-contributor/dto/prompt-graph-definition/prompt.graph.definition.node.dto.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/platform-admin/domain/authorization/admin.authorization.module.ts
  src/platform-admin/domain/authorization/admin.authorization.resolver.mutations.ts
  src/services/ai-server/ai-persona/ai.persona.resolver.fields.ts
  src/services/ai-server/ai-persona/ai.persona.service.ts
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
  src/services/ai-server/prompt-graph/dto/prompt.graph.node.dto.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix ci
  test/mocks/user.service.mock.ts
Due: none

Relocates module imports
  scripts/schema/generate-schema.snapshot.ts
Due: none

Refines code ownership for reporter/reporting
  .github/CODEOWNERS
Due: none

Updates code ownership in CODEOWNERS
  .github/CODEOWNERS
Due: none

Update src/schema-bootstrap/module.schema-bootstrap.ts
  src/schema-bootstrap/module.schema-bootstrap.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds deprecation grace period to diffing
  src/schema-contract/diff/diff-core.ts
  src/schema-contract/model/shared-types.ts
  src/schema-contract/model/types.ts
  src/tools/schema/types.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactors schema diffing and adds grace periods
  src/platform-admin/admin/platform.admin.service.ts
  src/schema-contract/diff/diff-core.ts
  src/schema-contract/model/change-entry.ts
  src/schema-contract/model/deprecation-entry.ts
  src/tools/schema/diff-schema.ts
  src/tools/schema/types.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

@coderabbit review comments addressed
  .github/copilot-instructions.md
  src/domain/communication/room/room.resolver.mutations.ts
  src/migrations/1760357366405-NotificationEntityTracking.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.collaboration.callout.comment.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.contributor.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.invitation.platform.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/user/in.app.notification.payload.user.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/vc/in.app.notification.payload.virtual.contributor.resolver.fields.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Cleanup: Remove redundant sections from copilot instructions
  .github/copilot-instructions.md
Due: prettier --write

Fix: Update JSON query syntax for contributorID and type retrieval
  src/migrations/1760357366405-NotificationEntityTracking.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix: Correct JSON_UNQUOTE usage for contributorID in notification tracking queries
  src/migrations/1760357366405-NotificationEntityTracking.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

latest mapping sheet
  docs/notification-entity-fk-mapping.ods
Due: none

expert prompt improvements
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
Due: prettier --write

remove unneded blank lines
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
Due: prettier --write

Enables EventBus testing with mock providers
  docs/event-bus-testing.md
  docs/rabbitmq-connection-stubbing-implementation.md
  src/config/aliases.ts
  src/schema-bootstrap/module.schema-bootstrap.ts
  src/schema-bootstrap/stubs/event-bus-providers.stub.ts
  src/services/infrastructure/event-bus/event.bus.mocking.spec.ts
  src/services/infrastructure/event-bus/event.bus.module.ts
  src/services/infrastructure/event-bus/rabbitmq.connection.factory.ts
  src/services/infrastructure/event-bus/rabbitmq.connection.module.ts
  test/utils/default.mocker.factory.ts
  test/utils/event-bus.mock.factory.ts
  test/utils/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds missing type definitions
  package.json
  pnpm-lock.yaml
Due: prettier --write

pnpm instead of npm (#5498)
  .gitignore
  .npmrc
  .scripts/backups/README.md
  .scripts/backups/restore_latest_backup_set.sh
  .scripts/migrations/README.md
  .scripts/migrations/run_validate_migration.sh
  .travis.yml
  Dockerfile
  docs/DataManagement.md
  docs/Developing.md
  docs/QA.md
  docs/Running.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/common/interfaces/redis.interfaces.ts
  src/common/pipes/validation.pipe.ts
  src/core/microservices/subscription.factory.ts
  src/domain/collaboration/link/link.resolver.mutations.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/common/visual/visual.resolver.mutations.ts
  src/domain/storage/storage-bucket/storage.bucket.resolver.mutations.ts
  src/migrations/utils/storage/storage-bucket-utils.ts
  src/services/infrastructure/event-bus/event.bus.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix: Update query to correctly check for non-null callout_contribution.id in notification tracking
  src/migrations/1760357366405-NotificationEntityTracking.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

improve expert prompting
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
Due: prettier --write

bump expert engine version
  quickstart-services-ai.yml
Due: none

bump generic engine version
  quickstart-services-ai.yml
Due: none

fix typo
  src/platform-admin/domain/authorization/admin.authorization.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates dependencies and fixes stream handling.
  package.json
  pnpm-lock.yaml
  src/common/interfaces/redis.interfaces.ts
  src/common/utils/file.util.ts
  src/core/microservices/subscription.factory.ts
  src/domain/collaboration/link/link.resolver.mutations.ts
  src/domain/common/memo/conversion/Iframe.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/common/visual/visual.resolver.mutations.ts
  src/domain/common/visual/visual.service.ts
  src/domain/storage/storage-bucket/storage.bucket.resolver.mutations.ts
  src/domain/storage/storage-bucket/storage.bucket.service.ts
  src/services/api/search/util/validate.search.parameters.ts
  src/services/infrastructure/event-bus/event.bus.module.ts
  src/services/infrastructure/event-bus/rabbitmq.connection.factory.ts
  src/services/task/task.error.interface.ts
  src/services/task/task.result.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
