Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix error message typo
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removed loading relations that don't exist on community removal
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactor logic into smaller functions
  src/common/enums/community.contributors.update.type.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixing role assignment to use contributors logic
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixing hub policy init
  src/domain/challenge/hub/hub.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add await for async function calls
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Change regular to strict equality
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Implement aspect type updates
  src/domain/context/aspect/aspect.service.ts
  src/domain/context/aspect/dto/aspect.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Change minOrg limit
  src/domain/challenge/hub/hub.community.policy.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Assign user as community lead
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Assign User As Community Lead fix
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Typo
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Version bump 0.27.0
  package-lock.json
  package.json
Due: prettier --write

Lead Orgs Api not via Challenge
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/challenge/dto/challenge.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

aspect created event
  src/core/microservices/event-payload/aspect.created.event.payload.ts
  src/core/microservices/microservices.module.ts
  src/core/microservices/notifications.payload.builder.ts
  src/domain/context/context/context.resolver.mutations.ts
  src/migrations/1651759916148-userPreferencesAspect.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Bumped version - 0.28.0
  package-lock.json
  package.json
Due: prettier --write

aspect comment created event
  src/core/microservices/event-payloads/aspect.comment.created.event.payload.ts
  src/core/microservices/event-payloads/aspect.created.event.payload.ts
  src/core/microservices/event-payloads/index.ts
  src/core/microservices/notifications.payload.builder.ts
  src/domain/communication/comments/comments.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ran audit fix
  package-lock.json
Due: prettier --write

new service for obtaining the roles held by contributors
  graphql-samples/queries/roles-organization
  graphql-samples/queries/roles-user
  package-lock.json
  package.json
  src/app.module.ts
  src/common/enums/logging.context.ts
  src/services/domain/roles/dto/roles.dto.input.organization.ts
  src/services/domain/roles/dto/roles.dto.input.user.ts
  src/services/domain/roles/dto/roles.dto.result.application.ts
  src/services/domain/roles/dto/roles.dto.result.community.ts
  src/services/domain/roles/dto/roles.dto.result.contributor.ts
  src/services/domain/roles/dto/roles.dto.result.hub.ts
  src/services/domain/roles/dto/roles.dto.result.organization.ts
  src/services/domain/roles/dto/roles.dto.result.ts
  src/services/domain/roles/index.ts
  src/services/domain/roles/roles.module.ts
  src/services/domain/roles/roles.resolver.queries.spec.ts
  src/services/domain/roles/roles.resolver.queries.ts
  src/services/domain/roles/roles.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP: adding TemplatesSet which initially contain AspectTemplates; base class for all Templates
  graphql-samples/mutations/create/create-aspect-template
  graphql-samples/mutations/delete/delete-aspect-template
  src/domain/challenge/hub/hub.entity.ts
  src/domain/challenge/hub/hub.interface.ts
  src/domain/challenge/hub/hub.module.ts
  src/domain/challenge/hub/hub.resolver.fields.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/template/aspect-template/aspect.template.entity.ts
  src/domain/template/aspect-template/aspect.template.interface.ts
  src/domain/template/aspect-template/aspect.template.module.ts
  src/domain/template/aspect-template/aspect.template.resolver.mutations.spec.ts
  src/domain/template/aspect-template/aspect.template.resolver.mutations.ts
  src/domain/template/aspect-template/aspect.template.service.ts
  src/domain/template/template-base/dto/index.ts
  src/domain/template/template-base/dto/template.base.dto.create.ts
  src/domain/template/template-base/dto/template.base.dto.delete.ts
  src/domain/template/template-base/dto/template.base.dto.update.ts
  src/domain/template/template-base/template.base.entity.ts
  src/domain/template/template-base/template.base.interface.ts
  src/domain/template/template-base/template.base.module.ts
  src/domain/template/template-base/template.base.service.ts
  src/domain/template/templates-set/dto/aspect.template.dto.create.ts
  src/domain/template/templates-set/dto/aspect.template.dto.delete.ts
  src/domain/template/templates-set/index.ts
  src/domain/template/templates-set/templates.set.entity.ts
  src/domain/template/templates-set/templates.set.interface.ts
  src/domain/template/templates-set/templates.set.module.ts
  src/domain/template/templates-set/templates.set.resolver.fields.ts
  src/domain/template/templates-set/templates.set.resolver.mutations.ts
  src/domain/template/templates-set/templates.set.service.authorization.ts
  src/domain/template/templates-set/templates.set.service.ts
  src/migrations/1653580239006-templatesSet.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix DTO validation on mutations
  src/core/validation/handlers/base/base.handler.ts
  src/domain/challenge/base-challenge/base.challenge.dto.create.ts
  src/domain/challenge/base-challenge/base.challenge.dto.update.ts
  src/domain/collaboration/project/project.dto.update.ts
  src/domain/collaboration/relation/relation.dto.create.ts
  src/domain/common/canvas/dto/canvas.dto.update.ts
  src/domain/common/entity/nameable-entity/nameable.dto.create.ts
  src/domain/common/reference/reference.dto.update.ts
  src/domain/common/tagset/tagset.dto.update.ts
  src/domain/common/visual/dto/visual.dto.update.ts
  src/domain/communication/comments/dto/comments.dto.send.message.ts
  src/domain/communication/communication/dto/communication.dto.create.discussion.ts
  src/domain/communication/discussion/dto/discussion.dto.send.message.ts
  src/domain/communication/discussion/dto/discussion.dto.update.ts
  src/domain/communication/updates/dto/updates.dto.send.message.ts
  src/domain/community/community/dto/community.dto.apply.ts
  src/domain/community/community/dto/community.dto.create.feedback.on.context.ts
  src/domain/community/contributor/dto/contributor.dto.create.ts
  src/domain/community/contributor/dto/contributor.dto.update.ts
  src/domain/community/profile/dto/profile.dto.create.ts
  src/domain/community/profile/dto/profile.dto.update.ts
  src/domain/community/user-group/dto/user-group.dto.create.ts
  src/domain/community/user-group/dto/user-group.dto.update.ts
  src/domain/context/actor-group/actor-group.dto.create.ts
  src/domain/context/actor/actor.dto.create.ts
  src/domain/context/actor/actor.dto.update.ts
  src/domain/context/actor/actor.entity.ts
  src/domain/context/aspect/dto/aspect.dto.create.ts
  src/domain/context/aspect/dto/aspect.dto.update.ts
  src/domain/context/context/dto/context.dto.create.ts
  src/domain/context/context/dto/context.dto.update.ts
  src/domain/context/ecosystem-model/ecosystem-model.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Extracted common constants from role service
  src/common/constants/index.ts
  src/common/constants/role.constants.ts
  src/services/domain/roles/roles.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removed redundant code.
  src/domain/community/profile/profile.service.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Kratos upgrade
  .build/ory/kratos/email-password/kratos.yml
  .build/traefik/http.yml
  quickstart-services.yml
Due: none

Refactored roles service
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/domain/community/community/community.service.ts
  src/services/domain/roles/roles.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

User & User Group service explicit public / private methods
  src/domain/community/user-group/user-group.service.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Mocks
  test/mocks/application.service.mock.ts
  test/mocks/challenge.service.mock.ts
  test/mocks/community.service.mock.ts
  test/mocks/hub.service.mock.ts
  test/mocks/opportunity.service.mock.ts
  test/mocks/organization.service.mock.ts
  test/mocks/user.group.service.mock.ts
  test/mocks/user.service.mock.ts
  test/mocks/winston.provider.mock.ts
Due: none

Utils
  test/utils/async-to-throw.ts
  test/utils/index.ts
  test/utils/public-part.ts
Due: none

Test data
  test/data/agent.json
  test/data/hub.json
  test/data/opportunity.json
  test/data/organization.json
Due: prettier --write

added fields to template types; removed old way of working with templates on hub; adjusted migration
  graphql-samples/mutations/create/create-aspect-template
  graphql-samples/mutations/update/update-hub-template
  src/core/validation/handlers/base/base.handler.ts
  src/domain/challenge/hub/dto/hub.dto.update.template.aspect.ts
  src/domain/challenge/hub/dto/hub.dto.update.template.ts
  src/domain/challenge/hub/dto/hub.dto.update.ts
  src/domain/challenge/hub/hub.entity.ts
  src/domain/challenge/hub/hub.interface.ts
  src/domain/challenge/hub/hub.resolver.fields.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/template/aspect-template/aspect.template.entity.ts
  src/domain/template/aspect-template/aspect.template.interface.ts
  src/domain/template/aspect-template/aspect.template.module.ts
  src/domain/template/aspect-template/aspect.template.service.ts
  src/domain/template/aspect-template/dto/aspect.template.dto.create.ts
  src/domain/template/template-base/dto/template.base.dto.create.ts
  src/domain/template/template-base/template.base.entity.ts
  src/domain/template/template-base/template.base.interface.ts
  src/domain/template/template-base/template.base.module.ts
  src/domain/template/template-base/template.base.service.authorization.ts
  src/domain/template/template-base/template.base.service.ts
  src/domain/template/templates-set/dto/aspect.template.dto.create.on.templates.set.ts
  src/domain/template/templates-set/dto/aspect.template.dto.create.ts
  src/domain/template/templates-set/templates.set.defaults.ts
  src/domain/template/templates-set/templates.set.module.ts
  src/domain/template/templates-set/templates.set.resolver.mutations.ts
  src/domain/template/templates-set/templates.set.service.authorization.ts
  src/domain/template/templates-set/templates.set.service.ts
  src/migrations/1653580239006-templatesSet.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed ux definition for aspect templates on a hub
  src/services/platform/configuration/templates/ux-template.json
Due: prettier --write

removed old 2 suffix on AspectTemplate type
  src/domain/template/aspect-template/aspect.template.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ensure that aspectTemplates is not nullable so always defined
  src/domain/template/templates-set/templates.set.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial code for partial migration of data
  src/migrations/1653580239006-templatesSet.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addressed issues with migration
  src/migrations/1653580239006-templatesSet.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

move foreign keys after creation
  src/migrations/1653580239006-templatesSet.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

adjusted the creation order to obey FKs
  src/migrations/1653580239006-templatesSet.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add in migrating of existing templates
  src/migrations/1653580239006-templatesSet.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

migration for existing templates
  src/migrations/1653580239006-templatesSet.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed setting of FK on hub for templates_set;start of down migration
  src/migrations/1653580239006-templatesSet.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
