Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

move request logger to be with other middleware; renamed config
  alkemio.yml
  src/core/middleware/index.ts
  src/core/middleware/request.logger.middleware.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

only get the flags once per service instantiation
  src/app.module.ts
  src/core/middleware/request.logger.middleware.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed role that was not used
  src/common/enums/authorization.credential.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed assignment of global admin challenges cred
  src/services/platform/configuration/templates/authorisation-bootstrap.json
Due: prettier --write

added challenge to search results
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.interface.ts
  src/domain/common/interfaces/searchable.interface.ts
  src/services/domain/search/search.module.ts
  src/services/domain/search/search.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added graphql sample
  graphql-samples/queries/search/simple-search-challenges
Due: none

added extra logic check to searchable return type
  src/domain/common/interfaces/searchable.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update kratos configuration
  .build/ory/kratos/email-password/kratos.yml
  quickstart-kratos.yml
  quickstart-services.yml
Due: none

made user phone number and email to be dependent on having read access to the user profile
  src/domain/community/user/user.interface.ts
  src/domain/community/user/user.resolver.fields.ts
  src/services/platform/authorization-engine/authorization-engine.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added ability to reset authorization defintion on ecoverse; removed wrong dependency authorizationService to challenge; fixed setting of authorization on community
  graphql-samples/mutations/authorization/reset-authorization-on-ecoverse
  src/core/authorization/authorization.resolver.mutations.ts
  src/core/authorization/authorization.service.ts
  src/core/authorization/dto/index.ts
  src/domain/challenge/base-challenge/base.challenge.service.authorization.ts
  src/domain/challenge/challenge/challenge.lifecycle.options.provider.ts
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/challenge/challenge.service.authorization.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/challenge/dto/challenge.dto.assign.lead.ts
  src/domain/challenge/challenge/dto/challenge.dto.authorize.state.modification.ts
  src/domain/challenge/challenge/dto/challenge.dto.create.ts
  src/domain/challenge/challenge/dto/challenge.dto.delete.ts
  src/domain/challenge/challenge/dto/challenge.dto.event.ts
  src/domain/challenge/challenge/dto/challenge.dto.remove.lead.ts
  src/domain/challenge/challenge/dto/challenge.dto.update.ts
  src/domain/challenge/challenge/dto/index.ts
  src/domain/challenge/challenge/index.ts
  src/domain/challenge/ecoverse/ecoverse.dto.reset.authorization.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.mutations.ts
  src/domain/challenge/ecoverse/ecoverse.service.authorization.ts
  src/domain/collaboration/opportunity/opportunity.service.authorization.ts
  src/domain/common/authorization-definition/authorization.definition.service.ts
  src/domain/community/community/community.service.authorization.ts
  src/services/platform/ssi/agent/ssi.agent.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

return the rules on authorization defintion in a structured format
  src/domain/common/authorization-definition/authorization.definition.interface.ts
  src/domain/common/authorization-definition/authorization.definition.module.ts
  src/domain/common/authorization-definition/authorization.definition.resolver.fields.ts
  src/domain/common/authorization-definition/authorization.definition.service.ts
  src/domain/common/authorization-definition/authorization.rule.credential.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated email + phone fields to not be nullable on return type
  src/domain/community/user/user.resolver.fields.ts
  src/services/domain/search/search.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

expose ecoverseID on challenge result for search; filter challenge search result based on read access for current agent
  graphql-samples/queries/search/simple-search-challenges
  graphql-samples/queries/search/simple-search-filtered
  graphql-samples/queries/search/simple-search-scored
  src/domain/challenge/challenge/challenge.interface.ts
  src/services/domain/search/search.resolver.queries.ts
  src/services/domain/search/search.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated the templates / information for the account verification / recovery flows
  .build/ory/kratos/courier-templates/recovery/invalid/email.body.gotmpl
  .build/ory/kratos/courier-templates/recovery/invalid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/recovery/invalid/email.subject.gotmpl
  .build/ory/kratos/courier-templates/recovery/valid/email.body.gotmpl
  .build/ory/kratos/courier-templates/recovery/valid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/recovery/valid/email.subject.gotmpl
  .build/ory/kratos/courier-templates/verification/invalid/email.body.gotmpl
  .build/ory/kratos/courier-templates/verification/invalid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/verification/invalid/email.subject.gotmpl
  .build/ory/kratos/courier-templates/verification/valid/email.body.gotmpl
  .build/ory/kratos/courier-templates/verification/valid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/verification/valid/email.subject.gotmpl
  .build/ory/kratos/email-password/kratos.yml
Due: none

updated wording to use alternatively
  .build/ory/kratos/courier-templates/recovery/valid/email.body.gotmpl
  .build/ory/kratos/courier-templates/verification/valid/email.body.gotmpl
Due: none

verified path
  .build/ory/kratos/email-password/kratos.yml
Due: none

added more typing to room / group adapters; split agent service from agent-pool; updated tsconfig to not watch synapse directory for reloading; renamed user adapter module
  .vscode/launch.json
  quickstart-services.yml
  src/services/platform/communication/communication.module.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-group/matrix.group.adapter.module.ts
  src/services/platform/matrix/adapter-group/matrix.group.adapter.service.ts
  src/services/platform/matrix/adapter-group/matrix.group.dto.options.ts
  src/services/platform/matrix/adapter-group/matrix.group.dto.profile.options.ts
  src/services/platform/matrix/adapter-group/matrix.group.dto.result.ts
  src/services/platform/matrix/adapter-room/matrix.room.adapter.module.ts
  src/services/platform/matrix/adapter-room/matrix.room.adapter.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.dto.create.options.ts
  src/services/platform/matrix/adapter-room/matrix.room.dto.options.ts
  src/services/platform/matrix/adapter-room/matrix.room.dto.response.message.ts
  src/services/platform/matrix/adapter-room/matrix.room.dto.result.ts
  src/services/platform/matrix/adapter-user/matrix.user.adapter.module.ts
  src/services/platform/matrix/adapter-user/matrix.user.adapter.service.ts
  src/services/platform/matrix/adapter-user/matrix.user.dto.logged.in.response.ts
  src/services/platform/matrix/adapter-user/matrix.user.interface.ts
  src/services/platform/matrix/adapter/matrix.adapters.module.ts
  src/services/platform/matrix/agent-pool/index.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.module.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.ts
  src/services/platform/matrix/agent/matrix.agent.dto.message.request.community.ts
  src/services/platform/matrix/agent/matrix.agent.dto.message.request.direct.ts
  src/services/platform/matrix/agent/matrix.agent.dto.message.request.ts
  src/services/platform/matrix/agent/matrix.agent.interface.ts
  src/services/platform/matrix/agent/matrix.agent.module.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/agent/matrix.agent.ts
  src/services/platform/matrix/cryptography/matrix.cryptography.service.ts
  src/services/platform/matrix/events/matrix.event.adpater.room.ts
  src/services/platform/matrix/management/matrix.user.management.module.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
  src/services/platform/matrix/types/matrix.client.type.ts
  src/services/platform/matrix/types/matrix.response.message.type.ts
  src/services/platform/matrix/types/matrix.room.type.ts
  tsconfig.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

additional error handling
  src/common/enums/alkemio.error.status.ts
  src/common/exceptions/index.ts
  src/common/exceptions/matrix.entity.not.found.exception.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated matrix env vars; added logging check for misconfigured setup; renamed some files to be alkemio
  .build/synapse/alkemio.matrix.host.log.config
  .build/synapse/alkemio.matrix.host.signing.key
  .build/synapse/homeserver.yaml
  alkemio.yml
  quickstart-server.yml
  quickstart-services.yml
  src/services/platform/matrix/adapter-user/matrix.user.adapter.service.ts
  src/services/platform/matrix/cryptography/matrix.cryptography.service.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactored conversion of matrix room to communitication room result
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user/user.resolver.fields.ts
  src/services/platform/communication/communication.room.dto.result.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/communication/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed authorization check on tagset for ecoverse
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated to have simpler verification flow
  .build/ory/kratos/email-password/kratos.yml
Due: none

updated terms title
  .build/ory/kratos/email-password/identity.schema.json
Due: prettier --write

ecoverse-admin-grant fix on community
  src/domain/community/community/community.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated authentication logic to create a user profile if a valid session is presented for which no user profile exists
  package-lock.json
  package.json
  src/core/authentication/authentication.service.ts
  src/core/authentication/ory.api.strategy.ts
  src/core/authentication/ory.strategy.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added query to get the memberships for an organisation; renamed membership for user query
  graphql-samples/queries/membership
  package.json
  src/services/domain/membership/index.ts
  src/services/domain/membership/membership.dto.organisation.input.ts
  src/services/domain/membership/membership.dto.organisation.result.ts
  src/services/domain/membership/membership.dto.result.ts
  src/services/domain/membership/membership.dto.user.input.ts
  src/services/domain/membership/membership.dto.user.result.entry.ecoverse.ts
  src/services/domain/membership/membership.dto.user.result.entry.organisation.ts
  src/services/domain/membership/membership.dto.user.result.ts
  src/services/domain/membership/membership.resolver.queries.ts
  src/services/domain/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added generation of a default avatar URL to users
  src/core/authentication/authentication.service.ts
  src/domain/community/profile/profile.service.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed bug whereby tags were not being used on creation
  src/domain/challenge/base-challenge/base.challenge.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Allow login after registration
  .build/ory/kratos/email-password/kratos.yml
  package-lock.json
Due: prettier --write

api now returning correct types; simplified logic
  graphql-samples/mutations/message/message-community
  graphql-samples/mutations/message/message-user
  graphql-samples/mutations/message/simple-message
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user/user.resolver.fields.ts
  src/services/platform/communication/communication.room.dto.community.ts
  src/services/platform/communication/communication.room.dto.direct.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/communication/index.ts
  src/services/platform/matrix/adapter-group/matrix.group.adapter.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/types/matrix.client.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added second room type to community
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.interface.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed circular module link; tidied up some typing
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/user/user.module.ts
  src/migrations/1625586373249-community-rooms.ts
  src/services/platform/communication/communication.module.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-group/matrix.group.adapter.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.adapter.service.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/types/matrix.client.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added id to message events
  src/services/platform/communication/communication.dto.message.result.ts
  src/services/platform/communication/communication.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated the questions on ecoverse applications
  src/services/platform/configuration/templates/ux-template.json
Due: prettier --write

address issue whereby population was leaving challenges in a partial state
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added applications to membershipUser query
  src/domain/community/application/application.service.ts
  src/services/domain/membership/membership.dto.application.result.entry.ts
  src/services/domain/membership/membership.dto.user.result.ts
  src/services/domain/membership/membership.module.ts
  src/services/domain/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

remove read protection on agent for user so its role can be obtained
  src/domain/community/user/user.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed agent protection also on org
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/community/organisation/organisation.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Do not throw when user is already in group
  src/services/platform/matrix/adapter-group/matrix.group.adapter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

applications are now optional
  src/services/domain/membership/membership.dto.user.result.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
