Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

0.125.2
  package.json
Due: prettier --write

fixes
  src/domain/space/space/space.service.ts
  src/services/api/search/result/search.result.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Space Settings: Add new setting to allow guest contributions (#5558)
  schema.graphql
  specs/013-guest-contributions-policy/plan.md
  specs/013-guest-contributions-policy/spec.md
  specs/013-guest-contributions-policy/tasks.md
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.callouts.space.l0.tutorials.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.callouts.vc.knowledge.base.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.space.l0.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.subspace.ts
  src/domain/space/space.settings/dto/space.settings.collaboration.dto.create.ts
  src/domain/space/space.settings/dto/space.settings.collaboration.dto.update.ts
  src/domain/space/space.settings/space.settings.collaboration.interface.ts
  src/domain/space/space/sort.spaces.by.activity.spec.ts
  src/domain/space/space/space.service.spec.ts
  src/domain/space/space/space.service.ts
  src/migrations/1761926109272-addSettingAllowGuestContributions.ts
  src/services/api/roles/roles.service.spec.ts
  src/services/api/search/result/search.result.service.ts
  test/data/space.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds platform specification to OIDC service
  quickstart-services.yml
Due: none

comment on timeline notification spec
  specs/013-timeline-comment-notification/checklists/requirements.md
  specs/013-timeline-comment-notification/spec.md
Due: prettier --write

Dev stack: route /oidc/* directly to oidc-service; set Hydra URLS_LOGIN/CONSENT to /oidc; add dev defaults for OIDC_* vars. Remove legacy oidc rewrite.
  .build/traefik/http.yml
  .env.docker
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  specs/012-oidc-golang-service/quickstart.md
Due: prettier --write

spec plan of the timeline comment notification
  .github/copilot-instructions.md
  specs/013-timeline-comment-notification/contracts/graphql-schema.md
  specs/013-timeline-comment-notification/data-model.md
  specs/013-timeline-comment-notification/plan.md
  specs/013-timeline-comment-notification/quickstart.md
  specs/013-timeline-comment-notification/research.md
Due: prettier --write

spec tasks of the timeline comment notification
  specs/013-timeline-comment-notification/tasks-status.json
  specs/013-timeline-comment-notification/tasks.md
Due: prettier --write

Setting the APM agent log level to `trace` in order to get more details about the occasional `APM Server transport error (ECONNRESET): socket hang up #5127` (#5532)
  src/apm/apm.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

spec kit ++ implementation
  docs/Notifications.md
  schema.graphql
  specs/013-timeline-comment-notification/COMMIT_MESSAGE.md
  specs/013-timeline-comment-notification/IMPLEMENTATION_SUMMARY.md
  specs/013-timeline-comment-notification/PR_DESCRIPTION.md
  specs/013-timeline-comment-notification/tasks.md
  src/common/enums/notification.event.payload.ts
  src/common/enums/notification.event.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.comment.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.calendar.event.comment.resolver.fields.ts
  src/platform/in-app-notification-payload/in.app.notification.payload.interface.ts
  src/platform/in-app-notification-payload/in.app.notification.payload.module.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.community.calendar.event.comment.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
  src/services/infrastructure/entity-resolver/room.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix update of the communityCalendarEvents setting
  src/domain/community/user-settings/user.settings.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

spec for #8980
  specs/014-guest-contributions-privileges/checklists/requirements.md
  specs/014-guest-contributions-privileges/spec.md
Due: prettier --write

refactor: updated existing notification types to pass the new typing
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

clarify spec requirements
  specs/014-guest-contributions-privileges/spec.md
Due: prettier --write

pr fixes
  specs/013-timeline-comment-notification/IMPLEMENTATION_SUMMARY.md
  specs/013-timeline-comment-notification/contracts/graphql-schema.md
Due: prettier --write

fix: update OIDC service URLs and environment variables for consistency
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
Due: none

refactor: update in-app notification payload type for community application declined
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.application.declined.ts
  src/services/adapters/notification-adapter/notification.user.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: specify notification event payload type for community calendar event
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: remove unused fields from community calendar event notification payload
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactoring
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  schema-baseline.graphql
  schema.graphql
  specs/013-timeline-comment-notification/IMPLEMENTATION_SUMMARY.md
  specs/013-timeline-comment-notification/contracts/graphql-schema.md
  specs/013-timeline-comment-notification/data-model.md
  specs/013-timeline-comment-notification/quickstart.md
  specs/013-timeline-comment-notification/research.md
  specs/013-timeline-comment-notification/tasks.md
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.comment.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: add calendarEventID field and foreign key constraint to in-app notification
  src/platform/in-app-notification/in.app.notification.core.entity.ids.ts
  src/platform/in-app-notification/in.app.notification.entity.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: add calendarEventID field and foreign key constraint to in-app notification
  docs/notification-entity-fk-mapping.ods
  src/migrations/1760357366405-NotificationEntityTracking.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix the receiver logic + docs update
  specs/013-timeline-comment-notification/IMPLEMENTATION_SUMMARY.md
  specs/013-timeline-comment-notification/SCOPE_CHANGE.md
  specs/013-timeline-comment-notification/research.md
  specs/013-timeline-comment-notification/spec.md
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

plan added
  specs/014-guest-contributions-privileges/contracts/service-contracts.md
  specs/014-guest-contributions-privileges/data-model.md
  specs/014-guest-contributions-privileges/plan.md
  specs/014-guest-contributions-privileges/quickstart.md
  specs/014-guest-contributions-privileges/research.md
Due: prettier --write

pr fixes
  specs/013-timeline-comment-notification/BREAKING_CHANGE_createdBy.md
  specs/013-timeline-comment-notification/IMPLEMENTATION_SUMMARY.md
  specs/013-timeline-comment-notification/contracts/graphql-schema.md
  specs/013-timeline-comment-notification/quickstart.md
Due: prettier --write

add tasks; fix tasks; fix planning phase docs based on correct information
  specs/014-guest-contributions-privileges/data-model.md
  specs/014-guest-contributions-privileges/research.md
  specs/014-guest-contributions-privileges/tasks.md
Due: prettier --write

fix more docs - spec and service-contracts
  specs/014-guest-contributions-privileges/contracts/service-contracts.md
  specs/014-guest-contributions-privileges/spec.md
Due: prettier --write

lookup of space template url to resolve the hierarchy of template content spaces
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

implementation 1
  specs/014-guest-contributions-privileges/tasks.md
  src/common/enums/authorization.privilege.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.authorization.ts
  src/domain/collaboration/callout-framing/callout.framing.service.authorization.ts
  src/domain/collaboration/callout/callout.service.authorization.ts
  src/domain/collaboration/callouts-set/callouts.set.service.authorization.ts
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix implementation 1
  src/domain/collaboration/callouts-set/callouts.set.resolver.mutations.ts
  src/services/infrastructure/entity-resolver/room.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Remove exposed to graphql calendarEventID from notification payload class
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Remove calendarEventID field type and description
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.comment.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

latest notification-entity-fk-mapping.ods
  docs/notification-entity-fk-mapping.ods
Due: none

[Notification] Comment on calendar event (#5568)
  .github/copilot-instructions.md
  docs/Notifications.md
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  schema-baseline.graphql
  schema.graphql
  specs/013-timeline-comment-notification/BREAKING_CHANGE_createdBy.md
  specs/013-timeline-comment-notification/COMMIT_MESSAGE.md
  specs/013-timeline-comment-notification/IMPLEMENTATION_SUMMARY.md
  specs/013-timeline-comment-notification/PR_DESCRIPTION.md
  specs/013-timeline-comment-notification/SCOPE_CHANGE.md
  specs/013-timeline-comment-notification/checklists/requirements.md
  specs/013-timeline-comment-notification/contracts/graphql-schema.md
  specs/013-timeline-comment-notification/data-model.md
  specs/013-timeline-comment-notification/plan.md
  specs/013-timeline-comment-notification/quickstart.md
  specs/013-timeline-comment-notification/research.md
  specs/013-timeline-comment-notification/spec.md
  specs/013-timeline-comment-notification/tasks-status.json
  specs/013-timeline-comment-notification/tasks.md
  src/common/enums/notification.event.payload.ts
  src/common/enums/notification.event.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/domain/community/user-settings/user.settings.service.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.comment.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.calendar.event.comment.resolver.fields.ts
  src/platform/in-app-notification-payload/in.app.notification.payload.interface.ts
  src/platform/in-app-notification-payload/in.app.notification.payload.module.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.community.calendar.event.comment.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
  src/services/infrastructure/entity-resolver/room.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

chore: update schema baseline (#5571)
  schema-baseline.graphql
Due: none

memo as response type docs
  .github/copilot-instructions.md
  specs/001-memo-collection-contribution/checklists/requirements.md
  specs/001-memo-collection-contribution/contracts/memo-contribution.graphql.md
  specs/001-memo-collection-contribution/data-model.md
  specs/001-memo-collection-contribution/plan.md
  specs/001-memo-collection-contribution/quickstart.md
  specs/001-memo-collection-contribution/research.md
  specs/001-memo-collection-contribution/spec.md
  specs/001-memo-collection-contribution/tasks.md
Due: prettier --write

cleanup
  specs/014-guest-contributions-privileges/tasks.md
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: add messageID and roomID fields to community calendar event comment notification
  docs/notification-entity-fk-mapping.ods
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.comment.ts
  src/platform/in-app-notification/in.app.notification.service.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
