Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed loading of ecoverses after sorting
  src/domain/challenge/ecoverse/ecoverse.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added values for id field on NVP
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/services/domain/metadata/metadata.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactored to make the sorting order explicit + only use the IDs but minimise the db queries
  src/domain/challenge/ecoverse/ecoverse.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed exposure of canvas field on ecosystem model
  src/domain/context/ecosystem-model/ecosystem-model.module.ts
  src/domain/context/ecosystem-model/ecosystem-model.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

migration updated to not include schema name
  src/migrations/1629887578891-canvas.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Upgrade kratos to v.0.7.3
  .build/ory/kratos/email-password/kratos.yml
  package-lock.json
  quickstart-services.yml
Due: prettier --write

organisation fields expanded
  src/common/enums/organization.verification.ts
  src/config/typeorm.cli.config.ts
  src/domain/community/organisation/dto/organisation.dto.create.ts
  src/domain/community/organisation/dto/organisation.dto.update.ts
  src/domain/community/organisation/organisation.entity.ts
  src/domain/community/organisation/organisation.interface.ts
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

package-lock version updated
  package-lock.json
Due: prettier --write

revert typeorm config
  src/config/typeorm.cli.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updates + migration
  src/common/enums/organization.verification.ts
  src/domain/community/organisation/organisation.entity.ts
  src/domain/community/organisation/organisation.interface.ts
  src/domain/community/organisation/organisation.service.ts
  src/migrations/1630411899191-organisation-new-fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated graphql samples
  graphql-samples/mutations/create/create-organisation
  graphql-samples/mutations/update/update-organisation
Due: none

Clean up
  quickstart-services.yml
Due: none

added additional checks for org update
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added default values to the fields added check for unique displayName on update
  src/domain/community/organisation/organisation.entity.ts
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Rebranded cherrytwist to alkemio in code
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .github/workflows/build-deploy-k8s-test-aws.yml
  .github/workflows/build-deploy-k8s-test-azure.yml
  README.md
  docs/Design.md
  docs/diagrams/alkemio-server-layer-diagram.drawio
  docs/images/alkemio-server-design.png
  docs/images/alkemio-server-layer-diagram.png
  manifests/25-server-deployment-dev.yaml
  manifests/26-server-deployment-test.yaml
  manifests/30-server-service.yaml
Due: prettier --write

changed the initial qa user to be the same as the others dependency also in the tests
  src/services/platform/configuration/templates/authorisation-bootstrap.json
Due: prettier --write

[WIP] Adjust messaging to support subscriptions - fix room/group invitations - need to work on the matrix client sync state - message event is fired N times for some reason
  src/app.module.ts
  src/common/utils/connectionContext.utils.ts
  src/domain/community/user/user.resolver.subscriptions.ts
  src/services/platform/communication/communication.dto.message.received.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-group/matrix.group.adapter.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.adapter.service.ts
  src/services/platform/matrix/events/matrix.event.adpater.room.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

version bump
  package.json
Due: prettier --write

avoid error when an update keeps the same display name
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

invoke check on update properly; fix sample graphql
  graphql-samples/mutations/update/update-organisation
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added descriptions
  src/domain/community/user/user.resolver.subscriptions.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

prototype of working subscriptions with applications
  src/app.module.ts
  src/core/authorization/graphql.guard.ts
  src/domain/community/application/application.dto.received.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.resolver.subscriptions.ts
  src/services/platform/subscription/subscription.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

demonstrator using existing authentication / authorization for subscriptions
  src/app.module.ts
  src/common/utils/connectionContext.utils.ts
  src/domain/community/community/community.resolver.subscriptions.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added ecoverseID field in MembershipResultEntry
  src/services/domain/membership/membership.dto.result.entry.ts
  src/services/domain/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added authorization check around retrieving users matching a particular authorization query
  graphql-samples/queries/authorization/users-with-authorization-credential
  src/core/authorization/authorization.resolver.queries.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added auth to msg subs
  src/app.module.ts
  src/domain/community/user/user.resolver.subscriptions.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow RegisteredUsers to have READ access to Organisation members / groups, and also to communities on non-private ecoverse/challenge/opportunites
  src/domain/challenge/base-challenge/base.challenge.service.authorization.ts
  src/domain/challenge/ecoverse/ecoverse.service.authorization.ts
  src/domain/community/community/community.service.authorization.ts
  src/domain/community/organisation/organisation.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

reworked challenge result entry for orgs to not update the base class
  graphql-samples/queries/membership-organisation
  graphql-samples/queries/membership-user
  src/services/domain/membership/membership.dto.organisation.result.entry.challenge.ts
  src/services/domain/membership/membership.dto.organisation.result.ts
  src/services/domain/membership/membership.dto.result.entry.ts
  src/services/domain/membership/membership.dto.user.result.entry.ecoverse.ts
  src/services/domain/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

bump version
  package.json
Due: prettier --write

updated org membership sample
  graphql-samples/queries/membership-organisation
Due: none

Fix race condition during matrix state sync
  src/services/platform/matrix/agent/matrix.agent.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix nameID comparision to ignore case differences
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Expose community information - membership data now includes community info - communityId is stored on the matrix room-accountdata under the admin account - expose communityId through subscription
  src/domain/community/community/community.service.ts
  src/services/domain/membership/membership.dto.community.result.entry.ts
  src/services/domain/membership/membership.dto.user.result.entry.ecoverse.ts
  src/services/domain/membership/membership.dto.user.result.ts
  src/services/domain/membership/membership.service.ts
  src/services/platform/communication/communication.dto.message.received.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.adapter.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.dto.options.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/agent/matrix.agent.ts
  src/services/platform/matrix/events/matrix.event.adpater.room.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix room account data persistance
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.adapter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP RabbitMQ
  .vscode/launch.json
  alkemio.yml
  package-lock.json
  package.json
  quickstart-services.yml
  src/common/enums/configuration.type.ts
  src/common/enums/logging.context.ts
  src/domain/community/profile/profile.resolver.mutations.ts
  src/domain/community/user/user.resolver.queries.ts
  src/domain/community/user/user.resolver.subscriptions.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/agent/matrix.agent.ts
  src/services/platform/subscription/subscription.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

RabbitMQ traefik routing
  .build/traefik/http.yml
  .build/traefik/traefik.yml
  quickstart-services.yml
Due: none

Added RabbitMQ documentation
  alkemio.yml
Due: none

Cleanup
  src/domain/community/user/user.resolver.queries.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added configuration for routing to rabbitmq inside alkemio_dev_net
  quickstart-server.yml
Due: none

added question to ecoverses template
  src/services/platform/configuration/templates/ux-template.json
Due: prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
