Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP matrix fix
  src/domain/communication/communication/communication.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow global roles to be able to send messages to a discussion
  src/domain/communication/discussion/discussion.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added fields into entity / interface; updated migration to reflect naming
  src/domain/timeline/calendar/calendar.resolver.fields.ts
  src/domain/timeline/event/event.entity.ts
  src/domain/timeline/event/event.interface.ts
  src/domain/timeline/event/event.resolver.fields.ts
  src/migrations/1673901366302-timeline.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

functional path to creation of calendar events now working
  src/common/enums/logging.context.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/timeline/calendar/calendar.resolver.mutations.ts
  src/domain/timeline/calendar/calendar.service.authorization.ts
  src/domain/timeline/calendar/calendar.service.ts
  src/domain/timeline/calendar/dto/calendar.dto.create.event.ts
  src/domain/timeline/event/dto/event.dto.create.ts
  src/domain/timeline/event/dto/event.dto.update.ts
  src/domain/timeline/event/event.interface.ts
  src/domain/timeline/event/event.service.authorization.ts
  src/domain/timeline/timeline/timeline.module.ts
  src/domain/timeline/timeline/timeline.service.authorization.ts
  src/domain/timeline/timeline/timeline.service.ts
  src/migrations/1673901366302-timeline.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed log context used in timeline
  src/domain/timeline/calendar/calendar.service.ts
  src/domain/timeline/event/event.resolver.fields.ts
  src/domain/timeline/event/event.service.authorization.ts
  src/domain/timeline/event/event.service.ts
  src/domain/timeline/timeline/timeline.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

3 more fields with correct type
  src/migrations/1673621525114-schemaReview.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Latest kratos + linkedin branch
  quickstart-services.yml
Due: none

fix sample query
  graphql-samples/mutations/create/create-event-on-calendar
Due: none

Schema review migration to be the last executed one
  src/migrations/1673621525114-schemaReview.ts
  src/migrations/1674470019825-schemaReview.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed matrix regression
  src/migrations/1674470019825-schemaReview.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added retry & timeout logic for polling matrix on bootstrap
  alkemio.yml
  src/common/exceptions/communication/communication.timed.out.exception.ts
  src/common/exceptions/communication/index.ts
  src/core/bootstrap/bootstrap.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ensuring comm rooms done in parallel at bootstrap
  src/domain/communication/communication/communication.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed user_group issues
  src/migrations/1674470019825-schemaReview.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Latest kratos + linkedin branch (#2482)
  quickstart-services.yml
Due: none

DB Fixes (#2479)
  package-lock.json
  package.json
  src/domain/collaboration/aspect/aspect.entity.ts
  src/domain/collaboration/callout/callout.entity.ts
  src/domain/common/canvas-checkout/canvas.checkout.entity.ts
  src/domain/common/canvas/canvas.entity.ts
  src/domain/communication/discussion/discussion.entity.ts
  src/migrations/1674470019825-schemaReview.ts
  src/platform/activity/activity.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Create/Update Canvas Template on Callout (#2480)
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/callout/dto/callout.dto.update.canvasTemplate.ts
  src/domain/collaboration/callout/dto/callout.dto.update.ts
  src/domain/collaboration/collaboration/collaboration.defaults.ts
  src/domain/collaboration/collaboration/dto/collaboration.dto.create.callout.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Retryable & Timeoutable requests to Matrix PoC (#2484)
  alkemio.yml
  src/common/exceptions/communication/communication.timed.out.exception.ts
  src/common/exceptions/communication/index.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/communication/communication/communication.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Bypass allowed resetting empty templateInfo visual issue
  src/domain/template/template-info/template.info.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed blank canvas visual issue
  src/migrations/1673421162298-single-canvas-type-callouts.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated migration to be after big reset; update now takes up the values
  graphql-samples/mutations/update/update-event-on-calendar
  src/domain/timeline/event/event.entity.ts
  src/domain/timeline/event/event.resolver.mutations.ts
  src/domain/timeline/event/event.service.ts
  src/migrations/1674481366302-timeline.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added parameters to events field on calendar
  src/domain/timeline/calendar/calendar.interface.ts
  src/domain/timeline/calendar/calendar.resolver.fields.ts
  src/domain/timeline/calendar/calendar.service.ts
  src/domain/timeline/calendar/dto/calendar.args.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added check for uniqueness nameID
  src/domain/timeline/calendar/calendar.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added proper retrieval of communicationGroupID for the calendar
  src/domain/timeline/calendar/calendar.service.ts
  src/services/infrastructure/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added type as enumeration
  graphql-samples/mutations/create/create-event-on-calendar
  graphql-samples/mutations/update/update-event-on-calendar
  src/common/enums/calendar.event.type.ts
  src/domain/timeline/event/dto/event.dto.create.ts
  src/domain/timeline/event/dto/event.dto.update.ts
  src/domain/timeline/event/event.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

subscription to listen for calendar comments, not yet implemented but separated now from aspect comments
  src/common/enums/subscription.type.ts
  src/domain/timeline/event/event.resolver.subscriptions.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated to return startDate as Date; improved DTO validation to check Date format
  src/core/validation/handlers/base/base.handler.ts
  src/domain/timeline/event/dto/event.dto.create.ts
  src/domain/timeline/event/dto/event.dto.update.ts
  src/domain/timeline/event/event.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added missing FK
  src/migrations/1674481366302-timeline.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated sample queries to provide proper datetime
  graphql-samples/mutations/create/create-event-on-calendar
  graphql-samples/mutations/update/update-event-on-calendar
Due: none

Adding foreign key constraints
  src/migrations/1674481366302-timeline.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added in subscription for comment on calendar that is working; misc tidy ups
  graphql-samples/subscriptions/calendarEventMessageReceived
  src/domain/communication/comments/comments.resolver.mutations.ts
  src/domain/timeline/event/event.resolver.fields.ts
  src/domain/timeline/event/event.resolver.mutations.ts
  src/domain/timeline/event/event.service.ts
  src/services/infrastructure/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added optional for dto validation
  src/domain/timeline/event/dto/event.dto.create.ts
  src/domain/timeline/event/dto/event.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added in subscription for comment on calendar that is working; misc tidy ups (#2490)
  graphql-samples/subscriptions/calendarEventMessageReceived
  src/domain/communication/comments/comments.resolver.mutations.ts
  src/domain/timeline/event/event.resolver.fields.ts
  src/domain/timeline/event/event.resolver.mutations.ts
  src/domain/timeline/event/event.service.ts
  src/services/infrastructure/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

DB migration integrity fixes
  src/domain/timeline/event/event.resolver.fields.ts
  src/migrations/1674481366302-timeline.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed blank canvas visual issue (#2486)
  src/migrations/1673421162298-single-canvas-type-callouts.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed kratos container
  quickstart-services.yml
Due: none

Fixed kratos container (#2492)
  quickstart-services.yml
Due: none

Hub creation fix
  src/migrations/1674737339410-fix-timeline.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Version bump
  package-lock.json
  package.json
Due: prettier --write

Version bump (#2496)
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
