Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

moved back to a single mutation for invitations
  src/core/validation/handlers/base/base.handler.ts
  src/domain/access/role-set/dto/role.set.dto.entry.role.invite.ts
  src/domain/access/role-set/role.set.resolver.mutations.membership.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added logic for inviting tp parent role set for emails
  src/domain/access/role-set/role.set.resolver.mutations.membership.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed two issues
  src/domain/access/role-set/role.set.resolver.mutations.membership.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated matrix adapter version to not get room not deleted msg
  quickstart-services.yml
Due: none

address rabbit feedback
  src/domain/access/role-set/role.set.resolver.mutations.membership.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add license role to read about all spaces; explicitly grant read access to license for license admins + support
  src/domain/space/space/space.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Ensure account admins can read about all spaces in the account; new privilege for seeing license information; ensure license managers can read about all spaces
  src/common/enums/authorization.privilege.ts
  src/domain/space/space/space.resolver.fields.ts
  src/domain/space/space/space.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ensure account can be retrieved for L0
  src/domain/space/space/space.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds iframe allowed URL management
  src/platform/platform-settings/platform.settings.service.ts
  src/platform/platform/platform.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addd migration to create two new role definitions on platform level
  src/migrations/1744650765522-platformRoles.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added the credential definitions; allow platform managers to update platform settings including iframe whitelist
  src/common/enums/authorization.credential.ts
  src/platform/platform/platform.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added the two new roles to the role names enum
  src/common/enums/role.name.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Authorization: account admins; license managers (#5090)
  src/common/enums/authorization.privilege.ts
  src/domain/space/space/space.resolver.fields.ts
  src/domain/space/space/space.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

version 0.105.1
  package-lock.json
  package.json
Due: prettier --write

version 0.105.2
  package-lock.json
  package.json
Due: prettier --write

Update src/migrations/1744650765522-platformRoles.ts
  src/migrations/1744650765522-platformRoles.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Guards against uninitialized integration settings
  src/platform/platform-settings/platform.settings.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enhances iframe URL handling
  src/platform/platform-settings/platform.settings.service.ts
  src/platform/platform/platform.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds iframe allowed URL management (#5092)
  src/platform/platform-settings/platform.settings.service.ts
  src/platform/platform/platform.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Merge pull request #5094 from alkem-io/server-5014-platform-roles
  src/common/enums/authorization.credential.ts
  src/common/enums/role.name.ts
  src/migrations/1744650765522-platformRoles.ts
  src/platform/platform/platform.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Grants contribution privilege to link collections
  src/domain/collaboration/callout/callout.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Bumps version to 0.106.1
  package-lock.json
  package.json
Due: prettier --write

Wait for RabbitMQ to be healthy for some services to start
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

Wait for RabbitMQ to be healthy for some services to start (#5103)
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

removed decorators
  build1.ts
  package-lock.json
  package.json
Due: prettier --write

bulk update mutations for in-app notif state
  src/domain/in-app-notification-reader/in.app.notification.reader.ts
  src/domain/in-app-notification-reader/in.app.notification.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fixes
  src/domain/in-app-notification-reader/in.app.notification.reader.ts
  src/domain/in-app-notification-reader/in.app.notification.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Bulk update mutations for in-app notification state (#5104)
  src/domain/in-app-notification-reader/in.app.notification.reader.ts
  src/domain/in-app-notification-reader/in.app.notification.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Corrects invitation state check
  src/domain/access/role-set/role.set.resolver.mutations.membership.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Invitations api simplified (#5088)
  quickstart-services.yml
  src/common/enums/role.set.invitation.result.type.ts
  src/core/validation/handlers/base/base.handler.ts
  src/domain/access/invitation.platform/dto/platform.invitation.dto.create.ts
  src/domain/access/invitation.platform/dto/platform.invitations.dto.create.ts
  src/domain/access/invitation.platform/platform.invitation.service.ts
  src/domain/access/invitation/dto/invitation.dto.create.ts
  src/domain/access/invitation/invitation.entity.ts
  src/domain/access/role-set/dto/role.set.dto.entry.role.invite.ts
  src/domain/access/role-set/dto/role.set.dto.platform.invitation.community.ts
  src/domain/access/role-set/dto/role.set.invitation.result.ts
  src/domain/access/role-set/role.set.module.ts
  src/domain/access/role-set/role.set.resolver.mutations.membership.ts
  src/domain/access/role-set/role.set.resolver.mutations.ts
  src/domain/access/role-set/role.set.service.authorization.ts
  src/domain/access/role-set/role.set.service.ts
  src/domain/community/user-lookup/user.lookup.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

script improved readability
  build1.ts
Due: none

Adds unique constraints to entities
  src/domain/community/contributor/contributor.base.entity.ts
  src/domain/community/user/user.entity.ts
  src/migrations/1745504773410-uniqueFields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Ensures accountUpn is synchronized with email
  src/migrations/1745504773410-uniqueFields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add data integrity on nameID, email, upn (#5107)
  src/domain/community/contributor/contributor.base.entity.ts
  src/domain/community/user/user.entity.ts
  src/migrations/1745504773410-uniqueFields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Increments package version to 0.107.0
  package-lock.json
  package.json
Due: prettier --write

saving many tries
  build2.ts
  entity-lib-babel/.gitignore
  entity-lib-babel/babel.config.js
  entity-lib-babel/package-lock.json
  entity-lib-babel/package.json
  entity-lib-babel/tsconfig.json
  entity-library/.gitignore
  entity-library/build3.ts
  entity-library/package-lock.json
  entity-library/package.json
  entity-library/prepare-library.ts
  entity-library/tsconfig.json
  entity-library/tsup.config.ts
  package-lock.json
  package.json
  src/common/utils/convert-to-entity/convert.toentity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated activity types to merge opportunity and challenge creation
  src/common/enums/activity.event.type.ts
  src/services/adapters/activity-adapter/activity.adapter.ts
  src/services/api/activity-log/activity.log.builder.interface.ts
  src/services/api/activity-log/activity.log.builder.service.ts
  src/services/api/activity-log/dto/activity.log.dto.entry.subspace.created.ts
  src/services/api/activity-log/dto/activity.log.dto.entry.subsubspace.created.ts
  src/services/api/activity-log/dto/activity.log.entry.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added migration to convert existing activity entries
  src/migrations/1745836284795-activitySubspaceCreated.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

remove additional code related to opportunity created activity
  src/services/adapters/activity-adapter/activity.adapter.ts
  src/services/adapters/activity-adapter/dto/activity.dto.input.subsubspace.created.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
