Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

merge from develop after community updates branch was merged
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.resolver.subscriptions.ts
  src/domain/community/user/user.resolver.subscriptions.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

extended application result to give enough information to be able to determine the community type being applied to + containing hierarchy. WIP
  src/services/domain/membership/membership.dto.application.result.entry.ts
  src/services/domain/membership/membership.module.ts
  src/services/domain/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

exposed createdDate and updatedDate on application
  src/domain/community/application/application.entity.ts
  src/domain/community/application/application.interface.ts
  src/services/domain/membership/membership.dto.application.result.entry.ts
  src/services/domain/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Kratos 0.7.6 dependency
  package-lock.json
  package.json
  quickstart-services.yml
Due: prettier --write

Kratos 0.7.6 dependency
  .build/ory/kratos/email-password/kratos.yml
  package-lock.json
  package.json
  quickstart-services.yml
Due: prettier --write

application challengeID and opportunityID are now nullable
  src/services/domain/membership/membership.dto.application.result.entry.ts
  src/services/domain/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added flag for disabling subscriptions
  alkemio.yml
  src/services/platform/configuration/config/config.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added createdDate & updatedDate to application
  src/domain/community/application/application.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added question order to application questions
  src/domain/common/canvas/canvas.service.ts
  src/domain/common/nvp/nvp.dto.create.ts
  src/domain/common/nvp/nvp.entity.ts
  src/domain/common/nvp/nvp.interface.ts
  src/domain/community/application/application.interface.ts
  src/domain/community/application/application.resolver.fields.ts
  src/domain/community/application/application.service.ts
  src/migrations/1633155784833-application-sort.ts
  src/services/platform/configuration/config/template/question.template.entity.ts
  src/services/platform/configuration/templates/ux-template.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed application.user field to be required
  src/domain/community/application/application.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated sample for creating application
  graphql-samples/mutations/create/create-application
Due: none

updated community field on ecoverse to be able to take any community within the ecoverse via optional parameter
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

missed file
  src/domain/challenge/ecoverse/ecoverse.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added org owner update credential
  src/domain/community/organization/organization.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ensure user updates ignore case related to nameID
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

createdDate & updatedDate set to mandatory in base alkemio entity
  src/domain/common/entity/base-entity/base.alkemio.entity.ts
  src/domain/community/application/application.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated server deployment manifests to include RabbitMQ for Dev
  manifests/25-server-deployment-dev.yaml
Due: none

Version bump 0.14.1
  package-lock.json
  package.json
Due: prettier --write

Fixed ipfs version
  quickstart-services.yml
Due: none

Removed redundant script
  .scripts/run-tests.sh
  .travis.yml
Due: none

Npm fix version 7.5.6
  .travis.yml
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

matrix usernames to adhere to matrix policy; only filter out explicit expected error; explicit check to defend against invalid room id
  graphql-samples/mutations/update/remove-user-from-community
  src/services/platform/matrix/adapter-room/matrix.room.adapter.service.ts
  src/services/platform/matrix/adapter-user/matrix.user.adapter.service.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated rate limits in synapse config
  .build/synapse/homeserver.yaml
Due: none

addressed todo related to email symbols compatibility with matrix allows user ID symbols; bumped version
  package.json
  src/services/platform/matrix/adapter-user/matrix.user.adapter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added todo
  src/services/platform/matrix/adapter-user/matrix.user.adapter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactoring in progress to make communicationID part of User entity
  src/core/authentication/agent-info.ts
  src/core/authentication/authentication.service.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user/user.entity.ts
  src/domain/community/user/user.interface.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.service.ts
  src/migrations/1633976565716-communicationsID.ts
  src/services/platform/communication/communication.dto.delete.message.community.ts
  src/services/platform/communication/communication.dto.edit.message.community.ts
  src/services/platform/communication/communication.dto.message.received.ts
  src/services/platform/communication/communication.dto.message.result.ts
  src/services/platform/communication/communication.dto.send.message.community.ts
  src/services/platform/communication/communication.dto.send.message.user.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.adapter.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.ts
  src/services/platform/matrix/adapter-user/matrix.user.adapter.service.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.ts
  src/services/platform/matrix/agent/matrix.agent.dto.message.request.direct.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/events/matrix.event.adapter.room.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed usage of communicationID instead of email
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

bug fixes to have core flows working with domain model mgmt of communicationID
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user/user.interface.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.service.ts
  src/migrations/1633976565716-communicationsID.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-user/matrix.user.adapter.service.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated some parameter names as not emails
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

made a single call to add user to community rooms
  src/domain/community/community/community.service.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

trying to get profiling async working
  src/common/decorators/profiling.decorator.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removed AUTH_ENABLED and API_AUTH_ENABLED
  alkemio.yml
  src/core/authentication/ory.api.strategy.ts
  src/core/authorization/authorization.service.ts
  src/services/domain/data-management/data-management.controller.spec.ts
  src/services/domain/data-management/data-management.controller.ts
  src/services/domain/data-management/data-management.module.ts
  src/services/domain/data-management/data-management.service.spec.ts
  src/services/domain/data-management/data-management.service.ts
  src/services/domain/data-management/index.ts
  src/services/platform/configuration/config/config.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Reverted API_AUTH_ENABLED
  alkemio.yml
  src/core/authentication/ory.api.strategy.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated Docs
  .env.docker
  docs/QA.md
Due: prettier --write

add flag to User entity to allow it to be marked as a service account
  src/domain/community/user/dto/user.dto.update.ts
  src/domain/community/user/user.entity.ts
  src/domain/community/user/user.interface.ts
  src/domain/community/user/user.service.ts
  src/migrations/1634103839440-service-account.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed data mgmt module from app module; removed usage of auth enabled in auth service
  src/app.module.ts
  src/core/authorization/authorization.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed env var in docker compose no longer used
  quickstart-server.yml
Due: none

removed reference to data management service from docs
  docs/DataManagement.md
Due: prettier --write

Fix message subscriptions - minor refactoring to use matrixID instead of communicationID - user caching is done by communicationID instead of email
  src/common/enums/alkemio.error.status.ts
  src/common/exceptions/format.not.supported.exception.ts
  src/domain/community/user/user.resolver.subscriptions.ts
  src/domain/community/user/user.service.ts
  src/services/platform/communication/communication.dto.message.received.ts
  src/services/platform/communication/communication.dto.message.result.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-user/matrix.user.adapter.service.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/agent/matrix.agent.ts
  src/services/platform/matrix/events/matrix.event.adapter.room.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Npm build
  src/app.module.ts
  src/core/authorization/authorization.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
