Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Use strings instead of types for AuthenticationProviderConfigUnion
  src/common/enums/authentication.providers.ts
  src/common/enums/index.ts
  src/services/configuration/config/authentication/providers/authentication.provider.config.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update AUTH_SIMPLE_AUTH_TOKEN_ENDPOINT to include full url
  .env.simple.auth.provider.default
Due: none

addressed review feedback; some split into separate issue
  .env.docker
  Dockerfile
  docker-compose.yml
  docs/diagrams/ct-server-design.png
Due: none

updated instructions for development to remove need to delete server container
  docs/Developing.md
Due: prettier --write

removed PR template so that the default one from .github is picked up
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Return union type
  src/services/configuration/config/authentication/providers/authentication.provider.config.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added defaults for Simple Auth
  .env.oidc.default
  src/config/simple.auth.provider.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated barrel files to address circular module dependency
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/challenge/index.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/challenge/ecoverse/index.ts
  src/domain/challenge/opportunity/index.ts
  src/domain/challenge/opportunity/opportunity.resolver.fields.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/community/application/application.service.ts
  src/domain/community/application/index.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/index.ts
  src/domain/community/organisation/index.ts
  src/domain/community/profile/index.ts
  src/domain/community/user-group/index.ts
  src/domain/community/user/index.ts
  src/services/data-management/data-management.module.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tidy up of application module, rename files for consistency
  src/app.module.ts
  src/core/validation/constraints/index.ts
  src/domain/community/application/application.factory.module.ts
  src/domain/community/application/application.factory.service.ts
  src/domain/community/application/application.module.ts
  src/domain/community/application/application.service.ts
  src/domain/community/application/index.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.resolver.queries.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tidied up app.module.ts imports as large majority come from other modules that are imported
  src/app.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

made one-one relation bidirectional on community; address review feedback
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/ecoverse/ecoverse.entity.ts
  src/domain/challenge/opportunity/opportunity.entity.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user/memberof.composite.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

modules now loading; added community query; lots of other updates
  src/app.module.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.entity.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.queries.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/challenge/opportunity/opportunity.entity.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/community/application/application.entity.ts
  src/domain/community/application/application.module.ts
  src/domain/community/application/application.resolver.ts
  src/domain/community/application/application.service.ts
  src/domain/community/application/index.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user-group/user-group.resolver.queries.ts
  src/domain/community/user/user.resolver.spec.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed RestrictedGroupNames enum
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/community/community/community.service.ts
  src/domain/community/organisation/organisation.entity.ts
  src/domain/community/organisation/organisation.service.ts
  src/domain/community/user-group/user-group.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added top level ecoverse query
  src/domain/challenge/ecoverse/ecoverse.resolver.queries.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Ecoverse no longer the default entity to host platform wide access for other entities: moved queries to org / challenges, updated ecoverse resolvers to be multi-ecoverse aware
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.resolver.queries.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.entity.ts
  src/domain/challenge/ecoverse/ecoverse.module.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.mutations.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.queries.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/community/organisation/organisation.entity.ts
  src/domain/community/organisation/organisation.module.ts
  src/domain/community/organisation/organisation.resolver.mutations.ts
  src/domain/community/organisation/organisation.resolver.queries.ts
  src/domain/community/organisation/organisation.service.ts
  src/services/data-management/data-management.module.ts
  src/services/data-management/data-management.service.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed misc bugs from refactoring
  src/core/bootstrap/bootstrap.service.ts
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/ecoverse/ecoverse.entity.ts
  src/domain/challenge/ecoverse/ecoverse.module.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user-group/user-group.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added parentCommunity concept to validate hierarchical membership; updated memberOf to return communities; updated sample queries
  src/common/interfaces/communityable.interface.ts
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/community/community/community-parent.dto.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.interface.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user/memberof.composite.ts
  src/domain/community/user/user.service.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated graphql samples; updated version number
  graphql-samples/mutations/create/create-application
  graphql-samples/mutations/create/create-application-for-challenge
  graphql-samples/mutations/create/create-application-for-ecoverse
  graphql-samples/mutations/create/create-challenge
  graphql-samples/mutations/create/create-group
  graphql-samples/mutations/create/create-group-on-challenge
  graphql-samples/mutations/create/create-group-on-ecoverse
  graphql-samples/mutations/create/create-group-on-opportunity
  graphql-samples/mutations/update/add-user-to-challenge
  graphql-samples/mutations/update/add-user-to-community
  graphql-samples/mutations/update/add-user-to-opportunity
  package.json
Due: prettier --write

fixed setting of parent community relationship
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/community/community/community.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added UserNotRegisteredException
  src/common/enums/cherrytwist.error.status.ts
  src/common/exceptions/registration.exception.ts
  src/core/authorization/graphql.guard.ts
  src/domain/community/user/user.resolver.queries.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed typo
  src/common/exceptions/registration.exception.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed typo
  src/domain/community/user/user.resolver.queries.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

organisation entity groups fields is now returning the groups
  src/domain/community/organisation/organisation.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Created new init migration file and removed the old one
  src/config/typeorm.cli.config.ts
  src/migrations/1606214000200-init.ts
  src/migrations/1606986392031-IncreaseMaxLength.ts
  src/migrations/1608136134669-dropTemplates.ts
  src/migrations/1610401423621-text-fields-length.ts
  src/migrations/1612891551210-Applications.ts
  src/migrations/1615996769329-init.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added new secret with respect to pw changes
  .travis.yml
Due: none

Update to auth tests to work with latest commnuity changes
  test/non-functional/auth/anonymous-user.it-spec.ts
  test/non-functional/auth/community-admin-user.it-spec.ts
  test/non-functional/auth/create-mutations.ts
  test/non-functional/auth/ecoverse-admin-user.it-spec.ts
  test/non-functional/auth/ecoverse-member-user.it-spec.ts
  test/non-functional/auth/global-admin-user.it-spec.ts
  test/non-functional/auth/queries.ts
  test/non-functional/auth/update-mutations.ts
Due: none

Updated the correct secure
  .travis.yml
Due: none

update in .travis.yml
  .travis.yml
Due: none

Update in .travis.yml
  .travis.yml
Due: none

Update in travis config
  .travis.yml
Due: none

Update in escaping
  .travis.yml
Due: none

.travis.yml update
  .travis.yml
Due: none

moved community types enum to enum folder; created custom exception for application invalid state
  src/common/enums/cherrytwist.error.status.ts
  src/common/enums/community.types.ts
  src/common/exceptions/application.invalid.state.exception.ts
  src/common/exceptions/index.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update in app.modue - migration synchronize: false
  src/app.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
