Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix - saving repos for public methods
  src/domain/license/feature-flag/feature.flag.service.ts
  src/domain/license/license/license.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Version bump
  package-lock.json
  package.json
Due: prettier --write

ensure that feature flag to enable interaction with VCs is enabled for user hosted spaces; (#4047)
  package-lock.json
  package.json
  src/domain/license/feature-flag/dto/feature.flag.dto.update.ts
  src/domain/license/feature-flag/feature.flag.service.ts
  src/domain/license/license/dto/license.dto.create.ts
  src/domain/license/license/license.service.ts
  src/domain/space/account/account.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Increase max file size
  src/domain/storage/storage-bucket/storage.bucket.service.ts
  src/migrations/1717573360692-increasePdfSize.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix escaping
  src/migrations/1717573360692-increasePdfSize.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix file max size (#4049)
  src/domain/storage/storage-bucket/storage.bucket.service.ts
  src/migrations/1717573360692-increasePdfSize.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Use PLATFORM_ADMIN for ingestSpace mutation auth
  src/domain/space/account/account.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow root space admins to also create VCs
  src/domain/space/account/account.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow root space admins to also create VCs (#4051)
  src/domain/space/account/account.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

whiteboard collab through oathkeeper
  .build/ory/oathkeeper/access-rules.yml
  .build/traefik/http.yml
  quickstart-services.yml
  src/common/utils/get.session.ts
  src/core/authentication/authentication.service.ts
  src/services/whiteboard-integration/inputs/who.input.data.ts
  src/services/whiteboard-integration/whiteboard.integration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Alter auth check on to use AUTHORIZATION_RESET on account reset
  package-lock.json
  package.json
  src/domain/space/account/account.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add back in save account halfway
  src/domain/space/account/account.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed saving an account
  package-lock.json
  package.json
Due: prettier --write

wip
  .build/synapse/homeserver.yaml
  .env.docker
  src/services/api/search/dto/search.dto.input.ts
  src/services/api/search2/search.entity.types.ts
  src/services/api/search2/search.extract.service.ts
  src/services/api/search2/search.ingest/search.ingest.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

whiteboard image updated
  quickstart-services.yml
Due: none

latest docker images
  quickstart-services.yml
Due: none

allow creation of all contributor types without specifying the nameID
  src/domain/community/contributor/dto/contributor.dto.create.ts
  src/domain/community/organization/organization.service.ts
  src/domain/community/user/user.service.ts
  src/domain/community/virtual-contributor/virtual.contributor.module.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/services/infrastructure/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WhiteboardContent can be updated in UpdateCalloutFramingInput
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/collaboration/callout-framing/dto/callout.framing.dto.update.ts
  src/domain/template/callout-template/callout.template.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

module for admins to manage license plans assignment + revoking
  src/app.module.ts
  src/platform/admin/licensing/admin.licensing.module.ts
  src/platform/admin/licensing/admin.licensing.resolver.mutations.ts
  src/platform/admin/licensing/admin.licensing.service.ts
  src/platform/admin/licensing/dto/admin.licensing.dto.assign.license.plan.to.account.ts
  src/platform/admin/licensing/dto/admin.licensing.dto.revoke.license.plan.on.account.ts
  src/platform/licensing/licensing.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added assignment / removal of credentials
  src/domain/space/account/account.module.ts
  src/domain/space/account/account.service.ts
  src/platform/admin/licensing/admin.licensing.module.ts
  src/platform/admin/licensing/admin.licensing.resolver.mutations.ts
  src/platform/admin/licensing/admin.licensing.service.ts
  src/platform/admin/licensing/dto/admin.licensing.dto.revoke.license.plan.from.account.ts
  src/platform/license-issuer/license.issuer.module.ts
  src/platform/license-issuer/license.issuer.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow creation of all contributor types without specifying the nameID (#4058)
  src/domain/community/contributor/dto/contributor.dto.create.ts
  src/domain/community/organization/organization.service.ts
  src/domain/community/user/user.service.ts
  src/domain/community/virtual-contributor/virtual.contributor.module.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/services/infrastructure/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Merge pull request #4057 from alkem-io/authSaveAccount
  package-lock.json
  package.json
  src/domain/space/account/account.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Allow assigning / removing of license plans (#4060)
  src/app.module.ts
  src/domain/space/account/account.module.ts
  src/domain/space/account/account.service.ts
  src/platform/admin/licensing/admin.licensing.module.ts
  src/platform/admin/licensing/admin.licensing.resolver.mutations.ts
  src/platform/admin/licensing/admin.licensing.service.ts
  src/platform/admin/licensing/dto/admin.licensing.dto.assign.license.plan.to.account.ts
  src/platform/admin/licensing/dto/admin.licensing.dto.revoke.license.plan.from.account.ts
  src/platform/license-issuer/license.issuer.module.ts
  src/platform/license-issuer/license.issuer.service.ts
  src/platform/licensing/licensing.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix wrong log context
  src/common/enums/logging.context.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Auth (#4053)
  .build/ory/oathkeeper/access-rules.yml
  .build/traefik/http.yml
  quickstart-services.yml
  src/common/utils/get.session.ts
  src/core/authentication/authentication.service.ts
  src/services/file-integration/file.integration.service.ts
  src/services/file-integration/inputs/file.info.input.data.ts
  src/services/whiteboard-integration/inputs/who.input.data.ts
  src/services/whiteboard-integration/whiteboard.integration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip
  src/services/api/search/dto/search.result.dto.ts
  src/services/api/search/search.service.ts
  src/services/api/search2/search.ingest/search.ingest.service.ts
  src/services/api/search2/search.result.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WhiteboardContent can be updated in UpdateCalloutFramingInput (#4061)
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/collaboration/callout-framing/dto/callout.framing.dto.update.ts
  src/domain/template/callout-template/callout.template.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated image versions
  quickstart-services-ai.yml
Due: none

run space-ingest in network_mode: host so files can be downloaded
  quickstart-services.yml
Due: none

Contribution events updated (#4029)
  src/domain/community/community/community.service.events.ts
  src/domain/space/space/space.resolver.mutations.ts
  src/services/external/elasticsearch/contribution-reporter/contribution.reporter.service.ts
  src/services/external/elasticsearch/types/contribution.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

changed .env.docker
  .env.docker
  .gitignore
Due: none

changed .gitignore
  .gitignore
Due: none

Docker Compose v1 -> v2 (#4027)
  .env.docker
  package.json
  quickstart-services-ai.yml
Due: prettier --write

run space-ingest in network_mode: host so files can be downloaded (#4065)
  package.json
  quickstart-services-ai.yml
Due: prettier --write

ensure index existance
  src/platform/admin/search/admin.search.ingest.resolver.mutations.ts
  src/services/api/search2/search.ingest/search.ingest.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Auth more (#3990)
  src/core/bootstrap/bootstrap.service.ts
  src/domain/collaboration/collaboration/collaboration.service.authorization.ts
  src/domain/community/application/application.service.authorization.ts
  src/domain/community/community-guidelines/community.guidelines.service.authorization.ts
  src/domain/community/community/community.service.authorization.ts
  src/domain/community/user-group/user-group.service.authorization.ts
  src/domain/context/actor-group/actor-group.service.authorization.ts
  src/domain/context/context/context.service.authorization.ts
  src/domain/context/ecosystem-model/ecosystem-model.service.authorization.ts
  src/domain/space/account/account.resolver.mutations.ts
  src/domain/space/account/account.service.authorization.ts
  src/domain/space/space/space.resolver.mutations.ts
  src/domain/space/space/space.service.authorization.ts
  src/domain/timeline/calendar/calendar.service.authorization.ts
  src/library/innovation-pack/innovation.pack.service.authorization.ts
  src/library/innovation-pack/innovaton.pack.service.ts
  src/services/api/conversion/conversion.resolver.mutations.ts
  src/services/auth-reset/subscriber/auth-reset.controller.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

moved files around
  src/app.module.ts
  src/core/bootstrap/bootstrap.module.ts
  src/core/bootstrap/bootstrap.service.ts
  src/platform/admin/search/admin.search.ingest.module.ts
  src/platform/admin/search/admin.search.ingest.resolver.mutations.ts
  src/services/api/search/dto/index.ts
  src/services/api/search/index.ts
  src/services/api/search/search.entity.types.ts
  src/services/api/search/util/index.ts
  src/services/api/search/util/validate.search.parameters.ts
  src/services/api/search/v1/index.ts
  src/services/api/search/v1/search.module.ts
  src/services/api/search/v1/search.resolver.queries.ts
  src/services/api/search/v1/search.resolver.spec.ts
  src/services/api/search/v1/search.result.builder.interface.ts
  src/services/api/search/v1/search.result.builder.service.ts
  src/services/api/search/v1/search.service.ts
  src/services/api/search/v2/extract/build.search.query.ts
  src/services/api/search/v2/extract/function.score.functions.ts
  src/services/api/search/v2/extract/search.extract.service.ts
  src/services/api/search/v2/ingest/get.index.pattern.ts
  src/services/api/search/v2/ingest/index.ts
  src/services/api/search/v2/ingest/search.ingest.module.ts
  src/services/api/search/v2/ingest/search.ingest.service.spec.ts
  src/services/api/search/v2/ingest/search.ingest.service.ts
  src/services/api/search/v2/result/search.result.service.ts
  src/services/api/search/v2/search2.module.ts
  src/services/api/search/v2/search2.service.spec.ts
  src/services/api/search/v2/search2.service.ts
  test/mocks/search/search.extract.service.mock.ts
  test/mocks/search/search.ingest.service.mock.ts
  test/mocks/search/search.result.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

VC privileges for Account Host
  src/common/constants/authorization/credential.rule.constants.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.authorization.ts
  src/domain/space/account/account.host.module.ts
  src/domain/space/account/account.host.service.ts
  src/domain/space/account/account.module.ts
  src/domain/space/account/account.resolver.fields.ts
  src/domain/space/account/account.resolver.mutations.ts
  src/domain/space/account/account.service.authorization.ts
  src/domain/space/account/account.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
