Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

address review feedback
  src/domain/common/lifecycle/lifecycle.dto.event.ts
  src/domain/common/lifecycle/lifecycle.entity.ts
  src/domain/common/lifecycle/lifecycle.interface.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/community/community/community.lifecycle.options.provider.ts
  src/migrations/1617444979826-lifecycles.ts
  src/migrations/1617454528796-llifecycles2.ts
  src/migrations/1617516469975-lifecycle3.ts
  src/migrations/1618911977800-lifecycle-application.ts
  src/migrations/1618943966297-lifecycles.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated lifecycle tests to address failing build
  src/domain/common/lifecycle/lifecycle.resolver.fields.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed auth secret
  .env.demo.auth.provider.default
Due: none

Update avatar subscription
  src/app.module.ts
  src/domain/community/profile/profile.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added lifecycle support to Challenges
  graphql-samples/mutations/create/create-challenge
  graphql-samples/mutations/update/event-on-challenge
  package.json
  src/app.module.ts
  src/common/enums/challenge.lifecycle.templates.ts
  src/domain/challenge/challenge/challenge.dto.create.ts
  src/domain/challenge/challenge/challenge.dto.lifecycle.event.ts
  src/domain/challenge/challenge/challenge.dto.update.ts
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.interface.ts
  src/domain/challenge/challenge/challenge.lifecycle.config.default.ts
  src/domain/challenge/challenge/challenge.lifecycle.config.extended.ts
  src/domain/challenge/challenge/challenge.lifecycle.options.provider.ts
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/challenge/index.ts
  src/domain/common/lifecycle/lifecycle.resolver.fields.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/community/application/application.service.ts
  src/domain/community/community/community.service.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added deployment to AWS EKS with ECR
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .github/workflows/build-deploy-k8s-test-aws.yml
  .github/workflows/build-deploy-k8s-test-azure.yml
  .github/workflows/build-release-docker-hub.yml
  .github/workflows/docker-image-test.yml
  .github/workflows/docker-image.yml
  manifests/25-server-deployment.yaml
Due: none

Cleanup CI / CD
  .github/workflows/build-deploy-k8s-dev-azure.yml
  .github/workflows/build-deploy-k8s-test-aws.yml
  .github/workflows/build-deploy-k8s-test-azure.yml
  .github/workflows/build-release-docker-hub.yml
Due: none

Infra fix - CD to Dev
  .github/workflows/build-deploy-k8s-dev-azure.yml
  manifests/25-server-deployment-dev.yaml
  manifests/26-server-deployment-test.yaml
Due: none

Created test data sets for populator
  test/non-functional/performance/test-data-populator/2000users_30chal_30org_150_opp.ods
  test/non-functional/performance/test-data-populator/500users_10chal_10org_50_opp.ods
Due: none

added lifecycle to Opportunity
  graphql-samples/mutations/update/event-on-opportunity
  src/common/enums/opportunity.lifecycle.templates.ts
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/opportunity/index.ts
  src/domain/challenge/opportunity/opportunity.dto.create.ts
  src/domain/challenge/opportunity/opportunity.dto.lifecycle.event.ts
  src/domain/challenge/opportunity/opportunity.entity.ts
  src/domain/challenge/opportunity/opportunity.interface.ts
  src/domain/challenge/opportunity/opportunity.lifecycle.config.default.ts
  src/domain/challenge/opportunity/opportunity.lifecycle.config.extended.ts
  src/domain/challenge/opportunity/opportunity.lifecycle.options.provider.ts
  src/domain/challenge/opportunity/opportunity.module.ts
  src/domain/challenge/opportunity/opportunity.resolver.fields.ts
  src/domain/challenge/opportunity/opportunity.resolver.mutations.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added lifeycle to Project
  graphql-samples/mutations/create/create-project
  graphql-samples/mutations/update/event-on-project
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/collaboration/project/index.ts
  src/domain/collaboration/project/project.dto.create.ts
  src/domain/collaboration/project/project.dto.lifecycle.event.ts
  src/domain/collaboration/project/project.dto.update.ts
  src/domain/collaboration/project/project.entity.ts
  src/domain/collaboration/project/project.interface.ts
  src/domain/collaboration/project/project.lifecycle.config.default.ts
  src/domain/collaboration/project/project.lifecycle.options.provider.ts
  src/domain/collaboration/project/project.module.ts
  src/domain/collaboration/project/project.resolver.fields.ts
  src/domain/collaboration/project/project.resolver.mutations.ts
  src/domain/collaboration/project/project.service.ts
  src/domain/common/index.ts
  src/domain/common/lifecycle/index.ts
  src/domain/common/lifecycle/lifecycle.resolver.fields.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added migration; delete lifecycle when parent is deleted
  src/app.module.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/collaboration/project/project.service.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/migrations/1619068369831-lifecycle-challenges.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates to "auth" tests
  test/non-functional/auth/create-mutations.ts
  test/non-functional/auth/queries.ts
Due: none

Updates yo "api/integration" tests
  test/functional/integration/challenge/challenge.request.params.ts
  test/functional/integration/challenge/flows-challenge.it-spec.ts
  test/functional/integration/challenge/query-challenge-data.it-spec.ts
  test/functional/integration/context/context.it-spec.ts
  test/functional/integration/opportunity/opportunity.request.params.ts
  test/functional/integration/project/project.request.params.ts
Due: none

address bug on create application input
  src/domain/community/application/application.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update foreign key user group - organisation which was blocking org from being deleted
  graphql-samples/mutations/create/create-organisation
  graphql-samples/mutations/delete/delete-organisation
  src/domain/community/user-group/user-group.entity.ts
  src/migrations/1619156059936-org-usergroup-delete.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

return the machine definition as JSON for the client to display
  package-lock.json
  package.json
  src/domain/common/lifecycle/lifecycle.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

renamed events related to lifecycles
  graphql-samples/mutations/update/event-on-application
  graphql-samples/mutations/update/event-on-challenge
  graphql-samples/mutations/update/event-on-opportunity
  graphql-samples/mutations/update/event-on-project
  src/domain/challenge/challenge/challenge.dto.event.ts
  src/domain/challenge/challenge/challenge.lifecycle.options.provider.ts
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/challenge/index.ts
  src/domain/challenge/opportunity/index.ts
  src/domain/challenge/opportunity/opportunity.dto.event.ts
  src/domain/challenge/opportunity/opportunity.lifecycle.options.provider.ts
  src/domain/challenge/opportunity/opportunity.resolver.mutations.ts
  src/domain/collaboration/project/index.ts
  src/domain/collaboration/project/project.dto.event.ts
  src/domain/collaboration/project/project.lifecycle.options.provider.ts
  src/domain/collaboration/project/project.resolver.mutations.ts
  src/domain/community/application/application.dto.event.ts
  src/domain/community/application/index.ts
  src/domain/community/community/community.lifecycle.options.provider.ts
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

start at the server framework for integrating communications
  src/domain/community/user/index.ts
  src/domain/community/user/user.dto.send.msg.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.resolver.fields.ts
  src/services/communication/communication.dto.message.result.ts
  src/services/communication/communication.dto.room.result.ts
  src/services/communication/communication.dto.send.msg.ts
  src/services/communication/communication.module.ts
  src/services/communication/communication.service.ts
  src/services/communication/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Implement messaging sending
  src/app.module.ts
  src/domain/community/message/message.module.ts
  src/domain/community/message/message.resolver.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Synapse hacks
  .env.docker
  .scripts/bootstrap_synapse.sh
  docker-compose.yml
  docs/Running.md
Due: prettier --write

redid usergroup-org delete migration
  src/migrations/1619246820130-usergroup-org-delete.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Integrate matrix-js-sdk - introduce matrix communications, registration and cryptography
  package-lock.json
  package.json
  src/app.module.ts
  src/common/interfaces/disposable.interface.ts
  src/config/matrix.client.config.ts
  src/config/typeorm.cli.config.ts
  src/services/communication/communication.module.ts
  src/services/communication/communication.service.ts
  src/services/configuration/config/index.ts
  src/services/configuration/config/matrix/index.ts
  src/services/configuration/config/matrix/matrix.provider.config.entity.ts
  src/services/configuration/config/matrix/matrix.provider.config.interface.ts
  src/services/matrix/communication/communication.elevated.matrix.service.ts
  src/services/matrix/communication/communication.matrix.interface.ts
  src/services/matrix/communication/communication.matrix.module.ts
  src/services/matrix/communication/communication.matrix.pool.ts
  src/services/matrix/communication/communication.matrix.service.ts
  src/services/matrix/communication/group/group.communication.matrix.adapter.ts
  src/services/matrix/communication/group/group.communication.matrix.interface.ts
  src/services/matrix/communication/room/room.communication.matrix.adapter.ts
  src/services/matrix/communication/room/room.communication.matrix.interface.ts
  src/services/matrix/cryptography/cryptography.matrix.interface.ts
  src/services/matrix/cryptography/cryptography.matrix.module.ts
  src/services/matrix/cryptography/cryptography.matrix.service.ts
  src/services/matrix/user/user.matrix.interface.ts
  src/services/matrix/user/user.matrix.module.ts
  src/services/matrix/user/user.matrix.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Dependency fix
  package-lock.json
  src/domain/community/user/user.resolver.fields.ts
  src/services/communication/communication.service.ts
  src/services/communication/index.ts
  src/services/matrix/communication/communication.matrix.pool.ts
  src/services/matrix/communication/communication.matrix.service.ts
  src/services/matrix/user/user.matrix.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix relative namespaces in matrix directory
  src/services/matrix/communication/communication.matrix.pool.ts
  src/services/matrix/communication/communication.matrix.service.ts
  src/services/matrix/cryptography/cryptography.matrix.service.ts
  src/services/matrix/user/user.matrix.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add matrix config globally
  src/app.module.ts
  src/config/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated docker volume path
  .scripts/bootstrap_synapse.sh
Due: none

Wire up room retrieval - auto register in matrix if email is not recognized
  src/domain/community/user/user.resolver.fields.ts
  src/services/communication/communication.dto.message.result.ts
  src/services/communication/communication.dto.room.result.ts
  src/services/communication/communication.service.ts
  src/services/matrix/communication/communication.matrix.pool.ts
  src/services/matrix/user/user.matrix.interface.ts
  src/services/matrix/user/user.matrix.module.ts
  src/services/matrix/user/user.matrix.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

YAML config WIP
  .env.default
  nest-cli.json
  package-lock.json
  package.json
  src/app.module.ts
  src/config/config.yml
  src/config/configuration.ts
  src/config/ipfs.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added "lifecycle" tests
  src/domain/challenge/challenge/challenge.lifecycle.config.default.ts
  src/domain/challenge/challenge/challenge.lifecycle.config.extended.ts
  src/domain/challenge/opportunity/opportunity.lifecycle.config.default.ts
  src/domain/challenge/opportunity/opportunity.lifecycle.config.extended.ts
  src/domain/collaboration/project/project.lifecycle.config.default.ts
  test/functional/e2e/user-management/application/application.e2e-spec.ts
  test/functional/e2e/user-management/application/application.request.params.ts
  test/functional/integration/challenge/challenge.request.params.ts
  test/functional/integration/lifecycle/lifecycle.it-spec.ts
  test/functional/integration/lifecycle/lifecycle.request.params.ts
  test/functional/integration/opportunity/opportunity.request.params.ts
  test/functional/integration/project/project.request.params.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added mkdir
  .scripts/bootstrap_synapse.sh
Due: none

Cleanup
  test/functional/integration/lifecycle/lifecycle.it-spec.ts
Due: none

Add send message mutations to user
  src/domain/community/user/user.resolver.mutations.ts
  src/services/communication/communication.dto.send.msg.ts
  src/services/communication/communication.service.ts
  src/services/matrix/communication/communication.matrix.interface.ts
  src/services/matrix/communication/communication.matrix.service.ts
  src/services/matrix/communication/matrix.types.ts
  src/services/matrix/user/user.matrix.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added cascading updates with checks for references and tagsets to Profile + Context
  graphql-samples/mutations/update/update-challenge
  graphql-samples/mutations/update/update-reference
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/common/reference/reference.service.ts
  src/domain/common/tagset/tagset.service.ts
  src/domain/community/organisation/organisation.service.ts
  src/domain/community/profile/profile.dto.update.ts
  src/domain/community/profile/profile.service.ts
  src/domain/community/user-group/user-group.service.ts
  src/domain/community/user/user.service.ts
  src/domain/context/context/context.dto.update.ts
  src/domain/context/context/context.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Wire up matrix direct messaging - add mutation for messaging - add room/group auto-accept
  graphql-samples/mutations/message/simple-message
  src/services/communication/communication.dto.message.result.ts
  src/services/communication/communication.dto.room.result.ts
  src/services/communication/communication.dto.send.msg.ts
  src/services/communication/communication.service.ts
  src/services/matrix/communication/communication.event.dispatcher.ts
  src/services/matrix/communication/communication.matrix.interface.ts
  src/services/matrix/communication/communication.matrix.pool.client.ts
  src/services/matrix/communication/communication.matrix.pool.elevated.client.ts
  src/services/matrix/communication/communication.matrix.pool.ts
  src/services/matrix/communication/events/group.events.communication.matrix.ts
  src/services/matrix/communication/events/room.events.communication.matrix.ts
  src/services/matrix/communication/matrix.types.ts
  src/services/matrix/user/user.matrix.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

YAML Config WIP
  cherrytwist.yml
  package-lock.json
  package.json
  src/config/configuration.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

More config parameters moved to YAML
  .env.ci.default
  .env.demo.auth.provider.default
  .env.logging.default
  cherrytwist.yml
  src/app.module.ts
  src/config/aad.obo.config.ts
  src/config/configuration.ts
  src/config/database.config.ts
  src/config/demo.auth.provider.config.ts
  src/config/index.ts
  src/config/ipfs.config.ts
  src/config/logging.config.ts
  src/config/ms-graph.config.ts
  src/config/service.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Minor fixes
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Moved ROPC config to YAML
  cherrytwist.yml
  src/app.module.ts
  src/config/aad.ropc.config.ts
  src/config/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated default cherrytwist.yml
  cherrytwist.yml
Due: none

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
