Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

refactored to inject the options via mutation at community entity
  package-lock.json
  src/common/enums/lifecycle.actions.types.ts
  src/domain/common/lifecycle/lifecycle.module.ts
  src/domain/common/lifecycle/lifecycle.resolver.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/community/application/application.lifecycle.ts
  src/domain/community/community/community.lifecycle.application.options.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add 'non ecoverse user' tests
  src/services/configuration/templates/authorisation-bootstrap.json
  src/services/data-management/test-data.service.ts
  test/functional/e2e/user-management/update-user.e2e-spec.ts
  test/functional/e2e/user-management/user.request.params.ts
  test/non-functional/auth/create-mutations.ts
  test/non-functional/auth/non-ecoverse-user.it-spec.ts
  test/non-functional/auth/update-mutations.ts
  test/utils/token.helper.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add "createApplication" tests
  src/domain/community/application/application.service.ts
  src/domain/community/community/community.resolver.mutations.ts
  test/functional/e2e/user-management/application/application.e2e-spec.ts
  test/functional/e2e/user-management/application/application.request.params.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated user and user group creation to use Input DTOs
  src/domain/community/organisation/organisation.service.ts
  src/domain/community/profile/profile.service.ts
  src/domain/community/user-group/user-group.dto.create.ts
  src/domain/community/user-group/user-group.service.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

adjusted group creation to take a DTO
  graphql-samples/mutations/create/create-group
  graphql-samples/mutations/create/create-group-on-community
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/community/organisation/organisation.resolver.mutations.ts
  src/domain/community/organisation/organisation.service.ts
  src/domain/community/user-group/user-group.dto.create.ts
  src/domain/community/user-group/user-group.service.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add mutation uploadAvatar
  src/domain/community/profile/profile.module.ts
  src/domain/community/profile/profile.resolver.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed typo
  graphql-samples/mutations/update/update-user-group
Due: none

reworked how tags are updated
  graphql-samples/mutations/update/add-tag-to-tagset
  graphql-samples/mutations/update/replace-tags-on-tagset
  graphql-samples/mutations/update/update-tagset
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/common/reference/reference.module.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/common/reference/reference.resolver.spec.ts
  src/domain/common/tagset/tagset.dto.update.ts
  src/domain/common/tagset/tagset.module.ts
  src/domain/common/tagset/tagset.resolver.mutations.ts
  src/domain/common/tagset/tagset.resolver.spec.ts
  src/domain/common/tagset/tagset.resolver.ts
  src/domain/common/tagset/tagset.service.ts
  src/domain/community/profile/profile.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

all remove mutations now take a DTO
  graphql-samples/mutations/remove/remove-actor
  graphql-samples/mutations/remove/remove-actor-group
  graphql-samples/mutations/remove/remove-application
  graphql-samples/mutations/remove/remove-aspect
  graphql-samples/mutations/remove/remove-challenge
  graphql-samples/mutations/remove/remove-user
  graphql-samples/mutations/remove/remove-user-group
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/opportunity/opportunity.resolver.mutations.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/collaboration/project/project.resolver.mutations.ts
  src/domain/collaboration/project/project.service.ts
  src/domain/collaboration/relation/relation.module.ts
  src/domain/collaboration/relation/relation.resolver.mutations.ts
  src/domain/collaboration/relation/relation.resolver.spec.ts
  src/domain/collaboration/relation/relation.service.ts
  src/domain/common/entity.dto.remove.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/common/reference/reference.service.ts
  src/domain/common/tagset/tagset.service.ts
  src/domain/community/application/application.service.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/community/organisation/organisation.resolver.mutations.ts
  src/domain/community/organisation/organisation.service.ts
  src/domain/community/profile/profile.resolver.mutations.ts
  src/domain/community/profile/profile.service.ts
  src/domain/community/user-group/user-group.resolver.mutations.ts
  src/domain/community/user-group/user-group.service.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.service.ts
  src/domain/context/actor-group/actor-group.resolver.mutations.ts
  src/domain/context/actor-group/actor-group.service.ts
  src/domain/context/actor/actor.resolver.mutations.ts
  src/domain/context/actor/actor.service.ts
  src/domain/context/aspect/aspect.resolver.mutations.ts
  src/domain/context/aspect/aspect.service.ts
  src/domain/context/context/context.service.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added updateMembershipInput DTO for assigning parent / child relationships
  graphql-samples/mutations/update/add-user-to-community
  graphql-samples/mutations/update/add-user-to-group
  graphql-samples/mutations/update/asign-group-focal-point
  graphql-samples/mutations/update/remove-user-from-community copy
  graphql-samples/mutations/update/remove-user-from-group
  src/domain/common/entity.dto.update.membership.ts
  src/domain/common/index.ts
  src/domain/community/application/application.service.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user-group/user-group.resolver.mutations.ts
  src/domain/community/user-group/user-group.service.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Upload avatar + docker compose
  .env.docker
  README.md
  docker-compose.yml
  docs/Developing.md
  package-lock.json
  package.json
  src/common/utils/file.util.ts
  src/common/utils/image.util.ts
  src/common/utils/index.ts
  src/domain/community/profile/profile.resolver.ts
  src/domain/community/profile/profile.service.ts
  src/services/ipfs/ipfs.module.ts
  src/services/ipfs/ipfs.resolver.spec.ts
  src/services/ipfs/ipfs.resolver.ts
  src/services/ipfs/ipfs.service.ts
  uploads/README.md
  uploads/hello-cherrytwist.txt
  uploads/sample/default.txt
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addressed issue with looking up a group by ID
  src/domain/community/user-group/user-group.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed PR feedback
  .env.demo.auth.provider.default
  docker-compose.yml
  src/config/ipfs.config.ts
  src/domain/community/profile/profile.service.ts
  src/services/ipfs/ipfs.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed updates to references
  graphql-samples/mutations/update/update-challenge
  src/domain/common/reference/reference.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed ID from context update DTO
  src/domain/context/context/context.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Version update
  package.json
Due: prettier --write

updated validation on DTO for reference and tagset, and opportunity
  graphql-samples/mutations/create/create-user
  src/domain/challenge/opportunity/opportunity.dto.create.ts
  src/domain/common/reference/reference.dto.create.ts
  src/domain/common/tagset/tagset.dto.create.ts
  src/domain/community/profile/profile.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

bumped version number
  package.json
Due: prettier --write

Update dependency introducing vulnerabilities
  package-lock.json
Due: prettier --write

Updates "challenge" tests
  test/functional/integration/challenge/challenge.request.params.ts
  test/functional/integration/challenge/create-challenge.it-spec.ts
Due: none

Updates "opportunity" tests
  test/functional/integration/opportunity/opportunity.it-spec.ts
  test/functional/integration/opportunity/opportunity.request.params.ts
Due: none

Updates "group" tests
  test/functional/integration/group/group.request.params.ts
  test/functional/integration/group/groups.it-spec.ts
  test/functional/integration/organisation/organisation.request.params.ts
Due: none

Updates "actor group" tests
  test/functional/integration/actor-groups/actor-groups.it-spec.ts
  test/functional/integration/actor-groups/actor-groups.request.params.ts
Due: none

Updates "actor" tests
  test/functional/integration/actor/actor.it-spec.ts
  test/functional/integration/actor/actor.request.params.ts
Due: none

Updates "aspect" tests
  test/functional/integration/aspect/aspect-on-opportunity.it-spec.ts
  test/functional/integration/aspect/aspect-on-project.it-spec.ts
  test/functional/integration/aspect/aspect.request.params.ts
Due: none

Updates "challenge" tests
  test/functional/integration/challenge/flows-challenge.it-spec.ts
  test/functional/integration/challenge/query-challenge-data.it-spec.ts
Due: none

Updates "relation" tests
  test/functional/integration/relations/relations.it-spec.ts
  test/functional/integration/relations/relations.request.params.ts
Due: none

Updates "context" tests
  test/functional/integration/context/context.it-spec.ts
Due: none

Updates the test helpers
  test/functional/integration/community/community.request.params.ts
  test/functional/integration/project/project.request.params.ts
  test/functional/integration/references/references.request.params.ts
Due: none

Mutations fixes
  graphql-samples/mutations/create/create-actor-group
  graphql-samples/mutations/create/create-group-on-community
Due: none

Fixes to "flow-challenge" test suite
  test/functional/integration/challenge/challenge.request.params.ts
  test/functional/integration/challenge/flows-challenge.it-spec.ts
Due: none

some steps in the direction of full multiple ecoverse support
  graphql-samples/mutations/create/create-challenge
  graphql-samples/mutations/create/create-opportunity
  graphql-samples/mutations/update/update-ecoverse
  src/core/bootstrap/bootstrap.service.ts
  src/domain/challenge/challenge/challenge.dto.create.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.dto.update.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.queries.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/common/reference/reference.dto.create.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed redundant isOptional() decorators; adjusted DTO validation + inputs
  graphql-samples/mutations/create/create-challenge
  graphql-samples/mutations/create/create-opportunity
  src/domain/challenge/challenge/challenge.dto.create.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.dto.update.ts
  src/domain/common/reference/reference.dto.create.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed unused parent args
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

missed file on previous commit
  src/domain/challenge/ecoverse/ecoverse.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added mutation and support for multiple ecoverses
  graphql-samples/mutations/create/create-ecoverse
  src/core/bootstrap/bootstrap.service.ts
  src/core/validation/constraints/unique.text.id.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.dto.create.ts
  src/domain/challenge/ecoverse/ecoverse.entity.ts
  src/domain/challenge/ecoverse/ecoverse.interface.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.mutations.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/challenge/ecoverse/index.ts
  src/domain/community/organisation/organisation.dto.create.ts
  src/migrations/1618062730527-ecoverseTxtID.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
