Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

robust wb save, third try
  src/services/external/excalidraw-backend/excalidraw.server.ts
  src/services/external/excalidraw-backend/types/event.names.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

robust wb save, 4th try
  src/services/external/excalidraw-backend/excalidraw.server.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixes
  quickstart-services.yml
  src/migrations/1705618345186-schemaSetup.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

robust wb save, 5th try
  src/services/external/excalidraw-backend/excalidraw.server.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

robust wb save, 6th try
  src/services/external/excalidraw-backend/excalidraw.server.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

robust wb save, 7th try
  alkemio.yml
  src/services/external/excalidraw-backend/excalidraw.server.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

robust wb save, 7th try
  src/services/external/excalidraw-backend/excalidraw.server.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

robust wb save, 8th try
  src/services/external/excalidraw-backend/excalidraw.server.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

old comments and code removed
  src/services/external/excalidraw-backend/excalidraw.server.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Timers deleted on room globally deleted (#3573)
  alkemio.yml
  src/services/external/excalidraw-backend/excalidraw.server.ts
  src/services/external/excalidraw-backend/types/event.names.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

mariadb --> mysql
  .build/traefik/http.yml
  .build/traefik/traefik.yml
  .env.docker
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

Additional config to init databases + configure STRICT sql mode
  .scripts/schema.sql
  quickstart-services.yml
Due: none

MariaDB --> MySQL (#3578)
  .build/traefik/http.yml
  .build/traefik/traefik.yml
  .env.docker
  .scripts/schema.sql
  package-lock.json
  package.json
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  src/migrations/1705618345186-schemaSetup.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removed wallet-manager usage
  package-lock.json
  package.json
  quickstart-services.yml
  quickstart-wallet-manager.yml
Due: prettier --write

Removed wallet-manager usage (#3579)
  package-lock.json
  package.json
  quickstart-services.yml
  quickstart-wallet-manager.yml
Due: prettier --write

proper sql modes
  .scripts/schema.sql
Due: none

Remove the restriction to see only non-finalized applications
  src/services/api/roles/roles.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

proper sql modes (#3581)
  .scripts/schema.sql
Due: none

wip
  package-lock.json
  package.json
  src/services/external/excalidraw-automerge/adapters/adapter.event.names.ts
  src/services/external/excalidraw-automerge/adapters/amqp/excalidraw.amqp.server.factory.provider.ts
  src/services/external/excalidraw-automerge/adapters/amqp/handlers.ts
  src/services/external/excalidraw-automerge/adapters/amqp/index.ts
  src/services/external/excalidraw-automerge/adapters/redis/excalidraw.redis.server.factory.provider.ts
  src/services/external/excalidraw-automerge/adapters/redis/index.ts
  src/services/external/excalidraw-automerge/excalidraw.server.module.ts
  src/services/external/excalidraw-automerge/excalidraw.server.ts
  src/services/external/excalidraw-automerge/index.ts
  src/services/external/excalidraw-automerge/middlewares/attach.agent.middleware.ts
  src/services/external/excalidraw-automerge/middlewares/attach.session.middleware.ts
  src/services/external/excalidraw-automerge/middlewares/check.session.middleware.ts
  src/services/external/excalidraw-automerge/middlewares/index.ts
  src/services/external/excalidraw-automerge/middlewares/middleware.handler.type.ts
  src/services/external/excalidraw-automerge/middlewares/socket.data.init.middleware.ts
  src/services/external/excalidraw-automerge/types/event.names.ts
  src/services/external/excalidraw-automerge/types/index.ts
  src/services/external/excalidraw-automerge/types/socket.data.ts
  src/services/external/excalidraw-automerge/types/socket.io.server.ts
  src/services/external/excalidraw-automerge/types/socket.io.socket.ts
  src/services/external/excalidraw-automerge/utils/check.session.ts
  src/services/external/excalidraw-automerge/utils/get.excalidraw.base.server.ts
  src/services/external/excalidraw-automerge/utils/handlers.ts
  src/services/external/excalidraw-automerge/utils/index.ts
  src/services/external/excalidraw-automerge/utils/util.ts
  src/services/external/excalidraw-automerge/utils/validate.session.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip re fixing links on contributions
  src/common/constants/authorization/credential.rule.constants.ts
  src/domain/collaboration/callout-contribution/callout.contribution.module.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.authorization.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.ts
  src/domain/collaboration/callout-contribution/dto/callout.contribution.dto.create.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/common/profile/dto/profile.dto.create.reference.ts
  src/domain/common/reference/dto/reference.dto.create.ts
  src/domain/common/reference/dto/reference.dto.delete.ts
  src/domain/common/reference/dto/reference.dto.update.ts
  src/domain/common/reference/index.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/common/reference/reference.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added prototype migration
  src/migrations/1707155838075-linkProfile.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix authorization propagation.
  src/domain/collaboration/callout-contribution/callout.contribution.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Restore backups
  .scripts/backups/restore_latest_backup.sh
  .scripts/backups/restore_latest_backup_set.sh
Due: none

Restore backups (#3585)
  .scripts/backups/restore_latest_backup.sh
  .scripts/backups/restore_latest_backup_set.sh
Due: none

Remove obsolete test.
  src/services/api/roles/roles.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Links on contributions to not depend on References under profile (#3584)
  src/common/constants/authorization/credential.rule.constants.ts
  src/domain/collaboration/callout-contribution/callout.contribution.module.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.authorization.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.ts
  src/domain/collaboration/callout-contribution/dto/callout.contribution.dto.create.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/common/profile/dto/profile.dto.create.reference.ts
  src/domain/common/reference/dto/reference.dto.create.ts
  src/domain/common/reference/dto/reference.dto.delete.ts
  src/domain/common/reference/dto/reference.dto.update.ts
  src/domain/common/reference/index.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/common/reference/reference.service.ts
  src/migrations/1707155838075-linkProfile.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial pass at creating a challenge using with default callouts picked from another challenge
  src/core/validation/handlers/base/base.handler.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/challenge/dto/challenge.dto.create.ts
  src/domain/challenge/space/dto/space.dto.create.challenge.ts
  src/domain/challenge/space/space.resolver.mutations.ts
  src/domain/challenge/space/space.service.ts
  src/domain/collaboration/callout-contribution-defaults/callout.contribution.defaults.service.ts
  src/domain/collaboration/callout-contribution-policy/callout.contribution.policy.service.ts
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
  src/domain/common/location/location.service.ts
  src/domain/common/profile/profile.service.ts
  src/domain/common/reference/reference.service.ts
  src/domain/common/tagset/tagset.service.ts
  src/domain/common/whiteboard-rt/whiteboard.rt.service.ts
  src/domain/common/whiteboard/whiteboard.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow creating also opportunity from a specified opportunity to copy
  .vscode/settings.json
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/space/space.resolver.mutations.ts
  src/domain/collaboration/opportunity/dto/opportunity.dto.create.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ensure data is loaded to clone from
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Remove the restriction to see only non-finalized applications (#3582)
  src/services/api/roles/roles.service.spec.ts
  src/services/api/roles/roles.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

first pass at Link module / entity
  src/common/enums/profile.type.ts
  src/domain/collaboration/link/dto/index.ts
  src/domain/collaboration/link/dto/link.dto.create.ts
  src/domain/collaboration/link/dto/link.dto.update.ts
  src/domain/collaboration/link/link.entity.ts
  src/domain/collaboration/link/link.interface.ts
  src/domain/collaboration/link/link.module.ts
  src/domain/collaboration/link/link.resolver.fields.ts
  src/domain/collaboration/link/link.service.authorization.ts
  src/domain/collaboration/link/link.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated contribution to use Link entity
  src/domain/collaboration/callout-contribution/callout.contribution.entity.ts
  src/domain/collaboration/callout-contribution/callout.contribution.interface.ts
  src/domain/collaboration/callout-contribution/callout.contribution.module.ts
  src/domain/collaboration/callout-contribution/callout.contribution.resolver.fields.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.authorization.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.ts
  src/domain/collaboration/callout-contribution/dto/callout.contribution.dto.create.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix compile errors
  src/core/validation/handlers/base/base.handler.ts
  src/domain/collaboration/callout-contribution/callout.contribution.resolver.fields.ts
  src/domain/collaboration/callout-contribution/dto/callout.contribution.dto.create.ts
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/services/adapters/activity-adapter/activity.adapter.ts
  src/services/adapters/activity-adapter/dto/activity.dto.input.callout.link.created.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

started migration
  src/migrations/1707304590364-linkEntity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add some logging to the server
  src/services/external/excalidraw-backend/excalidraw.server.ts
  src/services/external/excalidraw-backend/utils/handlers.ts
  src/services/external/excalidraw-backend/utils/util.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Creation of challenge / opportunity using another challenge / opportunity as a template for callouts (#3590)
  .vscode/settings.json
  src/core/validation/handlers/base/base.handler.ts
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/challenge/dto/challenge.dto.create.ts
  src/domain/challenge/space/dto/space.dto.create.challenge.ts
  src/domain/challenge/space/space.resolver.mutations.ts
  src/domain/challenge/space/space.service.ts
  src/domain/collaboration/callout-contribution-defaults/callout.contribution.defaults.service.ts
  src/domain/collaboration/callout-contribution-policy/callout.contribution.policy.service.ts
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
  src/domain/collaboration/opportunity/dto/opportunity.dto.create.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/domain/common/location/location.service.ts
  src/domain/common/profile/profile.service.ts
  src/domain/common/reference/reference.service.ts
  src/domain/common/tagset/tagset.service.ts
  src/domain/common/whiteboard-rt/whiteboard.rt.service.ts
  src/domain/common/whiteboard/whiteboard.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

workflow changed on push
  .github/workflows/build-deploy-k8s-dev-azure.yml
Due: none

more prototype logic for migration
  src/migrations/1707304590364-linkEntity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Excalidraw: properly waiting for a socket to be authorized
  src/services/external/excalidraw-backend/excalidraw.server.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
