Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

split org updates into regular admin updates + platform admin updates
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/domain/community/organization/dto/organization.dto.update.platform.settings.ts
  src/domain/community/organization/organization.resolver.mutations.ts
  src/domain/community/organization/organization.service.authorization.ts
  src/domain/community/organization/organization.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed typo
  src/domain/community/organization/dto/organization.dto.update.platform.settings.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed typo
  src/domain/community/organization/organization.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix defaults typings
  src/domain/space/space.defaults/definitions/challenge/space.defaults.callouts.challenge.ts
  src/domain/space/space.defaults/definitions/oppportunity/space.defaults.callouts.opportunity.ts
  src/domain/space/space.defaults/definitions/root-space/space.defaults.callouts.root.space.ts
  src/domain/space/space.defaults/definitions/virtual-contributor/space.defaults.callouts.virtual.contributor.ts
  src/domain/space/space.defaults/dto/space.defaults.dto.create.callout.input.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Admin gets COMMUNITY_ADD_MEMBER_VC_FROM_ACCOUNT (#4082)
  src/common/constants/authorization/policy.rule.constants.ts
  src/domain/community/community/community.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

Release - auth fix (#4085)
  package-lock.json
  package.json
  src/common/constants/authorization/policy.rule.constants.ts
  src/domain/community/community/community.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Release - auth fix (#4085)
  package-lock.json
  package.json
Due: prettier --write

switch to using tagsets on framing to set flow state properly
  src/domain/space/space.defaults/definitions/virtual-contributor/space.defaults.callouts.virtual.contributor.ts
  src/domain/space/space.defaults/definitions/virtual-contributor/space.defaults.innovation.flow.virtual.contributor.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added flow states to all callouts
  src/domain/space/space.defaults/definitions/challenge/space.defaults.callouts.challenge.ts
  src/domain/space/space.defaults/definitions/challenge/space.defaults.innovation.flow.challenge.ts
  src/domain/space/space.defaults/definitions/oppportunity/space.defaults.callouts.opportunity.ts
  src/domain/space/space.defaults/definitions/oppportunity/space.defaults.innovation.flow.opportunity.ts
  src/domain/space/space.defaults/definitions/root-space/space.defaults.callouts.root.space.ts
  src/domain/space/space.defaults/definitions/root-space/space.defaults.innovation.flow.root.space.ts
  src/domain/space/space.defaults/definitions/virtual-contributor/space.defaults.innovation.flow.virtual.contributor.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added blank slate space template; wired up other types
  src/common/enums/space.type.ts
  src/domain/space/space.defaults/definitions/blank-slate/space.defaults.callout.groups.blank.slate.ts
  src/domain/space/space.defaults/definitions/blank-slate/space.defaults.callouts.blank.slate.ts
  src/domain/space/space.defaults/definitions/blank-slate/space.defaults.innovation.flow.blank.slate.ts
  src/domain/space/space.defaults/definitions/blank-slate/space.defaults.settings.blank.slate.ts
  src/domain/space/space.defaults/definitions/root-space/space.defaults.innovation.flow.root.space.ts
  src/domain/space/space.defaults/definitions/root-space/space.defaults.settings.root.space.ts
  src/domain/space/space.defaults/definitions/virtual-contributor/space.defaults.callouts.virtual.contributor.ts
  src/domain/space/space.defaults/definitions/virtual-contributor/space.defaults.innovation.flow.virtual.contributor.ts
  src/domain/space/space.defaults/dto/space.defaults.dto.create.callout.input.ts
  src/domain/space/space.defaults/space.defaults.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

address feesback; fix auth rule names on VC
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/domain/community/organization/organization.service.authorization.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add line to .env.docker
  .env.docker
Due: none

Revert homeserver.yaml
  .build/synapse/homeserver.yaml
  .gitignore
Due: none

updated org auth for global support (#4080)
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/domain/community/organization/organization.service.authorization.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Major version bump
  package-lock.json
  package.json
Due: prettier --write

wip
  alkemio.yml
  src/services/external/wingback/wingback.module.ts
  src/services/external/wingback/wingback.service.spec.ts
  src/services/external/wingback/wingback.service.ts
  src/types/alkemio.config.ts
  src/types/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Moved organization platform admin under platform
  src/domain/community/organization/organization.resolver.mutations.ts
  src/domain/community/organization/organization.service.ts
  src/platform/settings/dto/organization.dto.update.platform.settings.ts
  src/platform/settings/platform.settings.module.ts
  src/platform/settings/platform.settings.resolver.mutations.ts
  src/platform/settings/platform.settings.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

split org updates into regular admin updates + platform admin updates (#4084)
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/domain/community/organization/organization.service.authorization.ts
  src/domain/community/organization/organization.service.ts
  src/platform/settings/dto/organization.dto.update.platform.settings.ts
  src/platform/settings/platform.settings.module.ts
  src/platform/settings/platform.settings.resolver.mutations.ts
  src/platform/settings/platform.settings.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Grant COMMUNITY_ADD_MEMBER to Support role
  src/domain/community/community/community.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Grant COMMUNITY_ADD_MEMBER to Support role (#4087)
  src/domain/community/community/community.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

post ingestion fixed
  src/services/api/search/v2/ingest/search.ingest.service.ts
  src/services/task/task.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial pass at making invitations generic for contributors to community
  src/domain/community/community/community.lifecycle.invitation.options.provider.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/community/contributor/contributor.service.ts
  src/domain/community/invitation/dto/invitation.dto.create.ts
  src/domain/community/invitation/invitation.entity.ts
  src/domain/community/invitation/invitation.interface.ts
  src/domain/community/invitation/invitation.module.ts
  src/domain/community/invitation/invitation.resolver.fields.ts
  src/domain/community/invitation/invitation.service.authorization.ts
  src/domain/community/invitation/invitation.service.ts
  src/domain/space/space/space.service.ts
  src/migrations/1718174556242-invitationContributor.ts
  src/services/api/registration/registration.service.ts
  src/services/api/roles/roles.service.ts
  test/mocks/invitation.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated mutation interface; set contributor type internal to invitation service
  src/core/validation/handlers/base/base.handler.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/community/community/dto/community.dto.invite.contributor.ts
  src/domain/community/contributor/contributor.interface.ts
  src/domain/community/contributor/contributor.service.ts
  src/domain/community/invitation/dto/invitation.dto.create.ts
  src/domain/community/invitation/invitation.service.ts
  src/services/api/registration/registration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

version bump
  package-lock.json
  package.json
Due: prettier --write

Fixed missing save on update account platform settings
  src/domain/space/account/account.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Post ingestion fixed (#4090)
  package-lock.json
  package.json
  src/services/api/search/v2/ingest/search.ingest.service.ts
  src/services/task/task.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

extend allowed DocumentMimeTypes rework a bit how those are used adds migrations for backfill add purpose to ingest space mutation
  quickstart-services-ai.yml
  src/common/enums/mime.file.type.document.ts
  src/common/enums/mime.file.type.ts
  src/domain/space/account/account.resolver.mutations.ts
  src/domain/space/space/dto/space.dto.ingest.ts
  src/domain/storage/document/document.entity.ts
  src/domain/storage/storage-bucket/storage.bucket.service.ts
  src/services/infrastructure/event-bus/commands/ingest.space.command.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

adds the migrations
  src/migrations/1717750717135-extendMimeTypes.ts
  src/migrations/1717751497484-updateDocumentMimeTypeLength.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

revert mistakenly commited disabled ingest container
  quickstart-services-ai.yml
Due: none

Auth (#4053)
  .build/ory/oathkeeper/access-rules.yml
  .build/traefik/http.yml
  quickstart-services.yml
  src/common/utils/get.session.ts
  src/core/authentication/authentication.service.ts
  src/services/file-integration/file.integration.service.ts
  src/services/file-integration/inputs/file.info.input.data.ts
  src/services/whiteboard-integration/inputs/who.input.data.ts
  src/services/whiteboard-integration/whiteboard.integration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update IngestionPurpose enum to follow the conventions
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/services/infrastructure/event-bus/commands/ingest.space.command.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cleanup unneded constant
  src/domain/storage/storage-bucket/storage.bucket.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

auth for public files
  src/services/file-integration/file.integration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
