Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Normalizes markdown scalar serialization
  src/domain/common/scalars/scalar.markdown.spec.ts
  src/domain/common/scalars/scalar.markdown.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates dependencies and normalizes Markdown scalar
  package.json
  src/domain/common/scalars/scalar.markdown.spec.ts
  src/domain/common/scalars/scalar.markdown.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

remove type when creating conversation
  src/domain/communication/conversation/conversation.service.authorization.ts
  src/domain/communication/conversation/dto/conversation.dto.create.ts
  src/domain/communication/messaging/messaging.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addressing PR feedback after discussion
  src/domain/communication/communication/communication.module.ts
  src/domain/communication/conversation/conversation.entity.ts
  src/domain/communication/conversation/conversation.interface.ts
  src/domain/communication/messaging/messaging.interface.ts
  src/domain/communication/messaging/messaging.resolver.mutations.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/communication/room-mentions/room.mentions.service.ts
  src/domain/communication/room/room.resolver.fields.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/vc-interaction/vc.interaction.interface.ts
  src/domain/communication/vc-interaction/vc.interaction.module.ts
  src/domain/communication/vc-interaction/vc.interaction.service.ts
  src/platform/platform/platform.entity.ts
  src/platform/platform/platform.interface.ts
  src/services/adapters/communication-adapter/communication.adapter.event.service.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.module.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
  src/services/event-handlers/internal/message-inbox/message.received.event.ts
  src/services/event-handlers/internal/message-inbox/reaction.added.event.ts
  src/services/event-handlers/internal/message-inbox/reaction.removed.event.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed back one-one relation
  src/domain/communication/messaging/messaging.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed old vars from .env.docker; fixed description in Markdown scalar
  .env.docker
  src/domain/common/scalars/scalar.markdown.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

bumped the matrix adapter lib version
  package.json
Due: prettier --write

bumped the matrix adapter version
  pnpm-lock.yaml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

fix typing
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Bump matrix-adapter-lib dependency to v0.8.2
  package.json
  pnpm-lock.yaml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: update RabbitSubscribe parameters for communication events
  src/services/adapters/communication-adapter/communication.adapter.event.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add data migrations for conversations
  src/migrations/1764590889000-userIdentityCleanup.ts
  src/migrations/1764897584127-conversationArchitectureRefactor.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds database-specific backup paths
  .scripts/backups/restore_latest_backup.sh
  .scripts/backups/utils/manage_database.sh
Due: none

Adds CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: prettier --write

Adds devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer-full-stack.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: prettier --write

Adds OIDC service and matrix adapter
  .devcontainer/docker-compose.yml
Due: none

Configures authentication services in dev environment
  .devcontainer/docker-compose.yml
Due: none

YOLO mode
  .devcontainer/Dockerfile
  .devcontainer/devcontainer-full-stack.json
  .devcontainer/devcontainer.json
Due: prettier --write

Updated container registry
  manifests/26-server-migration.yaml
Due: none

Updated container registry
  manifests/25-server-deployment-dev.yaml
Due: none

Updated container registry
  manifests/25-server-deployment-dev.yaml
  manifests/26-server-migration.yaml
Due: none

Adds database-specific backup paths (#5717)
  .scripts/backups/restore_latest_backup.sh
  .scripts/backups/utils/manage_database.sh
Due: none

Update docs/Design.md
  docs/Design.md
Due: prettier --write

Migrates to PostgreSQL and removes MySQL support (#5710)
  .github/copilot-instructions.md
  .scripts/backups/.env.sample
  .scripts/migrations/mysql-to-postgres-transform.sh
  .scripts/migrations/postgres-convergence/README.md
  .scripts/migrations/postgres-convergence/export_alkemio_mysql_to_csv.sh
  .scripts/migrations/postgres-convergence/export_kratos_mysql_to_csv.sh
  .scripts/migrations/postgres-convergence/import_csv_to_postgres_alkemio.sh
  .scripts/migrations/postgres-convergence/import_csv_to_postgres_kratos.sh
  .scripts/migrations/postgres-convergence/log_migration_run.sh
  .scripts/schema.sql
  alkemio.yml
  docs/Design.md
  docs/Developing.md
  docs/QA.md
  docs/Running.md
  package.json
  pnpm-lock.yaml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  src/app.module.ts
  src/common/utils/compression.util.ts
  src/config/fix.uuid.column.type.ts
  src/config/typeorm.cli.config.run.ts
  src/config/typeorm.cli.config.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.authorization.ts
  src/domain/template/template/template.service.ts
  src/library/postgres-convergence/csvTransform.ts
  src/schema-bootstrap/stubs/db.stub.ts
  src/types/alkemio.config.ts
  test/unit/library/postgres-convergence/csvTransform.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: update appservice sender and adapter URL defaults; improve DM room creation logic
  .build/synapse/matrix-adapter.yaml
  .build/synapse/modules/alkemio_room_control.py
Due: none

remove scripts not used
  package.json
Due: prettier --write

Refactors deprecation lifecycle tests
  src/tools/schema/__tests__/lifecycle-window.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update package.json
  package.json
Due: prettier --write

remove db scripts not used (#5719)
  package.json
Due: prettier --write

Configures devcontainer for consistent environment
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer-full-stack.json
  .devcontainer/docker-compose.yml
  .vscode/settings.json
Due: prettier --write

Updates devcontainer configurations
  .devcontainer/README.md
  .devcontainer/devcontainer-minimal.json
Due: prettier --write

Update .devcontainer/devcontainer-minimal.json
  .devcontainer/devcontainer-minimal.json
Due: prettier --write

Dev Containers (#5718)
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer-minimal.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .vscode/settings.json
Due: prettier --write

Updates devcontainer and removes test file
  .devcontainer/Dockerfile
  src/library/postgres-convergence/csvTransform.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

memo bullets parsing
  src/domain/common/memo/conversion/yjs.state.to.markdown.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fix
  src/domain/common/memo/conversion/yjs.state.to.markdown.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Memo bullets parsing (#5722)
  src/domain/common/memo/conversion/yjs.state.to.markdown.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update migration job configuration for PostgreSQL support
  manifests/26-server-migration.yaml
Due: none
