Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fix
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

VC BoK ID optional (#5450)
  src/domain/community/virtual-contributor/virtual.contributor.entity.ts
  src/domain/community/virtual-contributor/virtual.contributor.interface.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.120.0
  package-lock.json
  package.json
Due: prettier --write

Contributions count by type
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/callout/dto/callout.contributions.count.dto.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update the notification version to the quickstart services
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

update expert prompt graph
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
Due: prettier --write

revert mistakenly commited change since the expert engine is not ready for it
  src/services/ai-server/ai-persona-engine-adapter/dto/ai.persona.engine.adapter.dto.invocation.input.ts
  src/services/ai-server/ai-persona/ai.persona.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

delete deafult CG
  src/migrations/1759497165260-removeDefaultCommunityGuidelinesCopy.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update message required field update personaServiceID to personaID in engine invokation input
  src/services/ai-server/ai-persona-engine-adapter/dto/ai.persona.engine.adapter.dto.invocation.input.ts
  src/services/ai-server/ai-persona/ai.persona.service.ts
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Merge pull request #5454 from alkem-io/revert-persona-service-id-rename-in-adapter-input
  src/services/ai-server/ai-persona-engine-adapter/dto/ai.persona.engine.adapter.dto.invocation.input.ts
  src/services/ai-server/ai-persona/ai.persona.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.120.1
  package-lock.json
  package.json
Due: prettier --write

update the notification version to the quickstart services (#5453)
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

specify setup with consistution
  .github/prompts/analyze.prompt.md
  .github/prompts/clarify.prompt.md
  .github/prompts/constitution.prompt.md
  .github/prompts/implement.prompt.md
  .github/prompts/plan.prompt.md
  .github/prompts/specify.prompt.md
  .github/prompts/tasks.prompt.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: prettier --write

clarified open points
  .github/copilot-instructions.md
  specs/001-create-a-new/externalServiceInterface.md
  specs/001-create-a-new/spec.md
Due: prettier --write

added interaction diagram
  specs/001-create-a-new/diagrams/conversion-sequence.mmd
  specs/001-create-a-new/diagrams/interaction-diagram.md
Due: prettier --write

partial update
  package-lock.json
  package.json
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/adapters/communication-adapter/dto/communication.dto.add.reaction.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

partial updates
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/adapters/communication-adapter/dto/communication.dto.remove.reaction.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

compiling with refreshed matrix adapter api
  src/domain/communication/communication/communication.service.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/communication/room/room.service.ts
  src/domain/community/user/user.service.ts
  src/platform-admin/domain/communication/admin.communication.service.ts
  src/platform/forum/forum.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/api/chat-guidance/chat.guidance.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Ensures template authorization inheritance
  src/domain/template/templates-set/templates.set.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Simplifies mock search ingest service
  test/mocks/search/search.ingest.service.mock.ts
Due: none

Considers templates always readable
  src/domain/collaboration/callout/callout.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Sort contributions serverside and remove a where clause that was not correct
  src/domain/collaboration/callout/callout.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix ingest messages structure update chroma version fix expert graph JSON conversation description
  quickstart-services-ai.yml
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
  src/services/infrastructure/event-bus/handlers/ingest.website.result.handler.ts
  src/services/infrastructure/event-bus/messages/ingest.body.of.knowledge.command.ts
  src/services/infrastructure/event-bus/messages/ingest.website.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

clean up community leads sender template
  src/common/enums/notification.event.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

clean up community leads sender template (#5464)
  src/common/enums/notification.event.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.120.2
  package-lock.json
  package.json
Due: prettier --write

add body of knowledge id as default to invoking guidance engine be able to ingest the guidance engine body of knowledge
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/services/api/chat-guidance/chat.guidance.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Deleted default community guidelines (#5455)
  src/migrations/1759497165260-removeDefaultCommunityGuidelinesCopy.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Callouts contributions new visualization (#5445)
  src/common/enums/callout.contribution.type.ts
  src/domain/collaboration/callout-contribution/callout.contribution.entity.ts
  src/domain/collaboration/callout-contribution/callout.contribution.move.resolver.mutations.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.ts
  src/domain/collaboration/callout-contribution/dto/callout.contribution.dto.create.ts
  src/domain/collaboration/callout-contribution/dto/callout.contribution.dto.delete.ts
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/callout/dto/callout.contributions.count.dto.ts
  src/domain/collaboration/callout/dto/contributions.filter.ts
  src/domain/common/whiteboard/whiteboard.service.ts
  src/migrations/1758116200183-CleanUpContributions.ts
  src/migrations/1759313997577-addBannerToWhiteboardContributions.ts
  src/services/api/lookup/lookup.module.ts
  src/services/api/lookup/lookup.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.121.0
  package-lock.json
  package.json
Due: prettier --write

remove last personaService artifacts bump chromadb client version
  package-lock.json
  package.json
  src/services/adapters/ai-server-adapter/ai.server.adapter.ts
  src/services/ai-server/ai-persona-engine-adapter/dto/ai.persona.engine.adapter.dto.invocation.input.ts
  src/services/ai-server/ai-persona/ai.persona.service.ts
  src/services/ai-server/ai-server/ai.server.service.ts
  src/services/infrastructure/event-bus/handlers/ingest.body.of.knowledge.result.handler.ts
  src/services/infrastructure/event-bus/messages/ingest.body.of.knowledge.result.event.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

remove personaservice from some logs
  src/services/infrastructure/event-bus/handlers/ingest.body.of.knowledge.result.handler.ts
  src/services/infrastructure/event-bus/handlers/ingest.website.result.handler.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cleanup more logs
  src/services/infrastructure/event-bus/handlers/ingest.body.of.knowledge.result.handler.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Uses tsconfig-paths for schema generation
  .github/workflows/schema-contract.yml
Due: none

Adds force-success mode for schema snapshots
  .github/workflows/schema-contract.yml
  scripts/schema/generate-schema.snapshot.ts
Due: none

Improves schema snapshot generation reliability
  scripts/schema/generate-schema.snapshot.ts
Due: none

Adds placeholder schema on force-success failure
  scripts/schema/generate-schema.snapshot.ts
Due: none

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
