Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

improvements to the naming reporter (#3143)
  alkemio.yml
  src/services/external/elasticsearch/elasticsearch-client/elasticsearch.client.factory.ts
  src/services/external/elasticsearch/name-reporter/name.reporter.service.spec.ts
  src/services/external/elasticsearch/name-reporter/name.reporter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix authorization cascade to storage bucket on challenge
  src/domain/challenge/challenge/challenge.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix authorization cascade to storage bucket on challenge (#3145)
  src/domain/challenge/challenge/challenge.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

Minor version bump (#3147)
  package-lock.json
  package.json
Due: prettier --write

Remove displayName resolved field on community. (#3138)
  src/domain/community/community/community.resolver.fields.ts
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip
  src/app.module.ts
  src/domain/challenge/space/space.module.ts
  src/domain/challenge/space/space.resolver.mutations.ts
  src/main.ts
  src/services/auth-reset/AuthResetQueueFactoryProvider.ts
  src/services/auth-reset/auth-reset.controller.spec.ts
  src/services/auth-reset/auth-reset.controller.ts
  src/services/auth-reset/auth-reset.module.ts
  src/services/auth-reset/auth-reset.service.spec.ts
  src/services/auth-reset/auth-reset.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Defaulting to the right innovation flow template
  src/domain/template/innovation-flow-template/innovation.flow.template.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Major version bump
  package-lock.json
  package.json
Due: prettier --write

Major version bump (#3152)
  package-lock.json
  package.json
Due: prettier --write

Cleanup space service.
  src/domain/challenge/space/dto/space.dto.update.ts
  src/domain/challenge/space/space.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add myRoles field to community (#3141)
  src/domain/community/community-policy/community.policy.service.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added field myRoles to org
  src/common/enums/organization.role.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/organization/organization.resolver.fields.ts
  src/domain/community/organization/organization.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Include callout visibility and option to send a notification directly on callout creation
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/callout/dto/callout.dto.create.ts
  src/domain/collaboration/collaboration/collaboration.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Minor version bump (#3160)
  package-lock.json
  package.json
Due: prettier --write

Include callout visibility and option to send a notification directly on callout creation (#3158)
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/callout/dto/callout.dto.create.ts
  src/domain/collaboration/collaboration/collaboration.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Minor version bump (#3163)
  package-lock.json
  package.json
Due: prettier --write

prototype to update spaces sorting
  src/services/api/me/me.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

prototype to update spaces sorting (#3164)
  package-lock.json
  package.json
  src/services/api/me/me.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Changed default visibilities for My Spaces
  package-lock.json
  package.json
  src/services/api/me/me.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

My Space fixes - DEMO spaces visible
  package-lock.json
  package.json
  src/services/api/me/me.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

My Space fixes - DEMO spaces visible (#3167)
  package-lock.json
  package.json
  src/services/api/me/me.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

reconciliation on the server, might delete later
  package-lock.json
  src/services/external/excalidraw-backend/arrayToMapWithIndex.ts
  src/services/external/excalidraw-backend/excalidraw.server.factory.provider.ts
  src/services/external/excalidraw-backend/reconciliation.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added backups for creating / restoring synapse snapshots
  .scripts/migrations/create_postgres_snapshot.sh
  .scripts/migrations/restore_postgres_snapshot.sh
Due: none

Updated scripts + README
  .scripts/migrations/.env.sample
  .scripts/migrations/README.md
  .scripts/migrations/create_synapse_snapshot.sh
  .scripts/migrations/restore_synapse_snapshot.sh
Due: prettier --write

removed nameID from update space input DTO
  graphql-samples/mutations/update/update-space
  src/domain/challenge/space/dto/space.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

upated resolving of createdBy field on whiteboard to not through an exception if field is not set
  src/domain/common/whiteboard/whiteboard.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

whiteboard rt
  src/common/enums/callout.type.ts
  src/domain/collaboration/callout/callout.entity.ts
  src/domain/collaboration/callout/callout.interface.ts
  src/domain/collaboration/callout/callout.module.ts
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/callout/dto/callout.dto.create.ts
  src/domain/common/whiteboard-rt/dto/whiteboard.rt.dto.create.ts
  src/domain/common/whiteboard-rt/dto/whiteboard.rt.dto.delete.ts
  src/domain/common/whiteboard-rt/dto/whiteboard.rt.dto.update.direct.ts
  src/domain/common/whiteboard-rt/dto/whiteboard.rt.dto.update.ts
  src/domain/common/whiteboard-rt/index.ts
  src/domain/common/whiteboard-rt/types.ts
  src/domain/common/whiteboard-rt/whiteboard-rt-authorization.service.ts
  src/domain/common/whiteboard-rt/whiteboard.rt.entity.ts
  src/domain/common/whiteboard-rt/whiteboard.rt.interface.ts
  src/domain/common/whiteboard-rt/whiteboard.rt.module.ts
  src/domain/common/whiteboard-rt/whiteboard.rt.resolver.fields.ts
  src/domain/common/whiteboard-rt/whiteboard.rt.resolver.mutations.ts
  src/domain/common/whiteboard-rt/whiteboard.rt.service.ts
  src/migrations/1693316100687-whiteboardRealTime.ts
  src/services/external/excalidraw-backend/excalidraw.server.factory.provider.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

code fixes
  src/domain/collaboration/callout/callout.interface.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/common/whiteboard-rt/dto/whiteboard.rt.dto.delete.ts
  src/domain/common/whiteboard-rt/whiteboard-rt-authorization.service.ts
  src/domain/common/whiteboard-rt/whiteboard.rt.interface.ts
  src/domain/common/whiteboard-rt/whiteboard.rt.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP
  src/app.module.ts
  src/common/constants/providers.ts
  src/common/enums/messaging.queue.ts
  src/core/microservices/auth.reset.service.factory.ts
  src/core/microservices/microservices.module.ts
  src/domain/challenge/space/space.module.ts
  src/domain/challenge/space/space.resolver.mutations.ts
  src/platform/admin/authorization/admin.authorization.resolver.mutations.ts
  src/services/auth-reset/auth-reset.controller.ts
  src/services/auth-reset/auth-reset.service.ts
  src/services/auth-reset/publisher/AuthResetQueueFactoryProvider.ts
  src/services/auth-reset/publisher/auth-reset.module.ts
  src/services/auth-reset/publisher/auth-reset.service.spec.ts
  src/services/auth-reset/publisher/auth-reset.service.ts
  src/services/auth-reset/subscriber/auth-reset.controller.spec.ts
  src/services/auth-reset/subscriber/auth-reset.controller.ts
  src/services/auth-reset/subscriber/auth-reset.subscriber.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Cleanup
  src/core/microservices/microservices.module.ts
  src/platform/admin/authorization/admin.authorization.module.ts
  src/services/auth-reset/publisher/AuthResetQueueFactoryProvider.ts
  src/services/auth-reset/publisher/auth-reset.module.ts
  src/services/auth-reset/publisher/auth-reset.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

console.log removed
  src/services/external/excalidraw-backend/excalidraw.server.factory.provider.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Test fixes
  src/services/auth-reset/publisher/auth-reset.service.spec.ts
  src/services/auth-reset/subscriber/auth-reset.controller.spec.ts
  test/mocks/auth.reset.service.mock.ts
  test/mocks/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed deleted export
  src/domain/common/whiteboard-rt/types.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

whiteboardRt in lookup query
  src/services/api/lookup/dto/lookup.query.results.ts
  src/services/api/lookup/lookup.module.ts
  src/services/api/lookup/lookup.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor of roles service to allow separately querying journey roles from organization roles
  src/services/api/roles/dto/roles.dto.result.contributor.ts
  src/services/api/roles/roles.resolver.fields.ts
  src/services/api/roles/roles.resolver.queries.ts
  src/services/api/roles/roles.service.spec.ts
  src/services/api/roles/roles.service.ts
  src/services/api/roles/util/get.journey.roles.for.contributor.entity.data.ts
  src/services/api/roles/util/get.journey.roles.for.contributor.query.result.ts
  src/services/api/roles/util/get.organization.roles.for.user.entity.data.ts
  src/services/api/roles/util/get.organization.roles.for.user.query.result.ts
  src/services/api/roles/util/map.journey.credentials.to.roles.ts
  src/services/api/roles/util/map.organization.credentials.to.roles.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

additional simplification after split of journey roles / org roles; fixed tests
  src/services/api/roles/roles.service.spec.ts
  src/services/api/roles/roles.service.ts
  src/services/api/roles/util/get.journey.roles.for.contributor.query.result.ts
  src/services/api/roles/util/get.organization.roles.for.user.query.result.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
