Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

removed method not needed in bootstrap; fixed update to pick up the specified ecoverse
  src/core/bootstrap/bootstrap.service.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.queries.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/services/data-management/data-management.service.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addressed review feedback
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.mutations.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addressed review feedback, including removing initialiseMembers for a few entities
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/community/community/community.service.ts
  src/domain/community/organisation/organisation.resolver.mutations.ts
  src/domain/community/organisation/organisation.service.ts
  src/domain/community/user-group/user-group.service.ts
  src/domain/community/user/user.service.ts
  src/domain/context/context/context.service.ts
  src/domain/context/context/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed remaining initialiseMembers
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/common/tagset/tagset.dto.create.ts
  src/domain/common/tagset/tagset.service.ts
  src/domain/community/profile/profile.service.ts
  src/domain/context/actor-group/actor-group.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

made field names in membership related DTOs more explicit
  graphql-samples/mutations/update/assign-user-to-community
  graphql-samples/mutations/update/assign-user-to-group
  graphql-samples/mutations/update/remove-user-from-community
  graphql-samples/mutations/update/remove-user-from-group
  src/domain/community/community/community.dto.assign.member.ts
  src/domain/community/community/community.dto.remove.member.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user-group/user-group.dto.assign.focal.point.ts
  src/domain/community/user-group/user-group.dto.assign.member.ts
  src/domain/community/user-group/user-group.dto.remove.member.ts
  src/domain/community/user-group/user-group.service.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

renamed to getDefaultEcoverseOrFail()
  src/core/bootstrap/bootstrap.service.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.queries.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/services/data-management/data-management.service.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates to "user-management" tests
  test/functional/e2e/user-management/application/application.request.params.ts
  test/functional/e2e/user-management/create-user.e2e-spec.ts
  test/functional/e2e/user-management/profile.e2e-spec.ts
  test/functional/e2e/user-management/update-user.e2e-spec.ts
  test/functional/e2e/user-management/user.request.params.ts
  test/functional/integration/challenge/flows-challenge.it-spec.ts
  test/non-functional/auth/create-mutations.ts
Due: none

addressed bug with community group not created on challenge
  src/domain/challenge/challenge/challenge.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

resolved merge conflicts
  src/domain/challenge/challenge/challenge.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added TextID scalar type to address issue of challenge being able to be created with an empty textID string; tidied up project creation; tidied up ecoverse creation
  package.json
  src/app.module.ts
  src/core/validation/constraints/unique.text.id.ts
  src/domain/challenge/challenge/challenge.dto.create.ts
  src/domain/challenge/challenge/challenge.interface.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.dto.create.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/challenge/opportunity/opportunity.dto.create.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/collaboration/project/project.dto.create.ts
  src/domain/collaboration/project/project.service.ts
  src/domain/common/scalars/index.ts
  src/domain/common/scalars/scalar.textid.ts
  src/domain/common/scalars/scalars.module.ts
  src/domain/community/organisation/organisation.dto.create.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add UpdateReference mutation
  src/domain/common/reference/reference.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.10.6
  package-lock.json
  package.json
Due: prettier --write

Updates to "auth" tests
  test/non-functional/auth/anonymous-user.it-spec.ts
  test/non-functional/auth/community-admin-user.it-spec.ts
  test/non-functional/auth/create-mutations.ts
  test/non-functional/auth/ecoverse-admin-user.it-spec.ts
  test/non-functional/auth/ecoverse-member-user.it-spec.ts
  test/non-functional/auth/global-admin-user.it-spec.ts
  test/non-functional/auth/non-ecoverse-user.it-spec.ts
  test/non-functional/auth/remove-mutations.ts
  test/non-functional/auth/update-mutations.ts
Due: none

Fixes to graphql-sample mutations
  graphql-samples/mutations/create/create-tagset-on-profile
  graphql-samples/mutations/update/assign-challenge-lead-to-organisation
  graphql-samples/mutations/update/assign-user-to-community
  graphql-samples/mutations/update/assign-user-to-group
  graphql-samples/mutations/update/remove-challenge-lead-from-organisation
  graphql-samples/mutations/update/update-profile
Due: none

Updates o "relation" tests
  test/functional/integration/relations/relations.it-spec.ts
  test/functional/integration/relations/relations.request.params.ts
Due: none

Updates to "opportunity" tests
  test/functional/integration/opportunity/opportunity.it-spec.ts
  test/functional/integration/opportunity/opportunity.request.params.ts
Due: none

Updates to "group" tests
  test/functional/integration/group/group.request.params.ts
  test/functional/integration/group/groups.it-spec.ts
Due: none

Updates to "challenge" tests
  test/functional/integration/challenge/challenge.request.params.ts
  test/functional/integration/challenge/create-challenge.it-spec.ts
  test/functional/integration/challenge/flows-challenge.it-spec.ts
  test/functional/integration/challenge/query-challenge-data.it-spec.ts
Due: none

Updates to "aspect" tests
  test/functional/integration/aspect/aspect-on-opportunity.it-spec.ts
  test/functional/integration/aspect/aspect-on-project.it-spec.ts
  test/functional/integration/aspect/aspect.request.params.ts
Due: none

Updates to "actor" and "sctor-group" tests
  test/functional/integration/actor-groups/actor-groups.it-spec.ts
  test/functional/integration/actor-groups/actor-groups.request.params.ts
  test/functional/integration/actor/actor.it-spec.ts
  test/functional/integration/actor/actor.request.params.ts
  test/functional/integration/context/context.it-spec.ts
Due: none

Update to test-data.service
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates to "user-management" tests
  test/functional/e2e/user-management/application/application.request.params.ts
  test/functional/e2e/user-management/profile.e2e-spec.ts
  test/functional/e2e/user-management/remove-user.e2e-spec.ts
  test/functional/e2e/user-management/update-user.e2e-spec.ts
  test/functional/e2e/user-management/user-to-group.e2e-spec.ts
  test/functional/e2e/user-management/user.request.params.ts
Due: none

added validation of characters to textIDs; fixed bug in opportunity create DTO
  src/domain/challenge/opportunity/opportunity.dto.create.ts
  src/domain/common/scalars/scalar.textid.ts
  src/domain/community/organisation/organisation.dto.create.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enabled "textId" for challenge tests
  test/functional/integration/challenge/create-challenge.it-spec.ts
Due: none

Removed console.log() from tests
  test/functional/integration/challenge/create-challenge.it-spec.ts
Due: none

WIP #1
  .env.demo.auth.provider.default
  package-lock.json
  package.json
  src/app.module.ts
  src/common/enums/lifecycle.action.type.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/community/application/application.entity.ts
  src/domain/community/application/application.factory.service.ts
  src/domain/community/application/application.lifecycle.ts
  src/domain/community/application/state/application.lifecycle.events.ts
  src/domain/community/application/state/application.lifecycle.machine.config.ts
  src/domain/community/application/state/application.lifecycle.module.ts
  src/domain/community/application/state/application.lifecycle.schema.ts
  src/domain/community/application/state/application.lifecycle.service.ts
  src/domain/community/community/community.lifecycle.application.options.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

extended self mgmt to also be able to check the incoming userData ID matches the ID of the logged in user
  src/core/authorization/graphql.guard.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

starting up after merge of DTO uber branch from dev
  src/domain/community/application/application.service.ts
  src/domain/community/application/state/application.lifecycle.service.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

made check for self-management more generic, explicit bad smell
  src/core/authorization/graphql.guard.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tiggering of generic events but with specific options
  graphql-samples/mutations/update/trigger-lifecycle-event
  src/app.module.ts
  src/domain/common/lifecycle/lifecycle.dto.transition.ts
  src/domain/common/lifecycle/lifecycle.module.ts
  src/domain/common/lifecycle/lifecycle.resolver.mutations.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/community/application/application.module.ts
  src/domain/community/application/application.service.ts
  src/domain/community/application/state/application.lifecycle.events.ts
  src/domain/community/application/state/application.lifecycle.machine.config.ts
  src/domain/community/application/state/application.lifecycle.module.ts
  src/domain/community/application/state/application.lifecycle.schema.ts
  src/domain/community/application/state/application.lifecycle.service.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactored after discussion
  src/domain/common/lifecycle/lifecycle.module.ts
  src/domain/common/lifecycle/lifecycle.resolver.mutations.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/community/application/application.dto.event.ts
  src/domain/community/application/application.module.ts
  src/domain/community/application/application.service.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Created new performance test plan
  test/non-functional/performance/ct_perf_test_plan.jmx
  test/non-functional/performance/entitieId.csv
  test/non-functional/performance/perfTestDataUserToGroup.csv
Due: none

moved community lifeycycle options to community level; added interface for Application
  graphql-samples/mutations/create/create-application
  graphql-samples/mutations/update/event-on-application
  src/app.module.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/common/lifecycle/lifecycle.entity.ts
  src/domain/common/lifecycle/lifecycle.interface.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/community/application/application.dto.lifecycle.event.ts
  src/domain/community/application/application.entity.ts
  src/domain/community/application/application.interface.ts
  src/domain/community/application/application.lifecycle.config.ts
  src/domain/community/application/application.module.ts
  src/domain/community/application/application.service.ts
  src/domain/community/application/index.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.interface.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/community/community/lifecycle.options/community.lifecycle.module.ts
  src/domain/community/community/lifecycle.options/community.lifecycle.options.provider.ts
  src/domain/community/community/lifecycle.options/community.lifecycle.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed files that should have been deleted
  src/domain/community/application/application.dto.event.ts
  src/domain/community/application/application.factory.module.ts
  src/domain/community/application/application.factory.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed a couple more files that were left over
  graphql-samples/mutations/update/approve-application
  graphql-samples/mutations/update/trigger-lifecycle-event
Due: none

Updated test plan; Added report example;
  test/non-functional/performance/ct_perf_test_plan.jmx
  test/non-functional/performance/report/result/testresults.csv
Due: none

removed split module setup for Community
  src/domain/community/application/application.lifecycle.ts
  src/domain/community/community/community.lifecycle.options.provider.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/community/community/lifecycle.options/community.lifecycle.module.ts
  src/domain/community/community/lifecycle.options/community.lifecycle.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

turned off db sync + added migration
  src/app.module.ts
  src/migrations/1618911977800-lifecycle-application.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed enum not used anymore
  src/common/enums/lifecycle.action.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed error with options injection; added more logging
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
