Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds fallback mechanism for schema diff failures
  scripts/schema/diff-schema.ts
Due: none

Release 35 (#5469)
  package-lock.json
  package.json
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  src/common/enums/callout.contribution.type.ts
  src/domain/collaboration/callout-contribution/callout.contribution.entity.ts
  src/domain/collaboration/callout-contribution/callout.contribution.move.resolver.mutations.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.ts
  src/domain/collaboration/callout-contribution/dto/callout.contribution.dto.create.ts
  src/domain/collaboration/callout-contribution/dto/callout.contribution.dto.delete.ts
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/callout/dto/callout.contributions.count.dto.ts
  src/domain/collaboration/callout/dto/contributions.filter.ts
  src/domain/common/whiteboard/whiteboard.service.ts
  src/domain/template/templates-set/templates.set.service.authorization.ts
  src/migrations/1758116200183-CleanUpContributions.ts
  src/migrations/1759313997577-addBannerToWhiteboardContributions.ts
  src/migrations/1759497165260-removeDefaultCommunityGuidelinesCopy.ts
  src/services/api/lookup/lookup.module.ts
  src/services/api/lookup/lookup.resolver.fields.ts
  test/mocks/search/search.ingest.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removes default community guidelines display names
  src/migrations/1759740000000-removeDefaultCommunityGuidelinesDisplayNameVariants.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Test - Additive
  src/domain/collaboration/callout/callout.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Test 2
  schema-baseline.graphql
  src/domain/collaboration/callout/callout.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improves schema baseline loading
  .github/workflows/schema-contract.yml
Due: none

Renames field for contract testing
  src/domain/collaboration/callout/callout.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improves schema contract baseline retrieval
  .github/workflows/schema-contract.yml
Due: none

Improves schema contract baseline detection
  .github/workflows/schema-contract.yml
Due: none

update AI services revert chroma client update
  package-lock.json
  package.json
  quickstart-services-ai.yml
Due: prettier --write

Improves schema contract workflow initialization
  .github/workflows/schema-contract.yml
Due: none

Improves schema snapshot generation reliability
  .github/workflows/schema-contract.yml
  scripts/schema/generate-schema.snapshot.ts
Due: none

`platform.spaces` to return spaces sorted by created date desc
  src/domain/space/space/dto/space.args.query.spaces.ts
  src/platform-admin/admin/platform.admin.service.ts
  src/services/infrastructure/space-filter/dto/space.filter.dto.input.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

handling empty array
  src/platform-admin/admin/platform.admin.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

unused import
  src/platform-admin/admin/platform.admin.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enhances code review guidance
  .coderabbit.yaml
Due: none

Adds stubs for infra dependencies
  src/schema-bootstrap/module.schema-bootstrap.ts
  src/schema-bootstrap/stubs/db.stub.ts
  src/schema-bootstrap/stubs/event-bus.stub.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added config for disabling direct messages off by default; moved mutation for sending message to user to comms module; removed retrieval of communityRooms for a user
  alkemio.yml
  package-lock.json
  package.json
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/communication/dto/user.dto.communication.message.send.ts
  src/domain/communication/communication/dto/user.dto.communication.room.direct.result.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/community/user/dto/index.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/api/chat-guidance/chat.guidance.service.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tidy up api
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

additional cleanup of naming
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/communication/dto/communication.dto.send.direct.message.user.result.ts
  src/domain/communication/communication/dto/communication.dto.send.direct.message.user.ts
  src/domain/communication/communication/dto/communication.dto.send.message.users.ts
  src/domain/community/user/dto/index.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added logic to call matrix to send message
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enables schema bootstrap parity testing
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/schema-bootstrap/module.schema-bootstrap.ts
  test/schema/bootstrap-parity.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removes default community guidelines display names (#5478)
  src/migrations/1759740000000-removeDefaultCommunityGuidelinesDisplayNameVariants.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Ensures lightweight schema bootstrap in CI
  .github/workflows/schema-contract.yml
Due: none

Refactors schema snapshot generation
  scripts/schema/generate-schema.snapshot.ts
Due: none

Enables schema snapshot debug logging
  .github/workflows/schema-contract.yml
  schema-baseline.graphql
Due: none

Adds a second user profile field
  src/domain/community/user/user.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Debug workflow step
  .github/workflows/schema-contract.yml
Due: none

Remove cat
  .github/workflows/schema-contract.yml
Due: none

Configures logger based on debug mode
  scripts/schema/generate-schema.snapshot.ts
Due: none

Adds stub microservice providers
  src/schema-bootstrap/module.schema-bootstrap.ts
  src/schema-bootstrap/stubs/microservices.stub.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Mocks AMQP for schema generation
  scripts/schema/generate-schema.snapshot.ts
  src/schema-bootstrap/module.schema-bootstrap.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removes AMQP patching for schema generation
  scripts/schema/generate-schema.snapshot.ts
Due: none

Removes duplicate profile resolver
  src/domain/community/user/user.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.122.0
  package-lock.json
  package.json
Due: prettier --write

`platform.spaces` to return spaces sorted by created date desc (#5480)
  src/domain/space/space/dto/space.args.query.spaces.ts
  src/platform-admin/admin/platform.admin.service.ts
  src/services/infrastructure/space-filter/dto/space.filter.dto.input.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enhances schema contract workflow
  .github/workflows/schema-contract.yml
Due: none

test baseline schema
  schema-baseline.graphql
Due: none

remove the in-app privilege for beta testers
  docs/Notifications.md
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/common/enums/authorization.privilege.ts
  src/platform/platform/platform.service.authorization.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

remove the in-app privilege for beta testers (#5486)
  docs/Notifications.md
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/common/enums/authorization.privilege.ts
  src/platform/platform/platform.service.authorization.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
