Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

updated interaction with matrix adapter to start/stop direct messaging, and then just send a message tot he room
  package.json
  pnpm-lock.yaml
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/adapters/communication-adapter/dto/communication.dto.direct.messaging.start.ts
  src/services/adapters/communication-adapter/dto/communication.dto.direct.messaging.stop.ts
  test/mocks/communication.adapter.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

create conversations set on user creation
  src/domain/communication/conversation/conversation.service.authorization.ts
  src/domain/communication/conversations-set/conversations.set.service.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cascade delte when user is deleted
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added logic to check if receiving user is open to receiving messages
  src/domain/communication/conversations-set/conversations.set.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed mutation replaced by conversations
  src/domain/communication/communication/communication.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated the creation + deletion of rooms
  src/common/enums/room.type.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/post/post.service.ts
  src/domain/communication/communication/communication.service.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/room/dto/room.dto.create.ts
  src/domain/communication/room/dto/room.dto.delete.ts
  src/domain/communication/room/room.interface.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.ts
  src/domain/timeline/event/event.service.ts
  src/platform/forum-discussion/discussion.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed usage of communication adapter in conversation, all goes through room service
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/post/post.service.ts
  src/domain/communication/communication/communication.service.ts
  src/domain/communication/conversation/conversation.module.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/conversations-set/conversations.set.service.ts
  src/domain/communication/room/dto/room.dto.create.ts
  src/domain/communication/room/room.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

start a new conversation
  src/domain/communication/communication/communication.module.ts
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/room/room.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tidy up the conversation creating on users
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/conversations-set/conversations.set.resolver.mutations.ts
  src/domain/communication/conversations-set/conversations.set.service.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

base path is working
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/conversations-set/conversations.set.resolver.mutations.ts
  src/domain/communication/conversations-set/conversations.set.service.authorization.ts
  src/domain/communication/conversations-set/conversations.set.service.ts
  src/domain/communication/room/room.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed module import
  src/domain/communication/communication/communication.module.ts
  src/domain/communication/communication/communication.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed usage of communication IDs
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/post/post.service.ts
  src/domain/communication/communication/communication.service.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/room/dto/room.dto.create.ts
  src/domain/communication/room/dto/room.dto.delete.ts
  src/domain/communication/room/room.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed usage of comms id when deleting a DM room
  quickstart-services.yml
  src/domain/communication/conversation/conversation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Whiteboard previews on templates (#5538)
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/collaboration/callout-framing/dto/callout.framing.dto.update.ts
  src/domain/common/visual/visual.interface.ts
  src/domain/common/whiteboard/dto/whiteboard.dto.create.ts
  src/domain/common/whiteboard/dto/whiteboard.preview.settings.coordinates.dto.ts
  src/domain/common/whiteboard/dto/whiteboard.preview.settings.dto.create.ts
  src/domain/common/whiteboard/types.ts
  src/domain/common/whiteboard/whiteboard.service.ts
  src/domain/template/template/template.service.ts
  src/services/api/input-creator/input.creator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update matrix version
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
Due: none

retrieve only specific messages from matrix
  package.json
  pnpm-lock.yaml
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update to use new matrix adapter version which will be needed
  quickstart-services.yml
Due: none

Updates OIDC service image and env vars
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  specs/010-synapse-kratos-oidc/quickstart.md
Due: prettier --write

0.125.1
  package.json
Due: prettier --write

remove unneded guest test resolver
  src/app.module.ts
  src/domain/test/dto/credential.info.dto.ts
  src/domain/test/dto/who.am.i.dto.ts
  src/domain/test/enums/user.authentication.status.ts
  src/domain/test/guest.test.resolver.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds token for pushing schema baseline changes
  .github/workflows/schema-baseline.yml
Due: none

Updates schema baseline using pull requests
  .github/workflows/schema-baseline.yml
Due: none

chore: update schema baseline
  schema-baseline.graphql
Due: none

Grants write access to pull requests
  .github/workflows/schema-baseline.yml
Due: none

Secures baseline branch push with token
  .github/workflows/schema-baseline.yml
Due: none

chore: update schema baseline (#5556)
  schema-baseline.graphql
Due: none

Refactors schema baseline automation to use PRs
  .github/copilot-instructions.md
  .specify/memory/constitution.md
  agents.md
  docs/Developing.md
  docs/Running.md
  specs/012-generate-schema-baseline/spec.md
  specs/012-generate-schema-baseline/tasks.md
Due: prettier --write

add the setting
  schema.graphql
  specs/013-guest-contributions-policy/tasks.md
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.callouts.space.l0.tutorials.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.callouts.vc.knowledge.base.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.space.l0.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.subspace.ts
  src/domain/space/space.settings/dto/space.settings.collaboration.dto.create.ts
  src/domain/space/space.settings/dto/space.settings.collaboration.dto.update.ts
  src/domain/space/space.settings/space.settings.collaboration.interface.ts
  src/domain/space/space/sort.spaces.by.activity.spec.ts
  src/domain/space/space/space.service.spec.ts
  src/domain/space/space/space.service.ts
  src/migrations/1761926109272-addSettingAllowGuestContributions.ts
  src/services/api/roles/roles.service.spec.ts
  src/services/api/search/result/search.result.service.ts
  test/data/space.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

improve variable name
  src/core/authorization/graphql.guard.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactors schema baseline automation to use PRs (#5557)
  .github/copilot-instructions.md
  .specify/memory/constitution.md
  agents.md
  docs/Developing.md
  docs/Running.md
  specs/012-generate-schema-baseline/spec.md
  specs/012-generate-schema-baseline/tasks.md
Due: prettier --write

addressed rabbit feedback
  src/domain/collaboration/callout-framing/callout.framing.service.authorization.ts
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/conversation/conversation.entity.ts
  src/domain/communication/conversation/conversation.interface.ts
  src/domain/communication/conversations-set/conversations.set.resolver.mutations.ts
  src/domain/communication/conversations-set/conversations.set.service.authorization.ts
  src/domain/communication/conversations-set/conversations.set.service.ts
  src/migrations/1761577546999-conversations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Rename AuthEvaluation to AuthRemoteEvaluation and update related imports and services
  src/app.module.ts
  src/core/authorization/authorization.module.ts
  src/core/authorization/authorization.service.ts
  src/core/bootstrap/bootstrap.module.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/space/space/space.module.ts
  src/domain/space/space/space.resolver.mutations.ts
  src/services/external/auth-evaluation/index.ts
  src/services/external/auth-evaluation/injection.token.ts
  src/services/external/auth-remote-evaluation/auth.remote.evaluation.module.ts
  src/services/external/auth-remote-evaluation/auth.remote.evaluation.service.ts
  src/services/external/auth-remote-evaluation/index.ts
  src/services/external/auth-remote-evaluation/injection.token.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removes circular dependency causing one-one relationships
  src/domain/collaboration/callout-framing/callout.framing.entity.ts
  src/domain/collaboration/callout/callout.module.ts
  src/domain/collaboration/callout/callout.service.authorization.ts
  src/domain/collaboration/callouts-set/callouts.set.entity.ts
  src/domain/collaboration/callouts-set/callouts.set.interface.ts
  src/domain/collaboration/collaboration/collaboration.entity.ts
  src/domain/collaboration/collaboration/collaboration.interface.ts
  src/domain/common/memo/memo.entity.ts
  src/domain/common/memo/memo.interface.ts
  src/domain/common/whiteboard/whiteboard.entity.ts
  src/domain/common/whiteboard/whiteboard.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Advanced prompt graph config support (#5551)
  quickstart-services-ai.yml
  src/services/ai-server/ai-persona/ai.persona.service.ts
  src/services/ai-server/ai-persona/dto/ai.persona.dto.update.ts
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
  src/services/ai-server/prompt-graph/dto/prompt.graph.data.point.dto.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed xstate package version
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
