Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

allow access to lifecycle state without read access
  src/domain/challenge/innovation-flow/innovation.flow.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow space / challenge admins to update innovation flow template to use
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/common/constants/authorization/policy.rule.constants.ts
  src/domain/challenge/innovation-flow/innovation.flow.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

extended users query to take an optional paramter IDs, removed usersByIDs query
  src/domain/community/user/dto/users.query.args.ts
  src/domain/community/user/user.resolver.queries.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Version bump
  package-lock.json
  package.json
Due: prettier --write

Version bump (#3109)
  package-lock.json
  package.json
Due: prettier --write

Added logic to check for templates already there with the same name
  src/domain/template/templates-set/templates.set.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow space / challenge admins to update innovation flow template to use (#3104)
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/common/constants/authorization/policy.rule.constants.ts
  src/domain/challenge/innovation-flow/innovation.flow.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added logic to check for templates already there with the same name (#3110)
  src/domain/template/templates-set/templates.set.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

more additions
  src/domain/challenge/challenge/challenge.default.callouts.ts
  src/domain/challenge/space/space.default.callouts.ts
  src/domain/collaboration/opportunity/opportunity.default.callouts.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added filtering by IDs as an additional, not OR filter
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

extended users query to take an optional paramter IDs, removed usersByIDs query (#3107)
  src/domain/community/user/dto/users.query.args.ts
  src/domain/community/user/user.resolver.queries.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tidied up callout defaults
  src/domain/challenge/challenge/challenge.default.callouts.ts
  src/domain/challenge/space/space.default.callouts.ts
  src/domain/collaboration/opportunity/opportunity.default.callouts.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP
  .scripts/create_snapshot.sh
  .scripts/export_to_csv.sh
  .scripts/import_from_csv.sh
  .scripts/restore_snapshot.sh
Due: none

move of timeline to be under collaboration
  src/core/dataloader/creators/loader.creators/collaboration/collaboration.timeline.loader.creator.ts
  src/core/dataloader/creators/loader.creators/index.ts
  src/domain/challenge/space/space.entity.ts
  src/domain/challenge/space/space.interface.ts
  src/domain/challenge/space/space.module.ts
  src/domain/challenge/space/space.resolver.fields.ts
  src/domain/challenge/space/space.service.authorization.ts
  src/domain/challenge/space/space.service.ts
  src/domain/collaboration/collaboration/collaboration.entity.ts
  src/domain/collaboration/collaboration/collaboration.interface.ts
  src/domain/collaboration/collaboration/collaboration.module.ts
  src/domain/collaboration/collaboration/collaboration.resolver.fields.ts
  src/domain/collaboration/collaboration/collaboration.service.authorization.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
  src/migrations/1691169855245-timeline.ts
  src/services/infrastructure/entity-resolver/timeline.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add lookup for calendar event + calendar
  src/services/api/lookup/lookup.module.ts
  src/services/api/lookup/lookup.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Callout fix
  src/migrations/1691388534530-update-tagset.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Shell Restore DB scripts
  .scripts/backups/create_snapshot.sh
  .scripts/backups/export_to_csv.sh
  .scripts/backups/import_from_csv.sh
  .scripts/backups/restore_latest_backup.sh
  .scripts/backups/restore_snapshot.sh
  .scripts/create_snapshot.sh
  .scripts/restore_snapshot.sh
Due: none

Expanding the script to have the storage + environment configurable
  .scripts/backups/restore_latest_backup.sh
Due: none

Further extended the script to restore mysql / mariadb / postgres conditionally
  .scripts/backups/restore_latest_backup.sh
Due: none

Restore full backup set WIP
  .scripts/backups/restore_latest_backup.sh
  .scripts/backups/restore_latest_backup_set.sh
Due: none

Restore backup end-to-end + README
  .scripts/backups/.env.sample
  .scripts/backups/README.md
  .scripts/backups/restore_latest_backup_set.sh
  .vscode/settings.json
  quickstart-services.yml
Due: prettier --write

Map local folder to container folder
  .scripts/backups/export_to_csv.sh
  quickstart-services.yml
Due: none

Fix user filtering.
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix user filtering. (#3116)
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated restore script
  .scripts/backups/restore_latest_backup_set.sh
Due: none

Updated sample .env.docker
  .env.docker
Due: none

better exception logging
  src/common/enums/alkemio.error.status.ts
  src/common/enums/logging.context.ts
  src/common/exceptions/authentication.error.ts
  src/common/exceptions/authentication.exception.ts
  src/common/exceptions/base.exception.ts
  src/common/exceptions/forbidden.error.ts
  src/common/exceptions/forbidden.exception.ts
  src/common/exceptions/http/base.http.exception.ts
  src/common/exceptions/http/forbidden.http.exception.ts
  src/common/exceptions/http/index.ts
  src/common/exceptions/http/not.found.http.exception.ts
  src/common/exceptions/token.exception.ts
  src/config/winston.config.ts
  src/core/authentication/ory.strategy.ts
  src/core/authorization/graphql.guard.ts
  src/core/authorization/rest.guard.ts
  src/core/error-handling/graphql.exception.filter.ts
  src/core/error-handling/http.exception.filter.ts
  src/core/error-handling/rest.error.response.ts
  src/domain/agent/agent/agent.service.ts
  src/domain/community/user/user.resolver.queries.ts
  src/services/api-rest/storage-access/storage.access.controller.ts
  src/services/api/me/me.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixing issues that I forgot about
  src/config/winston.config.ts
  src/core/authentication/ory.strategy.ts
  src/core/authorization/graphql.guard.ts
  src/core/error-handling/http.exception.filter.ts
  src/domain/agent/agent/agent.service.ts
  src/services/api-rest/storage-access/storage.access.controller.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Make scripts accessible from different paths
  .scripts/backups/create_snapshot.sh
  .scripts/backups/export_to_csv.sh
  .scripts/backups/restore_snapshot.sh
Due: none

Add script for comparing folders with CSVs
  .scripts/backups/compare_sql_tables.sh
Due: none

Moved backup scripts into their own folder
  .scripts/migrations/.env.sample
  .scripts/migrations/compare_sql_tables.sh
  .scripts/migrations/create_snapshot.sh
  .scripts/migrations/export_to_csv.sh
  .scripts/migrations/import_from_csv.sh
  .scripts/migrations/restore_snapshot.sh
  quickstart-services.yml
Due: none

Added migration validation script
  .scripts/migrations/run_validate_migration.sh
  package.json
Due: prettier --write

Updated READMEs
  .scripts/backups/README.md
  .scripts/migrations/README.md
Due: prettier --write

Update migration validation script
  .scripts/migrations/run_validate_migration.sh
Due: none

Updated csv export to exclude createdDate, migrations_typeorm table
  .scripts/migrations/export_to_csv.sh
Due: none

Better exception logging (#3117)
  src/common/enums/alkemio.error.status.ts
  src/common/enums/logging.context.ts
  src/common/exceptions/authentication.error.ts
  src/common/exceptions/authentication.exception.ts
  src/common/exceptions/base.exception.ts
  src/common/exceptions/forbidden.error.ts
  src/common/exceptions/forbidden.exception.ts
  src/common/exceptions/http/base.http.exception.ts
  src/common/exceptions/http/forbidden.http.exception.ts
  src/common/exceptions/http/index.ts
  src/common/exceptions/http/not.found.http.exception.ts
  src/common/exceptions/token.exception.ts
  src/config/winston.config.ts
  src/core/authentication/ory.strategy.ts
  src/core/authorization/graphql.guard.ts
  src/core/authorization/rest.guard.ts
  src/core/error-handling/graphql.exception.filter.ts
  src/core/error-handling/http.exception.filter.ts
  src/core/error-handling/rest.error.response.ts
  src/domain/agent/agent/agent.service.ts
  src/domain/community/user/user.resolver.queries.ts
  src/services/api-rest/storage-access/storage.access.controller.ts
  src/services/api/me/me.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix callout sorting
  src/domain/collaboration/collaboration/collaboration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

A library of db scripts (#3118)
  .env.docker
  .scripts/backups/.env.sample
  .scripts/backups/README.md
  .scripts/backups/restore_latest_backup.sh
  .scripts/backups/restore_latest_backup_set.sh
  .scripts/migrations/.env.sample
  .scripts/migrations/README.md
  .scripts/migrations/compare_sql_tables.sh
  .scripts/migrations/create_snapshot.sh
  .scripts/migrations/export_to_csv.sh
  .scripts/migrations/import_from_csv.sh
  .scripts/migrations/restore_snapshot.sh
  .scripts/migrations/run_validate_migration.sh
  .vscode/settings.json
  package.json
  quickstart-services.yml
Due: prettier --write

Buildable server
  src/services/api/lookup/lookup.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Moved service logic out of API
  src/domain/timeline/calendar/calendar.resolver.mutations.ts
  src/domain/timeline/calendar/calendar.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
