Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Add new user preference.
  src/common/enums/user.preference.type.ts
  src/domain/community/user/user.service.ts
  src/migrations/1686634849127-messageReplyNotificationPreference.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Remove callout reply separation.
  src/domain/communication/room/room.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Proper logging of matrix errors.
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Remove callout reply separation. (#2899)
  src/domain/communication/room/room.resolver.mutations.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

e2e working session, without storage or multi instance sync
  .build/traefik/http.yml
  src/hocuspocus/hocuspocus.gateway.spec.ts
  src/hocuspocus/hocuspocus.gateway.ts
  src/hocuspocus/hocuspocus.server.factory.ts
  src/hocuspocus/hocuspocus.server.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update matrix adapter version.
  quickstart-services.yml
Due: none

Remove unneded engine setup.
  quickstart-services.yml
Due: none

Update matrix adapter version. (#2901)
  quickstart-services.yml
Due: none

Add comment reply notification.
  package-lock.json
  package.json
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.comment.reply.ts
  src/services/adapters/notification-adapter/notification.adapter.ts
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add error handling when entity not found.
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Rename parameter.
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add comment reply notification (#2903)
  package-lock.json
  package.json
  src/common/enums/user.preference.type.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/domain/community/user/user.service.ts
  src/migrations/1686634849127-messageReplyNotificationPreference.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.comment.reply.ts
  src/services/adapters/notification-adapter/notification.adapter.ts
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix reactions being non-nullable.
  package-lock.json
  package.json
  src/domain/communication/message/message.interface.ts
  src/services/adapters/notification-adapter/notification.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix reply subscriptions.
  src/domain/communication/room/room.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Bumped version + matrix-adapter
  package-lock.json
  package.json
  quickstart-services.yml
Due: prettier --write

Fix reactions being non-nullable. (#2904)
  package-lock.json
  package.json
  quickstart-services.yml
  src/domain/communication/message/message.interface.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/services/adapters/notification-adapter/notification.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip
  src/common/constants/providers.ts
  src/common/enums/subscription.type.ts
  src/common/enums/subscriptions/index.ts
  src/common/enums/subscriptions/mutation.type.ts
  src/common/interfaces/communication.message.payload.interface.ts
  src/domain/communication/room/dto/subscription/index.ts
  src/domain/communication/room/dto/subscription/room.event.subscription.result.ts
  src/domain/communication/room/dto/subscription/room.message.event.subscription.args.ts
  src/domain/communication/room/dto/subscription/room.message.event.subscription.result.ts
  src/domain/communication/room/dto/subscription/room.message.reaction.event.subscription.result.ts
  src/domain/communication/room/room.event.resolver.subscription.ts
  src/domain/communication/room/room.module.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/services/adapters/activity-adapter/activity.adapter.module.ts
  src/services/adapters/activity-adapter/activity.adapter.ts
  src/services/api/activity-log/activity.log.module.ts
  src/services/api/activity-log/activity.log.resolver.subscriptions.ts
  src/services/subscriptions/subscription-publish-service/subscription.publish.service.ts
  src/services/subscriptions/subscription-service/dto/activity.created.subscription.payload.ts
  src/services/subscriptions/subscription-service/dto/index.ts
  src/services/subscriptions/subscription-service/dto/room.event.subscription.payload.ts
  src/services/subscriptions/subscription-service/index.ts
  src/services/subscriptions/subscription-service/subscription.publish.service.ts
  src/services/subscriptions/subscription-service/subscription.read.service.ts
  src/services/subscriptions/subscription-service/subscription.service.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add inspiration link.
  alkemio.yml
  src/platform/configuration/config/config.service.ts
  src/platform/configuration/config/platform/platform.locations.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update alkemio.yml
  alkemio.yml
Due: none

working subscription for room events
  src/common/constants/providers.ts
  src/common/enums/messaging.queue.ts
  src/core/microservices/microservices.module.ts
  src/domain/communication/room/dto/subscription/index.ts
  src/domain/communication/room/dto/subscription/room.event.subscription.args.ts
  src/domain/communication/room/dto/subscription/room.event.subscription.result.ts
  src/domain/communication/room/dto/subscription/room.message.event.subscription.result.ts
  src/domain/communication/room/dto/subscription/room.message.reaction.event.subscription.result.ts
  src/domain/communication/room/room.event.resolver.subscription.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/services/subscriptions/subscription-service/dto/room.event.subscription.payload.ts
  src/services/subscriptions/subscription-service/subscription.publish.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

Minor version bump (#2913)
  package-lock.json
  package.json
Due: prettier --write

Disable insecure TLS connections
  src/services/external/elasticsearch/elasticsearch.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

merge from develop; new notifications-lib
  package-lock.json
  package.json
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed mocks interface
  test/mocks/notification.adapter.service.mock.ts
  test/mocks/notification.payload.builder.mock.ts
Due: none

addressed comments
  src/domain/communication/room/dto/subscription/room.message.reaction.event.subscription.result.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/services/subscriptions/subscription-service/dto/room.event.subscription.payload.ts
  src/services/subscriptions/subscription-service/subscription.publish.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Subscription for room events (#2911)
  src/common/constants/providers.ts
  src/common/enums/messaging.queue.ts
  src/common/enums/subscription.type.ts
  src/common/enums/subscriptions/index.ts
  src/common/enums/subscriptions/mutation.type.ts
  src/common/interfaces/communication.message.payload.interface.ts
  src/core/microservices/microservices.module.ts
  src/domain/communication/room/dto/subscription/index.ts
  src/domain/communication/room/dto/subscription/room.event.subscription.args.ts
  src/domain/communication/room/dto/subscription/room.event.subscription.result.ts
  src/domain/communication/room/dto/subscription/room.message.event.subscription.result.ts
  src/domain/communication/room/dto/subscription/room.message.reaction.event.subscription.result.ts
  src/domain/communication/room/room.event.resolver.subscription.ts
  src/domain/communication/room/room.module.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/services/adapters/activity-adapter/activity.adapter.module.ts
  src/services/adapters/activity-adapter/activity.adapter.ts
  src/services/api/activity-log/activity.log.module.ts
  src/services/api/activity-log/activity.log.resolver.subscriptions.ts
  src/services/subscriptions/subscription-publish-service/subscription.publish.service.ts
  src/services/subscriptions/subscription-service/dto/activity.created.subscription.payload.ts
  src/services/subscriptions/subscription-service/dto/index.ts
  src/services/subscriptions/subscription-service/dto/room.event.subscription.payload.ts
  src/services/subscriptions/subscription-service/index.ts
  src/services/subscriptions/subscription-service/subscription.publish.service.ts
  src/services/subscriptions/subscription-service/subscription.read.service.ts
  src/services/subscriptions/subscription-service/subscription.service.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

profile update handles empty strings
  src/domain/common/location/location.service.ts
  src/domain/common/profile/profile.service.ts
  src/domain/common/reference/reference.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

profile update handles empty strings (#2919)
  src/domain/common/location/location.service.ts
  src/domain/common/profile/profile.service.ts
  src/domain/common/reference/reference.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix altText not being saved on visual.
  src/domain/storage/storage-bucket/storage.bucket.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated logic to add an invitation / application to check for the presence of an open invitation / application
  src/common/enums/community.membership.status.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ensure only the user being invited can accept the invitation
  src/common/enums/authorization.privilege.ts
  src/domain/community/community/community.lifecycle.invitation.options.provider.ts
  src/domain/community/invitation/invitation.lifecycle.config.ts
  src/domain/community/invitation/invitation.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tidy up lifecycle definition
  src/domain/community/invitation/invitation.lifecycle.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update xstate version
  package-lock.json
  package.json
Due: prettier --write

extended platform level admin functionality on spaces to be able to set visiblity, nameID, host - which should not be settable by space admins
  graphql-samples/mutations/update/update-hub-visibility
  graphql-samples/mutations/update/update-space-platform-settings
  src/domain/challenge/hub/dto/hub.dto.update.platform.settings.ts
  src/domain/challenge/hub/dto/hub.dto.update.visibility.ts
  src/domain/challenge/hub/hub.resolver.mutations.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/challenge/hub/hub.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial domain model extension for external invitations
  graphql-samples/mutations/create/community-membership-invitation-external
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.interface.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.authorization.ts
  src/domain/community/community/community.service.ts
  src/domain/community/community/dto/community.dto.invite.external.user.ts
  src/domain/community/invitation.external/dto/invitation.external..dto.delete.ts
  src/domain/community/invitation.external/dto/invitation.external.dto.create.ts
  src/domain/community/invitation.external/index.ts
  src/domain/community/invitation.external/invitation.external.entity.ts
  src/domain/community/invitation.external/invitation.external.interface.ts
  src/domain/community/invitation.external/invitation.external.module.ts
  src/domain/community/invitation.external/invitation.external.resolver.fields.ts
  src/domain/community/invitation.external/invitation.external.resolver.mutations.ts
  src/domain/community/invitation.external/invitation.external.service.authorization.ts
  src/domain/community/invitation.external/invitation.external.service.ts
  src/domain/community/invitation/invitation.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added up / down migration; tested core logic flows re creation of external invitation
  src/core/validation/handlers/base/base.handler.ts
  src/domain/community/community/community.service.ts
  src/migrations/1687025822351-invitationExternal.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

extended registration model to process external invitations to create new invitations
  src/domain/community/invitation.external/invitation.external.entity.ts
  src/domain/community/invitation.external/invitation.external.interface.ts
  src/domain/community/invitation.external/invitation.external.service.ts
  src/services/api/registration/registration.module.ts
  src/services/api/registration/registration.resolver.mutations.ts
  src/services/api/registration/registration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improve matrix error message.
  src/domain/communication/room/room.service.authorization.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Move migration to be last.
  src/migrations/1687155311648-post-whiteboard-rename.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
