Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP
  package-lock.json
  package.json
Due: prettier --write

Matrix fixes forced by update of TS
  src/domain/community/message/message.resolver.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed obsolete Http Module dependency
  package-lock.json
  package.json
  src/services/platform/matrix/management/matrix.user.management.module.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

More package updates
  package-lock.json
  package.json
Due: prettier --write

Updated all dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Package update WIP
  package-lock.json
  package.json
Due: prettier --write

Updated the rest of the dev packages
  package-lock.json
  package.json
Due: prettier --write

Removing unused dependencies
  package-lock.json
  package.json
Due: prettier --write

More dependencies cleaned up
  package-lock.json
  package.json
Due: prettier --write

Fixed all npm vulnerabilities, forced npm version check
  package-lock.json
  package.json
Due: prettier --write

Updated server version
  package.json
Due: prettier --write

Enabled introspection in all cases so gql schema is visible
  src/app.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Bumped npm version for travis
  .travis.yml
Due: none

Initial integration with latest matrix-js-sdk
  package-lock.json
  package.json
  quickstart-services.yml
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.adapter.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.dto.response.message.ts
  src/services/platform/matrix/adapter-room/matrix.room.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/agent/matrix.agent.ts
  src/services/platform/matrix/types/matrix.client.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Traefik for Synapse
  .build/traefik/http.yml
  .build/traefik/traefik.yml
  package-lock.json
  quickstart-services.yml
Due: prettier --write

Updated Dockerfile to install latest npm version
  Dockerfile
Due: none

added mutations for assigning / removing admins on ecoverse, challenge, org - with sample queries
  graphql-samples/mutations/authorization/assign-user-as-challenge-admin
  graphql-samples/mutations/authorization/assign-user-as-ecoverse-admin
  graphql-samples/mutations/authorization/assign-user-as-organisation-admin
  src/core/validation/handlers/base/base.handler.ts
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/challenge/dto/challenge.dto.assign.admin.ts
  src/domain/challenge/challenge/dto/challenge.dto.remove.admin.ts
  src/domain/challenge/ecoverse/dto/ecoverse.dto.assign.admin.ts
  src/domain/challenge/ecoverse/dto/ecoverse.dto.create.ts
  src/domain/challenge/ecoverse/dto/ecoverse.dto.delete.ts
  src/domain/challenge/ecoverse/dto/ecoverse.dto.remove.admin.ts
  src/domain/challenge/ecoverse/dto/ecoverse.dto.reset.authorization.ts
  src/domain/challenge/ecoverse/dto/ecoverse.dto.update.ts
  src/domain/challenge/ecoverse/ecoverse.module.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.mutations.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/challenge/ecoverse/index.ts
  src/domain/community/organisation/dto/organisation.dto.assign.admin.ts
  src/domain/community/organisation/dto/organisation.dto.assign.member.ts
  src/domain/community/organisation/dto/organisation.dto.create.ts
  src/domain/community/organisation/dto/organisation.dto.delete.ts
  src/domain/community/organisation/dto/organisation.dto.remove.admin.ts
  src/domain/community/organisation/dto/organisation.dto.remove.member.ts
  src/domain/community/organisation/dto/organisation.dto.reset.authorization.ts
  src/domain/community/organisation/dto/organisation.dto.update.ts
  src/domain/community/organisation/index.ts
  src/domain/community/organisation/organisation.resolver.mutations.ts
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated meta data name for the alkemio server to remove usage of ct
  alkemio.yml
  src/services/domain/metadata/metadata.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated remaining non-ORM references to AuthorizationDefinition
  package.json
  src/core/authorization/authorization.resolver.mutations.ts
  src/core/authorization/authorization.service.ts
  src/domain/challenge/challenge/challenge.lifecycle.options.provider.ts
  src/domain/challenge/ecoverse/ecoverse.dto.reset.authorization.ts
  src/domain/challenge/ecoverse/ecoverse.dto.update.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.mutations.ts
  src/domain/challenge/ecoverse/ecoverse.service.authorization.ts
  src/domain/common/authorization-policy/authorization.policy.resolver.fields.ts
  src/domain/common/authorization-policy/authorization.policy.service.ts
  src/domain/community/community/community.lifecycle.options.provider.ts
  src/domain/community/community/community.service.authorization.ts
  src/domain/community/organisation/organisation.dto.reset.authorization.ts
  src/domain/community/organisation/organisation.resolver.mutations.ts
  src/domain/community/organisation/organisation.service.authorization.ts
  src/domain/community/user-group/user-group.service.authorization.ts
  src/domain/community/user/user.dto.reset.authorization.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.resolver.queries.ts
  src/domain/community/user/user.service.authorization.ts
  src/services/domain/membership/membership.resolver.queries.ts
  src/services/domain/search/search.resolver.queries.ts
  src/services/platform/authorization-engine/authorization-engine.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed typo
  src/core/authorization/authorization.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated update sample ecocverse visibility
  graphql-samples/mutations/authorization/update-ecoverse-visibility
Due: none

renamed entity but kept table name
  src/core/authorization/authorization.module.ts
  src/core/authorization/authorization.service.ts
  src/domain/agent/agent/agent.service.ts
  src/domain/challenge/base-challenge/base.challenge.service.ts
  src/domain/challenge/challenge/challenge.lifecycle.options.provider.ts
  src/domain/collaboration/project/project.service.ts
  src/domain/collaboration/relation/relation.service.ts
  src/domain/common/authorization-policy/authorization.policy.entity.ts
  src/domain/common/authorization-policy/authorization.policy.module.ts
  src/domain/common/authorization-policy/authorization.policy.service.ts
  src/domain/common/entity/authorizable-entity/authorizable.entity.ts
  src/domain/common/reference/reference.service.ts
  src/domain/common/tagset/tagset.service.ts
  src/domain/community/application/application.service.ts
  src/domain/community/community/community.lifecycle.options.provider.ts
  src/domain/community/community/community.service.ts
  src/domain/community/organisation/organisation.service.ts
  src/domain/community/profile/profile.service.ts
  src/domain/community/user-group/user-group.service.ts
  src/domain/community/user/user.service.authorization.ts
  src/domain/community/user/user.service.ts
  src/domain/context/actor-group/actor-group.service.ts
  src/domain/context/actor/actor.service.ts
  src/domain/context/aspect/aspect.service.ts
  src/domain/context/context/context.service.authorization.ts
  src/domain/context/context/context.service.ts
  src/domain/context/ecosystem-model/ecosystem-model.service.ts
  src/services/platform/authorization-engine/authorization-engine.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed community user membership to use grant privilege; fixed auth policy assigned to new applications; fixed auth policy on challenges for ChallengeAdmins
  src/domain/challenge/challenge/challenge.service.authorization.ts
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed user id setting on application auth policy
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added removal of membership credential for community, group + org when removing those entities
  src/domain/community/community/community.service.ts
  src/domain/community/organisation/organisation.service.ts
  src/domain/community/user-group/user-group.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add support for live messaging - fix communication room retrieval bug
  package-lock.json
  package.json
  src/app.module.ts
  src/common/enums/alkemio.error.status.ts
  src/common/exceptions/communication.session.undefined.exception.ts
  src/common/utils/connectionContext.utils.ts
  src/domain/community/message/message.resolver.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.resolver.fields.ts
  src/services/platform/communication/communication.dto.message.received.ts
  src/services/platform/communication/communication.dto.message.result.ts
  src/services/platform/communication/communication.dto.room.invitation.received.ts
  src/services/platform/communication/communication.module.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/events/matrix.event.adpater.room.ts
  src/services/platform/matrix/events/matrix.event.dispatcher.ts
  src/services/platform/matrix/types/matrix.event.handler.type.ts
  src/services/platform/subscription/subscription.events.ts
  src/services/platform/subscription/subscription.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add example for messaging subscription
  graphql-samples/subscriptions/messageReceived
Due: none

Address review comments
  package-lock.json
  package.json
  src/app.module.ts
  src/common/utils/connectionContext.utils.ts
  src/domain/community/message/message.module.ts
  src/domain/community/message/message.resolver.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.resolver.subscriptions.ts
  src/services/platform/communication/communication.module.ts
  src/services/platform/communication/communication.service.events.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/events/matrix.event.adpater.room.ts
  src/services/platform/subscription/subscription.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Remove redundant matrix type
  src/services/platform/matrix/types/matrix.client.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Standardize Pub/Sub usage in server
  src/domain/community/profile/profile.module.ts
  src/domain/community/profile/profile.resolver.mutations.ts
  src/services/platform/subscription/subscription.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Address review comments part 2
  src/common/enums/alkemio.error.status.ts
  src/common/exceptions/communication.session.undefined.exception.ts
  src/common/utils/connectionContext.utils.ts
  src/domain/community/user/user.resolver.subscriptions.ts
  src/services/platform/communication/communication.service.events.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.dto.response.message.ts
  src/services/platform/matrix/adapter-user/matrix.user.adapter.service.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/agent/matrix.agent.ts
  src/services/platform/matrix/cryptography/matrix.cryptography.module.ts
  src/services/platform/matrix/events/matrix.event.adapter.group.ts
  src/services/platform/matrix/events/matrix.event.adpater.room.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
  src/services/platform/subscription/subscription.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update package-lock with latest npm version
  package-lock.json
Due: prettier --write

Docker build fix
  package-lock.json
  package.json
Due: prettier --write

moved Question/IQuestion our of application dto
  src/domain/common/question/question.interface.ts
  src/domain/common/question/question.type.ts
  src/domain/community/application/application.dto.create.ts
  src/domain/community/application/application.entity.ts
  src/domain/community/application/application.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added storage of a canvas as part of an EcosystemModel
  graphql-samples/mutations/update/update-ecosystem-model
  src/domain/common/canvas/canvas.dto.create.ts
  src/domain/common/canvas/canvas.dto.update.ts
  src/domain/common/canvas/canvas.entity.ts
  src/domain/common/canvas/canvas.interface.ts
  src/domain/common/canvas/canvas.module.ts
  src/domain/common/canvas/canvas.service.ts
  src/domain/common/canvas/index.ts
  src/domain/context/context/context.entity.ts
  src/domain/context/ecosystem-model/ecosystem-model.dto.update.ts
  src/domain/context/ecosystem-model/ecosystem-model.entity.ts
  src/domain/context/ecosystem-model/ecosystem-model.interface.ts
  src/domain/context/ecosystem-model/ecosystem-model.module.ts
  src/domain/context/ecosystem-model/ecosystem-model.resolver.mutations.ts
  src/domain/context/ecosystem-model/ecosystem-model.service.ts
  src/migrations/1628246034270-canvas.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated usage of ipfs http client that was blocking avatar uploading
  package-lock.json
  package.json
  src/services/platform/ipfs/ipfs.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated retrieving cid from returned ipfs client result
  src/services/platform/ipfs/ipfs.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ensure community cred still exists before removing members
  src/domain/challenge/base-challenge/base.challenge.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

bump version to reflect subs on comms
  package.json
Due: prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
