Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Adds Overmind socket and Claude settings to gitignore
  .gitignore
Due: none

Simplifies .gitignore for script management
  .gitignore
Due: none

Adds Overmind configuration for development
  .scripts/overmind/Procfile.dev
  .scripts/overmind/Procfile.full
  .scripts/overmind/monitor.sh
  .scripts/overmind/status.sh
Due: none

chore: update schema baseline
  schema-baseline.graphql
Due: none

chore: update schema baseline (#5738)
  schema-baseline.graphql
Due: none

Migrates JSON columns to JSONB for performance (#5733)
  src/domain/access/role/role.entity.ts
  src/domain/collaboration/callout/callout.entity.ts
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.entity.ts
  src/domain/collaboration/innovation-flow/innovation.flow.entity.ts
  src/domain/common/authorization-policy/authorization.policy.entity.ts
  src/domain/common/location/location.entity.ts
  src/domain/common/whiteboard/whiteboard.entity.ts
  src/domain/community/organization/organization.entity.ts
  src/domain/community/user-settings/user.settings.entity.ts
  src/domain/community/virtual-contributor/virtual.contributor.entity.ts
  src/domain/space/account/account.entity.ts
  src/domain/space/space/space.entity.ts
  src/domain/template/template-content-space/template.content.space.entity.ts
  src/migrations/1767883714610-convertJsonToJsonb.ts
  src/platform/in-app-notification/in.app.notification.entity.ts
  src/platform/licensing/credential-based/license-policy/license.policy.entity.ts
  src/platform/platform/platform.entity.ts
  src/services/ai-server/ai-persona/ai.persona.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

address AI comments
  schema-baseline.graphql
  schema-lite.graphql
  schema.graphql
  src/domain/collaboration/callout/callout.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: remove ContributorModule and update related imports to ProfileAvatarService
  .claude/settings.local.json
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  src/core/bootstrap/bootstrap.module.ts
  src/domain/access/role-set/role.set.module.ts
  src/domain/actor/actor/dto/actor.dto.filter.ts
  src/domain/actor/actor/dto/actor.query.args.ts
  src/domain/actor/actor/dto/index.ts
  src/domain/actor/actor/index.ts
  src/domain/common/profile/profile.avatar.service.ts
  src/domain/common/profile/profile.module.ts
  src/domain/community/contributor/contributor.module.ts
  src/domain/community/contributor/dto/contributor.dto.create.ts
  src/domain/community/contributor/dto/contributor.dto.update.ts
  src/domain/community/contributor/index.ts
  src/domain/community/organization/dto/organization.dto.create.ts
  src/domain/community/organization/dto/organization.dto.update.ts
  src/domain/community/organization/organization.module.ts
  src/domain/community/organization/organization.resolver.queries.ts
  src/domain/community/organization/organization.service.ts
  src/domain/community/user/dto/user.dto.create.ts
  src/domain/community/user/dto/user.dto.update.ts
  src/domain/community/user/dto/users.query.args.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.service.ts
  src/domain/community/virtual-contributor/dto/virtual.contributor.dto.create.ts
  src/domain/community/virtual-contributor/dto/virtual.contributor.dto.update.ts
  src/domain/community/virtual-contributor/virtual.contributor.module.ts
  src/domain/community/virtual-contributor/virtual.contributor.resolver.queries.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/domain/space/account/account.module.ts
  src/platform-admin/admin/platform.admin.resolver.fields.ts
  src/platform-admin/admin/platform.admin.service.ts
  src/platform-admin/services/avatars/admin.avatar.module.ts
  src/platform-admin/services/avatars/admin.avatarresolver.mutations.ts
  src/services/api/me/me.module.ts
  test/mocks/contributor.service.mock.ts
  test/mocks/profile.avatar.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: remove actor relation from ConversationMembership and rename contributor terminology
  .claude/settings.local.json
  src/domain/access/application/application.resolver.fields.ts
  src/domain/access/application/application.service.authorization.ts
  src/domain/access/application/application.service.ts
  src/domain/access/invitation/invitation.resolver.fields.ts
  src/domain/access/invitation/invitation.service.authorization.ts
  src/domain/access/invitation/invitation.service.ts
  src/domain/access/role-set/role.set.resolver.mutations.ts
  src/domain/actor/actor-lookup/actor.lookup.module.ts
  src/domain/actor/actor-lookup/actor.lookup.service.cache.ts
  src/domain/actor/actor-lookup/actor.lookup.service.ts
  src/domain/collaboration/collaboration/collaboration.service.authorization.ts
  src/domain/communication/conversation-membership/conversation.membership.entity.ts
  src/domain/communication/conversation-membership/conversation.membership.interface.ts
  src/domain/communication/conversation/conversation.module.ts
  src/domain/communication/conversation/conversation.resolver.fields.ts
  src/domain/communication/conversation/conversation.resolver.mutations.ts
  src/domain/communication/conversation/conversation.service.authorization.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/messaging/mention.interface.ts
  src/domain/communication/messaging/messaging.service.ts
  src/domain/communication/room-mentions/room.mentions.service.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.mentions.from.text.spec.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/domain/space/space/space.service.authorization.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/api/activity-log/activity.log.builder.service.ts
  src/services/api/activity-log/dto/activity.log.dto.entry.member.joined.interface.ts
  src/services/api/registration/registration.service.ts
  src/services/api/roles/roles.service.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
  src/services/infrastructure/url-generator/url.generator.service.ts
  test/mocks/invitation.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update design to match develop
  docs/Design.md
Due: prettier --write

refactor: rename contributor terminology to actor in filenames and symbols
  src/common/enums/notification.event.payload.ts
  src/core/dataloader/creators/loader.creators/in-app-notification/actor.loader.creator.ts
  src/core/dataloader/creators/loader.creators/index.ts
  src/domain/community/contributor/actor.defaults.ts
  src/domain/community/contributor/contributor.module.ts
  src/domain/community/contributor/index.ts
  src/domain/community/organization/organization.service.ts
  src/domain/community/user/user.service.ts
  src/platform/in-app-notification-payload/dto/space/index.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.actor.ts
  src/platform/in-app-notification-payload/field-resolvers/index.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.actor.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/vc/in.app.notification.payload.virtual.contributor.resolver.fields.ts
  src/platform/in-app-notification-payload/in.app.notification.payload.interface.ts
  src/platform/in-app-notification-payload/in.app.notification.payload.module.ts
  src/platform/in-app-notification/in.app.notification.resolver.fields.ts
  src/platform/in-app-notification/in.app.notification.service.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-adapter/notification.user.adapter.ts
  src/services/api/roles/roles.service.spec.ts
  src/services/api/roles/util/get.space.roles.for.actor.entity.data.ts
  src/services/api/roles/util/get.space.roles.for.actor.query.result.ts
  src/services/api/roles/util/map.space.credentials.to.roles.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: converge user creation paths to ensure authorization is applied
  src/services/api/registration/registration.resolver.mutations.ts
  src/services/api/registration/registration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: allow relinking when old Kratos identity no longer exists
  src/domain/community/user-authentication-link/user.authentication.link.module.ts
  src/domain/community/user-authentication-link/user.authentication.link.service.spec.ts
  src/domain/community/user-authentication-link/user.authentication.link.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: skip finalization for linked users, rename createOrLinkUserFromAgentInfo
  src/domain/community/user/user.service.spec.ts
  src/domain/community/user/user.service.ts
  src/platform-admin/domain/user/authentication-id-backfill/authentication-id-backfill.service.ts
  src/services/api/registration/registration.service.ts
  test/integration/platform-admin/authentication-id-backfill.spec.ts
  test/mocks/user.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: grant CREATE privilege to registered users on platform messaging
  src/domain/communication/messaging/messaging.service.authorization.spec.ts
  src/domain/communication/messaging/messaging.service.authorization.ts
  src/domain/communication/messaging/messaging.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: improve exception handling and logging in user auth linking
  src/common/exceptions/user/user.registered.exception.ts
  src/domain/community/user-authentication-link/user.authentication.link.service.spec.ts
  src/domain/community/user-authentication-link/user.authentication.link.service.ts
  src/services/api/registration/registration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: move messaging credential rule constant to common constants
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/domain/communication/messaging/messaging.service.authorization.spec.ts
  src/domain/communication/messaging/messaging.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: add extra_hosts configuration for oidc-service in YAML files
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/common/exceptions/user/user.registered.exception.ts
  src/domain/communication/messaging/messaging.service.authorization.spec.ts
  src/domain/communication/messaging/messaging.service.authorization.ts
  src/domain/communication/messaging/messaging.service.ts
  src/domain/community/user-authentication-link/user.authentication.link.module.ts
  src/domain/community/user-authentication-link/user.authentication.link.service.spec.ts
  src/domain/community/user-authentication-link/user.authentication.link.service.ts
  src/domain/community/user/user.service.spec.ts
  src/domain/community/user/user.service.ts
  src/platform-admin/domain/user/authentication-id-backfill/authentication-id-backfill.service.ts
  src/services/api/registration/registration.resolver.mutations.ts
  src/services/api/registration/registration.service.ts
  test/integration/platform-admin/authentication-id-backfill.spec.ts
  test/mocks/user.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: add extra_hosts configuration for oidc-service in YAML files (#5742)
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/common/exceptions/user/user.registered.exception.ts
  src/domain/communication/messaging/messaging.service.authorization.spec.ts
  src/domain/communication/messaging/messaging.service.authorization.ts
  src/domain/communication/messaging/messaging.service.ts
  src/domain/community/user-authentication-link/user.authentication.link.module.ts
  src/domain/community/user-authentication-link/user.authentication.link.service.spec.ts
  src/domain/community/user-authentication-link/user.authentication.link.service.ts
  src/domain/community/user/user.service.spec.ts
  src/domain/community/user/user.service.ts
  src/platform-admin/domain/user/authentication-id-backfill/authentication-id-backfill.service.ts
  src/services/api/registration/registration.resolver.mutations.ts
  src/services/api/registration/registration.service.ts
  test/integration/platform-admin/authentication-id-backfill.spec.ts
  test/mocks/user.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Address CodeRabbit comments
  schema.graphql
  src/migrations/1767787991109-calloutPublishedDate.ts
  src/services/api/conversion/dto/convert.dto.space.l1.to.space.l2.input.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: workaround Matrix power level mismatch for admin moderation actions
  docs/matrix-admin-reflection.md
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chats counter subscription
  src/common/constants/providers.ts
  src/common/enums/messaging.queue.ts
  src/common/enums/subscription.type.ts
  src/domain/communication/conversation-membership/conversation.membership.entity.ts
  src/domain/communication/conversation-membership/conversation.membership.interface.ts
  src/domain/communication/conversation-membership/conversation.membership.module.ts
  src/domain/communication/conversation-membership/conversation.membership.service.ts
  src/domain/communication/conversation/conversation.module.ts
  src/domain/communication/conversation/conversation.resolver.mutations.ts
  src/domain/communication/conversation/conversation.resolver.subscription.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/communication/room/room.entity.ts
  src/domain/communication/room/room.interface.ts
  src/domain/communication/room/room.module.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/migrations/1768225755841-AddConversationUnreadTracking.ts
  src/services/api/me/me.module.ts
  src/services/api/me/me.resolver.fields.ts
  src/services/subscriptions/subscription-service/dto/conversations.unread.count.subscription.payload.ts
  src/services/subscriptions/subscription-service/dto/index.ts
  src/services/subscriptions/subscription-service/subscription.publish.service.ts
  src/services/subscriptions/subscription-service/subscription.read.service.ts
  src/services/subscriptions/subscription-service/subscription.service.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fixes
  src/common/enums/subscription.type.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/migrations/1768225755841-AddConversationUnreadTracking.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: reorder parameters in removeReactionToMessage for consistency
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: workaround Matrix power level mismatch for admin moderation actions (#5744)
  docs/matrix-admin-reflection.md
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chat subscriptions complete
  src/common/constants/providers.ts
  src/common/enums/messaging.queue.ts
  src/common/enums/subscription.type.ts
  src/domain/communication/conversation-membership/conversation.membership.service.ts
  src/domain/communication/conversation/conversation.resolver.fields.ts
  src/domain/communication/conversation/conversation.resolver.subscription.ts
  src/domain/communication/conversation/dto/index.ts
  src/domain/communication/conversation/dto/subscription/index.ts
  src/domain/communication/conversation/dto/subscription/user.conversation.message.event.subscription.result.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/services/subscriptions/subscription-service/dto/index.ts
  src/services/subscriptions/subscription-service/dto/user.conversation.message.subscription.payload.ts
  src/services/subscriptions/subscription-service/subscription.publish.service.ts
  src/services/subscriptions/subscription-service/subscription.read.service.ts
  src/services/subscriptions/subscription-service/subscription.service.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.131.0
  package.json
Due: prettier --write

feat(communication): add unread counts and read state support
  package.json
  pnpm-lock.yaml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  schema.graphql
  src/domain/communication/conversation/conversation.resolver.fields.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/communication/room/dto/room.dto.mark.message.read.ts
  src/domain/communication/room/dto/room.dto.unread.counts.ts
  src/domain/communication/room/room.resolver.fields.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.ts
  src/services/adapters/communication-adapter/communication.adapter.event.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/adapters/communication-adapter/dto/communication.dto.room.with.read.state.result.ts
  src/services/event-handlers/internal/message-inbox/message.edited.event.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
  src/services/event-handlers/internal/message-inbox/message.redacted.event.ts
  src/services/event-handlers/internal/message-inbox/room.created.event.ts
  src/services/event-handlers/internal/message-inbox/room.dm.requested.event.ts
  src/services/event-handlers/internal/message-inbox/room.member.left.event.ts
  src/services/event-handlers/internal/message-inbox/room.member.updated.event.ts
  src/services/event-handlers/internal/message-inbox/room.receipt.updated.event.ts
  src/services/subscriptions/subscription-service/dto/room.event.subscription.payload.ts
  src/services/subscriptions/subscription-service/subscription.publish.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

re-gen schema after merge with develop
  schema.graphql
Due: none

refactor: remove unused senderType from message interfaces
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/message.reaction/message.reaction.interface.ts
  src/domain/communication/message/message.interface.ts
  src/domain/communication/room-lookup/room.lookup.module.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.ts
  src/services/adapters/communication-adapter/communication.adapter.spec.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/adapters/communication-adapter/dto/communication.dto.room.with.read.state.result.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
  src/services/room-integration/room.controller.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: update eslint ignore patterns for migrations and documentation files
  eslint.config.js
Due: none

feat: add messagesCount to CommunicationRoomResult and update related services
  src/domain/communication/room/room.interface.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/adapters/communication-adapter/dto/communication.dto.room.result.ts
  src/services/adapters/communication-adapter/dto/communication.dto.room.with.read.state.result.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: correct async call to publishRoomReceiptEvent in message inbox service
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enables passkey and WebAuthn authentication
  .build/ory/kratos/identity.schema.json
  .build/ory/kratos/kratos.yml
Due: prettier --write

fix: add warning for missing original message in publish edit event
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removes WebAuthn support
  .build/ory/kratos/identity.schema.json
  .build/ory/kratos/kratos.yml
Due: prettier --write

Adds worktree management commands
  .claude/commands/worktree.md
  .claude/skills/worktree.md
Due: prettier --write
