Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

refined migration
  src/migrations/1638441120817-canvas-checkout.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated migratioin
  src/migrations/1638441120817-canvas-checkout.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added code to create canvas checkout if not present
  src/domain/common/canvas/canvas.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated the db column type for status
  src/migrations/1638441120817-canvas-checkout.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

reverted change in notification name which was breaking preferences
  src/common/enums/user.preference.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added event for new user registration when new user is created
  src/domain/community/user/user.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed updates payload generation
  src/domain/common/notifications/notifications.module.ts
  src/domain/common/notifications/notifications.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Migration fix
  src/migrations/1638441120817-canvas-checkout.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Moved notifications payload builder to microservices module
  quickstart-services.yml
  src/core/microservices/index.ts
  src/core/microservices/microservices.module.ts
  src/core/microservices/notifications.payload.builder.ts
  src/domain/common/notifications/notifications.module.ts
  src/domain/communication/communication/communication.module.ts
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/updates/updates.module.ts
  src/domain/communication/updates/updates.resolver.mutations.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated create profile to use the passed in tagsets / references data
  graphql-samples/mutations/create/create-user
  src/domain/community/profile/profile.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Changed notifications dependency
  quickstart-services.yml
Due: none

add default set of references to a user based on the ux template
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.service.ts
  src/services/platform/configuration/config/config.module.ts
  src/services/platform/configuration/config/template/user.template.interface.ts
  src/services/platform/configuration/templates/ux-template.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Server configured to use latest notifications config
  .env.docker
  quickstart-services.yml
Due: none

added logic to allow setting reference value to empty string
  src/domain/common/reference/reference.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

corrected template field name for user reference
  src/domain/common/reference/reference.entity.ts
  src/domain/community/user/user.service.ts
  src/services/platform/configuration/config/template/user.template.interface.ts
  src/services/platform/configuration/templates/ux-template.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated mutation for removing canvas to be specific to context; fixed removing of context to also remove contained canvases
  graphql-samples/mutations/delete/delete-canvas
  package-lock.json
  package.json
  src/domain/common/canvas/canvas.resolver.mutations.ts
  src/domain/context/context/context.resolver.mutations.ts
  src/domain/context/context/context.service.ts
  src/domain/context/context/dto/context.dto.delete.canvas.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed original check that was causing issues
  src/domain/common/canvas/canvas.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

extended canvases query to optionally take a list of canvas identifiers to filter by
  package-lock.json
  package.json
  src/domain/context/context/context.resolver.fields.ts
  src/domain/context/context/context.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added activity field with count for members to organization
  src/domain/community/organization/organization.resolver.fields.ts
  src/domain/community/organization/organization.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed parent community relationship
  src/core/microservices/notifications.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Notification preferences
  src/common/enums/user.preference.type.ts
  src/migrations/1639144823931-new-event-preferences.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed display text of Admin Community Discussion Created
  src/migrations/1639144823931-new-event-preferences.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated search functionality to allow queries from users that are not authenticated; turn off user searching for such users
  package-lock.json
  package.json
  src/core/authorization/authorization.service.ts
  src/services/domain/search/search.resolver.queries.ts
  src/services/domain/search/search.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added feature flag for canvases
  alkemio.yml
  src/common/enums/configuration.type.ts
  src/services/platform/configuration/config/config.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

rework logic for excluding users from search for unauthenticated users
  src/services/domain/search/search.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated preference definition template
  src/services/platform/configuration/templates/user-preference-definition.json
Due: prettier --write

refined search on users logic to never be enabled for non-auth users
  src/services/domain/search/search.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP
  src/migrations/1639144823931-new-event-preferences.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed migration of new preferences
  src/migrations/1639144823931-new-event-preferences.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated migration name
  src/migrations/1639406613479-updated-preference-definitions.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Question update
  src/services/platform/configuration/templates/ux-template.json
Due: prettier --write

Kratos 0.8.0
  quickstart-services.yml
Due: none

removed the communitId from communication description returned events
  src/domain/communication/communication/dto/communication.dto.discussion.message.received.ts
  src/domain/communication/communication/dto/communication.dto.updates.message.received.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed typo
  src/common/enums/alkemio.error.status.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

set error message type correctly
  src/common/exceptions/communication.subscription.exception.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

made the subscription event contents simpler
  src/domain/communication/communication/communication.resolver.subscriptions.ts
  src/domain/communication/communication/dto/communication.dto.discussion.message.received.ts
  src/domain/communication/communication/dto/communication.dto.updates.message.received.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed saving large canvases
  alkemio.yml
  src/domain/common/canvas/canvas.entity.ts
  src/main.ts
  src/migrations/1639665207723-increase-canvas-value-size.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Major version bump
  package-lock.json
  package.json
Due: prettier --write

Fixed all critical issues and (most) moderate ones
  package-lock.json
  package.json
Due: prettier --write

Removed sqlite
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
