Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactor: run docker services in detached mode
  package.json
Due: prettier --write

rabbit feedback
  src/domain/community/virtual-contributor-platform-settings/dto/virtual.contributor.platform.settings.dto.update.ts
  src/domain/community/virtual-contributor-platform-settings/virtual.contributor.platform.settings.service.ts
  src/domain/community/virtual-contributor/dto/virtual.contributor.dto.update.platform.settings.ts
  src/domain/community/virtual-contributor/virtual.contributor.entity.ts
  src/domain/community/virtual-contributor/virtual.contributor.interface.ts
  src/domain/community/virtual-contributor/virtual.contributor.resolver.mutations.ts
  src/services/ai-server/ai-persona/ai.persona.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Markdown Tables
  src/domain/common/memo/conversion/markdown.schema.ts
  src/domain/common/memo/conversion/markdown.to.yjs.v2.state.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds media gallery functionality
  src/common/constants/authorization/credential.rule.constants.ts
  src/common/enums/authorization.policy.type.ts
  src/common/enums/callout.framing.type.ts
  src/core/validation/handlers/base/base.handler.ts
  src/domain/collaboration/callout-framing/callout.framing.entity.ts
  src/domain/collaboration/callout-framing/callout.framing.interface.ts
  src/domain/collaboration/callout-framing/callout.framing.module.ts
  src/domain/collaboration/callout-framing/callout.framing.resolver.fields.ts
  src/domain/collaboration/callout-framing/callout.framing.service.authorization.ts
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/collaboration/callout-framing/dto/callout.framing.dto.create.ts
  src/domain/collaboration/callout-framing/dto/callout.framing.dto.update.ts
  src/domain/common/media-gallery/dto/index.ts
  src/domain/common/media-gallery/dto/media.gallery.dto.create.ts
  src/domain/common/media-gallery/dto/media.gallery.dto.update.ts
  src/domain/common/media-gallery/media.gallery.entity.ts
  src/domain/common/media-gallery/media.gallery.interface.ts
  src/domain/common/media-gallery/media.gallery.module.ts
  src/domain/common/media-gallery/media.gallery.resolver.fields.ts
  src/domain/common/media-gallery/media.gallery.service.authorization.ts
  src/domain/common/media-gallery/media.gallery.service.ts
  src/domain/common/reference/reference.service.ts
  src/domain/common/visual/dto/visual.dto.create.ts
  src/domain/common/visual/visual.entity.ts
  src/migrations/1763816289774-mediaGallery.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactors MediaGalleryType to IMediaGallery
  src/domain/collaboration/callout-framing/callout.framing.interface.ts
  src/domain/collaboration/callout-framing/callout.framing.resolver.fields.ts
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/common/media-gallery/media.gallery.entity.ts
  src/domain/common/media-gallery/media.gallery.interface.ts
  src/domain/common/media-gallery/media.gallery.resolver.fields.ts
  src/domain/common/media-gallery/media.gallery.service.authorization.ts
  src/domain/common/media-gallery/media.gallery.service.ts
  src/migrations/1763816289774-mediaGallery.ts
  src/migrations/1763839565637-mediaGallery.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactors media gallery creation and update
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/common/media-gallery/dto/media.gallery.dto.create.ts
  src/domain/common/media-gallery/dto/media.gallery.dto.update.ts
  src/domain/common/media-gallery/media.gallery.module.ts
  src/domain/common/media-gallery/media.gallery.service.ts
  src/domain/common/visual/dto/visual.dto.create.ts
  src/domain/common/visual/dto/visual.dto.update.ts
  src/domain/common/visual/visual.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Review router fixes (#5626)
  .github/workflows/review-router.yml
  .github/workflows/review_metrics/review_metrics.py
  .github/workflows/review_metrics/test_review_metrics.py
Due: none

Applies authorization to MediaGallery visuals
  src/domain/common/media-gallery/media.gallery.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removes unused method
  src/domain/common/media-gallery/media.gallery.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

do not keep global-guest cred rule on wb is space setting is off
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds media gallery visual type support
  src/common/enums/visual.type.ts
  src/domain/common/media-gallery/media.gallery.module.ts
  src/domain/common/media-gallery/media.gallery.service.ts
  src/domain/common/profile/profile.service.ts
  src/domain/common/visual/dto/visual.dto.create.ts
  src/domain/common/visual/visual.constraints.ts
  src/domain/common/visual/visual.resolver.mutations.ts
  src/domain/common/visual/visual.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow guest to auth as logged in user for public whiteboards
  src/services/api/me/me.resolver.fields.ts
  src/services/whiteboard-integration/whiteboard.integration.service.ts
  test/unit/services/whiteboard-integration/whiteboard.integration.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: update nats dependency version to remove caret
  package.json
  pnpm-lock.yaml
Due: prettier --write

removed some benchmark utils
  src/core/authorization/authorization.service.ts
  src/domain/space/space/space.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed more benchmark utils
  src/core/bootstrap/bootstrap.service.ts
  src/domain/space/space/space.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

remove unused NatsOptions import from main.ts
  src/main.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

change constructor of AuthorizationPolicyRuleCredential
  src/core/authorization/authorization.policy.rule.credential.ts
  src/domain/common/authorization-policy/authorization.policy.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

include registered user credential next to global guest one
  docs/Guest-Users.md
  specs/001-toggle-whiteboard-guest/spec.md
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
  test/unit/domain/common/whiteboard/whiteboard.guest-access.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

coderabbit comment
  src/domain/common/memo/conversion/markdown.schema.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

profile auth service to cascade down privileges
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds system architecture design document
  docs/Design.md
Due: prettier --write

adjustments to Design.md
  docs/Design.md
Due: prettier --write

Adds system architecture documentation (#5652)
  docs/Design.md
Due: prettier --write

fix tests
  test/unit/domain/common/whiteboard/whiteboard.guest-access.service.spec.ts
Due: none

Merge pull request #5646 from alkem-io/client-8625
  src/domain/common/memo/conversion/markdown.schema.ts
  src/domain/common/memo/conversion/markdown.to.yjs.v2.state.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix docs
  specs/001-toggle-whiteboard-guest/spec.md
  specs/014-guest-contributions-privileges/quickstart.md
  specs/014-guest-contributions-privileges/tasks.md
Due: prettier --write

add log for authentication error and moving on to guest access
  src/core/authentication/authentication.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

chore: update schema baseline (#5655)
  schema-baseline.graphql
Due: none

cleanup
  src/services/whiteboard-integration/whiteboard.integration.controller.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix test data
  test/data/virtual-contributor.mock.ts
Due: none

exclude VC memberships from user's memberships (#5643)
  src/services/api/me/me.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.127.1
  package.json
Due: prettier --write

Revert "Merge branch 'develop' into feature-whiteboards-public"
  docs/Design.md
  src/domain/common/memo/conversion/markdown.schema.ts
  src/domain/common/memo/conversion/markdown.to.yjs.v2.state.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pass space settings to applyAuthorizationPolicy when updateing contentUpdataPolicy for WB in order to preserve PUBLIC_SHARE
  src/domain/common/whiteboard/whiteboard.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: update Docker Hub release logic in CI configuration
  .github/workflows/build-release-docker-hub.yml
Due: none

temp: manual dispatch
  .github/workflows/build-release-docker-hub.yml
Due: none

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
