Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

enable guest access
  specs/001-toggle-whiteboard-guest/contracts/updateWhiteboardGuestAccess.graphql
  specs/001-toggle-whiteboard-guest/quickstart.md
  specs/001-toggle-whiteboard-guest/tasks.md
  src/domain/common/whiteboard/dto/whiteboard.dto.guest-access.toggle.ts
  src/domain/common/whiteboard/index.ts
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
  src/domain/common/whiteboard/whiteboard.resolver.mutations.ts
  test/unit/domain/common/whiteboard/whiteboard.guest-access.service.spec.ts
  test/unit/domain/common/whiteboard/whiteboard.resolver.mutations.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: add Alkemio server URL and identity resolve path to configuration files
  .build/synapse/homeserver.yaml
  .env.docker
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

feat: add Alkemio server URL and identity resolve path to configuration files (#5615)
  .build/synapse/homeserver.yaml
  .env.docker
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

add tests; correlationId in AgentInfo class; schema re-gen
  schema.graphql
  specs/001-toggle-whiteboard-guest/quickstart.md
  specs/001-toggle-whiteboard-guest/tasks.md
  src/core/authentication.agent.info/agent.info.ts
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
  test/unit/domain/common/whiteboard/whiteboard.guest-access.service.spec.ts
  test/unit/domain/common/whiteboard/whiteboard.resolver.mutations.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

adds guestContributionsAllowed to Whitebard gql object support guest access for the whiteboard collaboration service
  src/domain/common/whiteboard/whiteboard.interface.ts
  src/domain/common/whiteboard/whiteboard.resolver.fields.ts
  src/services/whiteboard-integration/inputs/access.granted.input.data.ts
  src/services/whiteboard-integration/inputs/info.input.data.ts
  src/services/whiteboard-integration/inputs/who.input.data.ts
  src/services/whiteboard-integration/whiteboard.integration.controller.ts
  src/services/whiteboard-integration/whiteboard.integration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

spec for #8980
  specs/014-guest-contributions-privileges/spec.md
Due: prettier --write

clarify spec requirements
  specs/014-guest-contributions-privileges/spec.md
Due: prettier --write

add tasks; fix tasks; fix planning phase docs based on correct information
  specs/014-guest-contributions-privileges/data-model.md
  specs/014-guest-contributions-privileges/research.md
  specs/014-guest-contributions-privileges/tasks.md
Due: prettier --write

fix more docs - spec and service-contracts
  specs/014-guest-contributions-privileges/spec.md
Due: prettier --write

implementation 1
  specs/014-guest-contributions-privileges/tasks.md
  src/domain/collaboration/callout-contribution/callout.contribution.service.authorization.ts
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cleanup
  specs/014-guest-contributions-privileges/tasks.md
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

implement: new admins have PUBLIC_SHARE privilege if setting is ON
  specs/014-guest-contributions-privileges/tasks.md
  src/domain/access/role-set/role.set.module.ts
  src/domain/access/role-set/role.set.resolver.mutations.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

do not do anything manual for new admins; grant PUBLIC_SHARE based on credential SPACE_ADMIN
  specs/014-guest-contributions-privileges/data-model.md
  specs/014-guest-contributions-privileges/plan.md
  specs/014-guest-contributions-privileges/research.md
  specs/014-guest-contributions-privileges/spec.md
  specs/014-guest-contributions-privileges/tasks.md
  src/domain/access/role-set/role.set.resolver.mutations.ts
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

admins of parent spaces can public share as well; platform admins too;
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Implements guest user functionality
  docs/Guest-Users.md
  src/app.module.ts
  src/common/enums/authorization.credential.ts
  src/common/enums/role.name.ts
  src/core/authentication.agent.info/agent.info.service.ts
  src/core/authentication.agent.info/agent.info.ts
  src/core/authentication/authentication.service.ts
  src/core/authorization/authorization.module.ts
  src/core/authorization/graphql.guard.ts
  src/core/authorization/index.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/access/platform-roles-access/platform.roles.access.service.ts
  src/domain/space/space/space.service.platform.roles.access.ts
  src/domain/test/guest.test.resolver.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enhances authentication with guest user support
  src/core/authentication/ory.strategy.ts
  src/core/authorization/authorization.module.ts
  src/core/authorization/graphql.guard.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds user authentication information
  src/domain/test/dto/who.am.i.dto.ts
  src/domain/test/enums/user.authentication.status.ts
  src/domain/test/guest.test.resolver.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enhances user credential information
  src/domain/test/dto/credential.info.dto.ts
  src/domain/test/dto/who.am.i.dto.ts
  src/domain/test/guest.test.resolver.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Implements ephemeral guest user authentication
  docs/Guest-Users.md
Due: prettier --write

Adds default guest name to agent info mock data
  test/data/agentInfo.mock.ts
Due: none

Implements agent info retrieval
  src/core/authentication/authentication.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

remove unneded guest test resolver
  src/app.module.ts
  src/domain/test/dto/credential.info.dto.ts
  src/domain/test/dto/who.am.i.dto.ts
  src/domain/test/enums/user.authentication.status.ts
  src/domain/test/guest.test.resolver.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

improve variable name
  src/core/authorization/graphql.guard.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: update in-app notification entity tracking with correct foreign key constraints and orphaned record cleanup
  src/migrations/1763390167422-NotificationEntityTrackingFixes.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds instructions for Copilot coding agent
  docs/AI.md
Due: prettier --write

fix: update in-app notification tracking to use correct roomID from discussion payload
  src/migrations/1763390167422-NotificationEntityTrackingFixes.ts
  src/platform/in-app-notification-payload/dto/platform/notification.in.app.payload.platform.forum.discussion.ts
  src/platform/in-app-notification/in.app.notification.service.ts
  src/services/adapters/notification-adapter/notification.platform.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: dropped the usage of deleteDiscussion; used removeDiscussion instead
  src/platform/forum-discussion/discussion.resolver.mutations.ts
  src/platform/forum-discussion/discussion.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds ratelimiting configurations
  .build/synapse/homeserver.yaml
Due: none

0.126.1
  package.json
Due: prettier --write

addressing feedback
  docs/Guest-Users.md
  src/core/authentication/authentication.service.ts
  src/core/authentication/constants.ts
  src/core/authentication/ory.strategy.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

Guest User support (#5430)
  docs/Guest-Users.md
  src/common/enums/authorization.credential.ts
  src/common/enums/role.name.ts
  src/core/authentication.agent.info/agent.info.service.ts
  src/core/authentication.agent.info/agent.info.ts
  src/core/authentication/authentication.service.spec.ts
  src/core/authentication/authentication.service.ts
  src/core/authentication/constants.ts
  src/core/authentication/ory.strategy.ts
  src/core/authorization/graphql.guard.ts
  src/core/authorization/index.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/access/platform-roles-access/platform.roles.access.service.ts
  src/domain/space/space/space.service.platform.roles.access.ts
  src/platform-admin/services/search/admin.search.ingest.resolver.mutations.ts
  test/data/agentInfo.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

use hydrated whiteboard if all is well with privilege checks for update
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
  test/unit/domain/common/whiteboard/whiteboard.guest-access.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

generate schema
  schema.graphql
Due: none

remove reduntant credential
  src/common/enums/authorization.credential.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: improve error handling and process termination in print-schema
  src/tools/schema/print-schema.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds notification email blacklist spec
  specs/001-notification-email-blacklist/checklists/requirements.md
  specs/001-notification-email-blacklist/spec.md
Due: prettier --write

feat: improve error handling and process termination in print-schema (#5619)
  src/tools/schema/print-schema.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
