Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Community creation fixes - matrix community creation for unknown ct-community id - cryptography fix - change admin domain
  package-lock.json
  package.json
  src/domain/community/community/community.service.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/cryptography/matrix.cryptography.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed issue with ecoverse activity metrics
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

additional error handling; added room field setup (not tested); additional typing
  .build/synapse/cherrytwist.matrix.host.log.config
  .build/synapse/cherrytwist.matrix.host.signing.key
  .build/synapse/homeserver.db
  .build/synapse/homeserver.yaml
  .build/synapse/media_store/README.md
  package.json
  src/common/enums/cherrytwist.error.status.ts
  src/common/enums/logging.context.ts
  src/common/exceptions/matrix.login.exception.ts
  src/common/exceptions/matrix.registration.exception.ts
  src/domain/community/community/community.interface.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/agent-pool/matrix.client.types.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed bug with room field on community
  src/domain/community/community/community.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pick up admin user from config; made user adapter service; tidied u logging; misc refactoring
  cherrytwist.yml
  src/services/platform/communication/communication.module.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.module.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.ts
  src/services/platform/matrix/agent-pool/matrix.agent.ts
  src/services/platform/matrix/management/matrix.user.management.module.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
  src/services/platform/matrix/user/matrix.user.adapter.module.ts
  src/services/platform/matrix/user/matrix.user.adapter.service.ts
  src/services/platform/matrix/user/matrix.user.identifier.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Extend configuration
  cherrytwist.yml
Due: none

Fix Profile service
  src/domain/community/profile/profile.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix Profile service 2
  src/domain/community/profile/profile.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

split matrix agent into entity + service
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/agent-pool/matrix.agent.interface.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.module.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.ts
  src/services/platform/matrix/agent-pool/matrix.agent.service.ts
  src/services/platform/matrix/agent-pool/matrix.agent.ts
  src/services/platform/matrix/management/matrix.management.agent.elevated.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial pass at registering users for community group / room
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter/matrix.adapter.group.ts
  src/services/platform/matrix/adapter/matrix.adapter.room.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.ts
  src/services/platform/matrix/management/matrix.management.agent.elevated.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed call from community service
  src/domain/community/community/community.service.ts
  src/services/platform/matrix/management/matrix.management.agent.elevated.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated retrieving + sending of rooms
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/services/platform/communication/communication.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add homeserver db to ignore file; remove from git
  .build/synapse/homeserver.db
  .gitignore
Due: none

fixed .gitignore for homeserver db file
  .gitignore
Due: none

updated activity on ecoverse, challenge, opportunity
  graphql-samples/mutations/create/create-relation
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/domain/collaboration/project/project.service.ts
  src/domain/collaboration/relation/relation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

organisaiton-auth
  src/domain/community/organisation/organisation.service.authorization.ts
  src/domain/community/user/user.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix refernce creation on profile
  src/domain/community/profile/profile.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed issue with recursive room call
  src/services/platform/matrix/agent-pool/matrix.agent.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed parsing markdown to lower case
  src/domain/common/scalars/scalar.markdown.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix upload avatars
  src/domain/community/profile/profile.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updating the types used within the matrix wrapper
  src/services/platform/matrix/agent-pool/matrix.agent.interface.ts
  src/services/platform/matrix/agent-pool/matrix.agent.service.ts
  src/services/platform/matrix/agent-pool/matrix.agent.ts
  src/services/platform/matrix/events/matrix.event.adapter.group.ts
  src/services/platform/matrix/events/matrix.event.adpater.room.ts
  src/services/platform/matrix/events/matrix.event.dispatcher.ts
  src/services/platform/matrix/management/matrix.management.agent.elevated.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
  src/services/platform/matrix/types/matrix.client.type.ts
  src/services/platform/matrix/types/matrix.event.handler.type.ts
  src/services/platform/matrix/types/matrix.response.message.type.ts
  src/services/platform/matrix/types/matrix.room.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

expanded typing on matrixclient; converted room / group mgmt to be services; removed notion of elevated agent as this ties to the logged in user
  src/services/platform/authorization-engine/authorization-engine.service.ts
  src/services/platform/communication/communication.module.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter/index.ts
  src/services/platform/matrix/adapter/matrix.adapter.group.interface.ts
  src/services/platform/matrix/adapter/matrix.adapter.group.ts
  src/services/platform/matrix/adapter/matrix.adapter.room.interface.ts
  src/services/platform/matrix/adapter/matrix.adapter.room.ts
  src/services/platform/matrix/adapter/matrix.adapters.module.ts
  src/services/platform/matrix/adapter/matrix.group.adapter.service.ts
  src/services/platform/matrix/adapter/matrix.room.adapter.service.ts
  src/services/platform/matrix/agent-pool/matrix.agent.interface.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.module.ts
  src/services/platform/matrix/agent-pool/matrix.agent.service.ts
  src/services/platform/matrix/agent-pool/matrix.agent.ts
  src/services/platform/matrix/events/matrix.event.adpater.room.ts
  src/services/platform/matrix/management/matrix.management.agent.elevated.ts
  src/services/platform/matrix/types/matrix.client.type.ts
  src/services/platform/matrix/types/matrix.group.options.type.ts
  src/services/platform/matrix/types/matrix.group.profile.options.type.ts
  src/services/platform/matrix/types/matrix.group.type.ts
  src/services/platform/matrix/types/matrix.room.create.options.type.ts
  src/services/platform/matrix/types/matrix.room.options.type.ts
  src/services/platform/matrix/types/matrix.room.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

replaced console.log with logger calls; updated room / group logging
  src/app.module.ts
  src/services/platform/matrix/adapter/matrix.group.adapter.service.ts
  src/services/platform/matrix/adapter/matrix.room.adapter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed race condition; additional logging
  src/common/enums/cherrytwist.error.status.ts
  src/common/exceptions/index.ts
  src/common/exceptions/matrix.agent.pool.exception.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/agent-pool/matrix.agent.pool.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added group query field for organisation
  src/domain/community/organisation/organisation.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated so more links work with old name
  README.md
Due: prettier --write

updated docker setup
  quickstart-server.yml
  quickstart-services.yml
Due: none

Example configuration
  .build/ory/kratos/email-password/kratos.yml
  quickstart-kratos.yml
Due: none

Coverage badge update in Readme
  README.md
Due: prettier --write

always enabling api strategy header check
  src/core/authentication/ory.api.strategy.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Configure templates
  .build/ory/kratos/courier-templates/recovery/invalid/email.body.gotmpl
  .build/ory/kratos/courier-templates/recovery/invalid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/recovery/invalid/email.subject.gotmpl
  .build/ory/kratos/courier-templates/recovery/valid/email.body.gotmpl
  .build/ory/kratos/courier-templates/recovery/valid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/recovery/valid/email.subject.gotmpl
  .build/ory/kratos/courier-templates/verification/invalid/email.body.gotmpl
  .build/ory/kratos/courier-templates/verification/invalid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/verification/invalid/email.subject.gotmpl
  .build/ory/kratos/courier-templates/verification/valid/email.body.gotmpl
  .build/ory/kratos/courier-templates/verification/valid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/verification/valid/email.subject.gotmpl
  .build/ory/kratos/email-password/kratos.yml
  quickstart-kratos.yml
  quickstart-services.yml
  src/logger.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update documentation
  docs/Developing.md
Due: prettier --write

Update documentation
  docs/Developing.md
  docs/Running.md
Due: prettier --write

used feature flag to be able to disable communications
  src/common/exceptions/not.enabled.exception.ts
  src/services/platform/communication/communication.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Remove logger.ts
  src/logger.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added request logging middleware
  alkemio.yml
  src/app.module.ts
  src/requestLogger.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update package.json to consider coveralls for reporting
  package.json
Due: prettier --write

server readme abdge updates
  README.md
Due: prettier --write

removed creation of default tagset on profiles
  src/domain/common/tagset/tagset.service.ts
  src/domain/community/profile/profile.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
