Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed migration breaking references
  src/migrations/1645089442935-ecoverse-to-hub.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

used new limitAndShuffle also for users query; added same to opportunities under a Challenge
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

migration to typeorm@0.2.43 (latest)
  package-lock.json
  package.json
  src/migrations/1636644627179-user-preferences.ts
  src/migrations/1637940010892-social-references.ts
  src/migrations/1638441120817-canvas-checkout.ts
  src/migrations/1639406613479-updated-preference-definitions.ts
  src/migrations/1642233654294-visual.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

docker compose migration mysql:8.0.11 -> mariadb:10.7.1
  quickstart-services.yml
Due: none

Credential claims + clean up
  src/domain/agent/agent/agent.module.ts
  src/domain/agent/agent/agent.service.ts
  src/domain/agent/claim/claim.entity.ts
  src/domain/agent/claim/claim.enum.ts
  src/domain/agent/claim/claim.module.ts
  src/domain/agent/claim/claim.service.ts
  src/domain/agent/credential/credential.dto.metadata.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.resolver.queries.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

community-join privilege; misc ecoverse related renamings
  graphql-samples/mutations/authorization/assign-user-as-hub-admin
  graphql-samples/mutations/authorization/reset-authorization-on-hub
  graphql-samples/mutations/authorization/update-hub-visibility
  graphql-samples/mutations/create/create-hub
  graphql-samples/mutations/delete/delete-hub
  graphql-samples/mutations/update/update-hub
  graphql-samples/mutations/update/update-hub-template
  src/common/enums/authorization.privilege.ts
  src/domain/common/authorization-policy/authorization.policy.service.ts
  src/domain/community/community/community.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed automatic creation of org verification on trying to load it, now throws an error instead. Also made verification not eager loaded
  src/domain/community/organization/organization.entity.ts
  src/domain/community/organization/organization.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Expose credential expiry date
  src/domain/agent/verified-credential/dto/verified.credential.dto.result.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Apple sillicon setup
  .env.docker
  package-lock.json
  package.json
  quickstart-services-sillicon.yml
Due: prettier --write

Add trust registry adapter
  src/application/credential-config-adapter/credential.config.adapter.module.ts
  src/application/credential-config-adapter/credential.config.yml.adapter.ts
  src/common/enums/configuration.type.ts
  src/common/enums/providers.ts
  src/core/credentials/credential.provider.interface.ts
  src/domain/agent/agent/agent.module.ts
  src/domain/agent/agent/agent.service.ts
  src/domain/agent/claim/claim.module.ts
  src/domain/agent/credential/credential.entity.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/services/platform/trust-registry-adapter/claim/claim.entity.ts
  src/services/platform/trust-registry-adapter/claim/claim.enum.ts
  src/services/platform/trust-registry-adapter/claim/claim.service.ts
  src/services/platform/trust-registry-adapter/trust.registry.adapter.module.ts
  src/services/platform/trust-registry-adapter/trust.registry.adapter.ts
  src/services/platform/trust-registry-adapter/trust.registry.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Initial draft - RMQ working with native (not bitnami) image
  .env.docker
  alkemio.yml
  docs/Developing-Apple-Sillicon.md
  package.json
  quickstart-services.yml
Due: prettier --write

Version bump
  package-lock.json
  package.json
Due: prettier --write

Add credential configuration to server
  alkemio.yml
Due: none

server dependencies update
  package-lock.json
  package.json
  src/app.module.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/common/scalars/scalar.did.ts
  src/domain/common/scalars/scalar.markdown.ts
  src/domain/common/scalars/scalar.message.ts
  src/domain/common/scalars/scalar.nameid.ts
  src/domain/common/scalars/scalar.uuid.nameid.email.ts
  src/domain/common/scalars/scalar.uuid.nameid.ts
  src/domain/common/scalars/scalar.uuid.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Major verison update
  package-lock.json
  package.json
Due: prettier --write

Migration fix
  src/migrations/1644408398563-hub-templates.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

some matrix logic refactored
  package-lock.json
  package.json
  src/app.module.ts
  src/services/platform/matrix/management/matrix.user.management.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added comment to reflect env var name not being accurate
  alkemio.yml
Due: none

bump version
  package-lock.json
  package.json
Due: prettier --write

move to v0.3 of wallet manager
  quickstart-services.yml
Due: none

made preferences re-usable so not just tied to Users
  graphql-samples/mutations/update/update-preference
  graphql-samples/mutations/update/update-user-preference
  src/common/enums/index.ts
  src/common/enums/preference.value.type.ts
  src/core/bootstrap/bootstrap.module.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/common/preferences/dto/index.ts
  src/domain/common/preferences/dto/preference-definition.dto.create.ts
  src/domain/common/preferences/dto/user-preference.dto.update.ts
  src/domain/common/preferences/index.ts
  src/domain/common/preferences/preference.definition.entity.ts
  src/domain/common/preferences/preference.definition.interface.ts
  src/domain/common/preferences/preference.entity.ts
  src/domain/common/preferences/preference.interface.ts
  src/domain/common/preferences/preference.module.ts
  src/domain/common/preferences/preference.resolver.mutations.ts
  src/domain/common/preferences/preference.service.ts
  src/domain/common/preferences/utils.ts
  src/domain/community/index.ts
  src/domain/community/user-preferences/dto/index.ts
  src/domain/community/user-preferences/dto/user-preference-definition.dto.create.ts
  src/domain/community/user-preferences/dto/user-preference.dto.update.ts
  src/domain/community/user-preferences/index.ts
  src/domain/community/user-preferences/user.preference.module.ts
  src/domain/community/user-preferences/utils.ts
  src/domain/community/user/user.entity.ts
  src/domain/community/user/user.interface.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.service.ts
  src/migrations/1646592399244-preference.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

CI fix
  src/app.controller.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

VC flow fix
  src/domain/agent/agent/agent.module.ts
  src/domain/agent/agent/agent.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed nameID generator not producing proper ids
  package-lock.json
  src/services/domain/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed nameID generator not producing proper ids
  src/services/domain/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

package-lock reverted
  package-lock.json
Due: prettier --write

Cleanup
  package.json
  quickstart-services-sillicon.yml
Due: prettier --write

Cleanup
  docs/Developing-Apple-Sillicon.md
  package.json
  quickstart-services-sillicon.yml
Due: prettier --write

add preferences to hubs; migration to update existing hubs + adjust schema; WIP
  src/common/enums/hub.preference.type.ts
  src/common/enums/preference.definition.set.ts
  src/domain/challenge/hub/hub.entity.ts
  src/domain/challenge/hub/hub.interface.ts
  src/domain/challenge/hub/hub.module.ts
  src/domain/challenge/hub/hub.resolver.fields.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/common/preferences/dto/preference.dto.create.ts
  src/domain/common/preferences/preference.definition.entity.ts
  src/domain/common/preferences/preference.definition.interface.ts
  src/domain/common/preferences/preference.entity.ts
  src/domain/common/preferences/preference.service.ts
  src/domain/community/user/user.service.ts
  src/migrations/1646683828244-hubprefs.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Rmq fix windows
  quickstart-services.yml
Due: none

changed rabbitmq volume mappings
  quickstart-services.yml
Due: none

Compose fix
  quickstart-services.yml
Due: none

replaced previous setup for anonymous read access with a proper preference; started using preferences in hub auth policy setup
  src/domain/challenge/hub/dto/hub.dto.update.ts
  src/domain/challenge/hub/hub.resolver.mutations.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/common/authorization-policy/authorization.policy.dto.update.ts
  src/domain/common/authorization-policy/index.ts
  src/domain/common/preferences/preference.definition.interface.ts
  src/domain/common/preferences/preference.definition.resolver.fields.ts
  src/domain/common/preferences/preference.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refined set of hub preferences; renamed dto file that still had user in it; started using prefs for membership logic; fixed graphql sample
  graphql-samples/mutations/authorization/reset-authorization-on-ecoverse
  graphql-samples/mutations/update/update-preference
  src/app.module.ts
  src/common/enums/hub.preference.type.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/common/preferences/dto/index.ts
  src/domain/common/preferences/dto/preference.dto.update.ts
  src/domain/common/preferences/preference.resolver.mutations.ts
  src/migrations/1646683828244-hubprefs.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

separated the mutation for user preference update + hub update
  graphql-samples/mutations/update/update-preference
  graphql-samples/mutations/update/update-preference-on-hub
  graphql-samples/mutations/update/update-preference-on-user
  src/common/enums/hub.preference.type.ts
  src/domain/challenge/hub/dto/hub.dto.update.preference.ts
  src/domain/challenge/hub/hub.resolver.mutations.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/common/preferences/preference.definition.interface.ts
  src/domain/common/preferences/preference.definition.resolver.fields.ts
  src/domain/common/preferences/preference.module.ts
  src/domain/common/preferences/preference.resolver.mutations.ts
  src/domain/common/preferences/preference.service.ts
  src/domain/community/user/dto/user.dto.update.preference.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.service.ts
  src/migrations/1646683828244-hubprefs.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

@nestjs/graphql updated to 10.0.6
  package-lock.json
  package.json
  src/app.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added support for the new ws transport library 'graphql-ws'
  package-lock.json
  package.json
  src/app.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Cleanup
  .build/traefik/http.yml
  .build/traefik/traefik.yml
  .env.docker
  package-lock.json
  quickstart-services.yml
Due: prettier --write

hack to deal with object loading order
  src/app.module.ts
  src/domain/context/context/context.entity.ts
  src/main.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update running of migrations to not use the entities
  package.json
  src/config/typeorm.cli.config.run.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
