Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Clarifies governance and SDD process
  .github/copilot-instructions.md
  .specify/memory/constitution.md
  agents.md
Due: prettier --write

lib version bump
  package.json
  pnpm-lock.yaml
Due: prettier --write

Refines architecture guidelines
  .specify/memory/constitution.md
Due: prettier --write

Adds domain module scaffold documentation
  src/domain/agents.md
Due: prettier --write

Clarifies domain agent rules and structure
  src/domain/agents.md
Due: prettier --write

Fix
  src/domain/collaboration/callout-framing/callout.framing.service.ts
  src/domain/collaboration/callout-framing/dto/callout.framing.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

address comment
  src/domain/collaboration/callout-framing/dto/callout.framing.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactor room service event handling to use await for asynchronous processing
  src/domain/communication/room/room.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactor room mentions service to use async/await for notification processing
  src/domain/communication/room-mentions/room.mentions.service.ts
  src/domain/communication/room/room.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removes outdated instructions
  .github/copilot-instructions.md
Due: prettier --write

update prompt graph implementation for advanced config mode support
  src/services/ai-server/ai-persona/ai.persona.service.ts
  src/services/ai-server/ai-persona/dto/ai.persona.dto.update.ts
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix typo in quickstart-services.ai.yml
  quickstart-services-ai.yml
Due: none

Migrate OIDC handling to external Go service and tidy session sync config
  .build/traefik/http.yml
  .env.docker
  .eslintignore
  .github/workflows/build-deploy-k8s-dev-hetzner.yml
  .github/workflows/build-deploy-k8s-sandbox-hetzner.yml
  .github/workflows/build-deploy-k8s-test-hetzner.yml
  .npmignore
  .prettierignore
  alkemio.yml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  specs/012-oidc-golang-service/contracts/openapi.yaml
  specs/012-oidc-golang-service/contracts/tests/consent_contract_test.go
  specs/012-oidc-golang-service/contracts/tests/health_contract_test.go
  specs/012-oidc-golang-service/contracts/tests/login_contract_test.go
  specs/012-oidc-golang-service/data-model.md
  specs/012-oidc-golang-service/plan.md
  specs/012-oidc-golang-service/quickstart.md
  specs/012-oidc-golang-service/research.md
  specs/012-oidc-golang-service/spec.md
  specs/012-oidc-golang-service/tasks.md
  src/app.module.ts
  src/services/api/oidc/dto/oidc.dto.ts
  src/services/api/oidc/oidc-logout.service.spec.ts
  src/services/api/oidc/oidc-logout.service.ts
  src/services/api/oidc/oidc.config.ts
  src/services/api/oidc/oidc.controller.spec.ts
  src/services/api/oidc/oidc.controller.ts
  src/services/api/oidc/oidc.integration.spec.ts
  src/services/api/oidc/oidc.module.ts
  src/services/api/oidc/oidc.service.spec.ts
  src/services/api/oidc/oidc.service.ts
  src/services/session-sync/kratos-session.repository.ts
  src/services/session-sync/session-sync.service.spec.ts
  src/services/session-sync/session-sync.service.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update .build/postgres/init-multiple-databases.sh
  .build/postgres/init-multiple-databases.sh
Due: none

Update .build/traefik/http.yml
  .build/traefik/http.yml
Due: none

Update docs/authentication/authentication_flow.md
  docs/authentication/authentication_flow.md
Due: prettier --write

Update OpenAPI and quickstart documentation for Hydra integration
  specs/010-synapse-kratos-oidc/quickstart.md
  specs/012-oidc-golang-service/contracts/openapi.yaml
Due: prettier --write

Update specs/010-synapse-kratos-oidc/quickstart.md
  specs/010-synapse-kratos-oidc/quickstart.md
Due: prettier --write

Update quickstart.md to use environment variable for PostgreSQL user
  specs/010-synapse-kratos-oidc/quickstart.md
Due: prettier --write

Update quickstart.md to clarify location of quickstart-services.yml
  specs/010-synapse-kratos-oidc/quickstart.md
Due: prettier --write

fix the error on storage settings page related to cgl and community without space parent (#5535)
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update configuration files to restore alkemio.matrix.host as matrix server name
  .build/synapse/homeserver.yaml
  .env.docker
Due: none

fix
  src/domain/template/template/template.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

change type to visual.name. fixed client accordingly
  src/domain/common/visual/visual.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

retrieve only specific messages from matrix
  package.json
  pnpm-lock.yaml
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

spec for new space setting allowGuestContributions
  specs/013-guest-contributions-policy/spec.md
Due: prettier --write

add clarifying questions and answers
  specs/013-guest-contributions-policy/spec.md
Due: prettier --write

plan.md
  specs/013-guest-contributions-policy/plan.md
Due: prettier --write

update to use new matrix adapter version which will be needed
  quickstart-services.yml
Due: none

[Notifications] New calendar notification + notification setting (#5526)
  docs/Notifications.md
  package.json
  pnpm-lock.yaml
  src/common/enums/notification.event.payload.ts
  src/common/enums/notification.event.ts
  src/core/dataloader/creators/loader.creators/in-app-notification/calendar.event.loader.creator.ts
  src/domain/community/user-settings/dto/user.settings.notification.space.dto.create.ts
  src/domain/community/user-settings/dto/user.settings.notification.space.dto.update.ts
  src/domain/community/user-settings/user.settings.notification.space.interface.ts
  src/domain/community/user/user.service.ts
  src/domain/timeline/calendar/calendar.module.ts
  src/domain/timeline/calendar/calendar.resolver.mutations.ts
  src/migrations/1761577546442-CalendarEventNotificationSettings.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.ts
  src/platform/in-app-notification-payload/field-resolvers/index.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.calendar.event.resolver.fields.ts
  src/platform/in-app-notification-payload/in.app.notification.payload.interface.ts
  src/platform/in-app-notification-payload/in.app.notification.payload.module.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.community.calendar.event.created.ts
  src/services/adapters/notification-adapter/notification.adapter.module.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
  test/data/user.settings.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tasks
  specs/013-guest-contributions-policy/tasks.md
Due: prettier --write

add array type items specification send DB stored prompt graph to engine
  src/services/ai-server/ai-persona/ai.persona.service.ts
  src/services/ai-server/prompt-graph/dto/prompt.graph.data.point.dto.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update tasks after analyze
  specs/013-guest-contributions-policy/tasks.md
Due: prettier --write

move migration to last
  src/migrations/1761577546999-conversations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

logic for creating a conversation on the reciprical user
  specs/012-user-owned-conversations/plan.md
  specs/012-user-owned-conversations/spec.md
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/conversations-set/conversations.set.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated the deletion logic
  specs/014-user-owned-conversations/plan.md
  specs/014-user-owned-conversations/spec.md
  src/domain/communication/conversation/conversation.resolver.mutations.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/room/room.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added handling for conversation rooms
  src/domain/communication/room/room.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
