Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

remove authorization exception; reset migrations; misc review feedback
  src/app.module.ts
  src/common/exceptions/authorisation.exception.ts
  src/core/authorization/authorization.service.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/agent/agent/agent.service.ts
  src/migrations/1616509795423-init.ts
  src/migrations/1616754127498-user-removal-cascade.ts
  src/migrations/1617096567666-focalPointDelete.ts
  src/migrations/1618062730527-ecoverseTxtID.ts
  src/migrations/1618943966297-lifecycles.ts
  src/migrations/1619068369831-lifecycle-challenges.ts
  src/migrations/1619246820130-usergroup-org-delete.ts
  src/migrations/1620649273229-credentials.ts
  src/migrations/1620651506572-user-groups-creds.ts
  src/migrations/1620660265878-authorizations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

new collaboration entity to hold projects + relations
  graphql-samples/mutations/create/create-project
  src/common/enums/logging.contexts.ts
  src/domain/challenge/opportunity/opportunity.entity.ts
  src/domain/challenge/opportunity/opportunity.interface.ts
  src/domain/challenge/opportunity/opportunity.module.ts
  src/domain/challenge/opportunity/opportunity.resolver.fields.ts
  src/domain/challenge/opportunity/opportunity.resolver.mutations.ts
  src/domain/challenge/opportunity/opportunity.service.ts
  src/domain/collaboration/collaboration/collaboration.dto.create.ts
  src/domain/collaboration/collaboration/collaboration.entity.ts
  src/domain/collaboration/collaboration/collaboration.interface.ts
  src/domain/collaboration/collaboration/collaboration.module.ts
  src/domain/collaboration/collaboration/collaboration.resolver.fields.ts
  src/domain/collaboration/collaboration/collaboration.resolver.mutations.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
  src/domain/collaboration/collaboration/index.ts
  src/domain/collaboration/index.ts
  src/domain/collaboration/project/project.entity.ts
  src/domain/collaboration/relation/relation.entity.ts
  src/domain/context/actor-group/actor-group.entity.ts
  src/domain/index.ts
  src/migrations/1620675673665-collaboration.ts
  src/migrations/1620675866032-collaboration2.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added collaboration entity; split of context interface on graphql; wip
  src/app.module.ts
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/common/reference/index.ts
  src/domain/common/reference/reference.entity.ts
  src/domain/context/context/context.interface.ts
  src/domain/context/context/context.module.ts
  src/domain/context/context/context.service.ts
  src/domain/context/context/context2.entity.ts
  src/domain/context/context/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

review feedback: graphqlguard for auth guard; grant instead of assign for credentials
  graphql-samples/mutations/authorization/assign-credential-to-user
  graphql-samples/mutations/authorization/grant-credential-to-user
  src/core/authorization/authorization.resolver.mutations.ts
  src/core/authorization/authorization.service.ts
  src/core/authorization/dto/authorization.dto.credential.grant.ts
  src/core/authorization/dto/index.ts
  src/core/authorization/graphql.guard.ts
  src/core/authorization/index.ts
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.mutations.ts
  src/domain/challenge/opportunity/opportunity.resolver.fields.ts
  src/domain/challenge/opportunity/opportunity.resolver.mutations.ts
  src/domain/collaboration/project/project.resolver.mutations.ts
  src/domain/collaboration/relation/relation.resolver.mutations.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/organisation/organisation.resolver.fields.ts
  src/domain/community/organisation/organisation.resolver.mutations.ts
  src/domain/community/profile/profile.resolver.mutations.ts
  src/domain/community/user-group/user-group.resolver.fields.ts
  src/domain/community/user-group/user-group.resolver.mutations.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.resolver.queries.ts
  src/domain/context/actor-group/actor-group.resolver.mutations.ts
  src/domain/context/actor/actor.resolver.mutations.ts
  src/domain/context/aspect/aspect.resolver.mutations.ts
  src/domain/context/context/context.resolver.mutations.ts
  src/services/search/search.resolver.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed test data issue
  src/services/configuration/templates/authorisation-bootstrap.json
Due: prettier --write

Improved exception handling
  src/common/enums/cherrytwist.error.status.ts
  src/common/exceptions/bootstrap.exception.ts
  src/core/bootstrap/bootstrap.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added custom token expiration validation
  src/core/authentication/jwt.strategy.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Reverted to UserNotRegisteredException in SelfManagement
  src/core/authorization/rules/authorization.rule.self.management.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Config revamp
  cherrytwist.yml
  src/app.module.ts
  src/common/interfaces/aad.config.interface.ts
  src/common/interfaces/database.config.interface.ts
  src/common/interfaces/index.ts
  src/common/interfaces/logging.config.interface.ts
  src/common/interfaces/service.config.interface.ts
  src/config/winston.config.ts
  src/core/authentication/aad.bearer.strategy.ts
  src/core/authentication/authentication.module.ts
  src/core/authentication/jwt.strategy.ts
  src/core/authorization/graphql.guard.ts
  src/core/bootstrap/bootstrap.service.ts
  src/main.ts
  src/services/configuration/config/config.service.ts
  src/services/data-management/data-management.controller.ts
  src/services/ipfs/ipfs.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added env var for enabling / disabling auth
  cherrytwist.yml
Due: none

Integration tests updates
  src/services/configuration/templates/authorisation-bootstrap.json
  src/services/data-management/test-data.service.ts
  test/functional/integration/challenge/challenge.request.params.ts
  test/functional/integration/challenge/create-challenge.it-spec.ts
  test/functional/integration/challenge/flows-challenge.it-spec.ts
  test/functional/integration/challenge/query-challenge-data.it-spec.ts
  test/functional/integration/group/groups.it-spec.ts
  test/functional/integration/search/search.it-spec.ts
  test/functional/integration/search/search.request.params.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed group queries by removing members relation
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/community/user-group/user-group.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Auth test fix
  test/utils/token.helper.ts
Due: none

Auth enabled fix
  src/core/authorization/graphql.guard.ts
  src/services/data-management/data-management.controller.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates to "user-management" tests
  test/functional/e2e/user-management/create-user.e2e-spec.ts
  test/functional/e2e/user-management/update-user.e2e-spec.ts
  test/functional/e2e/user-management/user-to-group.e2e-spec.ts
  test/functional/e2e/user-management/user.request.params.ts
Due: none

pass through resourceID on retrieving users with credentials
  src/core/authorization/authorization.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added display name for agent so that meaningful feedback can be given; fixed error message
  src/domain/agent/agent/agent.dto.create.ts
  src/domain/agent/agent/agent.entity.ts
  src/domain/agent/agent/agent.interface.ts
  src/domain/agent/agent/agent.service.ts
  src/domain/agent/agent/index.ts
  src/domain/community/user/user.service.ts
  src/migrations/1620818149832-agentParentID.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

User Registration fix
  src/core/authentication/authentication.service.ts
  src/core/authorization/graphql.guard.ts
  src/core/authorization/rules/authorization.rule.ecoverse.member.ts
  src/core/authorization/rules/authorization.rule.engine.ts
  src/core/authorization/rules/authorization.rule.global.role.ts
  src/core/authorization/rules/authorization.rule.interface.ts
  src/core/authorization/rules/authorization.rule.self.management.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Self management fix
  src/core/authentication/index.ts
  src/core/authorization/graphql.guard.ts
  src/core/authorization/rules/authorization.rule.ecoverse.member.ts
  src/core/authorization/rules/authorization.rule.engine.ts
  src/core/authorization/rules/authorization.rule.global.role.ts
  src/core/authorization/rules/authorization.rule.interface.ts
  src/core/authorization/rules/authorization.rule.self.management.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

renamed from assign to grant for credential to user
  src/core/authorization/authorization.resolver.mutations.ts
  src/core/authorization/authorization.service.ts
  src/core/bootstrap/bootstrap.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated credential payload / operation names
  graphql-samples/mutations/authorization/remove-credential-from-user
  src/core/authorization/authorization.resolver.mutations.ts
  src/core/authorization/authorization.service.ts
  src/domain/agent/agent/agent.dto.credential.assign.ts
  src/domain/agent/agent/agent.dto.credential.remove.ts
  src/domain/agent/agent/agent.service.ts
  src/domain/community/community/community.service.ts
  src/domain/community/user-group/user-group.service.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

"Auth" test updates
  test/non-functional/auth/anonymous-user.it-spec.ts
  test/non-functional/auth/community-admin-user.it-spec.ts
  test/non-functional/auth/ecoverse-admin-user.it-spec.ts
  test/non-functional/auth/ecoverse-member-user.it-spec.ts
  test/non-functional/auth/global-admin-user.it-spec.ts
  test/non-functional/auth/non-ecoverse-user.it-spec.ts
  test/non-functional/auth/queries.ts
  test/non-functional/auth/update-mutations.ts
Due: none

Community Admin Fix
  src/services/configuration/templates/authorisation-bootstrap.json
Due: prettier --write

added org member guard; expanded community member usage
  src/core/authorization/decorators/authorization.community.member.decorator.ts
  src/core/authorization/decorators/authorization.ecoverse.member.decorator.ts
  src/core/authorization/decorators/authorization.organisation.member.decorator.ts
  src/core/authorization/decorators/index.ts
  src/core/authorization/graphql.guard.ts
  src/core/authorization/rules/authorization.rule.community.member.ts
  src/core/authorization/rules/authorization.rule.organisation.member.ts
  src/core/authorization/rules/index.ts
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/opportunity/opportunity.resolver.fields.ts
  src/domain/community/organisation/organisation.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed usage of community-member guard
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/opportunity/opportunity.resolver.fields.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/user-group/user-group.resolver.fields.ts
  src/domain/community/user/user.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed name of global-admin-community in bootstrap
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/services/configuration/templates/authorisation-bootstrap.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

predefined users updates and "auth" tests updates
  test/non-functional/auth/community-admin-user.it-spec.ts
  test/non-functional/auth/ecoverse-member-user.it-spec.ts
  test/non-functional/auth/global-admin-user.it-spec.ts
  test/non-functional/auth/non-ecoverse-user.it-spec.ts
  test/non-functional/auth/queries.ts
Due: none

Skipped some "auth" tests until behaviour is cleared
  src/services/configuration/templates/authorisation-bootstrap.json
  test/non-functional/auth/ecoverse-admin-user.it-spec.ts
  test/non-functional/auth/ecoverse-member-user.it-spec.ts
  test/non-functional/auth/non-ecoverse-user.it-spec.ts
Due: prettier --write

ecoverse delegates most of its containment logic to Challenge
  graphql-samples/mutations/create/create-child-challenge
  graphql-samples/mutations/create/create-group-on-community
  graphql-samples/mutations/create/create-opportunity
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/ecoverse/ecoverse.entity.ts
  src/domain/challenge/ecoverse/ecoverse.interface.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/common/tagset/tagset.service.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/organisation/organisation.entity.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed community type
  src/common/enums/community.types.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.interface.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed logging config
  cherrytwist.yml
  src/config/winston.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add ecoverseID throughout stack so can filter entities per ecoverse; fixed ORM issue re organisation + host on ecoverse
  src/core/bootstrap/bootstrap.service.ts
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.entity.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/collaboration/collaboration/collaboration.dto.create.ts
  src/domain/collaboration/collaboration/index.ts
  src/domain/collaboration/project/project.entity.ts
  src/domain/collaboration/project/project.service.ts
  src/domain/community/application/application.entity.ts
  src/domain/community/application/application.service.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
  src/domain/community/organisation/organisation.entity.ts
  src/domain/community/user-group/user-group.entity.ts
  src/domain/community/user-group/user-group.service.ts
  test/non-functional/auth/queries.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

renamed childChallenges to challenges
  src/domain/challenge/challenge/challenge.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed query clause based on old field
  src/services/search/search.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

reset db definition
  src/app.module.ts
  src/migrations/1620660265878-authorizations.ts
  src/migrations/1620675673665-collaboration.ts
  src/migrations/1620675866032-collaboration2.ts
  src/migrations/1620818149832-agentParentID.ts
  src/migrations/1620915132555-domain-model.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added activity field to ecoverse and challenge; wip
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/common/activity/activity.dto.result.ts
  src/domain/common/activity/index.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

optimized activity metrics retrieval
  src/domain/agent/agent/agent.service.ts
  src/domain/agent/credential/credential.service.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/collaboration/project/project.service.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

bumped version
  package.json
Due: prettier --write

various fixes to get populator working
  src/domain/challenge/challenge/challenge.dto.create.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/common/index.ts
  src/domain/context/context/context.resolver.mutations.ts
  src/domain/context/ecosystem-model/ecosystem-model.entity.ts
  src/services/data-management/test-data.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
