Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

fixed fields to be required
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/collaboration/collaboration.resolver.fields.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/space/space/space.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated graphql samples; renamed DTO for creating subspace
  graphql-samples/mutations/create/create-account
  graphql-samples/mutations/create/create-challenge
  graphql-samples/mutations/create/create-child-challenge
  graphql-samples/mutations/create/create-opportunity
  graphql-samples/mutations/create/create-space
  graphql-samples/mutations/create/create-subspace
  graphql-samples/mutations/update/event-on-challenge
  graphql-samples/mutations/update/event-on-opportunity
  graphql-samples/mutations/update/update-challenge
  graphql-samples/mutations/update/update-opportunity
  src/core/validation/handlers/base/base.handler.ts
  src/domain/space/space/dto/space.dto.create.subspace.ts
  src/domain/space/space/space.resolver.mutations.ts
  src/domain/space/space/space.service.ts
  src/services/api/conversion/conversion.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed spaces queries to filter by level
  src/domain/space/space/space.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

put back method
  src/core/bootstrap/bootstrap.service.ts
  src/domain/space/space/space.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed retrieval of community displayName
  src/domain/community/community/community.service.ts
  src/services/api/roles/roles.service.ts
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
  src/services/infrastructure/entity-resolver/entity.resolver.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Patch
  Dockerfile
Due: none

allow for description on innovation flow state to be left undefined (#3818)
  src/domain/collaboration/innovation-flow-states/dto/innovation.flow.state.dto.create.ts
  src/domain/collaboration/innovation-flow-states/dto/innovation.flow.state.dto.update.ts
  src/domain/collaboration/innovation-flow-states/innovaton.flow.state.service.ts
  src/domain/collaboration/innovation-flow/innovaton.flow.service.ts
  src/domain/template/innovation-flow-template/innovation.flow.template.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added redis timeout parameter
  alkemio.yml
  package-lock.json
  package.json
  src/app.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix journey url generation.
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix journey url generation. (#3829)
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Stabilisation fixes (#3820)
  graphql-samples/mutations/create/create-account
  graphql-samples/mutations/create/create-challenge
  graphql-samples/mutations/create/create-child-challenge
  graphql-samples/mutations/create/create-opportunity
  graphql-samples/mutations/create/create-space
  graphql-samples/mutations/create/create-subspace
  graphql-samples/mutations/update/event-on-challenge
  graphql-samples/mutations/update/event-on-opportunity
  graphql-samples/mutations/update/update-challenge
  graphql-samples/mutations/update/update-opportunity
  src/core/bootstrap/bootstrap.service.ts
  src/core/validation/handlers/base/base.handler.ts
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/collaboration/collaboration.resolver.fields.ts
  src/domain/community/community/community.resolver.fields.ts
  src/domain/community/community/community.service.ts
  src/domain/space/space/dto/space.dto.create.subspace.ts
  src/domain/space/space/space.resolver.fields.ts
  src/domain/space/space/space.resolver.mutations.ts
  src/domain/space/space/space.service.ts
  src/services/api/conversion/conversion.service.ts
  src/services/api/roles/roles.service.ts
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
  src/services/infrastructure/entity-resolver/entity.resolver.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Merge pull request #3817 from alkem-io/server-3813
  src/platform/admin/search/admin.search.ingest.resolver.mutations.ts
  src/platform/admin/search/admin.search.ingest.result.ts
  src/services/api/search2/search.ingest/search.ingest.service.ts
  src/services/api/search2/search2.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ingest update
  package-lock.json
  package.json
  src/services/api/search2/search.ingest/search.ingest.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed one test
  src/services/api/search2/search2.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Callouts only on the right side
  graphql-samples/mutations/create/create-callout-whiteboard-rt
  src/common/enums/callout.group.name.ts
  src/domain/space/space.defaults/definitions/space.callout.group.ts
  src/domain/space/space.defaults/definitions/space.default.callouts.ts
  src/domain/space/space.defaults/definitions/subspace.callout.group.ts
  src/domain/space/space.defaults/definitions/subspace.default.callouts.ts
  src/domain/space/space.defaults/space.defaults.service.ts
  src/domain/space/space/space.service.spec.ts
  src/services/api/conversion/conversion.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial setup for license policy + privileges
  src/common/enums/alkemio.error.status.ts
  src/common/enums/license.privilege.ts
  src/common/exceptions/forbidden.license.policy.exception.ts
  src/core/license-engine/index.ts
  src/core/license-engine/license.engine.module.ts
  src/core/license-engine/license.engine.service.spec.ts
  src/core/license-engine/license.engine.service.ts
  src/core/license-engine/license.policy.rule.feature.flag.interface.ts
  src/core/license-engine/license.policy.rule.feature.flag.ts
  src/platform/license-policy/index.ts
  src/platform/license-policy/license.policy.entity.ts
  src/platform/license-policy/license.policy.interface.ts
  src/platform/license-policy/license.policy.module.ts
  src/platform/license-policy/license.policy.resolver.fields.ts
  src/platform/license-policy/license.policy.service.authorization.ts
  src/platform/license-policy/license.policy.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial setup for license policy + privileges
  src/platform/license-policy/license.policy.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed VC feature flag
  package-lock.json
  package.json
  src/domain/license/license/license.service.ts
  src/migrations/1713255211876-fixVcFeatureFlags.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed guidance engine payload
  src/services/adapters/virtual-persona-engine-adapter/virtual.persona.engine.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Added guidance-engine to the quickstart-services
  quickstart-services.yml
Due: none

Fix whiteboard community retrieval.
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Migration
  src/migrations/1713264430226-allCalloutsInRightColumn.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Cleanup and fix orders
  src/domain/space/space.defaults/definitions/space.default.callouts.ts
  src/services/api/conversion/conversion.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed cascade to communication on platform
  src/platform/platfrom/platform.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

search to work with new schema
  quickstart-services.yml
  src/services/api/search/dto/search.dto.input.ts
  src/services/api/search/util/validate.search.parameters.ts
  src/services/api/search2/search.extract.service.ts
  src/services/api/search2/search.ingest/search.ingest.service.ts
  src/services/external/excalidraw-backend/adapters/redis/excalidraw.redis.server.factory.provider.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

timeout between batches
  package-lock.json
  package.json
  src/services/api/search2/search.ingest/search.ingest.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

resolved posts
  src/services/api/search2/search.result.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

api wip
  src/common/enums/search.result.type.ts
  src/services/api/search/dto/search.result.dto.entry.space.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Split ai debug from prod config
  package.json
  quickstart-services-ai-debug.yml
Due: prettier --write

Updated docs
  docs/Running.md
  quickstart-services.yml
Due: prettier --write

fixed cascade to communication on platform (#3840)
  src/platform/platfrom/platform.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Debug / prod AI config (#3841)
  docs/Running.md
  package.json
  quickstart-services-ai-debug.yml
Due: prettier --write

basic processing of the VC response so the sorces are displayed to the user
  src/domain/communication/room/room.service.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated digileefomgeving image
  quickstart-services.yml
Due: none

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
