Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

removed temp manual dispatch
  .github/workflows/build-release-docker-hub.yml
Due: none

temp: manual dispatch
  .github/workflows/build-release-docker-hub.yml
Due: none

fix: update Docker Hub release logic in CI configuration (#5659)
  .github/workflows/build-release-docker-hub.yml
Due: none

feat: add GitHub Actions workflow for DockerHub deployment using industry standards
  .github/workflows/build-release-docker-hub-new.yml
Due: none

fix: update Docker image name to use repository name dynamically
  .github/workflows/build-release-docker-hub-new.yml
Due: none

fix - no settings availble on VC creation
  schema.graphql
  src/domain/community/virtual-contributor/virtual.contributor.entity.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

GitHub Action workflow for DockerHub deployment using latest industry standards (#5660)
  .github/workflows/build-release-docker-hub-new.yml
Due: none

fixes potential issues from lazy loading, adds comment that migration is not reversible.
  src/domain/communication/communication/communication.service.ts
  src/domain/community/user/user.service.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/migrations/1764011369202-DropCommunicationId.ts
  src/platform/forum/forum.module.ts
  src/platform/forum/forum.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

platform settings on VC (#5644)
  schema.graphql
  src/domain/community/virtual-contributor-platform-settings/dto/virtual.contributor.platform.settings.dto.update.ts
  src/domain/community/virtual-contributor-platform-settings/index.ts
  src/domain/community/virtual-contributor-platform-settings/virtual.contributor.platform.settings.interface.ts
  src/domain/community/virtual-contributor-platform-settings/virtual.contributor.platform.settings.module.ts
  src/domain/community/virtual-contributor-platform-settings/virtual.contributor.platform.settings.service.ts
  src/domain/community/virtual-contributor/dto/index.ts
  src/domain/community/virtual-contributor/dto/virtual.contributor.dto.update.platform.settings.ts
  src/domain/community/virtual-contributor/virtual.contributor.entity.ts
  src/domain/community/virtual-contributor/virtual.contributor.interface.ts
  src/domain/community/virtual-contributor/virtual.contributor.module.ts
  src/domain/community/virtual-contributor/virtual.contributor.resolver.mutations.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/migrations/1764000000000-virtualContributorPlatformSettings.ts
  src/services/ai-server/ai-persona/ai.persona.resolver.mutations.ts
  test/data/virtual-contributor.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

mock community service in tests
  test/unit/domain/common/whiteboard/whiteboard.resolver.mutations.spec.ts
Due: none

feat: improve error handling for uninitialized user agents
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: simplify directRooms retrieval in user service
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: add remoteTest mutation to evaluate access permissions
  src/core/authorization/authorization.service.ts
  src/domain/space/space/space.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: upgrade matrix adapter to version 0.7.0 and refactor communication identifiers
  specs/019-matrix-adapter-upgrade/checklist.md
  specs/019-matrix-adapter-upgrade/checklists/requirements.md
  specs/019-matrix-adapter-upgrade/data-model.md
  specs/019-matrix-adapter-upgrade/plan.md
  specs/019-matrix-adapter-upgrade/quickstart.md
  specs/019-matrix-adapter-upgrade/research.md
  specs/019-matrix-adapter-upgrade/spec.md
  specs/019-matrix-adapter-upgrade/tasks.md
  specs/020-remove-email-from-agent-info/plan.md
  specs/020-remove-email-from-agent-info/spec.md
  specs/020-remove-email-from-agent-info/tasks.md
  src/migrations/1764188001912-drop-communication-id.ts
  test_output.txt
  test_output_phase1.txt
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix conversation mutation create
  src/domain/communication/conversations-set/conversations.set.resolver.mutations.ts
  src/domain/communication/conversations-set/conversations.set.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated matrix adapter to 0.7.3
  quickstart-services.yml
Due: none

chore: update schema baseline (#5661)
  schema-baseline.graphql
Due: none

update DockerHub release tags to include 'v' prefix for semantic versioning
  .github/workflows/build-release-docker-hub-new.yml
Due: none

fix typo
  src/domain/communication/conversations-set/conversations.set.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update DockerHub release tags to include 'v' prefix for semantic versioning (#5665)
  .github/workflows/build-release-docker-hub-new.yml
Due: none

pr fix
  src/domain/communication/conversations-set/conversations.set.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: add feature specification and quality checklist for Auth Remote Evaluation Circuit Breaker
  specs/017-auth-circuit-breaker/checklists/requirements.md
  specs/017-auth-circuit-breaker/spec.md
Due: prettier --write

feat: plan circuit breaker pattern for Auth Remote Evaluation Service with configuration and retry logic
  .github/copilot-instructions.md
  specs/017-auth-circuit-breaker/contracts/auth.remote.evaluation.types.ts
  specs/017-auth-circuit-breaker/data-model.md
  specs/017-auth-circuit-breaker/plan.md
  specs/017-auth-circuit-breaker/quickstart.md
  specs/017-auth-circuit-breaker/research.md
  specs/017-auth-circuit-breaker/spec.md
Due: prettier --write

feat: add tasks and phases for Auth Remote Evaluation Circuit Breaker implementation
  specs/017-auth-circuit-breaker/tasks.md
Due: prettier --write

Conversation fix (#5664)
  quickstart-services.yml
  src/domain/communication/conversations-set/conversations.set.resolver.mutations.ts
  src/domain/communication/conversations-set/conversations.set.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: Implement circuit breaker pattern for remote auth evaluation service
  alkemio.yml
  package.json
  pnpm-lock.yaml
  specs/017-auth-circuit-breaker/tasks.md
  src/core/authorization/authorization.service.ts
  src/services/external/auth-remote-evaluation/auth.remote.evaluation.module.ts
  src/services/external/auth-remote-evaluation/auth.remote.evaluation.service.spec.ts
  src/services/external/auth-remote-evaluation/auth.remote.evaluation.service.ts
  src/services/external/auth-remote-evaluation/types/auth.evaluation.reponse.ts
  src/services/external/auth-remote-evaluation/types/auth.evaluation.request.ts
  src/services/external/auth-remote-evaluation/types/index.ts
  src/services/util/circuit-breakers/types/circuit.open.denial.metadata.ts
  src/services/util/circuit-breakers/types/circuit.open.response.ts
  src/services/util/circuit-breakers/types/index.ts
  src/services/util/circuit-breakers/types/is.circuit.open.response.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Revert "exclude VC memberships from user's memberships (#5643)"
  src/services/api/me/me.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.127.2
  package.json
Due: prettier --write

Adds database backup and migration scripts
  .scripts/backups/recreate_databases.sh
  .scripts/backups/utils/check_dependencies.sh
  .scripts/backups/utils/configure_aws.sh
  .scripts/backups/utils/detect_os.sh
  .scripts/backups/utils/install_aws.sh
  .scripts/backups/utils/manage_database.sh
  .scripts/migrations/README-postgres-migration.md
  .scripts/migrations/create_snapshot_documents.sh
  .scripts/migrations/mysql-to-postgres-transform.sh
  .scripts/migrations/postgres-convergence/README.md
  .scripts/migrations/postgres-convergence/export_alkemio_mysql_to_csv.sh
  .scripts/migrations/postgres-convergence/export_kratos_mysql_to_csv.sh
  .scripts/migrations/postgres-convergence/import_csv_to_postgres_alkemio.sh
  .scripts/migrations/postgres-convergence/import_csv_to_postgres_kratos.sh
  .scripts/migrations/postgres-convergence/log_migration_run.sh
  .scripts/migrations/restore_snapshot_documents.sh
  .scripts/tests/recreate-db.ts
Due: prettier --write

add rule so that we can use single quotes in double quotes https://eslint.org/docs/latest/rules/quotes
  eslint.config.js
Due: none

Improves data migration scripts for PostgreSQL
  .gitignore
  .scripts/migrations/postgres-convergence/README.md
  .scripts/migrations/postgres-convergence/export_kratos_mysql_to_csv.sh
  .scripts/migrations/postgres-convergence/import_csv_to_postgres_kratos.sh
  docs/DataManagement.md
  specs/018-postgres-db-convergence/quickstart.md
Due: prettier --write

Refactors queries for PostgreSQL compatibility
  .scripts/migrations/postgres-convergence/import_csv_to_postgres_kratos.sh
  graphql-samples/mutations/create/create-account
  src/core/authentication.agent.info/agent.info.cache.service.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
  src/domain/space/space/space.service.ts
  src/platform/activity/activity.service.ts
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
  src/services/infrastructure/storage-aggregator-resolver/storage.aggregator.resolver.service.ts
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: Enhance circuit breaker configuration and retry logic for auth evaluation service
  alkemio.yml
  src/core/authorization/authorization.service.ts
  src/services/external/auth-remote-evaluation/auth.remote.evaluation.service.spec.ts
  src/services/external/auth-remote-evaluation/auth.remote.evaluation.service.ts
  src/services/util/circuit-breakers/types/circuit.open.denial.metadata.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: Add comprehensive Circuit Breaker implementation guide for Auth Remote Evaluation Service
  docs/circuit-breaker-guide.md
Due: prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
