Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Updates package version to 0.118.0
  package-lock.json
  package.json
Due: prettier --write

Enhances callout authorization for space admins
  src/domain/collaboration/callout/callout.module.ts
  src/domain/collaboration/callout/callout.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enhances callout authorization for space admins (#5409)
  src/domain/collaboration/callout/callout.module.ts
  src/domain/collaboration/callout/callout.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Bumps version to 0.118.1
  package-lock.json
  package.json
Due: prettier --write

remove wrong injection scope (#5405)
  src/core/dataloader/creators/loader.creators/organization.loader.creator.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates package version to 0.118.2
  package-lock.json
  package.json
Due: prettier --write

don't block the in-app query because of missing messageDetails, + improve error logging
  src/common/exceptions/base.exception.ts
  src/platform/in-app-notification-payload/field-resolvers/platform/in.app.notification.payload.platform.global.role.change.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.collaboration.callout.comment.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.collaboration.callout.post.comment.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/user/in.app.notification.payload.user.message.room.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates SQL mode for stricter data handling
  .scripts/schema.sql
Due: none

removed naming logic related to reporting (#5408)
  alkemio.yml
  src/core/bootstrap/bootstrap.module.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/space/account/account.module.ts
  src/domain/space/account/account.resolver.mutations.ts
  src/domain/space/space/space.module.ts
  src/domain/space/space/space.resolver.mutations.ts
  src/services/external/elasticsearch/name-reporter/name.reporter.module.ts
  src/services/external/elasticsearch/name-reporter/name.reporter.service.spec.ts
  src/services/external/elasticsearch/name-reporter/name.reporter.service.ts
  src/services/external/elasticsearch/name-reporter/types/index.ts
  src/services/external/elasticsearch/name-reporter/types/naming.document.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

don't block the in-app query because of missing messageDetails, + improve error logging (#5410)
  src/common/exceptions/base.exception.ts
  src/platform/in-app-notification-payload/field-resolvers/platform/in.app.notification.payload.platform.global.role.change.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.collaboration.callout.comment.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.collaboration.callout.post.comment.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/user/in.app.notification.payload.user.message.room.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.118.3
  package-lock.json
  package.json
Due: prettier --write

wip
  alkemio.yml
  src/platform-admin/services/search/admin.search.ingest.resolver.mutations.ts
  src/services/api/search/ingest/search.ingest.service.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improves pagination for notifications
  src/core/pagination/relay.style.pagination.fn.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improve payload of community updtes and form dicussion
  src/platform/in-app-notification-payload/dto/platform/notification.in.app.payload.platform.forum.discussion.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.communication.update.ts
  src/platform/in-app-notification-payload/field-resolvers/platform/in.app.notification.payload.platform.forum.discussion.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.communication.update.resolver.fields.ts
  src/services/adapters/notification-adapter/notification.platform.adapter.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improve payload of community updtes and form dicussion (#5417)
  src/platform/in-app-notification-payload/dto/platform/notification.in.app.payload.platform.forum.discussion.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.communication.update.ts
  src/platform/in-app-notification-payload/field-resolvers/platform/in.app.notification.payload.platform.forum.discussion.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.communication.update.resolver.fields.ts
  src/services/adapters/notification-adapter/notification.platform.adapter.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip
  src/platform-admin/services/search/admin.search.ingest.resolver.mutations.ts
  src/services/api/search/ingest/search.ingest.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improves in-app notification pagination
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates SQL mode for stricter data handling (#5413)
  .scripts/schema.sql
Due: none

Improves pagination for notifications (#5416)
  src/core/pagination/relay.style.pagination.fn.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates package version to 0.118.4
  package-lock.json
  package.json
Due: prettier --write

Improves pagination stability and consistency.
  src/core/pagination/relay.style.pagination.fn.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor
  src/platform-admin/services/search/admin.search.ingest.resolver.mutations.ts
  src/services/api/search/ingest/search.ingest.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

made deleting more efficient
  src/services/api/search/ingest/search.ingest.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

atomic alias update
  src/services/api/search/ingest/search.ingest.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed temp testing code
  src/services/api/search/ingest/search.ingest.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

improve migrations move clean up Vc and Persona fields
  src/common/enums/authorization.policy.type.ts
  src/common/enums/logging.context.ts
  src/common/enums/virtual.contributor.body.of.knowledge.type.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/communication/virtual.contributor.message/virtual.contributor.message.service.ts
  src/domain/community/virtual-contributor-defaults/virtual.contributor.defaults.service.ts
  src/domain/community/virtual-contributor/dto/virtual.contributor.dto.create.ts
  src/domain/community/virtual-contributor/virtual.contributor.entity.ts
  src/domain/community/virtual-contributor/virtual.contributor.interface.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/migrations/1757497247265-rename-ai-persona-service-to-ai-persona-and-remove-old-ai-persona.ts
  src/migrations/1757498890011-migrate-ai-persona-service-data.ts
  src/migrations/1757947904790-removeAiPersonaService.ts
  src/migrations/1757951073741-extendAiPersona.ts
  src/services/adapters/ai-server-adapter/ai.server.adapter.ts
  src/services/ai-server/ai-persona/ai.persona.entity.ts
  src/services/ai-server/ai-persona/ai.persona.external.config.resolver.fields.ts
  src/services/ai-server/ai-persona/ai.persona.interface.ts
  src/services/ai-server/ai-persona/ai.persona.module.ts
  src/services/ai-server/ai-persona/ai.persona.resolver.mutations.ts
  src/services/ai-server/ai-persona/ai.persona.service.resolver.fields.ts
  src/services/ai-server/ai-persona/ai.persona.service.ts
  src/services/ai-server/ai-persona/dto/ai.persona.dto.create.ts
  src/services/ai-server/ai-persona/dto/ai.persona.dto.update.ts
  src/services/ai-server/ai-server/ai.server.resolver.mutations.ts
  src/services/ai-server/ai-server/ai.server.service.ts
  src/services/api/conversion/conversion.resolver.mutations.ts
  src/services/infrastructure/event-bus/messages/ingest.body.of.knowledge.command.ts
  src/services/infrastructure/event-bus/messages/ingest.body.of.knowledge.result.event.ts
  src/services/infrastructure/event-bus/messages/ingest.website.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update VC interface and creation DTO
  src/common/enums/virtual.contributor.body.of.knowledge.type.ts
  src/domain/community/virtual-contributor/dto/virtual.contributor.dto.create.ts
  src/domain/community/virtual-contributor/virtual.contributor.interface.ts
  src/domain/community/virtual-contributor/virtual.contributor.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix build
  test/data/virtual-contributor.mock.ts
Due: none

Update src/services/api/search/ingest/search.ingest.service.ts
  src/services/api/search/ingest/search.ingest.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed a test
  src/services/api/search/ingest/search.ingest.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refines virtual contributor visibility handling
  src/domain/community/virtual-contributor/virtual.contributor.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add bodyOfKnowledgeID to VC
  quickstart-services-ai.yml
  src/domain/communication/virtual.contributor.message/virtual.contributor.message.service.ts
  src/domain/community/virtual-contributor/virtual.contributor.entity.ts
  src/domain/community/virtual-contributor/virtual.contributor.interface.ts
  src/domain/community/virtual-contributor/virtual.contributor.resolver.fields.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/migrations/1757947904790-removeAiPersonaService.ts
  src/services/adapters/ai-server-adapter/dto/ai.server.adapter.dto.invocation.ts
  src/services/ai-server/ai-persona-engine-adapter/dto/ai.persona.engine.adapter.dto.invocation.input.ts
  src/services/ai-server/ai-persona/ai.persona.service.ts
  src/services/ai-server/ai-persona/dto/ai.persona.invocation.dto.input.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Resets authorization policy on virtual contributor update
  src/domain/community/virtual-contributor/virtual.contributor.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix VC mock
  test/data/virtual-contributor.mock.ts
Due: none

improvements and addressing comments
  src/domain/communication/virtual.contributor.message/virtual.contributor.message.service.ts
  src/domain/community/virtual-contributor/dto/virtual.contributor.dto.create.ts
  src/domain/community/virtual-contributor/virtual.contributor.entity.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/migrations/1757947904790-removeAiPersonaService.ts
  src/migrations/1757951073741-extendAiPersona.ts
  src/services/ai-server/ai-persona/dto/ai.persona.dto.create.ts
  src/services/ai-server/ai-server/ai.server.resolver.fields.ts
  src/services/ai-server/ai-server/ai.server.service.ts
  src/services/api/conversion/conversion.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ability to disable user geo location
  alkemio.yml
  src/app.controller.ts
  src/common/exceptions/geo/geo.service.not.available.exception.ts
  src/platform/configuration/config/config.service.ts
  src/platform/configuration/config/integrations/geo/geo.config.interface.ts
  src/services/external/geo-location/geo.location.service.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed failing test
  src/services/external/geo-location/geo.location.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

switched to better http status code
  src/common/exceptions/geo/geo.service.not.available.exception.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
