Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update @typescript-eslint packages to version 8.46.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update ESLint dependencies and add globals package
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update linting scripts to use glob pattern for TypeScript files
  package.json
Due: prettier --write

address comments
  docs/how-to-add-activity.md
  src/services/adapters/activity-adapter/activity.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Tags field on calloutsSet and withTags filter on callouts field (#5574)
  schema.graphql
  specs/014-callouts-tag-cloud/IMPLEMENTATION_VERIFICATION.md
  specs/014-callouts-tag-cloud/checklists/requirements.md
  specs/014-callouts-tag-cloud/contracts/callouts-set-tags.graphql.md
  specs/014-callouts-tag-cloud/data-model.md
  specs/014-callouts-tag-cloud/plan.md
  specs/014-callouts-tag-cloud/quickstart.md
  specs/014-callouts-tag-cloud/research.md
  specs/014-callouts-tag-cloud/spec.md
  specs/014-callouts-tag-cloud/tasks.md
  src/domain/collaboration/callouts-set/callouts.set.resolver.fields.ts
  src/domain/collaboration/callouts-set/callouts.set.service.ts
  src/domain/collaboration/callouts-set/dto/callouts.set.args.callouts.ts
  src/domain/collaboration/callouts-set/dto/callouts.set.args.tags.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

Memo responses as an Activity (#5592)
  docs/how-to-add-activity.md
  schema.graphql
  src/common/enums/activity.event.type.ts
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/services/adapters/activity-adapter/activity.adapter.module.ts
  src/services/adapters/activity-adapter/activity.adapter.ts
  src/services/adapters/activity-adapter/dto/activity.dto.input.callout.memo.created.ts
  src/services/api/activity-log/activity.log.builder.interface.ts
  src/services/api/activity-log/activity.log.builder.service.ts
  src/services/api/activity-log/activity.log.module.ts
  src/services/api/activity-log/activity.log.service.ts
  src/services/api/activity-log/dto/activity.log.dto.entry.callout.memo.created.ts
  src/services/api/activity-log/dto/activity.log.entry.interface.ts
  src/services/external/elasticsearch/contribution-reporter/contribution.reporter.service.ts
  src/services/external/elasticsearch/events/callout/callout.memo.created.ts
  src/services/external/elasticsearch/types/contribution.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds Alkemio PR prompt
  .github/prompts/alkemio.pr.prompt.md
Due: prettier --write

Created a review-router action
  .github/workflows/review-router.yml
Due: none

feat: add review router for automated reviewer determination based on PR attributes
  review_router.py
Due: none

feat: add review router for automated reviewer determination based on PR attributes
  .github/workflows/review-router.yml
Due: none

fix: add missing github-token to review router action for comment posting
  .github/workflows/review-router.yml
Due: none

refactor: rename review router to PR Review Metrics and update metrics collection logic
  .github/workflows/review-router.yml
  review_router.py
Due: none

refactor: enhance review rationale formatting and improve flags presentation in review router
  .github/workflows/review-router.yml
Due: none

refactor: enhance critical path detection with glob pattern matching in review router
  review_router.py
Due: none

refactor: improve flags presentation in review router by conditionally displaying risk flags
  .github/workflows/review-router.yml
Due: none

refactor: add conditional review assignment for LLM_ONLY type in review router
  .github/workflows/review-router.yml
Due: none

refactor: update script reference from review_router.py to review_metrics.py in review router
  .github/workflows/review-router.yml
  review_metrics.py
Due: none

refactor: add review type labels based on metrics in review router
  .github/workflows/review-router.yml
Due: none

refactor: add PR review metrics documentation and update review-router configuration
  .github/workflows/PR_REVIEW_METRICS.md
  .github/workflows/review-router.yml
Due: prettier --write

refactor: enhance rationale parts formatting in review metrics
  review_metrics.py
Due: none

refactor: update comment formatting for changed paths in review router
  .github/workflows/review-router.yml
Due: none

refactor: fix line joining for body in review router configuration
  .github/workflows/review-router.yml
Due: none

refactor: remove sample paths display from review router comments
  .github/workflows/review-router.yml
Due: none

feat: add devcontainer setup for Alkemio server with Docker and necessary configurations
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.devcontainer.yml
  .devcontainer/scripts/post-create.sh
Due: prettier --write

feat: add SSH public key mount to devcontainer configuration
  .devcontainer/devcontainer.json
Due: prettier --write

Adds SonarQube static analysis integration
  .github/copilot-instructions.md
  specs/015-sonarqube-analysis/checklists/requirements.md
  specs/015-sonarqube-analysis/data-model.md
  specs/015-sonarqube-analysis/plan.md
  specs/015-sonarqube-analysis/quickstart.md
  specs/015-sonarqube-analysis/research.md
  specs/015-sonarqube-analysis/spec.md
  specs/015-sonarqube-analysis/tasks.md
Due: prettier --write

Adds workflow to trigger SonarQube analysis
  .github/workflows/trigger-sonarqube.yml
Due: none

Updates SonarQube analysis plan
  specs/015-sonarqube-analysis/plan.md
Due: prettier --write

Checkpoint from VS Code for coding agent session
  .build/synapse/homeserver.yaml
  .env.docker
  .scripts/backups/restore_latest_backup.sh
Due: none

Adds prompt for cost-effective task execution
  docs/AI.md
Due: prettier --write

Updates project key in SonarQube configuration
  sonar-project.properties
Due: none

Refactors SonarQube trigger workflow
  .github/workflows/trigger-sonarqube.yml
Due: none

Configures SonarQube project settings
  .github/workflows/trigger-sonarqube.yml
Due: none

Specifies project base directory for SonarQube
  .github/workflows/trigger-sonarqube.yml
Due: none

Enable SonarQube static analysis integration
  .dockerignore
  .github/copilot-instructions.md
  .github/workflows/trigger-sonarqube.yml
  .gitignore
  docs/Developing.md
  docs/QA.md
  sonar-project.properties
  specs/015-sonarqube-analysis/checklists/requirements.md
  specs/015-sonarqube-analysis/data-model.md
  specs/015-sonarqube-analysis/plan.md
  specs/015-sonarqube-analysis/quickstart.md
  specs/015-sonarqube-analysis/research.md
  specs/015-sonarqube-analysis/spec.md
  specs/015-sonarqube-analysis/tasks.md
Due: prettier --write

Updates spec references in plan
  specs/015-sonarqube-analysis/plan.md
Due: prettier --write

cleanup: PR comments
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Space Settings: Add new setting to allow guest contributions (#5558)
  schema.graphql
  specs/013-guest-contributions-policy/plan.md
  specs/013-guest-contributions-policy/spec.md
  specs/013-guest-contributions-policy/tasks.md
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.callouts.space.l0.tutorials.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.callouts.vc.knowledge.base.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.space.l0.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.subspace.ts
  src/domain/space/space.settings/dto/space.settings.collaboration.dto.create.ts
  src/domain/space/space.settings/dto/space.settings.collaboration.dto.update.ts
  src/domain/space/space.settings/space.settings.collaboration.interface.ts
  src/domain/space/space/sort.spaces.by.activity.spec.ts
  src/domain/space/space/space.service.spec.ts
  src/domain/space/space/space.service.ts
  src/migrations/1761926109272-addSettingAllowGuestContributions.ts
  src/services/api/roles/roles.service.spec.ts
  src/services/api/search/result/search.result.service.ts
  test/data/space.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
