Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates to "aspect" tests
  test/functional/integration/aspect/aspect-on-opportunity.it-spec.ts
  test/functional/integration/aspect/aspect-on-project.it-spec.ts
  test/functional/integration/aspect/aspect.request.params.ts
Due: none

Updates to "context" tests
  test/functional/integration/context/context.it-spec.ts
  test/functional/integration/context/context.request.params.ts
Due: none

Updates to "relation" tests
  test/functional/integration/relations/relations.it-spec.ts
  test/functional/integration/relations/relations.request.params.ts
Due: none

Updates to "group" tests
  test/functional/integration/group/group.request.params.ts
  test/functional/integration/group/groups.it-spec.ts
Due: none

Updates to "search" tests
  test/functional/integration/search/search.it-spec.ts
Due: none

Updates to "auth" tests
  test/functional/integration/community/community.request.params.ts
  test/functional/integration/group/groups.it-spec.ts
  test/functional/integration/opportunity/opportunity.it-spec.ts
  test/non-functional/auth/anonymous-user.it-spec.ts
  test/non-functional/auth/create-mutations.ts
  test/non-functional/auth/ecoverse-member-user.it-spec.ts
  test/non-functional/auth/queries.ts
  test/non-functional/auth/update-mutations.ts
Due: none

Minor login improvements + demo auth fix
  .env.demo.auth.provider.default
  .env.docker
  src/services/configuration/config/config.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Version 0.10.1
  package.json
Due: prettier --write

Updates to "user-management" and "group" tests
  test/functional/e2e/user-management/create-user.e2e-spec.ts
  test/functional/e2e/user-management/remove-user.e2e-spec.ts
  test/functional/e2e/user-management/update-user.e2e-spec.ts
  test/functional/e2e/user-management/user-to-group.e2e-spec.ts
  test/functional/e2e/user-management/user.request.params.ts
  test/functional/integration/group/groups.it-spec.ts
Due: none

fixed user removal issue with cascade; same with org; added migration
  src/domain/community/organisation/organisation.entity.ts
  src/domain/community/user/user.entity.ts
  src/migrations/1616754127498-user-removal-cascade.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added mutation to remove a user from a community
  graphql-samples/mutations/update/remove-user-from-community copy
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed mutation description
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added logo at top of readme
  README.md
Due: prettier --write

Improved exception handling / feedback
  src/core/authorization/graphql.guard.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated remove-user sample mutation
  graphql-samples/mutations/remove/remove-user
Due: none

Removed console.logs in tests
  test/functional/e2e/user-management/profile.e2e-spec.ts
  test/functional/e2e/user-management/update-user.e2e-spec.ts
  test/non-functional/auth/create-mutations.ts
Due: none

retrieve community relation when loading an application for approval
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

remove user as focal point when deleted
  src/domain/community/user-group/user-group.entity.ts
  src/migrations/1617096567666-focalPointDelete.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added minimum length to search terms of 2
  src/services/search/search.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enabled test "remove user, after assigned as focal point"
  test/functional/e2e/user-management/user-to-group.e2e-spec.ts
Due: none

set focal point to null when user is deleted
  src/domain/community/user-group/user-group.entity.ts
  src/domain/community/user/user.entity.ts
  src/migrations/1617096567666-focalPointDelete.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removed console.log from tests
  test/functional/e2e/user-management/user-to-group.e2e-spec.ts
Due: none

filtered search terms for all queries
  src/services/search/search.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enabled the impacted test
  src/services/search/search.service.ts
  test/functional/integration/search/search.it-spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add icon for the azure provider
  src/services/configuration/config/config.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

IPFS File Upload - WIP
  package-lock.json
  package.json
  src/app.module.ts
  src/main.ts
  src/services/ipfs/ipfs.resolver.ts
  src/services/ipfs/ipfs.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated README
  uploads/README.md
  uploads/sample/default.txt
Due: prettier --write

added check that a user is a parent of a parent community
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

IPFS upload v1
  package-lock.json
  package.json
  src/app.module.ts
  src/common/enums/cherrytwist.error.status.ts
  src/common/enums/logging.contexts.ts
  src/common/exceptions/ipfs.exception.ts
  src/config/ipfs.config.ts
  src/main.ts
  src/services/ipfs/image.png
  src/services/ipfs/ipfs.resolver.ts
  src/services/ipfs/ipfs.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated readme and added a guid to the filename
  package-lock.json
  package.json
  src/services/ipfs/ipfs.resolver.ts
  uploads/README.md
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add ipfs to docker-compose
  docker-compose.debug.yml
  docker-compose.yml
Due: none

Addressed PR review feedback
  .env.bckp
  src/services/ipfs/ipfs.resolver.spec.ts
  src/services/ipfs/ipfs.resolver.ts
  src/services/ipfs/ipfs.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates to user management tests
  test/functional/e2e/user-management/profile.e2e-spec.ts
  test/functional/e2e/user-management/remove-user.e2e-spec.ts
  test/functional/e2e/user-management/update-user.e2e-spec.ts
  test/functional/e2e/user-management/user.request.params.ts
Due: none

Add azure icon
  src/services/configuration/config/config.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP - docker-compose IPFS
  .env.demo.auth.provider.default
  .env.docker
  docker-compose.yml
  src/services/ipfs/ipfs.resolver.ts
  uploads/README.md
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update authorisation on createApplication to be all authenticated users
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Initial implementation of lifecycles
  package-lock.json
  package.json
  src/domain/common/lifecycle/lifecycle.dto.transition.ts
  src/domain/common/lifecycle/lifecycle.entity.ts
  src/domain/common/lifecycle/lifecycle.interface.ts
  src/domain/common/lifecycle/lifecycle.module.ts
  src/domain/common/lifecycle/lifecycle.resolver.fields.ts
  src/domain/common/lifecycle/lifecycle.resolver.spec.ts
  src/domain/common/lifecycle/lifecycle.resolver.ts
  src/domain/common/lifecycle/lifecycle.service.spec.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/common/lifecycle/lifecycleTest.ts
  src/domain/community/application/application.entity.ts
  src/domain/community/application/application.factory.service.ts
  src/domain/community/application/application.lifecycle.ts
  src/domain/community/application/application.module.ts
  src/migrations/1617444979826-lifecycles.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refined to a somewhat sensible lifecycle for applications; added exception if not a valid event
  src/common/enums/logging.contexts.ts
  src/domain/common/lifecycle/lifecycle.resolver.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/common/lifecycle/lifecycleTest.ts
  src/domain/community/application/application.lifecycle.ts
  src/migrations/1617454528796-llifecycles2.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed unused pkg; fixed log context label
  package.json
  src/common/enums/logging.contexts.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added in hooks to actions; set meta data for application lifecycle
  src/common/enums/lifecycle.actions.types.ts
  src/domain/common/lifecycle/lifecycle.entity.ts
  src/domain/common/lifecycle/lifecycle.interface.ts
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/community/application/application.factory.service.ts
  src/domain/community/application/application.lifecycle.actions.ts
  src/domain/community/application/application.lifecycle.ts
  src/domain/community/application/application.service.ts
  src/domain/community/community/community.service.ts
  src/migrations/1617516469975-lifecycle3.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
