Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Fixed timeline deletion
  src/domain/challenge/hub/hub.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed timeline deletion (#2498)
  src/domain/challenge/hub/hub.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

data ingestion to elastic PoC
  alkemio.yml
  package.json
  src/app.controller.ts
  src/app.module.ts
  src/services/external/elasticsearch/elasticsearch.module.ts
  src/services/external/elasticsearch/elasticsearch.service.spec.ts
  src/services/external/elasticsearch/elasticsearch.service.ts
  src/services/external/elasticsearch/index.ts
  src/services/external/elasticsearch/types/elastic.response.error.ts
  src/services/external/elasticsearch/types/index.ts
  src/services/external/elasticsearch/utils/index.ts
  src/services/external/elasticsearch/utils/is.elastic.error.ts
  src/services/external/elasticsearch/utils/is.elastic.response.error.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed migration name property to be correct
  src/migrations/1674481366302-timeline.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed migration name property to be correct (#2502)
  src/migrations/1674481366302-timeline.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Proper oidc linkedin mapping
  .build/ory/kratos/oidc/oidc.linkedin.jsonnet
Due: none

Updated kratos to support accounts with no pictures
  package-lock.json
  package.json
  quickstart-services.yml
Due: prettier --write

Fixes (#2503)
  .build/ory/kratos/oidc/oidc.linkedin.jsonnet
  package-lock.json
  package.json
  quickstart-services.yml
Due: prettier --write

allow contributors to comment on events
  src/domain/challenge/hub/hub.module.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/collaboration/collaboration/collaboration.service.authorization.ts
  src/domain/timeline/event/event.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added location to cardProfile; extended location to have additional fields
  src/domain/collaboration/card-profile/card.profile.entity.ts
  src/domain/collaboration/card-profile/card.profile.interface.ts
  src/domain/collaboration/card-profile/card.profile.module.ts
  src/domain/collaboration/card-profile/card.profile.resolver.fields.ts
  src/domain/collaboration/card-profile/card.profile.service.ts
  src/domain/collaboration/card-profile/dto/card.profile.dto.create.ts
  src/domain/collaboration/card-profile/dto/card.profile.dto.update.ts
  src/domain/common/location/dto/location.dto.create.ts
  src/domain/common/location/dto/location.dto.update.ts
  src/domain/common/location/location.entity.ts
  src/domain/common/location/location.interface.ts
  src/domain/common/location/location.service.ts
  src/migrations/1674841101938-locationOnEvents.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

extended returning of events also by NAMEID
  src/domain/timeline/calendar/calendar.resolver.fields.ts
  src/domain/timeline/calendar/calendar.service.ts
  src/domain/timeline/calendar/dto/calendar.args.events.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add name to authorization credential rules + provide them
  src/core/authorization/authorization.policy.rule.credential.interface.ts
  src/core/authorization/authorization.policy.rule.credential.ts
  src/domain/challenge/challenge/challenge.service.authorization.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/collaboration/callout/callout.service.authorization.ts
  src/domain/collaboration/collaboration/collaboration.service.authorization.ts
  src/domain/collaboration/opportunity/opportunity.service.authorization.ts
  src/domain/collaboration/relation/relation.service.authorization.ts
  src/domain/common/authorization-policy/authorization.policy.service.ts
  src/domain/community/community/community.service.authorization.ts
  src/domain/community/organization-verification/organization.verification.service.authorization.ts
  src/domain/community/organization/organization.service.authorization.ts
  src/domain/community/user/user.service.authorization.ts
  src/platform/authorization/platform.authorization.policy.service.ts
  src/platform/platfrom/platform.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

assigned all credential rules a name
  src/core/authorization/authorization.policy.rule.credential.interface.ts
  src/core/authorization/authorization.policy.rule.credential.ts
  src/domain/challenge/challenge/challenge.service.authorization.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/collaboration/aspect/aspect.service.authorization.ts
  src/domain/collaboration/callout/callout.service.authorization.ts
  src/domain/collaboration/collaboration/collaboration.service.authorization.ts
  src/domain/collaboration/opportunity/opportunity.service.authorization.ts
  src/domain/collaboration/relation/relation.service.authorization.ts
  src/domain/common/authorization-policy/authorization.policy.service.ts
  src/domain/common/canvas-checkout/canvas.checkout.service.authorization.ts
  src/domain/common/canvas/canvas.service.authorization.ts
  src/domain/communication/comments/comments.service.authorization.ts
  src/domain/communication/discussion/discussion.service.authorization.ts
  src/domain/community/application/application.service.authorization.ts
  src/domain/community/community/community.service.authorization.ts
  src/domain/community/organization-verification/organization.verification.service.authorization.ts
  src/domain/community/organization/organization.service.authorization.ts
  src/domain/community/user-group/user-group.service.authorization.ts
  src/domain/community/user/user.service.authorization.ts
  src/domain/timeline/event/event.service.authorization.ts
  src/platform/admin/authorization/admin.authorization.resolver.mutations.ts
  src/platform/admin/communication/admin.communication.resolver.mutations.ts
  src/platform/admin/communication/admin.communication.resolver.queries.ts
  src/services/api/conversion/conversion.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added logging for what rule granted what privilege
  src/core/authorization/authorization.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added names for privilege rules
  src/common/enums/logging.context.ts
  src/core/authorization/authorization.policy.rule.privilege.interface.ts
  src/core/authorization/authorization.policy.rule.privilege.ts
  src/core/authorization/authorization.service.ts
  src/domain/challenge/challenge/challenge.service.authorization.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/collaboration/callout/callout.service.authorization.ts
  src/domain/collaboration/collaboration/collaboration.service.authorization.ts
  src/domain/common/canvas/canvas.service.authorization.ts
  src/domain/communication/comments/comments.service.authorization.ts
  src/domain/communication/communication/communication.service.authorization.ts
  src/domain/communication/discussion/discussion.service.authorization.ts
  src/platform/authorization/platform.authorization.policy.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added read check on access to preferences of a user
  src/domain/community/user/user.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

switched to needing UPDATE to read a users preferences
  src/domain/community/user/user.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated publishedDate and message.timestamp to be Dates
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/communication/message/message.interface.ts
  src/domain/communication/message/message.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update discussion created date to be Date
  src/domain/communication/discussion/discussion.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated logging due to production issue
  src/domain/collaboration/aspect/aspect.resolver.fields.ts
  src/domain/common/canvas/canvas.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP updated Kratos client
  .build/ory/kratos/identity.schema.json
  package-lock.json
  package.json
  src/core/authentication/authentication.service.ts
  src/core/authentication/get.bearer.token.ts
  src/core/authentication/ory.api.strategy.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tidied up authorization on calendar event
  package-lock.json
  package.json
  src/domain/timeline/event/event.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

allow contributors to comment on events (#2505)
  package-lock.json
  package.json
  src/domain/challenge/hub/hub.module.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/collaboration/collaboration/collaboration.service.authorization.ts
  src/domain/timeline/event/event.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add notifications for user/org messages
  src/domain/communication/communication/communication.module.ts
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/communication/dto/communication.dto.send.message.organization.ts
  src/domain/communication/communication/dto/communication.dto.send.message.user.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.user.message.ts
  src/services/adapters/notification-adapter/dto/notification.input.organization.message.ts
  src/services/adapters/notification-adapter/notification.adapter.module.ts
  src/services/adapters/notification-adapter/notification.adapter.ts
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add notification for community leads messages
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/communication/dto/communication.dto.send.message.community.leads.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.community.leads.message.ts
  src/services/adapters/notification-adapter/notification.adapter.module.ts
  src/services/adapters/notification-adapter/notification.adapter.ts
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

optional agent info is mandatory
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/hub/hub.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip
  alkemio.yml
  src/app.controller.ts
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/services/external/elasticsearch/elasticsearch.service.ts
  src/services/external/elasticsearch/events/base.contribution.ts
  src/services/external/elasticsearch/events/callout/callout.canvas.created.ts
  src/services/external/elasticsearch/events/callout/callout.canvas.edited.ts
  src/services/external/elasticsearch/events/callout/callout.card.comment.created.ts
  src/services/external/elasticsearch/events/callout/callout.card.created.ts
  src/services/external/elasticsearch/events/callout/callout.comment.created.ts
  src/services/external/elasticsearch/events/callout/callout.created.ts
  src/services/external/elasticsearch/events/index.ts
  src/services/external/elasticsearch/events/journey/challenge.content.edited.ts
  src/services/external/elasticsearch/events/journey/challenge.created.ts
  src/services/external/elasticsearch/events/journey/challenge.joined.ts
  src/services/external/elasticsearch/events/journey/hub.content.edited.ts
  src/services/external/elasticsearch/events/journey/hub.joined.ts
  src/services/external/elasticsearch/events/journey/opportunity.content.edited.ts
  src/services/external/elasticsearch/events/journey/opportunity.created.ts
  src/services/external/elasticsearch/events/journey/opportunity.joined.ts
  src/services/external/elasticsearch/events/update.created.ts
  src/services/external/elasticsearch/types/contribution.type.ts
  src/services/external/elasticsearch/types/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated kratos configuration to explicitly include code flow
  .build/ory/kratos/kratos.yml
Due: none

Update traefik version to 2.9.6
  package-lock.json
  package.json
  quickstart-services.yml
Due: prettier --write

just rename a couple of Callouts that should be Events form copypasting
  src/domain/timeline/calendar/calendar.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

SMALL_TEXT_LENGTH is 128 chars
  src/migrations/1674841101938-locationOnEvents.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add graphql sample queries
  graphql-samples/mutations/communication/send-community-leads-message
  graphql-samples/mutations/communication/send-organization-message
  graphql-samples/mutations/communication/send-user-message
Due: none

Address pr feedback
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/communication/dto/communication.dto.send.message.community.leads.ts
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update traefik version to 2.9.6 (#2519)
  package-lock.json
  package.json
  quickstart-services.yml
Due: prettier --write

Change message length validation rule
  src/domain/communication/communication/dto/communication.dto.send.message.organization.ts
  src/domain/communication/communication/dto/communication.dto.send.message.user.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added location to cardProfile; extended location to have additional fields (#2506)
  src/domain/collaboration/card-profile/card.profile.entity.ts
  src/domain/collaboration/card-profile/card.profile.interface.ts
  src/domain/collaboration/card-profile/card.profile.module.ts
  src/domain/collaboration/card-profile/card.profile.resolver.fields.ts
  src/domain/collaboration/card-profile/card.profile.service.ts
  src/domain/collaboration/card-profile/dto/card.profile.dto.create.ts
  src/domain/collaboration/card-profile/dto/card.profile.dto.update.ts
  src/domain/common/location/dto/location.dto.create.ts
  src/domain/common/location/dto/location.dto.update.ts
  src/domain/common/location/location.entity.ts
  src/domain/common/location/location.interface.ts
  src/domain/common/location/location.service.ts
  src/domain/timeline/calendar/calendar.resolver.fields.ts
  src/domain/timeline/calendar/calendar.service.ts
  src/domain/timeline/calendar/dto/calendar.args.events.ts
  src/migrations/1674841101938-locationOnEvents.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

require update privilege to see a users preferences (#2508)
  src/domain/community/user/user.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update notification payloads structure
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

do not show activity to users who should not see user information (#2468)
  src/services/api/activity-log/activity.log.module.ts
  src/services/api/activity-log/activity.log.resolver.queries.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update lib version.
  package-lock.json
  package.json
Due: prettier --write
