Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Configuration for guidance engine v4
  .env.docker
  quickstart-services.yml
Due: none

journey resolve type
  src/domain/challenge/base-challenge/journey.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

deleted old journey.interface.ts
  src/domain/journey/journey.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update .env.docker
  .env.docker
Due: none

additional information logged when looking up journey by id / nameid
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/space/space.resolver.fields.ts
  src/domain/challenge/space/space.resolver.queries.ts
  src/domain/challenge/space/space.service.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update .env.docker (#3507)
  .env.docker
Due: none

Auto stash before merge of "develop" and "origin/develop"
  .env.docker
  quickstart-services.yml
Due: none

skip space filter if not defined; (#3488)
  src/common/enums/journey.type.ts
  src/core/pagination/index.ts
  src/core/pagination/pagination.input.ts
  src/domain/activity-feed/activity.feed.query.args.ts
  src/domain/activity-feed/activity.feed.resolver.queries.ts
  src/domain/activity-feed/activity.feed.service.ts
  src/domain/challenge/base-challenge/journey.interface.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
  src/migrations/1702042604746-journeyProfileTypeFix.ts
  src/services/api/activity-log/activity.log.module.ts
  src/services/api/activity-log/activity.log.service.ts
  src/services/api/activity-log/dto/activity.log.dto.entry.base.interface.ts
  src/services/api/activity-log/dto/activity.log.entry.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix new member notification payload. (#3503)
  src/domain/community/community/community.service.events.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Serving finalized invitations
  src/services/api/roles/roles.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Serving finalized invitations (#3511)
  src/services/api/roles/roles.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added details to BaseException and EntityNotFoundException
  src/common/exceptions/base.exception.ts
  src/common/exceptions/entity.not.found.exception.ts
  src/domain/challenge/space/space.resolver.fields.ts
  src/domain/challenge/space/space.resolver.queries.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

additional information logged when looking up journey by id / nameid (#3509)
  src/common/exceptions/base.exception.ts
  src/common/exceptions/entity.not.found.exception.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/space/space.resolver.fields.ts
  src/domain/challenge/space/space.resolver.queries.ts
  src/domain/challenge/space/space.service.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

changed the order of execution on user reset
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

version bump
  package-lock.json
  package.json
Due: prettier --write

Changed the order of execution on user reset (#3512)
  package-lock.json
  package.json
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add blog url to the config
  alkemio.yml
  src/platform/configuration/config/config.service.ts
  src/platform/configuration/config/locations/platform.locations.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Feedback url
  alkemio.yml
Due: none

Add blog url to the config and change feedback url (#3515)
  alkemio.yml
  src/platform/configuration/config/config.service.ts
  src/platform/configuration/config/locations/platform.locations.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed some vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

removed auth check when getting community on opportunity; removed not needed profiling api decorators
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/space/space.resolver.fields.ts
  src/domain/collaboration/opportunity/opportunity.resolver.fields.ts
  src/domain/community/community/community.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed auth check when getting community on opportunity; removed not needed profiling api decorators (#3518)
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/space/space.resolver.fields.ts
  src/domain/collaboration/opportunity/opportunity.resolver.fields.ts
  src/domain/community/community/community.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

opportunity activities added to the activity feed query
  src/domain/collaboration/collaboration/collaboration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

userId logged on all exceptions
  src/common/exceptions/base.exception.ts
  src/common/exceptions/entity.not.found.exception.ts
  src/common/exceptions/exception.details.ts
  src/common/exceptions/http/base.http.exception.ts
  src/core/error-handling/graphql.exception.filter.ts
  src/core/error-handling/http.exception.filter.ts
  src/core/error-handling/rest.error.response.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed var names
  src/core/error-handling/graphql.exception.filter.ts
  src/core/error-handling/http.exception.filter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

UserId logged on all exceptions (#3522)
  src/common/exceptions/base.exception.ts
  src/common/exceptions/entity.not.found.exception.ts
  src/common/exceptions/exception.details.ts
  src/common/exceptions/http/base.http.exception.ts
  src/core/error-handling/graphql.exception.filter.ts
  src/core/error-handling/http.exception.filter.ts
  src/core/error-handling/rest.error.response.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

audit test plugin
  src/app.module.ts
  src/core/plugins/audit-trail/index.ts
  src/core/plugins/audit-trail/options.ts
  src/core/plugins/audit-trail/plugin.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

local storage wip
  src/common/enums/alkemio.error.status.ts
  src/common/enums/logging.context.ts
  src/common/exceptions/exception.details.ts
  src/common/exceptions/storage/index.ts
  src/common/exceptions/storage/local.storage.delete.failed.exception.ts
  src/common/exceptions/storage/local.storage.read.failed.exception.ts
  src/common/exceptions/storage/local.storage.save.failed.exception.ts
  src/services/adapters/ipfs/ipfs.service.ts
  src/services/adapters/local-storage/local.storage.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added caching of urls generated by entity ID
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated cache time
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated guidance engine
  .env.docker
  package-lock.json
  package.json
  quickstart-services.yml
  src/services/adapters/chat-guidance-adapter/guidance.engine.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated guidance engine (#3528)
  .env.docker
  package-lock.json
  package.json
  quickstart-services.yml
  src/services/adapters/chat-guidance-adapter/guidance.engine.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Guidance engine fixes
  src/services/adapters/chat-guidance-adapter/guidance.engine.adapter.ts
  src/services/api/chat-guidance/chat.guidance.resolver.mutations.ts
  src/services/api/chat-guidance/chat.guidance.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed ingest
  quickstart-services.yml
  src/services/adapters/chat-guidance-adapter/guidance.engine.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Regex fix
  src/services/adapters/chat-guidance-adapter/guidance.engine.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Version bump
  package-lock.json
  package.json
Due: prettier --write

Guidance engine fixes (#3530)
  package-lock.json
  package.json
  quickstart-services.yml
  src/services/adapters/chat-guidance-adapter/guidance.engine.adapter.ts
  src/services/api/chat-guidance/chat.guidance.resolver.mutations.ts
  src/services/api/chat-guidance/chat.guidance.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

opportunity activities added to the activity feed query (#3521)
  src/domain/collaboration/collaboration/collaboration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix users arg query.
  src/domain/community/user/dto/users.query.args.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
