Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

modifed filter to be optional on roles input DTOs
  src/services/domain/roles/dto/roles.dto.input.organization.ts
  src/services/domain/roles/dto/roles.dto.input.user.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added mock for hubFilterService
  src/services/domain/roles/roles.service.spec.ts
  test/mocks/hub.filter.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated activity description text
  src/domain/communication/comments/comments.resolver.mutations.ts
  src/services/platform/activity-adapter/activity.adapter.ts
  src/services/platform/activity-adapter/dto/activity.dto.input.aspect.comment.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated challenge + opportunity mocks for new getHubID method
  test/mocks/challenge.service.mock.ts
  test/mocks/hub.service.mock.ts
  test/mocks/opportunity.service.mock.ts
Due: none

missed removing method on hub service mock
  test/mocks/hub.service.mock.ts
Due: none

added default visibiity when creating a hub
  src/domain/challenge/hub/hub.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated links for home page; bumped version
  alkemio.yml
  package-lock.json
  package.json
Due: prettier --write

updated method signatures, additional mocking
  src/services/domain/hub-filter/hub.filter.service.ts
  src/services/domain/roles/roles.service.spec.ts
  test/config/jest.config.ci.js
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update alkemio.yml
  alkemio.yml
Due: none

make default callouts already published
  src/domain/collaboration/collaboration/collaboration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated links for home page; bumped version (#2188)
  alkemio.yml
  package-lock.json
  package.json
Due: prettier --write

make default callouts already published (#2192)
  src/domain/collaboration/collaboration/collaboration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed failing test
  src/services/domain/roles/roles.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update sample visibility for hub mutation
  graphql-samples/mutations/update/update-hub-visibility
Due: none

added migration to populate parentID for existing activity entries
  src/migrations/1664212708443-activity-parentID2.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update 1664212708443-activity-parentID2.ts
  src/migrations/1664212708443-activity-parentID2.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

More defensive logic
  src/migrations/1664212708443-activity-parentID2.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added filtering to users + organizations queries to support getting users with credential types
  src/domain/community/contributor/dto/contributor.dto.filter.ts
  src/domain/community/contributor/dto/contributor.query.args.ts
  src/domain/community/organization/organization.resolver.queries.ts
  src/domain/community/organization/organization.service.ts
  src/domain/community/user/user.resolver.queries.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added sample query
  graphql-samples/queries/users-filtered
Due: none

added filtering to users + organizations queries to support getting via credential types (#2195)
  graphql-samples/queries/users-filtered
  src/domain/community/contributor/dto/contributor.dto.filter.ts
  src/domain/community/contributor/dto/contributor.query.args.ts
  src/domain/community/organization/organization.resolver.queries.ts
  src/domain/community/organization/organization.service.ts
  src/domain/community/user/user.resolver.queries.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

toDo - fix hubID
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.interface.ts
  src/domain/collaboration/opportunity/opportunity.entity.ts
  src/domain/collaboration/opportunity/opportunity.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Archiving of Hubs (#2184)
  graphql-samples/mutations/update/update-hub-visibility
  graphql-samples/queries/hubs-visibility
  graphql-samples/queries/roles-user-visibilities
  src/common/enums/hub.visibility.ts
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.interface.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/hub/dto/hub.args.query.hubs.ts
  src/domain/challenge/hub/dto/hub.dto.update.visibility.ts
  src/domain/challenge/hub/hub.entity.ts
  src/domain/challenge/hub/hub.interface.ts
  src/domain/challenge/hub/hub.module.ts
  src/domain/challenge/hub/hub.resolver.mutations.ts
  src/domain/challenge/hub/hub.resolver.queries.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/collaboration/opportunity/opportunity.entity.ts
  src/domain/collaboration/opportunity/opportunity.interface.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/migrations/1663786651174-hub-visibility.ts
  src/services/domain/conversion/conversion.resolver.mutations.ts
  src/services/domain/hub-filter/dto/hub.filter.dto.input.ts
  src/services/domain/hub-filter/hub.filter.module.ts
  src/services/domain/hub-filter/hub.filter.service.ts
  src/services/domain/metadata/metadata.service.ts
  src/services/domain/roles/dto/roles.dto.input.organization.ts
  src/services/domain/roles/dto/roles.dto.input.user.ts
  src/services/domain/roles/roles.module.ts
  src/services/domain/roles/roles.service.spec.ts
  src/services/domain/roles/roles.service.ts
  test/config/jest.config.ci.js
  test/mocks/challenge.service.mock.ts
  test/mocks/hub.filter.service.mock.ts
  test/mocks/opportunity.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Migration fix
  src/migrations/1664212708443-activity-parentID2.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Draft root level hubs query filtered by IDs
  src/domain/challenge/hub/dto/hub.args.query.hubs.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/common/query-args/ids.query.args.ts
  src/domain/common/query-args/limit-and-shuffle.ids.query.args.ts
  src/domain/common/query-args/limit-and-shuffle.query.args.ts
  src/domain/community/contributor/dto/contributor.query.args.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP Challenges
  src/domain/challenge/hub/hub.resolver.fields.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/common/query-args/limit-and-shuffle.ids.query.args.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Filter challenges
  src/domain/challenge/hub/hub.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added preference for allow hub members to create challenges; migration up / down; refactored hub authorization service
  graphql-samples/mutations/authorization/assign-user-as-ecoverse-admin
  graphql-samples/mutations/authorization/update-ecoverse-visibility
  src/common/enums/authorization.privilege.ts
  src/common/enums/hub.preference.type.ts
  src/domain/challenge/hub/hub.resolver.mutations.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/challenge/hub/hub.service.ts
  src/migrations/1664603132147-hub-pref.ts
  src/migrations/utils/preferences/add-preference-definitions.ts
  src/migrations/utils/preferences/add-preferences.ts
  src/migrations/utils/preferences/remove-preferences.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

renamed activity to metrics
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/hub/hub.resolver.fields.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/collaboration/opportunity/opportunity.resolver.fields.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/domain/community/organization/organization.resolver.fields.ts
  src/domain/community/organization/organization.service.ts
  src/services/domain/metadata/metadata.interface.ts
  src/services/domain/metadata/metadata.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added preference to allow hub members to create challenges (#2202)
  graphql-samples/mutations/authorization/assign-user-as-ecoverse-admin
  graphql-samples/mutations/authorization/update-ecoverse-visibility
  src/common/enums/authorization.privilege.ts
  src/common/enums/hub.preference.type.ts
  src/domain/challenge/hub/hub.resolver.mutations.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/challenge/hub/hub.service.ts
  src/migrations/1664603132147-hub-pref.ts
  src/migrations/utils/preferences/add-preference-definitions.ts
  src/migrations/utils/preferences/add-preferences.ts
  src/migrations/utils/preferences/remove-preferences.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Root level hubs query filtered by IDs (#2199)
  src/domain/challenge/hub/dto/hub.args.query.hubs.ts
  src/domain/challenge/hub/hub.resolver.fields.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/common/query-args/ids.query.args.ts
  src/domain/common/query-args/limit-and-shuffle.ids.query.args.ts
  src/domain/common/query-args/limit-and-shuffle.query.args.ts
  src/domain/community/contributor/dto/contributor.query.args.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

renamed activity to metrics (#2203)
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/hub/hub.resolver.fields.ts
  src/domain/challenge/hub/hub.service.ts
  src/domain/collaboration/opportunity/opportunity.resolver.fields.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/domain/community/organization/organization.resolver.fields.ts
  src/domain/community/organization/organization.service.ts
  src/services/domain/metadata/metadata.interface.ts
  src/services/domain/metadata/metadata.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

optional lifecycleId for challenge & opp creation
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/challenge/dto/challenge.dto.create.ts
  src/domain/collaboration/opportunity/dto/opportunity.dto.create.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/domain/template/lifecycle-template/lifecycle.template.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add nameId param check.
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/collaboration/opportunity/opportunity.module.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Optional nameID & lifecycle template id (#2208)
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/challenge/dto/challenge.dto.create.ts
  src/domain/collaboration/opportunity/dto/opportunity.dto.create.ts
  src/domain/collaboration/opportunity/opportunity.module.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/domain/template/lifecycle-template/lifecycle.template.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update innovation flow on challenges; archived hubs to be private; global hubs admin to see org verification flow
  src/domain/challenge/challenge/challenge.service.authorization.ts
  src/domain/challenge/hub/hub.resolver.fields.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/collaboration/opportunity/opportunity.service.authorization.ts
  src/domain/community/organization-verification/organization.verification.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Version bump
  package-lock.json
  package.json
Due: prettier --write

Version bump (#2213)
  package-lock.json
  package.json
Due: prettier --write

api folder for external exposed graphql api
  src/app.module.ts
  src/services/api/activity-log/activity.log.module.ts
  src/services/api/activity-log/activity.log.resolver.queries.ts
  src/services/api/activity-log/activity.log.service.ts
  src/services/api/activity-log/dto/activity.log.dto.collaboration.input.ts
  src/services/api/activity-log/index.ts
  src/services/api/roles/dto/roles.dto.input.organization.ts
  src/services/api/roles/dto/roles.dto.input.user.ts
  src/services/api/roles/dto/roles.dto.result.application.ts
  src/services/api/roles/dto/roles.dto.result.community.ts
  src/services/api/roles/dto/roles.dto.result.contributor.ts
  src/services/api/roles/dto/roles.dto.result.hub.ts
  src/services/api/roles/dto/roles.dto.result.organization.ts
  src/services/api/roles/dto/roles.dto.result.ts
  src/services/api/roles/index.ts
  src/services/api/roles/roles.module.ts
  src/services/api/roles/roles.resolver.queries.spec.ts
  src/services/api/roles/roles.resolver.queries.ts
  src/services/api/roles/roles.service.spec.ts
  src/services/api/roles/roles.service.ts
  src/services/api/search/index.ts
  src/services/api/search/search-input.dto.ts
  src/services/api/search/search-result-entry.dto.ts
  src/services/api/search/search-result-entry.interface.ts
  src/services/api/search/search.module.ts
  src/services/api/search/search.resolver.queries.ts
  src/services/api/search/search.resolver.spec.ts
  src/services/api/search/search.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
