Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Rename to community guidelines, clear fields, add delete and update authorization service
  graphql-samples/mutations/create/create-member-guidelines-template
  src/common/enums/callout.type.ts
  src/common/enums/profile.type.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.entity.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.module.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.resolver.mutations.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.service.authorization.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.service.ts
  src/domain/template/community-guidelines-template/dto/community.guidelines.template.dto.create.ts
  src/domain/template/community-guidelines-template/dto/community.guidelines.template.dto.delete.ts
  src/domain/template/member-guidelines-template/dto/member.guidelines.template.dto.create.ts
  src/domain/template/member-guidelines-template/member.guidelines.template.entity.ts
  src/domain/template/member-guidelines-template/member.guidelines.template.interface.ts
  src/domain/template/member-guidelines-template/member.guidelines.template.module.ts
  src/domain/template/member-guidelines-template/member.guidelines.template.service.ts
  src/domain/template/templates-set/dto/community.guidelines.template.dto.create.on.templates.set.ts
  src/domain/template/templates-set/dto/member.guidelines.template.dto.create.on.templates.set.ts
  src/domain/template/templates-set/templates.set.entity.ts
  src/domain/template/templates-set/templates.set.interface.ts
  src/domain/template/templates-set/templates.set.module.ts
  src/domain/template/templates-set/templates.set.resolver.fields.ts
  src/domain/template/templates-set/templates.set.resolver.mutations.ts
  src/domain/template/templates-set/templates.set.service.authorization.ts
  src/domain/template/templates-set/templates.set.service.ts
  src/migrations/1715241537625-memberGuidelinesTemplate.ts
  src/migrations/1715339702424-communityGuidelinesTemplate.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Rename create mutation sample
  graphql-samples/mutations/create/create-community-guidelines-template
Due: none

moved migration to be last
  src/migrations/1715169195500-globalRoles.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

replace subspace related credentials to be space credentials
  src/common/enums/authorization.credential.ts
  src/domain/community/user/user.service.authorization.ts
  src/domain/space/space.defaults/definitions/subspace.community.policy.ts
  src/migrations/1715575211966-subspaceCredentials.ts
  src/platform/platfrom/platform.service.authorization.ts
  src/services/api/roles/util/get.journey.roles.for.contributor.entity.data.ts
  src/services/api/roles/util/group.credentials.by.entity.ts
  src/services/api/roles/util/map.journey.credentials.to.roles.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix migration
  src/migrations/1715575211966-subspaceCredentials.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed roles for subspaces in rolesUser
  src/services/api/roles/util/get.journey.roles.for.contributor.query.result.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

code optimization
  src/services/api/roles/util/get.journey.roles.for.contributor.query.result.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

rearranged imports
  src/services/auth/auth.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

renames
  src/common/enums/messaging.queue.ts
  src/services/auth/auth.controller.ts
  src/services/auth/auth.service.ts
  src/services/auth/types/access.granted.input.data.ts
  src/services/auth/types/auth.message.pattern.ts
  src/services/auth/types/index.ts
  src/services/auth/types/reduced.agent.info.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

create EventBusModule to wrap using Nests CQRS backed by RabbitMQ
  quickstart-services.yml
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/events/virtual-contributor-added.event.ts
  src/domain/community/virtual-persona/virtual.persona.service.ts
  src/services/adapters/virtual-persona-engine-adapter/dto/virtual.persona.engine.adapter.dto.question.input.ts
  src/services/event-bus/commands/index.ts
  src/services/event-bus/commands/ingest.space.command.ts
  src/services/event-bus/event.bus.module.ts
  src/services/event-bus/publisher.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

update quickstart-services
  quickstart-services.yml
Due: none

migration rewritten with less statements
  src/migrations/1715575211966-subspaceCredentials.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

migration fix
  src/migrations/1715575211966-subspaceCredentials.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

test fix
  src/services/api/roles/util/get.journey.roles.for.contributor.query.result.ts
  test/data/challenge.json
  test/data/opportunity.json
  test/data/user.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Single set of space credentials (#3910)
  src/common/enums/authorization.credential.ts
  src/domain/community/user/user.service.authorization.ts
  src/domain/space/space.defaults/definitions/subspace.community.policy.ts
  src/migrations/1715575211966-subspaceCredentials.ts
  src/platform/platfrom/platform.service.authorization.ts
  src/services/api/roles/util/get.journey.roles.for.contributor.entity.data.ts
  src/services/api/roles/util/get.journey.roles.for.contributor.query.result.ts
  src/services/api/roles/util/group.credentials.by.entity.ts
  src/services/api/roles/util/map.journey.credentials.to.roles.ts
  test/data/challenge.json
  test/data/opportunity.json
  test/data/user.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip
  .build/synapse/homeserver.yaml
  .env.docker
  quickstart-services.yml
  src/domain/template/community-guidelines-template/community.guidelines.template.entity.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.interface.ts
  src/domain/template/community-guidelines-template/community.guidelines.template.service.ts
  src/domain/template/template-base/template.base.interface.ts
  src/domain/template/templates-set/templates.set.interface.ts
  src/domain/template/templates-set/templates.set.resolver.fields.ts
  src/domain/template/templates-set/templates.set.resolver.mutations.ts
  src/domain/template/templates-set/templates.set.service.ts
  src/services/api/lookup/lookup.module.ts
  src/services/api/lookup/lookup.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Naming
  src/common/constants/providers.ts
  src/common/enums/messaging.queue.ts
  src/core/microservices/microservices.module.ts
  src/core/microservices/virtual.persona.engine.alkemio.digileefomgeving.service.factory.ts
  src/core/microservices/virtual.persona.engine.chat.guidance.service.factory.ts
  src/core/microservices/virtual.persona.engine.community.manager.service.factory.ts
  src/services/adapters/chat-guidance-adapter/guidance.engine.adapter.ts
  src/services/adapters/virtual-persona-engine-adapter/virtual.persona.engine.adapter.ts
  src/services/event-bus/event.bus.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Configuration
  quickstart-services-ai-debug.yml
  quickstart-services.yml
Due: none

Renaming
  src/core/microservices/microservices.module.ts
  src/core/microservices/virtual.contributor.engine.community.manager.service.factory.ts
  src/core/microservices/virtual.contributor.engine.expert.service.factory.ts
  src/core/microservices/virtual.contributor.engine.guidance.service.factory.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixes
  .env.default
  quickstart-services-ai-debug.yml
  quickstart-services.yml
Due: none

Additional config
  quickstart-services.yml
Due: none

Config fixes
  quickstart-services.yml
Due: none

Working config
  quickstart-services-ai-debug.yml
Due: none

fixed migration syntax error
  src/migrations/1715575211966-subspaceCredentials.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip
  src/domain/template/community-guidelines-template/community.guidelines.template.service.ts
  src/domain/template/community-guidelines-template/dto/community.guidelines.template.dto.create.ts
  src/migrations/1715618480443-communityGuidelinesTemplate.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added subspace admin credential; assign / remove per community; simplify community creation re spaceID; wip re initialization
  src/common/enums/authorization.credential.ts
  src/common/enums/community.role.ts
  src/domain/community/community/community.lifecycle.application.options.provider.ts
  src/domain/community/community/community.lifecycle.invitation.options.provider.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/space/space/space.service.ts
  src/migrations/1715661558908-subspaceAdmin.ts
  src/services/api/conversion/conversion.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

extend rolesUser query to understand subspace-admin role
  src/common/enums/account.role.ts
  src/common/enums/authorization.credential.ts
  src/common/enums/community.role.implicit.ts
  src/common/enums/community.role.ts
  src/common/enums/credential.role.ts
  src/common/enums/index.ts
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.ts
  src/domain/space/account/account.service.ts
  src/domain/space/space/space.service.ts
  src/services/api/conversion/conversion.service.ts
  src/services/api/roles/roles.service.spec.ts
  src/services/api/roles/roles.service.ts
  src/services/api/roles/util/get.space.roles.for.contributor.entity.data.ts
  src/services/api/roles/util/get.space.roles.for.contributor.query.result.ts
  src/services/api/roles/util/group.credentials.by.entity.ts
  src/services/api/roles/util/map.space.credentials.to.roles.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed migration syntax error (#3914)
  src/migrations/1715575211966-subspaceCredentials.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix build
  src/platform/platfrom/platform.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

credential migration fixed to add for parent space
  src/migrations/1715661558908-subspaceAdmin.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixes with working normal / debug (built from Dockerfile) services (#3913)
  .env.default
  quickstart-services-ai-debug.yml
  quickstart-services.yml
  src/common/constants/providers.ts
  src/common/enums/messaging.queue.ts
  src/core/microservices/microservices.module.ts
  src/core/microservices/virtual.contributor.engine.community.manager.service.factory.ts
  src/core/microservices/virtual.contributor.engine.expert.service.factory.ts
  src/core/microservices/virtual.contributor.engine.guidance.service.factory.ts
  src/services/adapters/chat-guidance-adapter/guidance.engine.adapter.ts
  src/services/adapters/virtual-persona-engine-adapter/virtual.persona.engine.adapter.ts
  src/services/event-bus/event.bus.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Prototype authorization accessible from the outside (#3912)
  src/app.module.ts
  src/common/enums/logging.context.ts
  src/common/enums/messaging.queue.ts
  src/common/exceptions/entity.not.initialized.exception.ts
  src/core/authorization/authorization.service.ts
  src/main.ts
  src/services/auth/auth.controller.ts
  src/services/auth/auth.module.ts
  src/services/auth/auth.service.ts
  src/services/auth/types/access.granted.input.data.ts
  src/services/auth/types/auth.message.pattern.ts
  src/services/auth/types/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixing of tests related to roles
  src/domain/space/space/space.service.spec.ts
  src/services/api/roles/roles.service.spec.ts
  src/services/api/roles/roles.service.ts
  src/services/api/roles/util/map.space.credentials.to.roles.ts
  test/data/roles-user.json
  test/data/subspace.json
  test/data/subsubspace.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tied up usage of space level vs type
  src/core/bootstrap/bootstrap.service.ts
  src/domain/space/account/account.resolver.mutations.ts
  src/domain/space/space.defaults/space.defaults.service.ts
  src/domain/space/space/space.service.ts
  src/domain/storage/storage-aggregator/storage.aggregator.service.ts
  src/services/api/roles/roles.service.ts
  src/services/api/search/search.result.builder.service.ts
  src/services/infrastructure/url-generator/url.generator.service.ts
  test/utils/test-data.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactored generation of mock data
  src/services/api/roles/roles.service.spec.ts
  test/data/roles-user.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated tests
  src/platform/activity/create.latest.activity.per.space.spec.ts
  src/services/api/roles/roles.resolver.fields.ts
  src/services/api/roles/roles.service.spec.ts
  src/services/api/roles/roles.service.ts
  test/data/roles-user.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed credential type for notifications@alkem.io on bootstrap
  src/platform/configuration/templates/authorization-bootstrap.json
Due: prettier --write

adding back .env.docker
  .env.docker
Due: none

added authorization rule for inviting to communit, also potentially for subspace admins
  src/common/constants/authorization/credential.rule.types.constants.ts
  src/domain/community/community-policy/community.policy.service.ts
  src/domain/community/community/community.service.authorization.ts
  src/services/api/roles/roles.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
