Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix aspect subscriotion
  src/domain/collaboration/callout/callout.resolver.subscriptions.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Skipping Registration Success screen for OIDC registrations (#2374)
  .build/ory/kratos/email-password/kratos.yml
Due: none

Updated linkedin package
  quickstart-services.yml
Due: none

set notification for new canvas created to true
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated kratos version
  quickstart-services.yml
Due: none

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

Add messageCount resolver field (#2368)
  package-lock.json
  package.json
  src/domain/collaboration/callout/callout.resolver.subscriptions.ts
  src/domain/communication/comments/comments.entity.ts
  src/domain/communication/comments/comments.interface.ts
  src/domain/communication/comments/comments.service.ts
  src/migrations/1670843453066-commentsCount.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Social login (#2378)
  .build/ory/kratos/email-password/kratos.yml
  .build/ory/kratos/email-password/oidc.microsoft.jsonnet
  .build/ory/kratos/oidc/oidc.linkedin.jsonnet
  .build/ory/kratos/oidc/oidc.microsoft.jsonnet
  quickstart-services.yml
  src/common/enums/alkemio.error.status.ts
  src/common/exceptions/auth/api.restricted.access.exception.ts
  src/common/exceptions/auth/index.ts
  src/core/authentication/kratos.payload.ts
  src/core/authentication/ory.api.strategy.ts
  src/core/authentication/ory.strategy.ts
  src/core/authentication/verify.identity.if.oidc.auth.ts
  src/core/authorization/graphql.guard.ts
  src/services/api/registration/registration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added user preferences for additional notifications (#2371)
  package-lock.json
  package.json
  src/common/enums/user.preference.type.ts
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/domain/community/user/user.service.ts
  src/migrations/1670680683667-notifications.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.canvas.created.ts
  src/services/adapters/notification-adapter/dto/notification.dto.input.discussion.comment.ts
  src/services/adapters/notification-adapter/notification.adapter.module.ts
  src/services/adapters/notification-adapter/notification.adapter.ts
  src/services/adapters/notification-adapter/notification.payload.builder.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Member sefl removal wip
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.authorization.ts
  src/domain/community/community/community.service.ts
  src/domain/community/community/dto/community.dto.remove.member.self.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

corrected my logic re extending of user removing from community
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed async not needed
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip for private challenges
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed check for read privilege to retrieve context field on challenge
  src/domain/challenge/challenge/challenge.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed email templates for kratos 0.11.0
  .build/ory/kratos/courier-templates/recovery_code/invalid/email.body.gotmpl
  .build/ory/kratos/courier-templates/recovery_code/invalid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/recovery_code/invalid/email.subject.gotmpl
  .build/ory/kratos/courier-templates/recovery_code/valid/email.body.gotmpl
  .build/ory/kratos/courier-templates/recovery_code/valid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/recovery_code/valid/email.subject.gotmpl
  .build/ory/kratos/courier-templates/verification_code/invalid/email.body.gotmpl
  .build/ory/kratos/courier-templates/verification_code/invalid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/verification_code/invalid/email.subject.gotmpl
  .build/ory/kratos/courier-templates/verification_code/valid/email.body.gotmpl
  .build/ory/kratos/courier-templates/verification_code/valid/email.body.plaintext.gotmpl
  .build/ory/kratos/courier-templates/verification_code/valid/email.subject.gotmpl
  .build/ory/kratos/oidc/identity.traits.schema.json
  .build/ory/kratos/oidc/oidc.linkedin.jsonnet
  quickstart-services.yml
Due: prettier --write

Fixes
  .build/ory/kratos/courier-templates/verification_code/valid/email.body.gotmpl
  .build/ory/kratos/identity.schema.json
  .build/ory/kratos/kratos.yml
Due: prettier --write

Add auth policy to disassociate self from organization
  src/domain/community/community/community.service.authorization.ts
  src/domain/community/organization/organization.resolver.mutations.ts
  src/domain/community/organization/organization.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Linkedin email verified by default
  .build/ory/kratos/oidc/oidc.linkedin.jsonnet
Due: none

Member self removal (#2381)
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/community/community.service.authorization.ts
  src/domain/community/community/community.service.ts
  src/domain/community/community/dto/community.dto.remove.member.self.ts
  src/domain/community/organization/organization.resolver.mutations.ts
  src/domain/community/organization/organization.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added recommendations without content being populated
  src/domain/common/reference/reference.entity.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/common/reference/reference.service.ts
  src/domain/context/context/context.entity.ts
  src/domain/context/context/context.interface.ts
  src/domain/context/context/context.resolver.fields.ts
  src/domain/context/context/context.service.authorization.ts
  src/domain/context/context/context.service.ts
  src/migrations/1671129430163-recommendations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added sorting by activity for callouts field on Collaboration
  src/domain/collaboration/aspect/aspect.service.ts
  src/domain/collaboration/callout/callout.entity.ts
  src/domain/collaboration/callout/callout.interface.ts
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/collaboration/collaboration.resolver.fields.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
  src/domain/collaboration/collaboration/dto/collaboration.args.callouts.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

initial usage of matrix-adapter; tidy up of notifications client
  package-lock.json
  package.json
  src/common/constants/providers.ts
  src/common/enums/messaging.queue.ts
  src/core/microservices/matrix.adapter.service.factory.ts
  src/core/microservices/microservices.module.ts
  src/domain/collaboration/opportunity/opportunity.resolver.mutations.ts
  src/domain/communication/comments/comments.resolver.mutations.ts
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/room/room.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/api/registration/registration.resolver.mutations.ts
  test/mocks/matrix.adapter.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated to retrieve room details via matrix-adapter service
  package-lock.json
  package.json
  src/domain/communication/room/room.service.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

sending message also via remote adapter
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed direct usage of matrix + replaced with remote calls
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/external/matrix/adapter-group/matrix.group.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed matrix adapters; matrix dependent packages
  package-lock.json
  package.json
  src/common/interfaces/disposable.interface.ts
  src/services/adapters/communication-adapter/communication-adapter.module.ts
  src/services/external/matrix/adapter-group/matrix.group.adapter.module.ts
  src/services/external/matrix/adapter-group/matrix.group.adapter.ts
  src/services/external/matrix/adapter-group/matrix.group.dto.options.ts
  src/services/external/matrix/adapter-group/matrix.group.dto.profile.options.ts
  src/services/external/matrix/adapter-group/matrix.group.dto.result.ts
  src/services/external/matrix/adapter-message/matrix.message.adapter.module.ts
  src/services/external/matrix/adapter-message/matrix.message.adapter.ts
  src/services/external/matrix/adapter-room/matrix.room.adapter.module.ts
  src/services/external/matrix/adapter-room/matrix.room.adapter.ts
  src/services/external/matrix/adapter-room/matrix.room.dto.create.options.ts
  src/services/external/matrix/adapter-room/matrix.room.dto.options.ts
  src/services/external/matrix/adapter-room/matrix.room.dto.response.message.ts
  src/services/external/matrix/adapter-room/matrix.room.ts
  src/services/external/matrix/adapter-user/matrix.user.adapter.module.ts
  src/services/external/matrix/adapter-user/matrix.user.adapter.ts
  src/services/external/matrix/adapter-user/matrix.user.dto.logged.in.response.ts
  src/services/external/matrix/adapter-user/matrix.user.interface.ts
  src/services/external/matrix/agent-pool/matrix.agent.pool.module.ts
  src/services/external/matrix/agent-pool/matrix.agent.pool.ts
  src/services/external/matrix/agent/matrix.agent.dto.message.request.community.ts
  src/services/external/matrix/agent/matrix.agent.dto.message.request.direct.ts
  src/services/external/matrix/agent/matrix.agent.dto.message.request.ts
  src/services/external/matrix/agent/matrix.agent.interface.ts
  src/services/external/matrix/agent/matrix.agent.module.ts
  src/services/external/matrix/agent/matrix.agent.service.ts
  src/services/external/matrix/agent/matrix.agent.ts
  src/services/external/matrix/cryptography/matrix.cryptography.module.ts
  src/services/external/matrix/cryptography/matrix.cryptography.service.ts
  src/services/external/matrix/events/matrix.event.adapter.group.ts
  src/services/external/matrix/events/matrix.event.adapter.room.ts
  src/services/external/matrix/events/matrix.event.dispatcher.ts
  src/services/external/matrix/management/matrix.user.management.module.ts
  src/services/external/matrix/management/matrix.user.management.service.ts
  src/services/external/matrix/types/matrix.client.type.ts
  src/services/external/matrix/types/matrix.event.handler.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

remvoed config, exceptions + enums not used
  alkemio.yml
  src/common/enums/alkemio.error.status.ts
  src/common/enums/communications.synapse.endpoint.ts
  src/common/enums/index.ts
  src/common/exceptions/communication.session.undefined.exception.ts
  src/common/exceptions/communication.subscription.exception.ts
  src/common/exceptions/index.ts
  src/common/exceptions/matrix.agent.pool.exception.ts
  src/common/exceptions/matrix.login.exception.ts
  src/common/exceptions/matrix.membership.exception.ts
  src/common/exceptions/matrix.registration.exception.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed graphql decorations from dtos used for communication adapter
  src/services/adapters/communication-adapter/dto/communication.dto.message.delete.ts
  src/services/adapters/communication-adapter/dto/communication.dto.message.edit.ts
  src/services/adapters/communication-adapter/dto/communication.dto.message.send.ts
  src/services/adapters/communication-adapter/dto/communication.dto.message.send.user.ts
  src/services/adapters/communication-adapter/dto/communication.dto.room.invitation.received.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed event type for a couple of interactionswith matrix adapter
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added SYNAPSE_SERVER_URL to .env.docker + pass into the matrix-apater container
  .env.docker
  quickstart-services.yml
Due: none

added publisher meta info to callout; added mutation to allow setting published information for global admins via a new privilege
  graphql-samples/mutations/update/update-callout-publisher
  src/common/enums/authorization.privilege.ts
  src/domain/collaboration/callout/callout.entity.ts
  src/domain/collaboration/callout/callout.interface.ts
  src/domain/collaboration/callout/callout.module.ts
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/domain/collaboration/callout/callout.service.authorization.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/callout/dto/callout.dto.update.publisher.ts
  src/migrations/1671479990726-publish.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

do not set published info to now if not specified
  src/domain/collaboration/callout/callout.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated logic to first get all callouts activity before limiting; also tidied up logic
  src/domain/collaboration/collaboration/collaboration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix publishedDate data migration
  src/migrations/1671479990726-publish.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addressed review comments
  graphql-samples/mutations/update/update-callout-publish-info
  graphql-samples/mutations/update/update-callout-publisher
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/domain/collaboration/callout/callout.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix DTO name + having both key fields optional
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/domain/collaboration/callout/dto/callout.dto.update.publish.info.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added check that a callout is published before triggering notifications on aspect created, canvas created or comment on discussion callout
  src/domain/collaboration/callout/callout.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added check that a callout is published before triggering notifications on aspect created, canvas created or comment on discussion callout (#2395)
  src/domain/collaboration/callout/callout.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update bannerNarrow meta data
  src/domain/common/visual/visual.service.ts
  src/migrations/1671604452665-banner-narrow-meta-data.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update bannerNarrow meta data (#2396)
  src/domain/common/visual/visual.service.ts
  src/migrations/1671604452665-banner-narrow-meta-data.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
