Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Get single room is available
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/services/communication/communication.dto.room.result.ts
  src/services/communication/communication.dto.send.msg.ts
  src/services/communication/communication.service.ts
  src/services/matrix/communication/communication.matrix.pool.client.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Config improvements
  .env.aad.cherrytwist.api.default
  .env.aad.cherrytwist.client.default
  .env.default
  cherrytwist.yml
  src/app.module.ts
  src/common/enums/aad.logging.level.ts
  src/common/enums/index.ts
  src/common/interfaces/aad.config.interface.ts
  src/config/aad.client.config.ts
  src/config/aad.config.ts
  src/config/configuration.ts
  src/config/index.ts
  src/services/configuration/config/config.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated ROPC
  cherrytwist.yml
  test/utils/token.helper.ts
Due: none

Updated env context
  src/config/configuration.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adjust dm room communication
  src/domain/community/user/user.resolver.mutations.ts
  src/services/communication/communication.dto.message.result.ts
  src/services/communication/communication.dto.room.result.ts
  src/services/communication/communication.module.ts
  src/services/communication/communication.service.ts
  src/services/matrix/communication/communication.matrix.pool.client.ts
  src/services/matrix/communication/communication.matrix.pool.ts
  src/services/matrix/user/user.matrix.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add communication pool in app module
  src/app.module.ts
  src/config/matrix.client.config.ts
  src/domain/community/message/message.resolver.ts
  src/services/communication/communication.service.ts
  src/services/matrix/communication/communication.matrix.pool.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

bumped version number
  package-lock.json
  package.json
Due: prettier --write

Config fix - WIP
  cherrytwist.yml
  graphql-samples/queries/config/auth-providers
  src/services/configuration/config/config.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Config API fix
  src/services/configuration/config/config.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated defaults
  cherrytwist.yml
  src/config/typeorm.cli.config.ts
  test/utils/token.helper.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Disabled db logging
  cherrytwist.yml
Due: none

Added travis AAD issuer / metadata env variables
  .travis.yml
  cherrytwist.yml
Due: none

Fixed profiling options
  cherrytwist.yml
Due: none

Removed log config in bootstrap service
  src/core/bootstrap/bootstrap.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed tokenator client init params
  test/utils/token.helper.ts
Due: none

 Removed redundant configs
  .travis.yml
  cherrytwist.yml
  src/services/configuration/config/config.service.ts
  test/non-functional/auth/ct anonymous - queries-mutations - access level.postman_collection.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Config fix
  Dockerfile
Due: none

updated self management to work with additional mutations
  src/core/authorization/graphql.guard.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/community/profile/profile.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed console.log
  src/core/authorization/graphql.guard.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed loading of the flag for auth enabled
  package.json
  src/common/interfaces/service.config.interface.ts
  src/core/authorization/graphql.guard.ts
  src/services/data-management/data-management.controller.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added initial framework for capability based authorization
  docker-compose.yml
  src/app.module.ts
  src/core/authentication/authentication.service.ts
  src/core/authorization/authorization.dto.capability.assign.ts
  src/core/authorization/authorization.dto.capability.remove.ts
  src/core/authorization/authorization.module.ts
  src/core/authorization/authorization.privileges.ts
  src/core/authorization/authorization.resolver.mutations.ts
  src/core/authorization/authorization.service.spec.ts
  src/core/authorization/authorization.service.ts
  src/core/authorization/index.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/common/capability/capability.dto.create.ts
  src/domain/common/capability/capability.dto.delete.ts
  src/domain/common/capability/capability.entity.ts
  src/domain/common/capability/capability.interface.ts
  src/domain/common/capability/capability.module.ts
  src/domain/common/capability/capability.service.ts
  src/domain/common/capability/index.ts
  src/domain/community/user/user.entity.ts
  src/domain/community/user/user.interface.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

corrected return type authorization mutations; initialize capabilities on users + in capabilities field
  src/core/authorization/authorization.resolver.mutations.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated logo link
  README.md
Due: prettier --write

increased size
  README.md
Due: prettier --write

logo from main website; updated server diagram
  README.md
  docs/diagrams/ct-server-design.png
Due: prettier --write

images to separate folder
  README.md
  docs/Design.md
  docs/images/ct-server-design.png
  docs/images/ct-server-layer-diagram.png
Due: prettier --write

renamed to credentials; started putting guards in
  .env.docker
  src/core/authorization/authorization.credentials.ts
  src/core/authorization/authorization.privileges.ts
  src/core/authorization/authorization.service.ts
  src/core/authorization/credentials.guard.ts
  src/domain/common/capability/capability.module.ts
  src/domain/common/capability/capability.service.ts
  src/domain/common/capability/index.ts
  src/domain/common/credential/credential.dto.create.ts
  src/domain/common/credential/credential.dto.delete.ts
  src/domain/common/credential/credential.entity.ts
  src/domain/common/credential/credential.interface.ts
  src/domain/common/credential/credential.module.ts
  src/domain/common/credential/credential.service.ts
  src/domain/common/credential/index.ts
  src/domain/community/user/user.entity.ts
  src/domain/community/user/user.interface.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

stabilisation fixes after adding Agent entity
  graphql-samples/mutations/authorization/assign-credential-to-user
  graphql-samples/mutations/authorization/users-with-authorization-credential
  src/common/enums/restricted-group.names.ts
  src/domain/agent/agent/agent.entity.ts
  src/domain/agent/agent/agent.resolver.spec.ts
  src/domain/agent/credential/credential.service.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed memberof on User
  src/core/authorization/authorization.credential.ts
  src/domain/community/user/memberof.composite.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed issue with self-management; updated members field on organisation to use credentials; runs with populator 0.2.8
  graphql-samples/mutations/create/create-organisation
  src/core/authorization/authorization.rules.guard.ts
  src/domain/community/organisation/organisation.module.ts
  src/domain/community/organisation/organisation.resolver.fields.ts
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added regex validation on DID; removed mutations class on Tagset
  src/domain/common/scalars/scalar.did.ts
  src/domain/common/tagset/tagset.resolver.mutations.ts
  src/domain/common/tagset/tagset.resolver.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

migrated original ssi-poc branch to auth based on creds branch
  .scripts/create_db.sh
  package-lock.json
  package.json
  src/app.module.ts
  src/domain/agent/agent/agent.entity.ts
  src/domain/agent/agent/agent.interface.ts
  src/domain/agent/agent/agent.module.ts
  src/domain/agent/agent/agent.service.ts
  src/domain/community/user/user.service.ts
  src/services/ssi/agent/agent.module.ts
  src/services/ssi/agent/agent.resolver.ts
  src/services/ssi/agent/agent.service.ts
  src/services/ssi/credentials/StateModificationCredentialMetaData.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

reworked bootstrap loading of users / setup
  src/core/bootstrap/bootstrap.service.ts
  src/services/configuration/templates/authorisation-bootstrap.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added additional validation logic for adding + removing credentials, especially for global-admin type
  graphql-samples/mutations/authorization/remove-credential-from-user
  src/common/enums/cherrytwist.error.status.ts
  src/common/exceptions/authorisation.exception.ts
  src/core/authorization/authorization.resolver.mutations.ts
  src/core/authorization/authorization.service.ts
  src/core/authorization/dto/authorization.dto.credential.remove.ts
  src/core/authorization/dto/authorization.dto.users.with.credential.ts
  src/domain/agent/agent/agent.service.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

sample guard on lifecycle that uses credentials
  src/domain/common/lifecycle/lifecycle.service.ts
  src/domain/community/application/application.lifecycle.config.ts
  src/domain/community/community/community.lifecycle.options.provider.ts
  src/domain/community/community/community.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removed focalPoint from relations
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/community/user-group/user-group.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added db migration
  src/migrations/1620649273229-credentials.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

user group membership also via credentials
  src/core/authorization/authorization.credential.ts
  src/domain/community/user-group/user-group.entity.ts
  src/domain/community/user-group/user-group.interface.ts
  src/domain/community/user-group/user-group.module.ts
  src/domain/community/user-group/user-group.resolver.fields.ts
  src/domain/community/user-group/user-group.service.ts
  src/domain/community/user/user.entity.ts
  src/domain/community/user/user.interface.ts
  src/migrations/1620651506572-user-groups-creds.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
