Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

chore: update schema baseline
  schema-baseline.graphql
Due: none

do not get correlationId of agent
  src/core/authentication.agent.info/agent.info.ts
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fix
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

lookup of space template url to resolve the hierarchy of template content spaces (#5569)
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline (#5636)
  schema-baseline.graphql
Due: none

docs: update copilot instructions with coding standards and logging guidelines (#5634)
  .github/copilot-instructions.md
Due: prettier --write

Adds Postgres DB convergence specification
  specs/017-postgres-db-convergence/checklists/requirements.md
  specs/017-postgres-db-convergence/contracts/postgres-migration-contract.md
  specs/017-postgres-db-convergence/data-model.md
  specs/017-postgres-db-convergence/plan.md
  specs/017-postgres-db-convergence/quickstart.md
  specs/017-postgres-db-convergence/research.md
  specs/017-postgres-db-convergence/spec.md
  specs/017-postgres-db-convergence/tasks.md
Due: prettier --write

Updates Postgres migration spec and tasks
  specs/017-postgres-db-convergence/plan.md
  specs/017-postgres-db-convergence/spec.md
  specs/017-postgres-db-convergence/tasks.md
Due: prettier --write

Whiteboard: Guest access toggling ON/OFF (#5618)
  .specify/memory/constitution.md
  schema.graphql
  specs/001-toggle-whiteboard-guest/checklists/requirements.md
  specs/001-toggle-whiteboard-guest/contracts/updateWhiteboardGuestAccess.graphql
  specs/001-toggle-whiteboard-guest/data-model.md
  specs/001-toggle-whiteboard-guest/plan.md
  specs/001-toggle-whiteboard-guest/quickstart.md
  specs/001-toggle-whiteboard-guest/research.md
  specs/001-toggle-whiteboard-guest/spec.md
  specs/001-toggle-whiteboard-guest/tasks.md
  src/domain/common/whiteboard/dto/whiteboard.dto.guest-access.toggle.ts
  src/domain/common/whiteboard/index.ts
  src/domain/common/whiteboard/whiteboard.entity.ts
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
  src/domain/common/whiteboard/whiteboard.interface.ts
  src/domain/common/whiteboard/whiteboard.module.ts
  src/domain/common/whiteboard/whiteboard.resolver.fields.ts
  src/domain/common/whiteboard/whiteboard.resolver.mutations.ts
  test/unit/domain/common/whiteboard/whiteboard.guest-access.service.spec.ts
  test/unit/domain/common/whiteboard/whiteboard.resolver.mutations.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: extend identity resolution to include agent ID and handle missing agents
  .build/synapse/homeserver.yaml
  .github/copilot-instructions.md
  specs/018-identity-resolve-agent-id/checklists/requirements.md
  specs/018-identity-resolve-agent-id/contracts/identity-resolve.rest.md
  specs/018-identity-resolve-agent-id/data-model.md
  specs/018-identity-resolve-agent-id/plan.md
  specs/018-identity-resolve-agent-id/quickstart.md
  specs/018-identity-resolve-agent-id/research.md
  specs/018-identity-resolve-agent-id/spec.md
  specs/018-identity-resolve-agent-id/tasks.md
  src/common/enums/alkemio.error.status.ts
  src/services/api-rest/identity-resolve/dto/identity-resolve.response.dto.ts
  src/services/api-rest/identity-resolve/identity-resolve.controller.ts
  src/services/api-rest/identity-resolve/identity-resolve.service.ts
  test/integration/identity-resolve/identity-resolve.controller.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Space Settings: Add new setting to allow guest contributions (#5558)
  schema.graphql
  specs/013-guest-contributions-policy/plan.md
  specs/013-guest-contributions-policy/spec.md
  specs/013-guest-contributions-policy/tasks.md
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.callouts.space.l0.tutorials.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.callouts.vc.knowledge.base.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.space.l0.ts
  src/core/bootstrap/platform-template-definitions/default-templates/bootstrap.template.space.content.subspace.ts
  src/domain/space/space.settings/dto/space.settings.collaboration.dto.create.ts
  src/domain/space/space.settings/dto/space.settings.collaboration.dto.update.ts
  src/domain/space/space.settings/space.settings.collaboration.interface.ts
  src/domain/space/space/sort.spaces.by.activity.spec.ts
  src/domain/space/space/space.service.spec.ts
  src/domain/space/space/space.service.ts
  src/migrations/1761926109272-addSettingAllowGuestContributions.ts
  src/services/api/roles/roles.service.spec.ts
  src/services/api/search/result/search.result.service.ts
  test/data/space.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

generate schema
  schema.graphql
Due: none

Space: Whiteboards new privileges for creators/admins (#5573)
  specs/014-guest-contributions-privileges/checklists/requirements.md
  specs/014-guest-contributions-privileges/contracts/service-contracts.md
  specs/014-guest-contributions-privileges/data-model.md
  specs/014-guest-contributions-privileges/plan.md
  specs/014-guest-contributions-privileges/quickstart.md
  specs/014-guest-contributions-privileges/research.md
  specs/014-guest-contributions-privileges/spec.md
  specs/014-guest-contributions-privileges/tasks.md
  src/common/enums/authorization.privilege.ts
  src/domain/access/role-set/role.set.resolver.mutations.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.authorization.ts
  src/domain/collaboration/callout-framing/callout.framing.service.authorization.ts
  src/domain/collaboration/callout/callout.service.authorization.ts
  src/domain/collaboration/callouts-set/callouts.set.resolver.mutations.ts
  src/domain/collaboration/callouts-set/callouts.set.service.authorization.ts
  src/domain/common/whiteboard/whiteboard.module.ts
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
  src/domain/space/space/space.service.platform.roles.access.ts
  src/domain/template/template/template.resolver.mutations.spec.ts
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
  src/services/infrastructure/entity-resolver/room.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Guest User support (#5430)
  docs/Guest-Users.md
  src/common/enums/authorization.credential.ts
  src/common/enums/role.name.ts
  src/core/authentication.agent.info/agent.info.service.ts
  src/core/authentication.agent.info/agent.info.ts
  src/core/authentication/authentication.service.spec.ts
  src/core/authentication/authentication.service.ts
  src/core/authentication/constants.ts
  src/core/authentication/ory.strategy.ts
  src/core/authorization/graphql.guard.ts
  src/core/authorization/index.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/access/platform-roles-access/platform.roles.access.service.ts
  src/domain/space/space/space.service.platform.roles.access.ts
  src/platform-admin/services/search/admin.search.ingest.resolver.mutations.ts
  test/data/agentInfo.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: extend identity resolution to include agent ID and handle missing agents (#5638)
  .build/synapse/homeserver.yaml
  .github/copilot-instructions.md
  specs/018-identity-resolve-agent-id/checklists/requirements.md
  specs/018-identity-resolve-agent-id/contracts/identity-resolve.rest.md
  specs/018-identity-resolve-agent-id/data-model.md
  specs/018-identity-resolve-agent-id/plan.md
  specs/018-identity-resolve-agent-id/quickstart.md
  specs/018-identity-resolve-agent-id/research.md
  specs/018-identity-resolve-agent-id/spec.md
  specs/018-identity-resolve-agent-id/tasks.md
  src/common/enums/alkemio.error.status.ts
  src/services/api-rest/identity-resolve/dto/identity-resolve.response.dto.ts
  src/services/api-rest/identity-resolve/identity-resolve.controller.ts
  src/services/api-rest/identity-resolve/identity-resolve.service.ts
  test/integration/identity-resolve/identity-resolve.controller.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

whiteboard collaboration service fixes
  src/services/whiteboard-integration/whiteboard.integration.controller.ts
  src/services/whiteboard-integration/whiteboard.integration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

checkout homeserver.yaml from develop
  .build/synapse/homeserver.yaml
Due: none

reset feature 014 spec
  specs/014-guest-contributions-privileges/data-model.md
  specs/014-guest-contributions-privileges/plan.md
  specs/014-guest-contributions-privileges/research.md
  specs/014-guest-contributions-privileges/spec.md
Due: prettier --write

reset src/domain and remove console.log
  src/domain/access/role-set/role.set.module.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.authorization.ts
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
  src/services/whiteboard-integration/whiteboard.integration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

reset app.module
  src/app.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: moved files to same dir & added tests
  .github/workflows/review-router.yml
  .github/workflows/review_metrics/review_metrics.py
  .github/workflows/review_metrics/test_review_metrics.py
Due: none

sanitize email
  src/services/infrastructure/entity-resolver/room.resolver.service.ts
  src/services/whiteboard-integration/whiteboard.integration.controller.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

revert unneded changes
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

revert copilot-instructions changes
  .github/copilot-instructions.md
Due: prettier --write

Guest whiteboard access page - WB collaboration service updates (#5640)
  src/services/whiteboard-integration/inputs/access.granted.input.data.ts
  src/services/whiteboard-integration/inputs/info.input.data.ts
  src/services/whiteboard-integration/inputs/who.input.data.ts
  src/services/whiteboard-integration/whiteboard.integration.controller.ts
  src/services/whiteboard-integration/whiteboard.integration.service.ts
  src/tools/schema/print-schema.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.127.0
  package.json
Due: prettier --write

Removes MySQL migration scripts and README
  scripts/migrations/README-postgres-migration.md
  scripts/migrations/mysql-to-postgres-transform.sh
  specs/017-postgres-db-convergence/IMPLEMENTATION_SUMMARY.md
  specs/017-postgres-db-convergence/quickstart.md
  specs/017-postgres-db-convergence/tasks.md
  specs/018-postgres-db-convergence/checklists/requirements.md
  specs/018-postgres-db-convergence/data-model.md
  specs/018-postgres-db-convergence/plan.md
  specs/018-postgres-db-convergence/quickstart.md
  specs/018-postgres-db-convergence/research.md
  specs/018-postgres-db-convergence/spec.md
  specs/018-postgres-db-convergence/tasks.md
Due: prettier --write

exclude VC memberships from user's memberships
  src/services/api/me/me.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactor: added guest access authorization rules in whiteboard services persisted on reset
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactor: simplify cascade property initialization in credential authorization rule
  src/core/authorization/authorization.policy.rule.credential.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

addition of platform settings on the VC, with one entry for prompty graph editing
  src/domain/community/virtual-contributor-platform-settings/dto/virtual.contributor.platform.settings.dto.update.ts
  src/domain/community/virtual-contributor-platform-settings/index.ts
  src/domain/community/virtual-contributor-platform-settings/virtual.contributor.platform.settings.interface.ts
  src/domain/community/virtual-contributor-platform-settings/virtual.contributor.platform.settings.module.ts
  src/domain/community/virtual-contributor-platform-settings/virtual.contributor.platform.settings.service.ts
  src/domain/community/virtual-contributor/dto/index.ts
  src/domain/community/virtual-contributor/dto/virtual.contributor.dto.update.platform.settings.ts
  src/domain/community/virtual-contributor/virtual.contributor.entity.ts
  src/domain/community/virtual-contributor/virtual.contributor.interface.ts
  src/domain/community/virtual-contributor/virtual.contributor.module.ts
  src/domain/community/virtual-contributor/virtual.contributor.resolver.mutations.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added migration
  src/migrations/1764000000000-virtualContributorPlatformSettings.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactor: added auth support for guest in the file integration service
  src/services/file-integration/file.integration.service.ts
  src/services/file-integration/inputs/file.info.input.data.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: skip email verification for OIDC sessions in identity resolution
  src/services/api-rest/identity-resolve/identity-resolve.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactor: update file service image version to v0.2.0
  quickstart-services.yml
Due: none

feat: skip email verification for OIDC sessions in identity resolution (#5645)
  src/services/api-rest/identity-resolve/identity-resolve.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

bump versions of WB collaboration service and file service in compose
  quickstart-services-ai.yml
  quickstart-services.yml
Due: none

add privilege rule GRANT -> PUBLIC_SHARE & docs
  docs/authorization-forest.md
  docs/credential-based-authorization.md
  specs/014-guest-contributions-privileges/quickstart.md
  specs/014-guest-contributions-privileges/spec.md
  specs/014-guest-contributions-privileges/tasks.md
  src/common/constants/authorization/policy.rule.constants.ts
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
