Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Excludes integration parity tests from CI
  test/config/jest.config.ci.js
Due: none

Adds CODEOWNERS file to manage code ownership
  .github/CODEOWNERS
Due: none

Update src/schema-bootstrap/module.schema-bootstrap.ts
  src/schema-bootstrap/module.schema-bootstrap.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removes duplicate profile resolver (#5483)
  .github/CODEOWNERS
  .github/workflows/schema-contract.yml
  src/domain/community/user/user.resolver.fields.ts
  test/config/jest.config.ci.js
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

easy to follow payload types
  src/platform/in-app-notification-payload/dto/organization/notification.in.app.payload.organization.message.direct.ts
  src/platform/in-app-notification-payload/dto/organization/notification.in.app.payload.organization.message.room.ts
  src/platform/in-app-notification-payload/dto/platform/notification.in.app.payload.platform.forum.discussion.ts
  src/platform/in-app-notification-payload/dto/platform/notification.in.app.payload.platform.global.role.change.ts
  src/platform/in-app-notification-payload/dto/platform/notification.in.app.payload.platform.user.profile.removed.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.base.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.collaboration.callout.comment.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.collaboration.callout.post.comment.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.collaboration.callout.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.communication.message.direct.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.communication.update.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.application.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.contributor.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.invitation.platform.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.invitation.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.ts
  src/platform/in-app-notification-payload/dto/user/notification.in.app.payload.user.message.direct.ts
  src/platform/in-app-notification-payload/dto/user/notification.in.app.payload.user.message.room.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.resolver.fields.ts
  src/platform/in-app-notification-payload/in.app.notification.payload.interface.ts
  src/services/adapters/notification-adapter/notification.platform.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds baseline to classification counts
  src/schema-contract/model/types.ts
  src/tools/schema/types.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

user payload split
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.base.ts
  src/platform/in-app-notification-payload/dto/user/notification.in.app.payload.user.message.direct.ts
  src/platform/in-app-notification-payload/dto/user/notification.in.app.payload.user.message.room.ts
  src/platform/in-app-notification-payload/dto/user/notification.in.app.payload.user.ts
  src/platform/in-app-notification-payload/in.app.notification.payload.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

org payload split
  src/platform/in-app-notification-payload/dto/organization/notification.in.app.payload.organization.base.ts
  src/platform/in-app-notification-payload/dto/organization/notification.in.app.payload.organization.message.direct.ts
  src/platform/in-app-notification-payload/dto/organization/notification.in.app.payload.organization.message.room.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

platform payload split
  src/platform/in-app-notification-payload/dto/platform/notification.in.app.payload.platform.base.ts
  src/platform/in-app-notification-payload/dto/platform/notification.in.app.payload.platform.forum.discussion.ts
  src/platform/in-app-notification-payload/dto/platform/notification.in.app.payload.platform.global.role.change.ts
  src/platform/in-app-notification-payload/dto/platform/notification.in.app.payload.platform.user.profile.removed.ts
  src/services/adapters/notification-adapter/notification.user.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

one forgotten import change
  src/services/adapters/notification-adapter/notification.platform.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improves schema gate script and documentation
  .github/workflows/scripts/schema-gate.ts
  README.md
  package.json
  src/schema-contract/diff/diff-core.ts
  src/tools/schema/diff-schema.ts
  test/config/jest.config.ci.nocov.js
  test/schema-contract/governance/override.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed unused PLATFORM_FORUM_DISCUSSION_COMMENT from NotificationEventPayload
  src/common/enums/notification.event.payload.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip documentation
  docs/notification-entity-fk-mapping.csv
  docs/notification-entity-fk-mapping.md
  docs/notification-entity-fk-mapping.ods
Due: prettier --write

wip implementation
  docs/notifications-entity-tracking-implementation.md
  docs/notifications-entity-tracking.md
  src/migrations/1760357366405-NotificationEntityTracking.ts
  src/migrations/1760358882985-BackfillNotificationEntityTracking.ts
  src/platform/in-app-notification-payload/field-resolvers/user/in.app.notification.payload.user.message.room.resolver.fields.ts
  src/platform/in-app-notification/in.app.notification.entity.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip documentation
  docs/notification-entity-fk-mapping.ods
Due: none

fix: allow license admins to grant space licenses (fixes #5491)
  src/platform/licensing/credential-based/licensing-framework/licensing.framework.service.authorization.spec.ts
  src/platform/licensing/credential-based/licensing-framework/licensing.framework.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds documentation for authorization system
  docs/credential-based-authorization.md
Due: prettier --write

Documents the authorization forest concept
  docs/credential-based-authorization.md
Due: prettier --write

Explains entity visibility as first authorization layer
  docs/credential-based-authorization.md
Due: prettier --write

Explains mixed-privacy space inheritance.
  docs/credential-based-authorization.md
Due: prettier --write

Explains credential-based authorization
  docs/credential-based-authorization.md
Due: prettier --write

Clarifies the authorization forest structure
  docs/credential-based-authorization.md
Due: prettier --write

Clarifies authorization forest structure and roots
  docs/authorization-forest.md
  docs/credential-based-authorization.md
Due: prettier --write

Documents authorization forest and service details
  docs/authorization-forest.md
  src/services/ai-server/ai-server/ai.server.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refines authorization forest documentation
  docs/authorization-forest.md
  docs/credential-based-authorization.md
Due: prettier --write

wip latest changes
  .github/copilot-instructions.md
  docs/notification-entity-fk-mapping.csv
  docs/notification-entity-fk-mapping.ods
  src/common/enums/notification.event.ts
  src/migrations/1760357366405-NotificationEntityTracking.ts
  src/migrations/1760358882985-BackfillNotificationEntityTracking.ts
  src/platform/in-app-notification-payload/dto/virtual-contributor/notification.in.app.payload.virtual.contributor.ts
  src/platform/in-app-notification-payload/field-resolvers/vc/in.app.notification.payload.virtual.contributor.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Simplifies authorization tree diagrams.
  docs/credential-based-authorization.md
Due: prettier --write

tidy up
  src/domain/communication/communication/communication.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed some generated fields
  .github/copilot-instructions.md
  docs/notification-entity-fk-mapping.csv
  docs/notification-entity-fk-mapping.ods
  src/migrations/1760357366405-NotificationEntityTracking.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.collaboration.callout.comment.ts
  src/platform/in-app-notification-payload/field-resolvers/vc/in.app.notification.payload.virtual.contributor.resolver.fields.ts
  src/platform/in-app-notification/in.app.notification.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removable of notifications by message
  src/domain/communication/room/room.module.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add level filter to `PlatformAdminService.getAllSpaces`
  src/platform-admin/admin/platform.admin.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Add import for SpaceLevel enum in PlatformAdminService
  src/platform-admin/admin/platform.admin.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

keep some type from deletion
  docs/notification-entity-fk-mapping.ods
  src/migrations/1760357366405-NotificationEntityTracking.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Clarifies AiServer's authorization independence
  docs/credential-based-authorization.md
  src/services/ai-server/ai-server/ai.server.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Docs: Synchronize Credential-Based Authorization Forest & New AiServer Root (#5496)
  docs/authorization-forest.md
  docs/credential-based-authorization.md
  src/services/ai-server/ai-server/ai.server.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pnpm instead of npm + type fixes
  .gitignore
  .npmrc
  .scripts/backups/README.md
  .scripts/backups/restore_latest_backup_set.sh
  .scripts/migrations/README.md
  .scripts/migrations/run_validate_migration.sh
  Dockerfile
  docs/DataManagement.md
  docs/Developing.md
  docs/QA.md
  docs/Running.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/common/interfaces/redis.interfaces.ts
  src/common/pipes/validation.pipe.ts
  src/core/microservices/subscription.factory.ts
  src/domain/collaboration/link/link.resolver.mutations.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/common/visual/visual.resolver.mutations.ts
  src/domain/storage/storage-bucket/storage.bucket.resolver.mutations.ts
  src/migrations/utils/storage/storage-bucket-utils.ts
  src/services/infrastructure/event-bus/event.bus.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pnpm in ci
  .travis.yml
Due: none

pr comments
  .scripts/migrations/README.md
  docs/QA.md
Due: prettier --write

fix tests
  package.json
  pnpm-lock.yaml
Due: prettier --write

adjusted resolvers with the correct nullable fields
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.communication.update.ts
  src/platform/in-app-notification-payload/field-resolvers/organization/in.app.notification.payload.organization.message.direct.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/organization/in.app.notification.payload.organization.message.room.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/platform/in.app.notification.payload.platform.forum.discussion.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/platform/in.app.notification.payload.platform.global.role.change.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/platform/in.app.notification.payload.platform.user.profile.removed.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.collaboration.callout.comment.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.collaboration.callout.post.comment.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.collaboration.callout.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.communication.message.direct.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.communication.update.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.application.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.invitation.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/user/in.app.notification.payload.user.message.direct.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/user/in.app.notification.payload.user.message.room.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/user/in.app.notification.payload.user.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/vc/in.app.notification.payload.virtual.contributor.resolver.fields.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.collaboration.callout.post.contribution.comment.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.communication.update.sent.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
