Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

delete LLM-generated migration
  src/migrations/1767888440396-AddDefaultCalloutTemplateToFlowState.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds indexes to entities
  src/domain/common/authorization-policy/authorization.policy.entity.ts
  src/domain/common/reference/reference.entity.ts
  src/domain/common/tagset/tagset.entity.ts
  src/domain/common/visual/visual.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cleanup
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.interface.ts
  src/domain/template/template/template.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Passkey Support (#5749)
  .build/ory/kratos/identity.schema.json
  .build/ory/kratos/kratos.yml
  .gitignore
  .scripts/overmind/Procfile.dev
  .scripts/overmind/Procfile.full
  .scripts/overmind/monitor.sh
  .scripts/overmind/status.sh
Due: prettier --write

simple migration
  src/migrations/1768322633794-AddDefaultCalloutTemplateToInnovationFlow.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cleanup circular deps
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.interface.ts
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.module.ts
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.resolver.fields.ts
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds indexes to entities (#5750)
  src/domain/common/authorization-policy/authorization.policy.entity.ts
  src/domain/common/reference/reference.entity.ts
  src/domain/common/tagset/tagset.entity.ts
  src/domain/common/visual/visual.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

improve prompting and AI config
  .scripts/backups/restore_latest_backup_set.sh
  quickstart-services-ai.yml
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
Due: prettier --write

refactor: event-driven message processing and simplified read state types
  package.json
  pnpm-lock.yaml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  schema.graphql
  src/app.module.ts
  src/common/exceptions/user/user.registered.exception.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/communication/conversation/conversation.resolver.fields.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/message/message.module.ts
  src/domain/communication/message/message.with.read.state.resolver.fields.ts
  src/domain/communication/messaging/messaging.service.authorization.spec.ts
  src/domain/communication/messaging/messaging.service.authorization.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/communication/room/room.module.ts
  src/domain/communication/room/room.resolver.fields.ts
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.ts
  src/domain/communication/room/room.with.read.state.interface.ts
  src/domain/community/user-authentication-link/user.authentication.link.service.spec.ts
  src/domain/community/user-authentication-link/user.authentication.link.service.ts
  src/migrations/1764590889000-userIdentityCleanup.ts
  src/migrations/1764897584127-conversationArchitectureRefactor.ts
  src/migrations/1765535403758-RenameConversationsSetToMessaging.ts
  src/platform/platform/platform.service.authorization.spec.ts
  src/services/adapters/communication-adapter/communication.adapter.event.service.ts
  src/services/adapters/communication-adapter/communication.adapter.spec.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/adapters/communication-adapter/communication.rpc.module.ts
  src/services/adapters/communication-adapter/dto/communication.dto.room.with.read.state.result.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.module.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
  src/services/event-handlers/internal/message-inbox/message.notification.service.ts
  src/services/event-handlers/internal/message-inbox/reaction.removed.event.ts
  src/services/event-handlers/internal/message-inbox/vc.invocation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

docs fixes
  specs/019-default-post-template-flow/contracts/example-queries.graphql
  specs/019-default-post-template-flow/contracts/graphql-schema.graphql
  specs/019-default-post-template-flow/data-model.md
  specs/019-default-post-template-flow/quickstart.md
  specs/019-default-post-template-flow/spec.md
  specs/020-conversation-consolidation/data-model.md
Due: prettier --write

remove default template after fetching inn-flow state first
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

more docs fix
  specs/019-default-post-template-flow/quickstart.md
Due: prettier --write

fix: run docker compose in detached mode
  package.json
Due: prettier --write

feat(communication): add conversation subscriptions and room data batching
  .build/synapse/matrix-adapter.yaml
  package.json
  pnpm-lock.yaml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  schema.graphql
  src/common/constants/providers.ts
  src/common/enums/messaging.queue.ts
  src/common/enums/subscription.type.ts
  src/domain/communication/conversation/conversation.module.ts
  src/domain/communication/conversation/conversation.resolver.fields.ts
  src/domain/communication/conversation/conversation.resolver.subscription.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/conversation/dto/index.ts
  src/domain/communication/conversation/dto/subscription/conversation.event.subscription.result.ts
  src/domain/communication/conversation/dto/subscription/index.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/communication/room/room.data.loader.ts
  src/domain/communication/room/room.module.ts
  src/domain/communication/room/room.resolver.fields.ts
  src/domain/communication/room/room.service.ts
  src/domain/communication/room/room.with.read.state.interface.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.module.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
  src/services/subscriptions/subscription-service/dto/conversation.event.subscription.payload.ts
  src/services/subscriptions/subscription-service/dto/index.ts
  src/services/subscriptions/subscription-service/subscription.publish.service.ts
  src/services/subscriptions/subscription-service/subscription.read.service.ts
  src/services/subscriptions/subscription-service/subscription.service.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat(conversation): enhance user context validation and update message handling
  schema.graphql
  src/domain/communication/conversation/conversation.resolver.subscription.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/message/message.interface.ts
  src/domain/communication/vc-interaction/vc.interaction.interface.ts
  src/services/event-handlers/internal/message-inbox/message.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat(conversation): add message removal event and update message handling
  schema.graphql
  src/domain/communication/conversation/conversation.resolver.subscription.ts
  src/domain/communication/conversation/dto/subscription/conversation.event.subscription.result.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
  src/services/event-handlers/internal/message-inbox/vc.invocation.service.ts
  src/services/subscriptions/subscription-service/dto/conversation.event.subscription.payload.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat(conversation): introduce ConversationEventType enum and update event handling
  schema.graphql
  src/domain/communication/conversation/conversation.resolver.subscription.ts
  src/domain/communication/conversation/dto/subscription/conversation.event.subscription.result.ts
  src/domain/communication/room/dto/room.dto.unread.counts.ts
  src/domain/communication/room/room.resolver.fields.ts
  src/services/event-handlers/internal/message-inbox/vc.invocation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: run docker compose in detached mode (#5751)
  package.json
Due: prettier --write

delete default template relation on remove
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.entity.ts
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

feat(conversation): update conversation event payloads and handling for improved member notifications
  schema.graphql
  src/domain/communication/conversation/conversation.interface.ts
  src/domain/communication/conversation/conversation.resolver.fields.ts
  src/domain/communication/conversation/dto/subscription/conversation.event.subscription.result.ts
  src/domain/communication/messaging/messaging.module.ts
  src/domain/communication/messaging/messaging.service.ts
  src/services/event-handlers/internal/message-inbox/message.inbox.service.ts
  src/services/subscriptions/subscription-service/dto/conversation.event.subscription.payload.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Space: Add sortOrder field for subspace ordering (#5312)
  schema.graphql
  src/domain/space/space/dto/space.dto.update.subspaces.sort.order.ts
  src/domain/space/space/index.ts
  src/domain/space/space/sort.spaces.by.activity.spec.ts
  src/domain/space/space/space.entity.ts
  src/domain/space/space/space.interface.ts
  src/domain/space/space/space.resolver.mutations.ts
  src/domain/space/space/space.service.spec.ts
  src/domain/space/space/space.service.ts
  src/migrations/1768479624225-AddSortOrderToSpace.ts
  src/services/api/roles/roles.service.spec.ts
  test/data/space.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

homespace settings
  schema.graphql
  src/domain/community/user-settings/dto/user.settings.dto.create.ts
  src/domain/community/user-settings/dto/user.settings.dto.update.ts
  src/domain/community/user-settings/dto/user.settings.home.space.dto.create.ts
  src/domain/community/user-settings/dto/user.settings.home.space.dto.update.ts
  src/domain/community/user-settings/user.settings.entity.ts
  src/domain/community/user-settings/user.settings.home.space.interface.ts
  src/domain/community/user-settings/user.settings.home.space.validation.service.ts
  src/domain/community/user-settings/user.settings.interface.ts
  src/domain/community/user-settings/user.settings.module.ts
  src/domain/community/user-settings/user.settings.service.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.resolver.spec.ts
  src/domain/community/user/user.service.ts
  src/migrations/1768490929721-AddHomeSpaceToUserSettings.ts
  test/data/user.settings.mock.ts
  test/mocks/user.settings.home.space.validation.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline (#5755)
  schema-baseline.graphql
Due: none

feat(rabbitmq): enhance resilience with error handling for RabbitMQ connections
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  src/core/microservices/rabbitmq.resilience.service.ts
  src/domain/communication/messaging/messaging.service.ts
  src/services/adapters/communication-adapter/communication.adapter.event.service.ts
  src/services/adapters/communication-adapter/communication.rpc.module.ts
  src/services/infrastructure/event-bus/event.bus.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Search memos and whiteboards
  schema.graphql
  src/services/api/search/dto/results/index.ts
  src/services/api/search/dto/results/search.result.dto.ts
  src/services/api/search/dto/results/search.result.interface.ts
  src/services/api/search/dto/results/search.result.memo.ts
  src/services/api/search/dto/results/search.result.whiteboard.ts
  src/services/api/search/extract/search.extract.service.ts
  src/services/api/search/result/search.result.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: Address PR review comments for sortOrder implementation
  schema.graphql
  src/domain/space/space/space.interface.ts
  src/domain/space/space/space.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

spec
  specs/026-template-content-options/checklists/requirements.md
  specs/026-template-content-options/data-model.md
  specs/026-template-content-options/plan.md
  specs/026-template-content-options/quickstart.md
  specs/026-template-content-options/research.md
  specs/026-template-content-options/spec.md
  specs/026-template-content-options/tasks.md
  src/domain/collaboration/callout/callout.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline (#5760)
  schema-baseline.graphql
Due: none

Version bump
  package.json
Due: prettier --write

some tasks
  specs/026-template-content-options/contracts/graphql-schema.graphql
  specs/026-template-content-options/tasks.md
  src/domain/template/template-applier/template.applier.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

re-gen schema; stop tracking .claude/settings.local.json
  .claude/settings.local.json
  schema.graphql
Due: prettier --write

add delete option to update method
  src/domain/template/template-applier/template.applier.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add deleteExistingCallouts to UpdateCollaborationFromSpaceTemplateInput
  schema.graphql
  src/domain/template/template-applier/dto/template.applier.dto.update.collaboration.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add import
  src/domain/template/template-applier/template.applier.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix: Address additional coderabbit review comments
  src/domain/space/space/space.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
