Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

sort the challenges being returned from ecoverse
  src/domain/challenge/ecoverse/ecoverse.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated challenge application questions
  src/services/platform/configuration/templates/ux-template.json
Due: prettier --write

added flag to disable authorization bootstrap profiles from being loaded on server restart
  alkemio.yml
  src/core/bootstrap/bootstrap.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ensure communications failure does not disrupt creation of ecvoerse / challenge / opp
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

made explicit the call to create a user profile for a user with a session; added query to test if the currently logged in user has a profile
  src/core/authentication/agent-info.ts
  src/core/authentication/authentication.service.ts
  src/core/authentication/ory.strategy.ts
  src/core/authorization/graphql.guard.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.resolver.queries.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

remove end backslashes from kratos url
  alkemio.yml
Due: none

Set login success return URL
  .build/ory/kratos/email-password/kratos.yml
Due: none

made community.id accessible for private ecoverses; fixed bug re anonymous read access on community entity, requires reset of auth defs on prod ecoverses
  src/domain/challenge/base-challenge/base.challenge.service.authorization.ts
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/community/community/community.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated user auth policy to grant holders of user self mgmt for that user the right to delete; add mutation to reset the auth definition on a user (to fix existing user auth definitions)
  graphql-samples/mutations/authorization/reset-authorization-on-user
  src/domain/challenge/ecoverse/ecoverse.resolver.mutations.ts
  src/domain/community/user/user.dto.reset.authorization.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

corrected number of members returned from a community
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Now context background and who fields are markdown
  src/domain/context/context/context.dto.create.ts
  src/domain/context/context/context.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated sampel graphql queries
  graphql-samples/mutations/authorization/reset-authorization-on-ecoverse
  graphql-samples/mutations/authorization/reset-authorization-on-organisation
  graphql-samples/mutations/authorization/reset-authorization-on-user
Due: none

bump version
  package.json
Due: prettier --write

fixed issue with agents not having auth policy set on ecoverse / orgs
  graphql-samples/mutations/authorization/reset-authorization-on-ecoverse
  src/domain/challenge/base-challenge/base.challenge.service.authorization.ts
  src/domain/challenge/challenge/challenge.service.authorization.ts
  src/domain/community/organisation/organisation.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed authorization application cascading on user groups for org + community
  src/domain/community/community/community.resolver.mutations.ts
  src/domain/community/organisation/organisation.resolver.fields.ts
  src/domain/community/organisation/organisation.resolver.mutations.ts
  src/domain/community/organisation/organisation.service.authorization.ts
  src/domain/community/organisation/organisation.service.ts
  src/domain/community/user-group/user-group.module.ts
  src/domain/community/user-group/user-group.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Build & Deploy Alkemio Server to Azure
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

cascade auth policy properly to groups
  src/domain/community/community/community.service.authorization.ts
  src/domain/community/organisation/organisation.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed missing user relation on lifecycle that was stopping membership being updated
  src/domain/community/community/community.lifecycle.options.provider.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed propagation of auth policy reset onto child challenges + opportunities
  src/domain/challenge/challenge/challenge.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updated node version
  .travis.yml
  Dockerfile
Due: none

Updated server version
  package.json
Due: prettier --write

Added mandatory node dependency version
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

Changed deployment manifest
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

Fixed typo
  .github/workflows/build-deploy-k8s-test-azure.yml
Due: none

Changed test deployment CR
  manifests/26-server-deployment-test.yaml
Due: none

ensure all entities have an authorization policy on reset to avoid issues with data; ensure all communities have a credential for membership
  src/domain/challenge/base-challenge/base.challenge.service.ts
  src/domain/challenge/challenge/challenge.service.authorization.ts
  src/domain/common/authorization-definition/authorization.definition.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added mutations for adding / removing users as members of an organisation
  graphql-samples/mutations/update/assign-user-to-organisation
  src/domain/community/organisation/organisation.dto.assign.member.ts
  src/domain/community/organisation/organisation.dto.remove.member.ts
  src/domain/community/organisation/organisation.resolver.mutations.ts
  src/domain/community/organisation/organisation.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed typo in sample mutation
  graphql-samples/mutations/update/assign-user-to-organisation
Due: none

Bug fixes in matrix communications - room/group invitation order - name community rooms for updates/discussions - comunity/direct room retrieval - room timeline retrieval
  src/domain/community/community/community.service.ts
  src/services/platform/communication/communication.service.ts
  src/services/platform/matrix/adapter-group/matrix.group.adapter.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.adapter.service.ts
  src/services/platform/matrix/adapter-room/matrix.room.ts
  src/services/platform/matrix/agent/matrix.agent.service.ts
  src/services/platform/matrix/types/matrix.client.type.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated sample queries for sending msgs
  graphql-samples/mutations/message/message-community
  graphql-samples/mutations/message/message-update-community
  graphql-samples/mutations/message/message-user
Due: none

Server Config WIP
  .build/ory/kratos/email-password/kratos.yml
  .build/ory/oathkeeper/access-rules.yml
  .build/ory/oathkeeper/oathkeeper.yml
  .build/traefik/http.yml
  .build/traefik/traefik.yml
  .env.docker
  docs/Running.md
  quickstart-kratos.yml
  quickstart-server.yml
  quickstart-services.yml
Due: prettier --write

Changed default values so that server can work out-of-the-box
  alkemio.yml
  docs/Running.md
  quickstart-server.yml
Due: prettier --write

Synapse routes
  .build/traefik/http.yml
  alkemio.yml
Due: none

Updated kratos config schema version
  .build/ory/kratos/email-password/kratos.yml
Due: none

Added networking diagram
  docs/Design.md
  docs/diagrams/alkemio-services-networking.drawio
  docs/images/alkemio-services-networking.png
Due: prettier --write

Updated server version
  package-lock.json
  package.json
Due: prettier --write

Addressing PR feedback
  .build/ory/kratos/email-password/kratos.yml
  quickstart-services.yml
Due: none

JWKS exposed publicly (only for dev purposes!!!)
  .build/traefik/http.yml
  alkemio.yml
Due: none

Fix: User cannot remove details from its account
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Nest version upgrade WIP
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
