Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

0.128.2
  package.json
Due: prettier --write

Enables uuid-ossp extension for Postgres
  .build/postgres/init-multiple-databases.sh
  src/migrations/1764590884532-baseline.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: update communication adapter integration and remove deprecated communicationID references
  .build/synapse/matrix-adapter.yaml
  specs/022-refactor-matrix-adapter/checklists/requirements.md
  specs/022-refactor-matrix-adapter/plan.md
  specs/022-refactor-matrix-adapter/spec.md
  specs/022-refactor-matrix-adapter/tasks.md
  src/migrations/1764500000000-dropCommunicationID.ts
  src/services/adapters/communication-adapter/communication.adapter.exception.ts
  src/services/adapters/communication-adapter/communication.adapter.response.ts
  src/services/adapters/communication-adapter/communication.adapter.spec.ts
  src/services/adapters/communication-adapter/communication.rpc.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix vcs
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

refactor: update matrix adapter to improve type safety and enhance logging
  alkemio.yml
  package.json
  pnpm-lock.yaml
  schema.graphql
  src/domain/communication/message.reaction/message.reaction.module.ts
  src/domain/communication/message.reaction/message.reaction.resolver.fields.ts
  src/domain/communication/message/message.module.ts
  src/domain/communication/message/message.resolver.fields.ts
  src/domain/communication/room-lookup/room.lookup.service.ts
  src/domain/community/user-lookup/user.lookup.service.ts
  src/domain/community/virtual-contributor-lookup/virtual.contributor.lookup.service.ts
  src/platform/in-app-notification/in.app.notification.resolver.subscription.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
  src/services/adapters/notification-adapter/notification.platform.adapter.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/infrastructure/contributor-lookup/contributor.lookup.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chema work
  specs/019-entity-actor-architecture/new_schema.sql
  specs/019-entity-actor-architecture/old_schema.sql
  specs/019-entity-actor-architecture/spec.md
Due: prettier --write

refactor: update migration files and improve SQL syntax for user table modifications
  quickstart-services.yml
  specs/016-drop-account-upn/research.md
  src/domain/community/user/user.entity.ts
  src/migrations/1762290000000-addAuthenticationIdToUser.ts
  src/migrations/1763587200000-removeAccountUpn.ts
  src/migrations/1764590889000-addAuthenticationIdToUser.ts
  src/migrations/1764590889001-removeAccountUpn.ts
  src/migrations/1764590889002-dropCommunicationID.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat: update matrix adapter image to use the Go version
  quickstart-services.yml
Due: none

feat(db): drop unused wellKnownVirtualContributor column from virtual_contributor
  .github/copilot-instructions.md
  specs/023-drop-wellknown-vc-column/checklists/requirements.md
  specs/023-drop-wellknown-vc-column/plan.md
  specs/023-drop-wellknown-vc-column/spec.md
  specs/023-drop-wellknown-vc-column/tasks.md
  src/migrations/1765130613747-dropWellKnownVirtualContributorColumn.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Merge pull request #5701 from alkem-io/schema-baseline/19962380944
  schema-baseline.graphql
Due: none

Bumps version to 0.129.0
  package.json
Due: prettier --write

refactor: update Dockerfile for multi-stage build and improve runtime efficiency; bump version to 0.128.3
  Dockerfile
  package.json
Due: prettier --write

Updates package version to 0.128.3
  package.json
Due: prettier --write

Removes SSI related database columns
  src/migrations/1764337568772-removeSsi.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Initial spec
  specs/002-calendar-events-overview/spec.md
Due: prettier --write

forum test
  specs/019-space-forum/checklists/requirements.md
  specs/019-space-forum/spec.md
Due: prettier --write

Sanitizes guest names for email generation
  src/services/whiteboard-integration/whiteboard.integration.controller.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactors backup scripts to support PostgreSQL
  .scripts/backups/.env.sample
  .scripts/backups/README.md
  .scripts/backups/recreate_databases.sh
  .scripts/backups/restore_latest_backup.sh
  .scripts/backups/restore_latest_backup_set.sh
  .scripts/backups/utils/manage_database.sh
Due: prettier --write

refactor: make createdBy field optional in document-related classes and methods
  src/domain/community/contributor/contributor.service.ts
  src/domain/community/organization/organization.service.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/domain/storage/document/document.entity.ts
  src/domain/storage/document/document.interface.ts
  src/domain/storage/document/document.service.authorization.ts
  src/domain/storage/document/dto/document.dto.create.ts
  src/domain/storage/storage-bucket/storage.bucket.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Handles orphaned invitations gracefully
  src/domain/access/invitation/invitation.service.authorization.ts
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Makes createdBy field optional
  src/domain/storage/document/dto/document.dto.create.ts
  src/domain/storage/storage-bucket/storage.bucket.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds saveAll mock to authorizationPolicyService
  test/unit/domain/common/whiteboard/whiteboard.guest-access.service.spec.ts
Due: none

Merge pull request #5708 from alkem-io/client-9099
  src/domain/access/invitation/invitation.service.authorization.ts
  src/domain/common/whiteboard/whiteboard.guest-access.service.ts
  src/domain/storage/document/dto/document.dto.create.ts
  src/domain/storage/storage-bucket/storage.bucket.service.ts
  test/unit/domain/common/whiteboard/whiteboard.guest-access.service.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Sanitizes guest names for email generation (#5706)
  .scripts/backups/.env.sample
  .scripts/backups/README.md
  .scripts/backups/recreate_databases.sh
  .scripts/backups/restore_latest_backup.sh
  .scripts/backups/restore_latest_backup_set.sh
  .scripts/backups/utils/manage_database.sh
  src/services/whiteboard-integration/whiteboard.integration.controller.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Migrates to PostgreSQL and removes MySQL support
  .github/copilot-instructions.md
  .scripts/backups/.env.sample
  .scripts/migrations/mysql-to-postgres-transform.sh
  .scripts/migrations/postgres-convergence/README.md
  .scripts/migrations/postgres-convergence/export_alkemio_mysql_to_csv.sh
  .scripts/migrations/postgres-convergence/export_kratos_mysql_to_csv.sh
  .scripts/migrations/postgres-convergence/import_csv_to_postgres_alkemio.sh
  .scripts/migrations/postgres-convergence/import_csv_to_postgres_kratos.sh
  .scripts/migrations/postgres-convergence/log_migration_run.sh
  .scripts/schema.sql
  alkemio.yml
  docs/Design.md
  docs/Developing.md
  docs/QA.md
  docs/Running.md
  package.json
  pnpm-lock.yaml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  src/app.module.ts
  src/common/utils/compression.util.ts
  src/config/fix.uuid.column.type.ts
  src/config/typeorm.cli.config.run.ts
  src/config/typeorm.cli.config.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.authorization.ts
  src/domain/template/template/template.service.ts
  src/library/postgres-convergence/csvTransform.ts
  src/schema-bootstrap/stubs/db.stub.ts
  src/types/alkemio.config.ts
  test/unit/library/postgres-convergence/csvTransform.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Merge pull request #5707 from alkem-io/document-createdby
  src/domain/community/contributor/contributor.service.ts
  src/domain/community/organization/organization.service.ts
  src/domain/community/virtual-contributor/virtual.contributor.service.ts
  src/domain/storage/document/document.entity.ts
  src/domain/storage/document/document.interface.ts
  src/domain/storage/document/document.service.authorization.ts
  src/domain/storage/storage-bucket/storage.bucket.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: extract ConversationMembershipModule and update bootstrap logic
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  src/common/constants/providers.ts
  src/core/bootstrap/bootstrap.module.ts
  src/core/bootstrap/bootstrap.service.ts
  src/core/microservices/microservices.module.ts
  src/core/microservices/subscription.factory.provider.ts
  src/core/microservices/subscription.factory.ts
  src/domain/communication/conversation-membership/conversation.membership.entity.ts
  src/domain/communication/conversation-membership/conversation.membership.interface.ts
  src/domain/communication/conversation-membership/conversation.membership.module.ts
  src/domain/communication/conversation/conversation.entity.ts
  src/domain/communication/conversation/conversation.interface.ts
  src/domain/communication/conversation/conversation.module.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/conversations-set/conversations.set.module.ts
  src/domain/communication/conversations-set/conversations.set.service.ts
  src/schema-bootstrap/module.schema-bootstrap.ts
  src/services/subscriptions/subscription-service/subscription.service.module.ts
  test/schema/bootstrap-parity.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

feat(025-rename-conversations-set): rename ConversationsSet to Messaging
  .github/copilot-instructions.md
  schema.graphql
  specs/025-rename-conversations-set/spec.md
  src/common/enums/authorization.policy.type.ts
  src/core/bootstrap/bootstrap.module.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/communication/communication/communication.module.ts
  src/domain/communication/communication/communication.resolver.mutations.ts
  src/domain/communication/conversation/conversation.entity.ts
  src/domain/communication/conversation/conversation.interface.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/messaging/messaging.entity.ts
  src/domain/communication/messaging/messaging.interface.ts
  src/domain/communication/messaging/messaging.module.ts
  src/domain/communication/messaging/messaging.resolver.mutations.ts
  src/domain/communication/messaging/messaging.service.authorization.spec.ts
  src/domain/communication/messaging/messaging.service.authorization.ts
  src/domain/communication/messaging/messaging.service.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.service.authorization.ts
  src/domain/community/user/user.service.ts
  src/migrations/1765535403758-RenameConversationsSetToMessaging.ts
  src/platform/platform/platform.entity.ts
  src/platform/platform/platform.interface.ts
  src/platform/platform/platform.module.ts
  src/platform/platform/platform.service.authorization.spec.ts
  src/platform/platform/platform.service.authorization.ts
  src/platform/platform/platform.service.ts
  src/services/api/me/me.conversations.resolver.fields.ts
  src/services/api/me/me.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update Node.js version to 22 across configuration files
  .github/copilot-instructions.md
  .github/workflows/schema-baseline.yml
  .github/workflows/schema-contract.yml
  .github/workflows/trigger-sonarqube.yml
  .travis.yml
  Dockerfile
  docs/Running.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Normalizes markdown scalar values
  src/domain/common/scalars/scalar.markdown.spec.ts
  src/domain/common/scalars/scalar.markdown.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Normalizes markdown scalar values (#5712)
  src/domain/common/scalars/scalar.markdown.spec.ts
  src/domain/common/scalars/scalar.markdown.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Increments version to 0.129.1
  package.json
Due: prettier --write

Updates package version to 0.129.2
  package.json
Due: prettier --write
