Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed a bug where reference description is nullable in the db but not in the API
  src/domain/common/reference/reference.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added recommendations without content being populated (#2386)
  src/domain/common/reference/reference.entity.ts
  src/domain/common/reference/reference.interface.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/common/reference/reference.service.ts
  src/domain/context/context/context.entity.ts
  src/domain/context/context/context.interface.ts
  src/domain/context/context/context.resolver.fields.ts
  src/domain/context/context/context.service.authorization.ts
  src/domain/context/context/context.service.ts
  src/migrations/1671129430163-recommendations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Server changes without changes required on the client, works with dev
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/collaboration/dto/collaboration.args.callouts.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Version bump
  package-lock.json
  package.json
Due: prettier --write

added sorting by activity for callouts field on Collaboration (#2387)
  package-lock.json
  package.json
  src/domain/collaboration/aspect/aspect.service.ts
  src/domain/collaboration/callout/callout.entity.ts
  src/domain/collaboration/callout/callout.interface.ts
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/callout/callout.service.ts
  src/domain/collaboration/collaboration/collaboration.resolver.fields.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
  src/domain/collaboration/collaboration/dto/collaboration.args.callouts.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed mistaken nullable field
  src/domain/common/reference/reference.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed mistaken nullable field (#2398)
  src/domain/common/reference/reference.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fixed alkemio-server dev docker registry
  manifests/26-server-migration.yaml
Due: none

Fixed alkemio-server dev docker registry (#2400)
  manifests/26-server-migration.yaml
Due: none

Migration fix
  src/migrations/1671129430163-recommendations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update recommendations flow
  src/domain/context/context/context.service.ts
  src/domain/context/context/dto/context.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix
  src/domain/common/reference/reference.service.ts
  src/domain/context/context/context.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Minor version bump
  package-lock.json
  package.json
Due: prettier --write

Update recommendations (#2403)
  package-lock.json
  package.json
  src/domain/common/reference/reference.service.ts
  src/domain/context/context/context.service.ts
  src/domain/context/context/dto/context.dto.update.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Recommendations Fix
  src/domain/context/context/context.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix
  src/domain/collaboration/callout/callout.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Recommendations Fix (#2404)
  src/domain/context/context/context.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix (#2405)
  src/domain/collaboration/callout/callout.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

filter callouts that can be returned to a user based on the privileges that the user has
  src/domain/collaboration/callout/callout.interface.ts
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/domain/collaboration/callout/callout.service.authorization.ts
  src/domain/collaboration/collaboration/collaboration.resolver.fields.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

only trigger activity entries for published callouts
  src/domain/collaboration/callout/callout.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

only trigger activity entries for published callouts (#2411)
  src/domain/collaboration/callout/callout.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

filter callouts that can be returned to a user based on the privileges that the user has (#2410)
  src/domain/collaboration/callout/callout.interface.ts
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/domain/collaboration/callout/callout.service.authorization.ts
  src/domain/collaboration/collaboration/collaboration.resolver.fields.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Version bump (#2412)
  package-lock.json
  package.json
Due: prettier --write

Fix callouts filtering by IDs
  src/domain/collaboration/collaboration/collaboration.service.ts
  src/domain/collaboration/collaboration/dto/collaboration.args.callouts.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated jest versions to avoid conflict with matrix-adapter-lib; removed types not used
  package-lock.json
  package.json
Due: prettier --write

added logging of communication events
  alkemio.yml
  src/common/enums/logging.context.ts
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

latest matrix-adapter-lib; latest docker image; eventID for logging
  package-lock.json
  package.json
  quickstart-services.yml
  src/services/adapters/communication-adapter/communication.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

use matrix-adapter image with additional handlers
  quickstart-services.yml
Due: none

added better defaults for recommendations
  package-lock.json
  package.json
  src/domain/context/context/context.defaults.ts
  src/domain/context/context/context.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix typo
  src/domain/context/context/context.defaults.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Change url to better differentiate external links
  src/domain/context/context/context.defaults.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Change url to better differentiate external links (#2418)
  src/domain/context/context/context.defaults.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed bch; updated readme; updated issue templates
  .bettercodehub.yml
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/user_story.md
  README.md
Due: prettier --write

reverted separate section for UX design on user story
  .github/ISSUE_TEMPLATE/user_story.md
Due: prettier --write

Make lifecycle accessible to all
  src/domain/challenge/challenge/challenge.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Private challenges authorization (#2382)
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added top level direct queries for Context, COmmunity, Collaboration
  src/domain/collaboration/collaboration/collaboration.module.ts
  src/domain/collaboration/collaboration/collaboration.resolver.queries.ts
  src/domain/community/community/community.module.ts
  src/domain/community/community/community.resolver.queries.ts
  src/domain/context/context/context.module.ts
  src/domain/context/context/context.resolver.queries.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

bumped version
  package-lock.json
  package.json
Due: prettier --write

added top level Platform entity, that also wraps the platform authorization
  src/app.module.ts
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.service.authorization.ts
  src/domain/challenge/hub/hub.module.ts
  src/domain/challenge/hub/hub.resolver.mutations.ts
  src/domain/challenge/hub/hub.service.authorization.ts
  src/domain/common/file-manager/file.manager.module.ts
  src/domain/common/file-manager/file.manager.resolver.mutations.ts
  src/domain/community/organization/organization.module.ts
  src/domain/community/organization/organization.resolver.mutations.ts
  src/domain/community/organization/organization.service.authorization.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.resolver.mutations.ts
  src/domain/community/user/user.resolver.queries.ts
  src/domain/community/user/user.service.authorization.ts
  src/library/library/library.service.authorization.ts
  src/platform/admin/authorization/admin.authorization.module.ts
  src/platform/admin/authorization/admin.authorization.resolver.queries.ts
  src/platform/authorization/platform.authorization.module.ts
  src/platform/authorization/platform.authorization.policy.module.ts
  src/platform/authorization/platform.authorization.policy.service.ts
  src/platform/authorization/platform.authorization.resolver.queries.ts
  src/platform/configuration/config/config.entity.ts
  src/platform/configuration/config/config.interface.ts
  src/platform/configuration/config/config.module.ts
  src/platform/configuration/config/config.resolver.queries.ts
  src/platform/configuration/config/platform/index.ts
  src/platform/configuration/config/platform/platform.locations.interface.ts
  src/platform/platfrom/platform.entity.ts
  src/platform/platfrom/platform.interface.ts
  src/platform/platfrom/platform.module.ts
  src/platform/platfrom/platform.resolver.fields.ts
  src/platform/platfrom/platform.resolver.mutations.ts
  src/platform/platfrom/platform.resolver.queries.spec.ts
  src/platform/platfrom/platform.resolver.queries.ts
  src/platform/platfrom/platform.service.authorization.ts
  src/platform/platfrom/platform.service.ts
  src/services/api/roles/roles.module.ts
  src/services/api/roles/roles.resolver.queries.ts
  test/mocks/platform.authorization.service.mock.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Path conditions:
  cross-env NODE_ENV=production eslint --fix: any of: src/**/*.ts{,x}
  prettier --write: (any of: src/**/*.ts{,x}) or (any of: *.{json,md})
