Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

OIDC routing changes (#5566)
  .build/traefik/http.yml
  .env.docker
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
  specs/012-oidc-golang-service/quickstart.md
Due: prettier --write

refactor: make space and calendarEvent fields non-nullable in notification resolvers
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.calendar.event.comment.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.calendar.event.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

implement: new admins have PUBLIC_SHARE privilege if setting is ON
  specs/014-guest-contributions-privileges/tasks.md
  src/domain/access/role-set/role.set.module.ts
  src/domain/access/role-set/role.set.resolver.mutations.ts
  src/domain/community/community/community.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: remove USER_MESSAGE_SENDER notification event
  docs/Notifications.md
  src/common/enums/notification.event.ts
  src/platform/in-app-notification/in.app.notification.service.ts
  src/services/api/notification-recipients/notification.recipients.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: latest notification-entity-fk-mapping.ods
  docs/notification-entity-fk-mapping.ods
Due: none

refactor: add calendarEventID to notification payload
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

mvp implementation
  specs/001-memo-collection-contribution/tasks.md
  src/domain/collaboration/callout-contribution/callout.contribution.interface.ts
  src/domain/collaboration/callout-contribution/callout.contribution.module.ts
  src/domain/collaboration/callout-contribution/callout.contribution.resolver.fields.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Enhances schema contract validation workflow
  .github/workflows/schema-contract.yml
Due: none

Fixes schema contract workflow for PRs without number
  .github/workflows/schema-contract.yml
Due: none

Persists reviews to file for schema diffing
  .github/workflows/schema-contract.yml
Due: none

tags field on calloutsSet and withTags filter on callouts field
  specs/014-callouts-tag-cloud/checklists/requirements.md
  specs/014-callouts-tag-cloud/contracts/callouts-set-tags.graphql.md
  specs/014-callouts-tag-cloud/data-model.md
  specs/014-callouts-tag-cloud/plan.md
  specs/014-callouts-tag-cloud/quickstart.md
  specs/014-callouts-tag-cloud/research.md
  specs/014-callouts-tag-cloud/spec.md
  specs/014-callouts-tag-cloud/tasks.md
  src/domain/collaboration/callouts-set/callouts.set.resolver.fields.ts
  src/domain/collaboration/callouts-set/callouts.set.service.ts
  src/domain/collaboration/callouts-set/dto/callouts.set.args.callouts.ts
  src/domain/collaboration/callouts-set/dto/callouts.set.args.tags.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixes
  specs/001-memo-collection-contribution/tasks.md
  src/common/enums/url.type.ts
  src/domain/collaboration/callout-contribution/callout.contribution.interface.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.ts
  src/domain/collaboration/callout/callout.service.ts
  src/services/api/url-resolver/dto/url.resolver.query.callouts.set.result.ts
  src/services/api/url-resolver/url.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

auth fix and docs update
  specs/001-memo-collection-contribution/IMPLEMENTATION_LOG.md
  specs/001-memo-collection-contribution/README.md
  specs/001-memo-collection-contribution/plan.md
  specs/001-memo-collection-contribution/spec.md
  specs/001-memo-collection-contribution/tasks.md
  src/domain/collaboration/callout-contribution/callout.contribution.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

do not do anything manual for new admins; grant PUBLIC_SHARE based on credential SPACE_ADMIN
  specs/014-guest-contributions-privileges/data-model.md
  specs/014-guest-contributions-privileges/plan.md
  specs/014-guest-contributions-privileges/research.md
  specs/014-guest-contributions-privileges/spec.md
  specs/014-guest-contributions-privileges/tasks.md
  src/domain/access/role-set/role.set.resolver.mutations.ts
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Applies schema overrides during gate evaluation
  scripts/schema/schema-gate.ts
Due: none

Enhances override application with details
  scripts/schema/schema-gate.ts
Due: none

Exits process on override evaluation failure
  scripts/schema/schema-gate.ts
Due: none

Clarifies override review workflow
  README.md
  specs/002-schema-contract-diffing/quickstart.md
Due: prettier --write

Update specs/002-schema-contract-diffing/quickstart.md
  specs/002-schema-contract-diffing/quickstart.md
Due: prettier --write

Improves schema diff troubleshooting documentation
  specs/002-schema-contract-diffing/quickstart.md
Due: prettier --write

Revert "Improves schema diff troubleshooting documentation"
  specs/002-schema-contract-diffing/quickstart.md
Due: prettier --write

Refines schema diff troubleshooting documentation
  specs/002-schema-contract-diffing/quickstart.md
Due: prettier --write

chore: update schema baseline
  schema-baseline.graphql
Due: none

Address comments
  schema.graphql
  specs/014-callouts-tag-cloud/IMPLEMENTATION_VERIFICATION.md
  specs/014-callouts-tag-cloud/tasks.md
  src/domain/collaboration/callouts-set/callouts.set.resolver.fields.ts
  src/domain/collaboration/callouts-set/callouts.set.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixes - notifications, deletion, etc.
  specs/001-memo-collection-contribution/IMPLEMENTATION_LOG.md
  specs/001-memo-collection-contribution/README.md
  src/domain/collaboration/callout-contribution/callout.contribution.move.service.ts
  src/domain/collaboration/callout-contribution/callout.contribution.service.ts
  src/domain/collaboration/callout-transfer/callout.transfer.service.ts
  src/domain/collaboration/callout/callout.resolver.mutations.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
  src/services/infrastructure/naming/naming.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix
  src/domain/collaboration/callouts-set/dto/callouts.set.args.tags.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

address comments
  specs/014-callouts-tag-cloud/contracts/callouts-set-tags.graphql.md
  specs/014-callouts-tag-cloud/data-model.md
  specs/014-callouts-tag-cloud/plan.md
  specs/014-callouts-tag-cloud/quickstart.md
  specs/014-callouts-tag-cloud/research.md
  specs/014-callouts-tag-cloud/spec.md
  specs/014-callouts-tag-cloud/tasks.md
Due: prettier --write

chore: update schema baseline (#5575)
  schema-baseline.graphql
Due: none

pr fixes
  src/domain/collaboration/callout-contribution/callout.contribution.move.service.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

admins of parent spaces can public share as well; platform admins too;
  src/domain/common/whiteboard/whiteboard.module.ts
  src/domain/common/whiteboard/whiteboard.service.authorization.ts
  src/services/infrastructure/entity-resolver/community.resolver.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add privilege also for platform support who act as admins
  src/domain/space/space/space.service.platform.roles.access.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

chore: update ESLint configuration to include additional ignores, fixes eslint warning about non-supported .eslintignore remove .eslintignore
  .eslintignore
  eslint.config.js
Due: none

chore: fix lint warnings in shared modules
  src/common/interceptors/innovation.hub.interceptor.ts
  src/common/utils/get.session.ts
  src/domain/access/invitation/invitation.resolver.fields.ts
  src/domain/common/memo/dto/memo.dto.update.ts
  src/domain/community/contributor/contributor.service.ts
  src/platform-admin/services/search/admin.search.ingest.resolver.mutations.ts
  src/platform/in-app-notification-payload/field-resolvers/organization/in.app.notification.payload.organization.message.direct.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.calendar.event.comment.resolver.fields.ts
  src/platform/in-app-notification/in.app.notification.service.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-adapter/notification.user.adapter.ts
  src/services/api-rest/storage-access/storage.access.controller.ts
  src/services/api/activity-log/activity.log.builder.service.ts
  src/services/api/activity-log/activity.log.resolver.queries.ts
  src/services/api/activity-log/activity.log.resolver.subscriptions.ts
  src/services/api/search/search.service.ts
  src/services/file-integration/file.integration.service.ts
  src/services/infrastructure/contributor-lookup/contributor.lookup.service.ts
  src/services/infrastructure/temporary-storage/temporary.storage.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update src/services/infrastructure/temporary-storage/temporary.storage.service.ts
  src/services/infrastructure/temporary-storage/temporary.storage.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Refactor code to fix numerous lint errors and warnings. (#5581)
  .eslintignore
  eslint.config.js
  src/common/interceptors/innovation.hub.interceptor.ts
  src/common/utils/get.session.ts
  src/domain/access/invitation/invitation.resolver.fields.ts
  src/domain/common/memo/dto/memo.dto.update.ts
  src/domain/community/contributor/contributor.service.ts
  src/platform-admin/services/search/admin.search.ingest.resolver.mutations.ts
  src/platform/in-app-notification-payload/field-resolvers/organization/in.app.notification.payload.organization.message.direct.resolver.fields.ts
  src/platform/in-app-notification-payload/field-resolvers/space/in.app.notification.payload.space.community.calendar.event.comment.resolver.fields.ts
  src/platform/in-app-notification/in.app.notification.service.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-adapter/notification.user.adapter.ts
  src/services/api-rest/storage-access/storage.access.controller.ts
  src/services/api/activity-log/activity.log.builder.service.ts
  src/services/api/activity-log/activity.log.resolver.queries.ts
  src/services/api/activity-log/activity.log.resolver.subscriptions.ts
  src/services/api/search/search.service.ts
  src/services/file-integration/file.integration.service.ts
  src/services/infrastructure/contributor-lookup/contributor.lookup.service.ts
  src/services/infrastructure/temporary-storage/temporary.storage.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Addresses coderabbit comments.
  specs/014-kratos-authid/contracts/openapi.yaml
  specs/014-kratos-authid/plan.md
  specs/014-kratos-authid/spec.md
  src/domain/community/user/user.service.ts
  src/migrations/utils/kratos.identity.fetcher.ts
  test/data/identity/kratos.identity.sample.json
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Removed Duplicate assignAuthId Call, Removed Redundant Validation Check, Documented Migration Error Handling Strategy
  src/migrations/1762700000000-userAuthIdBackfill.ts
  src/services/api-rest/identity-resolution/__tests__/identity-resolution.service.spec.ts
  src/services/api-rest/identity-resolution/identity-resolution.controller.ts
  src/services/api-rest/identity-resolution/identity-resolution.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix use of proper LogContext.AUTH in the DuplicateAuthIdException. Fix proper recording of DuplicateAuthIdException in metrics.
  src/services/api-rest/identity-resolution/__tests__/identity-resolution.service.spec.ts
  src/services/api-rest/identity-resolution/identity-resolution.controller.ts
  src/services/api-rest/identity-resolution/identity-resolution.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
