Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Reduces log verbosity for collaboration checks
  src/domain/activity-feed/activity.feed.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix the error on storage settings page related to cgl and community without space parent
  src/services/infrastructure/url-generator/url.generator.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tidied up naming of the conversation mutations + inputs
  src/common/enums/communication.conversation.type.ts
  src/domain/communication/conversation/conversation.module.ts
  src/domain/communication/conversation/conversation.resolver.mutations.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.ask.question.input.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.ask.question.result.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.relevance.update.ts
  src/domain/communication/conversation/dto/conversation.vc.dto.reset.input.ts
  src/domain/communication/conversations-set/conversations.set.resolver.mutations.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.reporter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fix jest test
  test/mocks/user.service.mock.ts
Due: none

added lookup; tidied up api
  src/domain/communication/conversation/conversation.resolver.mutations.ts
  src/services/api/lookup/lookup.module.ts
  src/services/api/lookup/lookup.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

extended the me query to load conversations users + vcs
  src/common/enums/virtual.contributor.well.known.ts
  src/domain/communication/conversations-set/conversations.set.service.ts
  src/services/api/me/dto/index.ts
  src/services/api/me/dto/me.conversations.result.ts
  src/services/api/me/dto/me.query.results.ts
  src/services/api/me/me.module.ts
  src/services/api/me/me.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added lookup for well known VC
  src/domain/communication/conversations-set/conversations.set.service.ts
  src/services/api/me/dto/me.conversations.result.ts
  src/services/api/me/me.conversations.resolver.fields.ts
  src/services/api/me/me.module.ts
  src/services/api/me/me.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added module to manage a set of well known virtual contributors
  src/platform/platform.well.known.virtual.contributors/dto/platform.well.known.virtual.contributor.dto.set.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added module to manage a set of well known virtual contributors
  src/domain/communication/conversations-set/conversations.set.module.ts
  src/domain/communication/conversations-set/conversations.set.service.ts
  src/platform/platform.well.known.virtual.contributors/index.ts
  src/platform/platform.well.known.virtual.contributors/platform.well.known.virtual.contributors.interface.ts
  src/platform/platform.well.known.virtual.contributors/platform.well.known.virtual.contributors.module.ts
  src/platform/platform.well.known.virtual.contributors/platform.well.known.virtual.contributors.resolver.mutations.ts
  src/platform/platform.well.known.virtual.contributors/platform.well.known.virtual.contributors.service.ts
  src/platform/platform/platform.entity.ts
  src/platform/platform/platform.interface.ts
  src/platform/platform/platform.module.ts
  src/platform/platform/platform.service.authorization.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated migration to have well known vcs
  src/migrations/1761408055225-conversations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

moved well known to be a field on the platform
  src/platform/platform.well.known.virtual.contributors/platform.well.known.virtual.contributors.resolver.mutations.ts
  src/platform/platform/platform.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

return the well known vcs properly
  src/common/enums/virtual.contributor.well.known.ts
  src/domain/communication/conversation/conversation.entity.ts
  src/domain/communication/conversation/conversation.interface.ts
  src/domain/communication/conversation/conversation.module.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/conversation/dto/conversation.dto.create.ts
  src/migrations/1761408055225-conversations.ts
  src/platform/platform.well.known.virtual.contributors/dto/platform.well.known.virtual.contributor.dto.mapping.ts
  src/platform/platform.well.known.virtual.contributors/platform.well.known.virtual.contributors.interface.ts
  src/platform/platform.well.known.virtual.contributors/platform.well.known.virtual.contributors.resolver.mutations.ts
  src/platform/platform.well.known.virtual.contributors/platform.well.known.virtual.contributors.service.ts
  src/platform/platform/platform.resolver.fields.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed field on conversations set + now use well known VCs
  src/core/bootstrap/bootstrap.module.ts
  src/core/bootstrap/bootstrap.service.ts
  src/domain/communication/conversations-set/conversations.set.entity.ts
  src/domain/communication/conversations-set/conversations.set.interface.ts
  src/domain/communication/conversations-set/conversations.set.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add in conversation with guidance for all users
  src/migrations/1761408055225-conversations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

ensure new users get the guidance chat conversation
  src/domain/communication/conversations-set/conversations.set.resolver.mutations.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

code compiling for moving conversations set to be on user instead of platform
  specs/012-user-owned-conversations/plan.md
  specs/012-user-owned-conversations/spec.md
  src/domain/collaboration/callout-contribution/callout.contribution.service.authorization.ts
  src/domain/collaboration/callouts-set/callouts.set.entity.ts
  src/domain/communication/conversation/conversation.entity.ts
  src/domain/communication/conversation/conversation.interface.ts
  src/domain/communication/conversation/conversation.module.ts
  src/domain/communication/conversation/conversation.resolver.fields.ts
  src/domain/communication/conversation/conversation.resolver.mutations.ts
  src/domain/communication/conversation/conversation.service.authorization.ts
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/conversation/dto/conversation.dto.create.ts
  src/domain/communication/conversations-set/conversations.set.module.ts
  src/domain/communication/conversations-set/conversations.set.resolver.mutations.ts
  src/domain/communication/conversations-set/conversations.set.service.authorization.ts
  src/domain/communication/conversations-set/conversations.set.service.ts
  src/domain/communication/conversations-set/dto/conversations.set.dto.create.conversation.ts
  src/domain/community/user/user.entity.ts
  src/domain/community/user/user.interface.ts
  src/domain/community/user/user.module.ts
  src/domain/community/user/user.service.authorization.ts
  src/domain/community/user/user.service.ts
  src/platform/platform/platform.entity.ts
  src/platform/platform/platform.interface.ts
  src/platform/platform/platform.module.ts
  src/platform/platform/platform.resolver.fields.ts
  src/platform/platform/platform.service.authorization.ts
  src/platform/platform/platform.service.ts
  src/services/api/me/me.conversations.resolver.fields.ts
  src/services/api/me/me.module.ts
  src/services/api/me/me.resolver.fields.ts
  src/services/external/elasticsearch/guidance-reporter/guidance.reporter.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

updated migration to add conversations set for each user
  src/domain/communication/conversations-set/conversations.set.module.ts
  src/domain/communication/conversations-set/conversations.set.resolver.fields.ts
  src/migrations/1761408055225-conversations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Defines schema and custom scalars
  schema-baseline.graphql
Due: none

Auto baseline-schema generation
  .github/copilot-instructions.md
  .github/prompts/analyze.prompt.md
  .github/prompts/implement.prompt.md
  .github/prompts/plan.prompt.md
  .github/prompts/specify.prompt.md
  .github/prompts/speckit.analyze.prompt.md
  .github/prompts/speckit.checklist.prompt.md
  .github/prompts/speckit.clarify.prompt.md
  .github/prompts/speckit.constitution.prompt.md
  .github/prompts/speckit.implement.prompt.md
  .github/prompts/speckit.plan.prompt.md
  .github/prompts/speckit.specify.prompt.md
  .github/prompts/speckit.tasks.prompt.md
  .github/prompts/tasks.prompt.md
  .github/workflows/schema-baseline.yml
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  .vscode/settings.json
  docs/Developing.md
  docs/Running.md
  schema-lite.graphql
  schema.graphql
  scripts/schema/publish-baseline.ts
  specs/012-generate-schema-baseline/checklists/requirements.md
  specs/012-generate-schema-baseline/checklists/security.md
  specs/012-generate-schema-baseline/contracts/change-report.schema.json
  specs/012-generate-schema-baseline/data-model.md
  specs/012-generate-schema-baseline/plan.md
  specs/012-generate-schema-baseline/quickstart.md
  specs/012-generate-schema-baseline/research.md
  specs/012-generate-schema-baseline/spec.md
  specs/012-generate-schema-baseline/tasks.md
Due: prettier --write

fixed migration creating of conversation for guidance
  src/migrations/1761408055225-conversations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fixes
  src/domain/community/user-settings/dto/user.settings.notification.space.dto.create.ts
  src/platform/in-app-notification-payload/dto/space/notification.in.app.payload.space.community.calendar.event.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update .build/postgres/init-multiple-databases.sh
  .build/postgres/init-multiple-databases.sh
Due: none

fix url missing in external notif; notif sent to creator
  src/services/adapters/notification-adapter/notification.space.adapter.ts
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Improves contribution reporting with user details (#5533)
  src/domain/access/role-set/role.set.service.events.ts
  src/services/external/elasticsearch/contribution-reporter/contribution.reporter.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix spec-kit update.
  .github/copilot-instructions.md
  .github/prompts/analyze.prompt.md
  .github/prompts/clarify.prompt.md
  .github/prompts/constitution.prompt.md
  .github/prompts/implement.prompt.md
  .github/prompts/plan.prompt.md
  .github/prompts/tasks.prompt.md
  .specify/scripts/bash/update-agent-context.sh
Due: prettier --write

@alkemio/notifications-lib to 0.12.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

Completes schema baseline workflow tasks
  specs/012-generate-schema-baseline/tasks.md
Due: prettier --write

0.125.0
  package.json
Due: prettier --write

Refactors code review rules
  .coderabbit.yaml
Due: none

Removes redundant review path
  .coderabbit.yaml
Due: none

Excludes Speckit files from code reviews
  .coderabbit.yaml
Due: none

Remove logging for unreadable collaboration access
  src/domain/activity-feed/activity.feed.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Reduces log verbosity for collaboration checks (#5534)
  src/domain/activity-feed/activity.feed.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Renames schema baseline bot to infrastructure bot
  .coderabbit.yaml
  .github/workflows/schema-baseline.yml
  docs/Developing.md
  docs/Running.md
  specs/012-generate-schema-baseline/quickstart.md
Due: prettier --write

Improves report path resolution
  scripts/schema/publish-baseline.ts
Due: none

Removes unnecessary eslint-disable comments
  src/platform/in-app-notification/in.app.notification.service.ts
  src/schema-contract/governance/reviews.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates and clarifies development instructions
  .github/copilot-instructions.md
Due: prettier --write

Documents schema baseline automation
  .github/copilot-instructions.md
  .specify/memory/constitution.md
  agents.md
  docs/Running.md
Due: prettier --write

Clarifies agent path selection process
  agents.md
Due: prettier --write

fix notification lib types for calendar event
  src/services/adapters/notification-external-adapter/notification.external.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
