Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

Update migration job image to use latest version from registry
  manifests/26-server-migration.yaml
Due: none

Update migration job configuration for PostgreSQL support (#5724)
  manifests/26-server-migration.yaml
Due: none

refactor: update appservice sender and adapter URL defaults; improve DM room creation logic
  .build/synapse/homeserver.yaml
  quickstart-services.yml
Due: none

refactor: update matrix adapter image version and add database environment variables
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
Due: none

do not sent comment notification to the user that is mentioned
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.collaboration.callout.comment.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.collaboration.callout.post.contribution.comment.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: improve SQL query to handle empty results for vcInteractionsByThread
  src/migrations/1764897584127-conversationArchitectureRefactor.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

do not sent comment notification to the user that is mentioned (#5725)
  src/domain/communication/room/room.resolver.mutations.ts
  src/domain/communication/room/room.service.events.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.collaboration.callout.comment.ts
  src/services/adapters/notification-adapter/dto/space/notification.dto.input.space.collaboration.callout.post.contribution.comment.ts
  src/services/adapters/notification-adapter/notification.space.adapter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

delete notifications on leaving community
  src/domain/access/role-set/role.set.module.ts
  src/domain/access/role-set/role.set.service.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

0.130.0
  package.json
Due: prettier --write

init setup claude code with speckit commands
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: prettier --write

do not delete the constitution and remove the specified plan gate base
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
Due: prettier --write

Updates dependencies and subscription methods
  package.json
  pnpm-lock.yaml
  src/domain/collaboration/callout/callout.resolver.subscriptions.ts
  src/domain/space/space/space.resolver.subscriptions.ts
  src/platform/forum/forum.resolver.subscriptions.ts
  src/services/subscriptions/subscription-service/subscription.read.service.ts
  src/services/subscriptions/subscription-service/typed.pub.sub.engine.ts
  test/utils/pub.sub.engine.mock.factory.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds missing foreign key indexes
  src/migrations/1767865308000-AddMissingForeignKeyIndexes.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds connection pool settings for PostgreSQL
  alkemio.yml
  src/app.module.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Update src/types/alkemio.config.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates agent context files based on plan data
  .specify/scripts/bash/update-agent-context.sh
Due: none

Setup Claude Code with Speckit (#5727)
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: prettier --write

Updates Alkemio Server documentation
  CLAUDE.md
Due: prettier --write

Adds Model Context Protocol server configurations
  .claude/mcp.json
Due: prettier --write

delete notifications from sub communities
  src/domain/access/role-set/role.set.service.ts
  src/domain/space/space.lookup/space.lookup.service.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fix
  src/domain/access/role-set/role.set.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Updates dependencies and subscription methods (#5729)
  package.json
  pnpm-lock.yaml
  src/domain/collaboration/callout/callout.resolver.subscriptions.ts
  src/domain/space/space/space.resolver.subscriptions.ts
  src/platform/forum/forum.resolver.subscriptions.ts
  src/services/subscriptions/subscription-service/subscription.read.service.ts
  src/services/subscriptions/subscription-service/typed.pub.sub.engine.ts
  test/utils/pub.sub.engine.mock.factory.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds missing foreign key indexes (#5730)
  src/migrations/1767865308000-AddMissingForeignKeyIndexes.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds connection pool settings for PostgreSQL (#5732)
  alkemio.yml
  src/app.module.ts
  src/types/alkemio.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

spec + plan
  specs/019-default-post-template-flow/contracts/example-queries.graphql
  specs/019-default-post-template-flow/contracts/graphql-schema.graphql
  specs/019-default-post-template-flow/data-model.md
  specs/019-default-post-template-flow/plan.md
  specs/019-default-post-template-flow/quickstart.md
  specs/019-default-post-template-flow/research.md
  specs/019-default-post-template-flow/spec.md
Due: prettier --write

template can be from space or platform
  specs/019-default-post-template-flow/contracts/graphql-schema.graphql
  specs/019-default-post-template-flow/data-model.md
  specs/019-default-post-template-flow/plan.md
  specs/019-default-post-template-flow/quickstart.md
  specs/019-default-post-template-flow/research.md
  specs/019-default-post-template-flow/spec.md
Due: prettier --write

add tasks
  specs/019-default-post-template-flow/tasks.md
Due: prettier --write

Add policy invalidation messaging configuration and publisher for remote authz
  alkemio.yml
  src/domain/common/authorization-policy/authorization.policy.module.ts
  src/domain/common/authorization-policy/authorization.policy.service.spec.ts
  src/domain/common/authorization-policy/authorization.policy.service.ts
  src/domain/space/space/space.resolver.mutations.ts
  src/services/external/policy-invalidation/index.ts
  src/services/external/policy-invalidation/injection.token.ts
  src/services/external/policy-invalidation/policy.invalidation.constants.ts
  src/services/external/policy-invalidation/policy.invalidation.module.ts
  src/services/external/policy-invalidation/policy.invalidation.publisher.ts
  src/services/external/policy-invalidation/policy.invalidation.types.ts
  src/types/alkemio.config.ts
  test/unit/services/external/policy-invalidation/policy.invalidation.publisher.spec.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

pr fix
  src/domain/space/space.lookup/space.lookup.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

add migration for default template; add template to innovation flow; generate schemas
  schema.graphql
  specs/019-default-post-template-flow/tasks.md
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.entity.ts
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.interface.ts
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.module.ts
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.service.ts
  src/domain/collaboration/innovation-flow/dto/index.ts
  src/domain/collaboration/innovation-flow/dto/innovation.flow.dto.remove.default.callout.template.ts
  src/domain/collaboration/innovation-flow/dto/innovation.flow.dto.set.default.callout.template.ts
  src/domain/collaboration/innovation-flow/innovation.flow.resolver.mutations.ts
  src/domain/template/template/template.module.ts
  src/migrations/1767888440396-AddDefaultCalloutTemplateToFlowState.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: add Alkemio claims JSONNet for Kratos webhook integration and update OIDC service configurations
  .build/ory/kratos/alkemio-claims.jsonnet
  .build/ory/kratos/kratos.yml
  .build/synapse/homeserver.yaml
  quickstart-services-ai-debug.yml
  quickstart-services-ai.yml
  quickstart-services-kratos-debug.yml
  quickstart-services.yml
Due: none

Delete notifications on leaving a community (#5731)
  src/domain/access/role-set/role.set.module.ts
  src/domain/access/role-set/role.set.service.ts
  src/domain/space/space.lookup/space.lookup.service.ts
  src/platform/in-app-notification/in.app.notification.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Migrates JSON columns to JSONB for performance
  src/domain/access/role/role.entity.ts
  src/domain/collaboration/callout/callout.entity.ts
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.entity.ts
  src/domain/collaboration/innovation-flow/innovation.flow.entity.ts
  src/domain/common/authorization-policy/authorization.policy.entity.ts
  src/domain/common/location/location.entity.ts
  src/domain/common/whiteboard/whiteboard.entity.ts
  src/domain/community/organization/organization.entity.ts
  src/domain/community/user-settings/user.settings.entity.ts
  src/domain/community/virtual-contributor/virtual.contributor.entity.ts
  src/domain/space/account/account.entity.ts
  src/domain/space/space/space.entity.ts
  src/domain/template/template-content-space/template.content.space.entity.ts
  src/migrations/1767883714610-convertJsonToJsonb.ts
  src/platform/in-app-notification/in.app.notification.entity.ts
  src/platform/licensing/credential-based/license-policy/license.policy.entity.ts
  src/platform/platform/platform.entity.ts
  src/services/ai-server/ai-persona/ai.persona.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Converts varchar(36) to UUID
  src/domain/agent/credential/credential.entity.ts
  src/domain/communication/communication/communication.entity.ts
  src/domain/communication/communication/communication.interface.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/organization-verification/organization.verification.entity.ts
  src/migrations/1767884877005-convertVarchar36ToUuid.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Adds schema bootstrap for RPC module
  src/schema-bootstrap/stubs/communication-rpc.stub.ts
  src/services/adapters/communication-adapter/communication.rpc.module.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

refactor: add left join for conversation authorization in conversation and messaging services
  src/domain/communication/conversation/conversation.service.ts
  src/domain/communication/messaging/messaging.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

improve expert and guidance engines
  src/services/ai-server/prompt-graph/config/prompt.graph.expert.json
  src/services/room-integration/room.controller.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

handle removing default template
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.entity.ts
  src/domain/collaboration/innovation-flow-state/innovation.flow.state.service.ts
  src/domain/collaboration/innovation-flow/innovation.flow.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix callouts without published date
  schema-baseline.graphql
  schema-lite.graphql
  schema.graphql
  src/domain/collaboration/callout/callout.resolver.fields.ts
  src/domain/collaboration/callout/callout.service.ts
  src/migrations/1767787991109-calloutPublishedDate.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write
