Repository alkem-io/server: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.ts{,x}": [
    "cross-env NODE_ENV=production eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

bug fixes from getting populator working
  graphql-samples/mutations/create/create-challenge
  graphql-samples/mutations/create/create-child-challenge
  graphql-samples/mutations/create/create-user-group-on-community
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.interface.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/community/community/community.entity.ts
  src/domain/community/community/community.interface.ts
  src/domain/community/community/community.service.ts
  src/domain/context/context/context.entity.ts
  src/domain/context/context/context.module.ts
  src/domain/context/context/context.resolver.fields.ts
  src/domain/context/context/context.resolver.mutations.ts
  src/domain/context/context/context.service.ts
  src/migrations/1620968954419-community.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed setting of ecoverseID on challenge creation
  src/domain/challenge/challenge/challenge.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

removed intermediate topics layer in api for activity
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/common/activity/activity.dto.result.ts
  src/domain/common/activity/index.ts
  src/domain/common/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

tags are now saved when a tagset is created on a profile
  src/domain/common/tagset/tagset.service.ts
  src/domain/community/profile/profile.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed bug with console logging; updated bootstrap to log config
  src/config/winston.config.ts
  src/core/bootstrap/bootstrap.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP config docs
  cherrytwist.yml
  src/config/winston.config.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP
  cherrytwist.yml
Due: none

add usage of an enum for configuration sections
  src/app.module.ts
  src/common/enums/configuration.types.ts
  src/common/enums/index.ts
  src/config/winston.config.ts
  src/core/authentication/aad.bearer.strategy.ts
  src/core/authentication/authentication.module.ts
  src/core/authentication/jwt.strategy.ts
  src/core/authorization/graphql.guard.ts
  src/core/bootstrap/bootstrap.service.ts
  src/main.ts
  src/services/configuration/config/config.service.ts
  src/services/data-management/data-management.controller.ts
  src/services/ipfs/ipfs.service.ts
  test/utils/token.helper.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

new membership service to allow client to get the details for a user
  src/app.module.ts
  src/domain/community/user/user.service.ts
  src/services/membership/index.ts
  src/services/membership/membership.dto.input.ts
  src/services/membership/membership.dto.result.ts
  src/services/membership/membership.module.ts
  src/services/membership/membership.resolver.queries.spec.ts
  src/services/membership/membership.resolver.queries.ts
  src/services/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

modified to have structure; return NVPs instead of full domain objects
  src/services/membership/index.ts
  src/services/membership/membership.dto.result.ecoverse.entry.ts
  src/services/membership/membership.dto.result.ts
  src/services/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

cleaned up branch for membership
  src/app.module.ts
  src/services/membership/index.ts
  src/services/membership/membership.dto.input.ts
  src/services/membership/membership.dto.result.ecoverse.entry.ts
  src/services/membership/membership.dto.result.ts
  src/services/membership/membership.module.ts
  src/services/membership/membership.resolver.queries.spec.ts
  src/services/membership/membership.resolver.queries.ts
  src/services/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added a typed result entry instead of NVP
  src/services/membership/index.ts
  src/services/membership/membership.dto.result.ecoverse.entry.ts
  src/services/membership/membership.dto.result.entry.ts
  src/services/membership/membership.dto.result.ts
  src/services/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Inline config README
  README.md
  cherrytwist.yml
  docs/Configuration.md
  src/core/authentication/aad.bearer.strategy.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Re-added AAD tenant
  cherrytwist.yml
Due: none

reworded / ordered some parts of the config file comments
  cherrytwist.yml
Due: none

Updated example for creating tagset
  graphql-samples/mutations/create/create-tagset-on-profile
Due: none

tidied up imports related to auth enums
  src/common/exceptions/index.ts
  src/core/authorization/authorization.service.ts
  src/core/authorization/dto/authorization.dto.credential.grant.ts
  src/core/authorization/rules/authorization.rule.community.member.ts
  src/core/authorization/rules/authorization.rule.organisation.member.ts
  src/core/error-handling/http.exceptions.filter.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Fix enums
  src/services/membership/membership.resolver.queries.ts
  src/services/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

renamed Collaboration to Opportunity
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.interface.ts
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/collaboration/collaboration/collaboration.module.ts
  src/domain/collaboration/collaboration/collaboration.resolver.fields.ts
  src/domain/collaboration/collaboration/collaboration.service.ts
  src/domain/collaboration/collaboration/index.ts
  src/domain/collaboration/index.ts
  src/domain/collaboration/opportunity/index.ts
  src/domain/collaboration/opportunity/opportunity.entity.ts
  src/domain/collaboration/opportunity/opportunity.interface.ts
  src/domain/collaboration/opportunity/opportunity.module.ts
  src/domain/collaboration/opportunity/opportunity.resolver.fields.ts
  src/domain/collaboration/opportunity/opportunity.resolver.mutations.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/domain/collaboration/project/project.entity.ts
  src/domain/collaboration/relation/relation.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

separated out graphql interface from typeorm interface on challenge; added challengeBase entity / type
  src/app.module.ts
  src/common/interfaces/communityable.interface.ts
  src/domain/challenge/challenge-base/challenge.base.entity.ts
  src/domain/challenge/challenge-base/challenge.base.interface.ts
  src/domain/challenge/challenge-base/challenge.base.module.ts
  src/domain/challenge/challenge-base/challenge.base.service.ts
  src/domain/challenge/challenge-base/cherrytwist.base.entity.ts
  src/domain/challenge/challenge-base/index.ts
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.interface.ts
  src/domain/challenge/challenge/challenge.module.ts
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.mutations.ts
  src/domain/challenge/index.ts
  src/domain/collaboration/opportunity/opportunity.entity.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added usage of cherrywist base typw
  docs/graphql-typeorm-usage.md
  src/domain/challenge/challenge-base/challenge.base.entity.ts
  src/domain/challenge/challenge-base/challenge.base.interface.ts
  src/domain/common/base-entity/cherrytwist.base.entity.ts
  src/domain/common/base-entity/cherrytwist.base.interface.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

expanded base entity
  src/domain/challenge/challenge-base/challenge.base.entity.ts
  src/domain/challenge/challenge-base/challenge.base.module.ts
  src/domain/challenge/challenge-base/challenge.base.resolver.fields.ts
  src/domain/challenge/challenge-base/challenge.base.service.ts
  src/domain/challenge/challenge-base/cherrytwist.base.entity.ts
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Workaround for membership Result entries not having uniq ids.
  src/services/membership/membership.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

wip snapshot
  docs/graphql-typeorm-usage.md
  src/domain/challenge/challenge-base/challenge.base.dto.create.ts
  src/domain/challenge/challenge-base/challenge.base.dto.update.ts
  src/domain/challenge/challenge-base/challenge.base.entity.ts
  src/domain/challenge/challenge-base/challenge.base.interface.ts
  src/domain/challenge/challenge-base/challenge.base.lifecycle.config.default.ts
  src/domain/challenge/challenge-base/challenge.base.lifecycle.config.extended.ts
  src/domain/challenge/challenge-base/challenge.base.lifecycle.options.provider.ts
  src/domain/challenge/challenge-base/challenge.base.service.ts
  src/domain/challenge/challenge-base/index.ts
  src/domain/challenge/challenge/challenge.entity.ts
  src/domain/challenge/challenge/challenge.interface.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/collaboration/opportunity/index.ts
  src/domain/collaboration/opportunity/opportunity.dto.create.ts
  src/domain/collaboration/opportunity/opportunity.dto.delete.ts
  src/domain/collaboration/opportunity/opportunity.dto.event.ts
  src/domain/collaboration/opportunity/opportunity.dto.update.ts
  src/domain/collaboration/opportunity/opportunity.entity.ts
  src/domain/collaboration/opportunity/opportunity.interface.ts
  src/domain/collaboration/opportunity/opportunity.module.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
  src/domain/common/base-entity/base.cherrytwist.dto.update.ts
  src/domain/common/base-entity/cherrytwist.base.entity.ts
  src/domain/common/base-entity/index.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Draft Ory Kratos + Oathkeeper WIP
  .config/ory/kratos/email-password/identity.schema.json
  .config/ory/kratos/email-password/kratos.yml
  .config/ory/kratos/oidc/identity.traits.schema.json
  .config/ory/kratos/oidc/oidc.github.jsonnet
  .config/ory/oathkeeper/access-rules.yml
  .config/ory/oathkeeper/id_token.jwks.json
  .config/ory/oathkeeper/oathkeeper.yml
  cherrytwist.yml
  docker-compose.yml
  package-lock.json
  package.json
  src/core/authentication/authentication.module.ts
  src/core/authentication/ory.strategy.ts
  src/core/authorization/graphql.guard.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

part way through the split of typeorm / graphql
  src/domain/agent/agent/agent.entity.ts
  src/domain/agent/agent/agent.interface.ts
  src/domain/agent/credential/credential.entity.ts
  src/domain/agent/credential/credential.interface.ts
  src/domain/challenge/challenge/challenge.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/collaboration/agreement/agreement.entity.ts
  src/domain/collaboration/agreement/agreement.interface.ts
  src/domain/collaboration/opportunity/opportunity.resolver.fields.ts
  src/domain/collaboration/opportunity/opportunity.resolver.mutations.ts
  src/domain/collaboration/project/project.resolver.fields.ts
  src/domain/collaboration/relation/relation.entity.ts
  src/domain/collaboration/relation/relation.interface.ts
  src/domain/collaboration/relation/relation.resolver.mutations.ts
  src/domain/common/lifecycle/lifecycle.entity.ts
  src/domain/common/lifecycle/lifecycle.interface.ts
  src/domain/common/lifecycle/lifecycle.resolver.fields.ts
  src/domain/common/nvp/index.ts
  src/domain/common/nvp/nvp.entity.ts
  src/domain/common/nvp/nvp.interface.ts
  src/domain/common/reference/reference.entity.ts
  src/domain/common/reference/reference.resolver.mutations.ts
  src/domain/community/application/application.dto.create.ts
  src/domain/community/application/application.entity.ts
  src/domain/community/profile/profile.entity.ts
  src/domain/community/profile/profile.resolver.mutations.ts
  src/domain/community/user/user.entity.ts
  src/domain/community/user/user.resolver.fields.ts
  src/domain/context/context/context.entity.ts
  src/domain/context/context/context.resolver.mutations.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added in create opportunity mutation with sample
  graphql-samples/mutations/create/create-opportunity
  src/domain/challenge/challenge/challenge.resolver.mutations.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added Searchable and Groupable interfaces, replacing equivalent union types
  src/app.module.ts
  src/domain/challenge/base-challenge/base.challenge.interface.ts
  src/domain/challenge/challenge/challenge.interface.ts
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/collaboration/project/project.interface.ts
  src/domain/common/base-entity/base.cherrytwist.interface.ts
  src/domain/common/index.ts
  src/domain/common/interfaces/groupable.interface.ts
  src/domain/common/interfaces/index.ts
  src/domain/common/interfaces/searchable.interface.ts
  src/domain/common/nvp/nvp.entity.ts
  src/domain/common/nvp/nvp.service.ts
  src/domain/community/community/community.interface.ts
  src/domain/community/organisation/organisation.interface.ts
  src/domain/community/user-group/user-group-parent.dto.ts
  src/domain/community/user-group/user-group.interface.ts
  src/domain/community/user-group/user-group.resolver.fields.ts
  src/domain/community/user/user.interface.ts
  src/services/search/index.ts
  src/services/search/search-result-entry.dto.ts
  src/services/search/search-result-entry.interface.ts
  src/services/search/search-result.dto.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

added back in mutations / fields related to Opportunity
  src/domain/challenge/ecoverse/ecoverse.module.ts
  src/domain/challenge/ecoverse/ecoverse.resolver.fields.ts
  src/domain/challenge/ecoverse/ecoverse.service.ts
  src/domain/collaboration/opportunity/opportunity.resolver.mutations.ts
  src/domain/collaboration/opportunity/opportunity.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

WIP - quickstart
  .build/ory/kratos/email-password/identity.schema.json
  .build/ory/kratos/email-password/kratos.yml
  .build/ory/kratos/oidc/identity.traits.schema.json
  .build/ory/kratos/oidc/oidc.github.jsonnet
  .build/ory/oathkeeper/access-rules.yml
  .build/ory/oathkeeper/id_token.jwks.json
  .build/ory/oathkeeper/oathkeeper.yml
  docs/Running.md
  quickstart-server.yml
  quickstart-services.yml
Due: prettier --write

fixed references creation on context for challenge
  src/domain/challenge/challenge/challenge.service.ts
  src/domain/context/context/context.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

fixed issue with group creation on organisation
  src/domain/collaboration/project/project.service.ts
  src/domain/community/application/application.service.ts
  src/domain/community/user-group/user-group.service.ts
Due: cross-env NODE_ENV=production eslint --fix, prettier --write

Quickstart
  .scripts/schema.sql
  docker-compose.yml
  quickstart-services.yml
Due: none

Updated docs
  cherrytwist.yml
  docker-compose.yml
Due: none

Updates "application" tests
  test/functional/e2e/user-management/application/application.e2e-spec.ts
  test/functional/e2e/user-management/application/application.request.params.ts
Due: none

Updates "context" tests
  test/functional/integration/context/context.it-spec.ts
  test/functional/integration/context/context.request.params.ts
Due: none
